._*
.AppleDouble
.cache
.coverage
.DS_Store
.env
.env-override
.idea
.LSOverride
.Spotlight-V100
.tox
.Trashes
.virtualenv
*.class
*.egg
*.egg-info
*.pyc
*.sublime-*
/MANIFEST
dist
docs
Icon
test
venv
virtualenv
