._*
.AppleDouble
.cache
.coverage
.DS_Store
.env
.env-override
.idea
.LSOverride
.Spotlight-V100
.tox
.Trashes
.virtualenv
*.class
*.egg-info
*.pyc
*.sublime-*
/build
/dist
/MANIFEST
coverage.lcov
dist
docs
Icon
test
venv
virtualenv
/.flake8
/pyproject.toml
