interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=5
  response:
    body:
      string: '{"batches": [{"id": "batch_67a12ea58af74fd9a97e869e94e55eab", "object":
        "Batch", "mode": "test", "state": "created", "num_shipments": 1, "reference":
        null, "created_at": "2022-03-22T17:43:04Z", "updated_at": "2022-03-22T17:43:04Z",
        "scan_form": null, "shipments": [{"batch_status": "created", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_5246d76917ad45b0a7876ecd1ad6c9c7"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}, {"id":
        "batch_64958eadeb404ccfa4504ef2a54d9863", "object": "Batch", "mode": "test",
        "state": "created", "num_shipments": 1, "reference": null, "created_at": "2022-03-22T17:43:05Z",
        "updated_at": "2022-03-22T17:43:05Z", "scan_form": null, "shipments": [{"batch_status":
        "created", "batch_message": null, "reference": null, "tracking_code": null,
        "id": "shp_ce0673d4b5174397b56e6dba191a8689"}], "status": {"created": 1, "queued_for_purchase":
        0, [...]
