interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "company": "EasyPost", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"object": "Address", "created_at": "2022-04-20T18:36:43+00:00", "updated_at":
        "2022-04-20T18:36:43+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
        "state": "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email":
        null, "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8967eba24791db82e6646222cb9fc339"
      location:
      - /api/v2/addresses/adr_d3ac8122c0d811ec9925ac1f6bc7bdc6
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18db626052bbe799698000242b61
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_d3ac8122c0d811ec9925ac1f6bc7bdc6/verify
  response:
    body:
      string: '{"address": {"id": "adr_d3c5eb58c0d811ec9435ac1f6bc72124", "object":
        "Address", "created_at": "2022-04-20T18:36:44+00:00", "updated_at": "2022-04-20T18:36:44+00:00",
        "name": "JACK SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND ST
        APT 20", "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"258643027013cdd005a7d1b6c1d4ebb4"
      location:
      - /api/v2/addresses/adr_d3c5eb58c0d811ec9435ac1f6bc72124
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18db626052bbe799698000242b70
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
