interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"id": "user_7c9e4c44e93c4a0da732778b91530198", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2023-05-10T17:57:26Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        null, "secondary_recharge_amount": null, "recharge_threshold": null, "has_billing_method":
        null, "cc_fee_rate": "0.0375", "default_insurance_amount": "50.00", "insurance_fee_rate":
        "0.005", "insurance_fee_minimum": "0.25", "email": "<REDACTED>", "children":
        [], "api_keys": [{"object": "ApiKey", "key": "<REDACTED>", "mode": "test",
        "created_at": "2023-05-10T17:57:26Z", "active": true, "id": "ak_c72d8904501643ffb897215c5343233e"},
        {"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2023-05-10T17:57:26Z", "active": true, "id": "ak_c9645d1c4bf34bd5a957962b442ca245"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e10e0963ef315935bcf5d541de7d438d"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - c20c6533645bdb06e2b8e677002062b2
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb1nuq a29e4ad05c
      x-version-label:
      - easypost-202305091956-464aa0b59c-master
    status:
      code: 201
      message: Created
version: 1
