interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"error": {"code": "UNAUTHORIZED", "message": "Your account is not
        enabled to access the Partner White Label API. Contact EasyPost to request
        access.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 36ec0a8e6462b3d4e2ba02d2003b0df4
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305152107-770224374c-master
    status:
      code: 401
      message: Unauthorized
version: 1
