interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:09:11Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2023-11-28T22:09:12Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_c2782ea48e3a11ee91e0ac1f6bc53342", "object": "Address", "created_at":
        "2023-11-28T22:09:11+00:00", "updated_at": "2023-11-28T22:09:11+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_7bfca1137a1f426b98e017add3fc37cb",
        "object": "Parcel", "created_at": "2023-11-28T22:09:11Z", "updated_at": "2023-11-28T22:09:11Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_554694341e59448fac370195d43880d6",
        "object": "Rate", "created_at": "2023-11-28T22:09:12Z", "updated_at": "2023-11-28T22:09:12Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate":
        "6.07", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_5e8eacd270264d25a78ba60e6c007403", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_a98e57095bbf414f8c977fd0adce35ce",
        "object": "Rate", "created_at": "2023-11-28T22:09:12Z", "updated_at": "2023-11-28T22:09:12Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.93", "currency":
        "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate": "6.07",
        "list_currency": "USD", "billing_type": "easypost", "de[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_5e8eacd270264d25a78ba60e6c007403/smartrate
  response:
    body:
      string: '{"result": [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2023-11-28T22:09:12Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": 3, "est_delivery_days":
        3, "id": "rate_554694341e59448fac370195d43880d6", "list_currency": "USD",
        "list_rate": 6.07, "mode": "test", "object": "Rate", "rate": 5.93, "retail_currency":
        "USD", "retail_rate": 8.0, "service": "GroundAdvantage", "shipment_id": "shp_5e8eacd270264d25a78ba60e6c007403",
        "time_in_transit": {"percentile_50": 2, "percentile_75": 2, "percentile_85":
        3, "percentile_90": 3, "percentile_95": 5, "percentile_97": 6, "percentile_99":
        9}, "updated_at": "2023-11-28T22:09:12Z"}, {"carrier": "USPS", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at": "2023-11-28T22:09:12Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": 3, "est_delivery_days": 3, "id": "rate_a98e57095bbf414f8c977fd0adce35ce",
        "list_currency": "USD", "list_rate": 6.07, "mode": "test", "object": "Rate",
        "rate": 5.93, "retail_currency": "USD", "ret[...]
