interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_79b95699e2644f198db68d1824c11497", "object": "Batch",
        "mode": "test", "state": "creating", "num_shipments": 1, "reference": null,
        "created_at": "2025-03-06T19:47:29Z", "updated_at": "2025-03-06T19:47:29Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbd1e2b97735001855fc
      x-node:
      - bigweb55nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_79b95699e2644f198db68d1824c11497/buy
  response:
    body:
      string: '{"id": "batch_79b95699e2644f198db68d1824c11497", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2025-03-06T19:47:29Z", "updated_at": "2025-03-06T19:47:29Z",
        "scan_form": null, "shipments": [{"batch_status": "queued_for_purchase", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_042b8633dd58412899313410cd5ad5a7"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbd6e2b9773500185b86
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_79b95699e2644f198db68d1824c11497/scan_form
  response:
    body:
      string: '{"id": "batch_79b95699e2644f198db68d1824c11497", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 1, "reference": null,
        "created_at": "2025-03-06T19:47:29Z", "updated_at": "2025-03-06T19:47:39Z",
        "scan_form": {"id": "sf_a1082a2498034042a96617a8d79ff0c4", "object": "ScanForm",
        "created_at": "2025-03-06T19:47:39Z", "updated_at": "2025-03-06T19:47:39Z",
        "tracking_codes": [], "address": null, "status": "creating", "message": null,
        "form_url": null, "form_file_type": null, "batch_id": "batch_79b95699e2644f198db68d1824c11497",
        "confirmation": null}, "shipments": [{"batch_status": "postage_purchased",
        "batch_message": null, "reference": null, "tracking_code": "9400100208303109500638",
        "id": "shp_042b8633dd58412899313410cd5ad5a7"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbdbe2b9773500186158
      x-node:
      - bigweb56nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
