interactions:
- request:
    body: '{"tracker": {"tracking_code": "EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/trackers
  response:
    body:
      string: '{"id": "trk_6d9f167f4ecd4433aca7434c12564f5c", "object": "Tracker",
        "mode": "test", "tracking_code": "EZ1000000001", "status": "pre_transit",
        "status_detail": "unknown", "created_at": "2022-08-15T18:52:43Z", "updated_at":
        "2022-08-15T18:52:43Z", "signed_by": null, "weight": 17.6, "est_delivery_date":
        "2022-08-15T18:52:43Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment information received",
        "description": null, "status": "pre_transit", "status_detail": null, "datetime":
        "2022-07-15T18:52:43Z", "source": "EasyPost", "carrier_code": null, "tracking_location":
        {"object": "TrackingLocation", "city": null, "state": null, "country": null,
        "zip": null}}, {"object": "TrackingDetail", "message": "Shipping label created",
        "description": null, "status": "pre_transit", "status_detail": null, "datetime":
        "2022-07-16T13:41:43Z", "source": "EasyPost", "carrier_code": null, "tracking_location":
        {"object": "TrackingLocation", "city": null, "state": null, "country": null,
        "zip": null}}], "carrier_detail": null, "finalized": true, "is_return": false,
        "public_url": "https://track.easypost.com/djE6dHJrXzZkOWYxNjdmNGVjZDQ0MzNhY2E3NDM0YzEyNTY0ZjVj",
        "fees": [{"object": "Fee", "type": "TrackerFee", "amount": "0.02000", "charged":
        false, "refunded": false}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"04d306c5095210c7182362ba486a64d3"
      location:
      - /api/v2/trackers/trk_6d9f167f4ecd4433aca7434c12564f5c
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47b62fa95fbe79a7aea0026374a
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
