interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/beta/claims?page_size=5
  response:
    body:
      string: '{"claims": [{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240718/1a9f84376e1a4afcba7fb4c60ffc9402.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240718/7e58fa152dc7446e9dc6959d03d216fe.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240718/1f3ba9cae53444579df05405310e8a97.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "created_at":
        "2024-07-18T21:41:13", "description": "Test description", "history": [{"status":
        "submitted", "status_detail": "Claim was created.", "timestamp": "2024-07-18T21:41:13"}],
        "id": "clm_097dd0b1b06d4cea92d5493c26c2b0a4", "insurance_amount": "100.00",
        "insurance_id": "ins_8fa0759538ba4630a1bcd7d65a72a0fe", "mode": "test", "object":
        "Claim", "payment_method": "easypost_wallet", "recipient_name": null, "requested_amount":
        "100.00", "salvage_value": null, "shipment_id": "shp_f9dd8b8ad442489f9b7334d957892609",
        "status": "submitted", "status_detail": "Claim was created.", "status_timestamp":
        "2024-07-18T21:41:13", "tracking_code": "9400100110368063699336", "type":
        "damage", "updated_at": "2024-07-18T21:41:13"}, {"approved_amount": null,
        "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240718/74b7dae47c5349a4876837984aade087.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240718/295f8c97f6cb4a72a0b302296e5b08b5.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240718/7034ce5274e948faa541e7aee1c90deb.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "cre[...]
