interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"id": "user_17decae9b65341fbba885b525a10ac3f", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2023-05-16T14:46:14Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        null, "secondary_recharge_amount": null, "recharge_threshold": null, "has_billing_method":
        null, "cc_fee_rate": "0.0375", "default_insurance_amount": "50.00", "insurance_fee_rate":
        "0.005", "insurance_fee_minimum": "0.25", "email": "<REDACTED>", "children":
        [], "api_keys": [{"object": "ApiKey", "key": "<REDACTED>", "mode": "test",
        "created_at": "2023-05-16T14:46:14Z", "active": true, "id": "ak_85e14e3581034951b4bcf82906197ca2"},
        {"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2023-05-16T14:46:14Z", "active": true, "id": "ak_cc547bbb5ca94aeead8ffd9fbdfcd2b8"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ea999d9465271c40ea110cce42a3fa0a"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e764639735e2aac1f9001dd8b6
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 201
      message: Created
version: 1
