interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=5
  response:
    body:
      string: '{"batches":[{"id":"batch_65108517e0ad4023ae4fb11707e45fe3","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-04-12T16:14:18Z","updated_at":"2022-04-12T16:14:18Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361114684958","id":"shp_19d078a1d1b84dfd86ccbb5e69da80b8"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":{"id":"pickup_a6f424dd8e45400fbe3c5dab19e11fae","object":"Pickup","created_at":"2022-04-12T16:14:18Z","updated_at":"2022-04-12T16:14:18Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-13T00:00:00Z","max_datetime":"2022-04-13T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_9adea311ba7b11ec8270ac1f6bc72124","object":"Address","created_at":"2022-04-12T16:14:18+00:00","updated_at":"2022-04-12T16:14:18+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-12T16:14:20Z","updated_at":"2022-04-12T16:14:20Z","carrier":"USPS","pickup_id":"pickup_a6f424dd8e45400fbe3c5dab19e11fae","id":"pickuprate_d05c55a8fa814856896877903b2ce859","object":"PickupRate"}]},"label_url":null},{"id":"batch_423a9247fbe241edb0dccf5369398e54","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-04-12T16:14:21Z","updated_at":"2022-04-12T16:14:21Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361114684972","id":"shp_78cd300e6b2c4623a2c292130f1220ff"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_pu[...]
