interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users/children?page_size=5
  response:
    body:
      string: '{"children": [{"id": "user_484dd58db70a4f31b4bb862998cf0e04", "object":
        "User", "parent_id": "user_0f6b83e3530b401cb1e8aeaa6a250d4d", "name": "Test
        User", "phone_number": "<REDACTED>", "verified": true, "created_at": "2023-05-16T22:01:20Z"},
        {"id": "user_14e894c0d541459395f4456e7cf4f175", "object": "User", "parent_id":
        "user_0f6b83e3530b401cb1e8aeaa6a250d4d", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2023-09-27T22:05:26Z"}, {"id":
        "user_f04df3dad13848339a7975d295d6629f", "object": "User", "parent_id": "user_0f6b83e3530b401cb1e8aeaa6a250d4d",
        "name": "Test User", "phone_number": "<REDACTED>", "verified": true, "created_at":
        "2023-11-30T19:23:22Z"}], "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3c78c4046596fc51e799f2850005aaa2
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb2nuq 2c48984abf
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202401041812-437974c716-master
    status:
      code: 200
      message: OK
version: 1
