interactions:
- request:
    body: '{"refund_amount": "2000"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/refunds
  response:
    body:
      string: '{"error": {"code": "TRANSACTION.AMOUNT_DOES_NOT_MATCH", "message":
        "Refund amount doesn''t match. Please escalate this to finance, this is unexpected.",
        "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3ad0bddf639b69bbe78859a700040543
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      x-version-label:
      - easypost-202212141856-b2c38022ed-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
