interactions:
- request:
    body: '{"shipment": {}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"error": {"code": "PARAMETER.REQUIRED", "message": "Missing required
        parameter.", "errors": [{"field": "shipment", "message": "cannot be blank"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - b4a2ea09646523c3e2b9045d00039312
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305171805-88442329bc-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
