interactions:
- request:
    body: '{"address": {"street1": "417 montgomery street", "street2": "FL 5", "city":
      "San Francisco", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}, "verify": [true]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id":"adr_510262fdcbe811ec9ba6ac1f6bc72124","object":"Address","created_at":"2022-05-04T20:25:19+00:00","updated_at":"2022-05-04T20:25:19+00:00","name":null,"company":"EASYPOST","street1":"417
        MONTGOMERY ST FL 5","street2":"","city":"SAN FRANCISCO","state":"CA","zip":"94104-1129","country":"US","phone":"4151234567","email":null,"mode":"test","carrier_facility":null,"residential":false,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":null},"delivery":{"success":true,"errors":[{"code":"E.SECONDARY_INFORMATION.INVALID","field":"street2","message":"Invalid
        secondary information(Apt/Suite#)","suggestion":null}],"details":{"latitude":37.79342,"longitude":-122.40288,"time_zone":"America/Los_Angeles"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c0e8584df6edd8c47e3c61df2fafddff"
      location:
      - /api/v2/addresses/adr_510262fdcbe811ec9ba6ac1f6bc72124
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b76272e12fe786b82000161441
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
version: 1
