interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/partners/stripe_public_key
  response:
    body:
      string: '{"public_key": "pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62567c9fc1ae2b97b760018a860
      x-node:
      - bigweb58nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.stripe.com/v1/tokens?card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028
  response:
    body:
      string: '{"error": {"message": "This integration surface is unsupported for
        publishable key tokenization. To enable this surface, please go to your dashboard
        (https://dashboard.stripe.com/settings/integration). See https://support.stripe.com/questions/card-tokenization-restrictions-using-publishable-keys
        for more details", "request_log_url": "https://dashboard.stripe.com/logs/req_h4qLymbw74w7cU?t=1741290522",
        "type": "invalid_request_error"}}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4f8c8607-a9d0-4c8e-a5be-cd519b399771
      Original-Request:
      - req_h4qLymbw74w7cU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
      X-Wc:
      - AB
    status:
      code: 400
      message: Bad Request
- request:
    body: '{"credit_card": {"stripe_object_id": "", "priority": "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/credit_cards
  response:
    body:
      string: '{"error": {"code": "BAD_REQUEST", "message": "One of payment_method_reference
        or payment_method_id must be provided", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62867c9fc1ae2b97b780018a8da
      x-node:
      - bigweb57nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 400
      message: Bad Request
version: 1
