interactions:
- request:
    body: '{"payment_log_id": "paylog_123"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/refunds
  response:
    body:
      string: '{"error": {"code": "TRANSACTION.DOES_NOT_EXIST", "message": "We could
        not find a transaction with that id.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62667c9fbe9e2b9777900186f3c
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
