interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/refunds?page_size=5
  response:
    body:
      string: '{"refunds": [{"id": "rfnd_bad47afb0a9743b6acbf1ecfad761aa5", "object":
        "Refund", "created_at": "2023-05-16T15:09:03Z", "updated_at": "2023-05-16T15:09:03Z",
        "tracking_code": "9400100104262210314976", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_9543343d31b44ec4863e3679570d73c2"}],
        "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9201c691d2cf85a3b6d58c01209062c9"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e164639c8fe786a73900200920
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 200
      message: OK
version: 1
