interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:00:14Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105442285856185", "updated_at": "2023-11-28T22:00:15Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_8267bef28e3911eeb71c3cecef1b359e", "object": "Address", "created_at":
        "2023-11-28T22:00:14+00:00", "updated_at": "2023-11-28T22:00:14+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_e58fa1e44068409da3ff95fc6c169234",
        "object": "Parcel", "created_at": "2023-11-28T22:00:14Z", "updated_at": "2023-11-28T22:00:14Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_9ca2e253956f4ea1909138d76fd7cde6",
        "created_at": "2023-11-28T22:00:15Z", "updated_at": "2023-11-28T22:00:15Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-11-28T22:00:15Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231128/e893844c1736304c4a80c2c2b90623d35a.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_04a634017aa64b92a24e935718a44961", "object":
        "Rate", "created_at": "2023-11-28T22:00:14Z", "updated_at": "2023-11-28T22:00:14Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_efb368da208749e9a7b35b30ae928ffe", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_32b293473e6c454b93fadd9d8f8aa72c",
        "object": "Rate", "created_at": "2023-11-28T22:00:14Z", "updated_at": "2023-11-28T22:00:14Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2023-12-17", "max_datetime": "2023-12-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_efb368da208749e9a7b35b30ae928ffe"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_b0962a07f371415291338e3c8040339f", "object": "Pickup",
        "created_at": "2023-11-28T22:00:15Z", "updated_at": "2023-11-28T22:00:15Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-12-17T00:00:00Z",
        "max_datetime": "2023-12-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_8313b39b8e3911ee8347ac1f6bc539aa", "object": "Address", "created_at":
        "2023-11-28T22:00:15+00:00", "updated_at": "2023-11-28T22:00:15+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2023-11-28T22:00:16Z",
        "updated_at": "2023-11-28T22:00:16Z", "carrier": "USPS", "pickup_id": "pickup_b0962a07f371415291338e3c8040339f",
        "id": "pickuprate_a9d66347d51f43dcbcb2e0e97af0da76", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - ae35d0b8656662efe78a93e8003d96ff
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb2nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups/pickup_b0962a07f371415291338e3c8040339f
  response:
    body:
      string: '{"id": "pickup_b0962a07f371415291338e3c8040339f", "object": "Pickup",
        "created_at": "2023-11-28T22:00:15Z", "updated_at": "2023-11-28T22:00:15Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-12-17T00:00:00Z",
        "max_datetime": "[...]
