interactions:
- request:
    body: '{"parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id":"prcl_c3c76620e3e943c88b8e94ae291d843f","object":"Parcel","created_at":"2022-05-04T20:25:48Z","updated_at":"2022-05-04T20:25:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5cfbcb5dcc7a0cfc07c5dd9cb724722f"
      location:
      - /api/v2/parcels.prcl_c3c76620e3e943c88b8e94ae291d843f
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bc6272e14ce786b89d0016208e
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
version: 1
