interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:23Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_854b07fdb09049a6bf34765038e7462f",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_000dfa3c56d148278dc25b4165b3c816", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_3f296c74b4e3469f93bbd6727ccdf235", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "UPS", "carrier_account_id":
        "ca_01bf10a4210e4ffca905c4ad907c3dd5", "type": "rate_error", "message": "Invalid
        A[...]
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/rates/rate_4fa5e4ca17054c8ebaf0ed3a32c079ad
  response:
    body:
      string: '{"object": "Rate", "created_at": "2022-04-20T18:37:25Z", "updated_at":
        "2022-04-20T18:37:25Z", "mode": "test", "service": "Express", "carrier": "USPS",
        "rate": "23.75", "currency": "USD", "retail_rate": "27.40", "retail_currency":
        "USD", "list_rate": "23.75", "list_currency": "USD", "delivery_days": null,
        "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_8b5d79cea3d94e72b046716c0778d0fb", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"156a295f9fdc388951dd965bb5256cef"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f6c5a4e8626052e5e7996a010024347e
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
