interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_93bbd242fffd456899d0874728667ca6", "object": "Batch",
        "mode": "test", "state": "creating", "num_shipments": 1, "reference": null,
        "created_at": "2023-05-12T19:37:43Z", "updated_at": "2023-05-12T19:37:43Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93ab1778229106e6edb4001de85fa9da"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fe8d870e645e9587e2cc393e0006837f
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_93bbd242fffd456899d0874728667ca6/buy
  response:
    body:
      string: '{"id": "batch_93bbd242fffd456899d0874728667ca6", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2023-05-12T19:37:43Z", "updated_at": "2023-05-12T19:37:43Z",
        "scan_form": null, "shipments": [{"batch_status": "queued_for_purchase", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_f7c53eb6f8c448b484c47ebfdcdfb3d6"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cb99d8099e24e4837641bdca715153d8"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fe8d870e645e958ce2cc393e000684e0
      x-node:
      - bigweb11nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_93bbd242fffd456899d0874728667ca6/scan_form
  response:
    body:
      string: '{"id": "batch_93bbd242fffd456899d0874728667ca6", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 1, "reference": null,
        "created_at": "2023-05-12T19:37:43Z", "updated_at": "2023-05-12T19:37:53Z",
        "scan_form": {"id": "sf_e797f779358a41eeacdf12f050f4f736", "object": "ScanForm",
        "created_at": "2023-05-12T19:37:53Z", "updated_at": "2023-05-12T19:37:53Z",
        "tracking_codes": [], "address": null, "status": "creating", "message": null,
        "form_url": null, "form_file_type": null, "batch_id": "batch_93bbd242fffd456899d0874728667ca6",
        "confirmation": null}, "shipments": [{"batch_status": "postage_purchased",
        "batch_message": null, "reference": null, "tracking_code": "9400100104262209121370",
        "id": "shp_f7c53eb6f8c448b484c47ebfdcdfb3d6"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"016680b864fb54065c262c532515103f"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fe8d870e645e9591e2cc393e00068649
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
version: 1
