interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}, "options": {"label_format":
      "PNG", "invoice_number": "123"}, "reference": "123"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:22Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}], "mode": "test", "options": {"label_format": "PNG", "invoice_number":
        "123", "currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0},
        "reference": "123", "status": "unknown", "tracking_code": null, "updated_at":
        "2022-08-15T18:52:23Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": {"id": "cstinfo_9023fa52d220479ebfefac69ee184728", "object":
        "CustomsInfo", "created_at": "2022-08-15T18:52:22Z", "updated_at": "2022-08-15T18:52:22Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_8e3535c06a9d4216b42e1fca8de19562",
        "object": "CustomsItem", "created_at": "2022-08-15T18:52:22Z", "updated_at":
        "2022-08-15T18:52:22Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.25", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}]}, "from_address": {"id":
        "adr_65ae64891ccb11ed8777ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T18:52:22+00:00", "updated_at": "2022-08-15T18:52:22+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_fc646d849f6e497fa1f244d6827f3d6e", "object": "Parcel", "created_at":
        "2022-08-15T18:52:22Z", "updated_at": "2022-08-15T18:52:22Z", "length": 10.0,
        "width": 8.0, "height": 4.0, "predefined_package": null, "weight": 15.4, "mode":
        "test"}, "postage_label": null, "rates": [{"id": "rate_b2433d23d0fa4fedb9ee45d57f839b92",
        "object": "Rate", "created_at": "2022-08-15T18:52:23Z", "updated_at": "2022-08-15T18:52:23Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_3e942db4348b464c9163ed5e84c5414e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_bc2ee30366124ba4b310be5ef260ee15",
        "object": "Rate", "created_at": "2022-08-15T18:52:23Z", "updated_at": "2022-08-15T18:52:23Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.75",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypos[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_3e942db4348b464c9163ed5e84c5414e
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:22Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}], "mode": [...]
