interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_8542118801fa46dea61818714951a7d3", "object": "ShipmentReport",
        "created_at": "2023-05-16T22:18:19Z", "updated_at": "2023-05-16T22:18:19Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2919acd6f6211799d56e2d97eebb0824"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e06464012be78964bc00457b57
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305162013-ad43550112-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_8542118801fa46dea61818714951a7d3
  response:
    body:
      string: '{"id": "shprep_8542118801fa46dea61818714951a7d3", "object": "ShipmentReport",
        "created_at": "2023-05-16T22:18:19Z", "updated_at": "2023-05-16T22:18:19Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2919acd6f6211799d56e2d97eebb0824"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e06464012be78964bc00457b63
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305162013-ad43550112-master
    status:
      code: 200
      message: OK
version: 1
