interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:03Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133189427", "updated_at": "2022-08-15T18:52:04Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_5a12baf61ccb11ed821dac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T18:52:03+00:00", "updated_at": "2022-08-15T18:52:03+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_7da6edaf09124a75a1c933ffe97c79be",
        "object": "Parcel", "created_at": "2022-08-15T18:52:03Z", "updated_at": "2022-08-15T18:52:03Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_441a1f35f96b41d3bf6ab4d28e6c0066",
        "created_at": "2022-08-15T18:52:03Z", "updated_at": "2022-08-15T18:52:03Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T18:52:03Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/ed49a5998d374975a6c2fbb4a8fc17bb.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_a8f1b9a9f3ea4461860b2f6348a4f0df", "object":
        "Rate", "created_at": "2022-08-15T18:52:03Z", "updated_at": "2022-08-15T18:52:03Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 3, "shipment_id":
        "shp_cfbf0d0b9fd84f4992712ff4374f6763", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_7491d2cbb9744eae90ccba708186ac10", "object": "Rate", "created_at":
        "2022-08-15T18:52:03Z", "updated_at": "2022-08-15T18:52:03Z", "mode": "test",
        "service": "ParcelSelect", "carrier": "USPS", "rate": "7.75", "currency":
        "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate": "7.75",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 5, "delivery_date":
        null, "delive[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2022-08-17", "max_datetime": "2022-08-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_cfbf0d0b9fd84f4992712ff4374f6763"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_0fefbff4130e447585ca4211fd8c6950", "object": "Pickup",
        "created_at": "2022-08-15T18:52:04Z", "updated_at": "2022-08-15T18:52:04Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-08-17T00:00:00Z",
        "max_datetime": "2022-08-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_5abd5eca1ccb11ed85f5ac1f6bc7b362", "object": "Address", "created_at":
        "2022-08-15T18:52:04+00:00", "updated_at": "2022-08-15T18:52:04+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "carrier_accounts": [], "pickup_rates": [{"mode":
        "test", "service": "NextDay", "rate": "0.00", "currency": "USD", "created_at":
        "2022-08-15T18:52:05Z", "updated_at": "2022-08-15T18:52:05Z", "carrier": "USPS",
        "pickup_id": "pickup_0fefbff4130e447585ca4211fd8c6950", "id": "pickuprate_5075e8d721c440f18eb72230b30f1e8d",
        "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0f79b45aa8e9c5643d9a52bef0f99ea5"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95d4e79a7a44002628ad
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_0fefbff4130e447585ca4211fd8c6950/buy
  response:
    body:
      string: '{"id": "pickup_0fefbff4130e447585ca4211fd8c6950", "object": "Pickup",
        "created_at": "2022-08-15T18:52:04Z", "updated_at": "2022-08-15T18:52:06Z",
        "mode": "test", "status": "sched[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_0fefbff4130e447585ca4211fd8c6950/cancel
  response:
    body:
      string: '{"id": "pickup_0fefbff4130e447585ca4211fd8c6950", "object": "Pickup",
        "created_at": "2022-08-15T18:52:04Z", "updated_at": "2022-08-15T18:52:07Z",
        "mode": "test", "status": "canceled", "reference": null, "min_dateti[...]
