interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"object": "User", "parent_id": null, "name": "EasyPost Python Client
        Library Tests", "phone_number": "5555555555", "verified": true, "created_at":
        "2017-03-01T03:01:34Z", "balance": "0.00000", "price_per_shipment": "0.00000",
        "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.03", "default_insurance_amount":
        null, "insurance_fee_rate": "0.01", "insurance_fee_minimum": "1.00", "email":
        "dev+easypost-python@easypost.com", "children": [{"id": "user_9bc25a1d07f54682997435937b30d4f0",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Python All-Things-Tested", "phone_number": "8005550100", "verified": true,
        "created_at": "2020-05-11T21:59:07Z", "children": []}, {"id": "user_36a3958cd65a4592b1ddb742f7d3362a",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Python All-Things-Tested", "phone_number": "8005550100", "verified": true,
   [...]
- request:
    body: '{"user": {"phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: PUT
    uri: https://api.easypost.com/v2/users/user_54356a6b96c940d8913961a3c7b909f2
  response:
    body:
      string: '{"object": "User", "parent_id": null, "name": "EasyPost Python Client
        Library Tests", "phone_number": "5555555555", "verified": true, "created_at":
        "2017-03-01T03:01:34Z", "balance": "0.00000", "price_per_shipment": "0.00000",
        "rec[...]
