interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "customs_info":
      {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true, "customs_signer": "Steve
      Brule", "contents_type": "merchandise", "contents_explanation": "", "restriction_type":
      "none", "non_delivery_option": "return", "customs_items": [{"description": "Sweet
      shirts", "quantity": 2, "weight": 11, "value": 23, "hs_tariff_number": "654321",
      "origin_country": "US"}]}, "options": {"label_format": "PNG", "invoice_number":
      "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:43Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_531c64bddd3d49e8af14d72831f6c4d6",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_96aa6c6b55c6412b9c082f542ff41805", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_9dcd03e591ca4c9c9525502a27b415d7", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "UPS", "carrier_account_id":
        "ca_e5c84b0dc98148ffb3b5612b249d0b4d", "type": "rate_error", "message": "Invalid
        A[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_4dcdb19a162c4426827fbdb5394dd330/rerate
  response:
    body:
      string: '{"rates": [{"id": "rate_3ba0ea565bf74d5f946106fd891e2c08", "object":
        "Rate", "created_at": "2022-04-20T18:37:46Z", "updated_at": "2022-04-20T18:37:46Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "23.75",
        "currency": "USD", "retail_rate": "27.40", "retail_currency": "USD", "list_rate":
        "23.75", "list_currency": "USD", "delivery_days": null, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": null, "shipment_id":
        "shp_4dcdb19a162c4426827fbdb5394dd330", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_3d3e4ea0ad8c4168bde12ddfe3b7e421", "object": "Rate", "created_at":
        "2022-04-20T18:37:46Z", "updated_at": "2022-04-20T18:37:46Z", "mode": "test",
        "service": "Priority", "carrier": "USPS", "rate": "7.37", "currency": "USD",
        "retail_rate": "8.70", "retail_currency": "USD", "list_rate": "7.37", "list_currency":
        "USD", "delivery_days": 1, [...]
