interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-15T19:52:07Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105807075742114", "updated_at": "2024-08-15T19:52:08Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_da4514ed5b3f11ef89c63cecef1b359e", "object": "Address", "created_at":
        "2024-08-15T19:52:07+00:00", "updated_at": "2024-08-15T19:52:07+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_8665a281929e486ebeb9c74de10f8474",
        "object": "Parcel", "created_at": "2024-08-15T19:52:07Z", "updated_at": "2024-08-15T19:52:07Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_8d6519b58dbf439593f4bbd43045a954",
        "created_at": "2024-08-15T19:52:08Z", "updated_at": "2024-08-15T19:52:08Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2024-08-15T19:52:08Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240815/e82d40dff9993e4969bc0c36487fcbe485.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_d5fd664315504194a6837694698e6752", "object":
        "Rate", "created_at": "2024-08-15T19:52:07Z", "updated_at": "2024-08-15T19:52:07Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "33.10",
        "currency": "USD", "retail_rate": "37.90", "retail_currency": "USD", "list_rate":
        "33.10", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_ee945f94de8e409bb1aa5047ba4362b7", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_10bd13e7770b4160a81718f52d75592a",
        "object": "Rate", "created_at": "2024-08-15T19:52:07Z", "updated_at": "2024-08-15T19:52:07Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.90",
        "currency": "USD", "retail_rate": "9.80", "retail_currency": "USD", "list_rate":
        "8.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_ee945f94de8e409bb1aa5047ba4362b7", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_472e4a8870764eee818b35cf41646223",
        "object": "Rate", "created_at": "2024-08-15T19:52:07Z", "updated_at": "2024-08-15T19:52:07Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_ee945f94de8e409bb1aa5047ba4362b7", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_472e4a8870764eee818b35cf41646223", "object":
        "Rate", "created_at": "2024-08-15T19:52:08Z", "updated_at": "2024-08-15T19:52:08Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_ee945f94de8e409bb1aa5047ba4362b7", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_3527128107a849f295312537db57b508",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100105807075742114",
        "status": "unknown", "status_detail": "unknown", "created_at": "2024-08-15T19:52:08Z",
        "updated_at": "2024-08-15T19:52:08Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_ee945f94de8e409bb1aa5047ba4362b7", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrXzM1MjcxMjgxMDdhODQ5ZjI5NTMxMjUzN2RiNTdiNTA4"},
        "to_address": {"id": "adr_da426bb15b3f11ef89c33cecef1b359e", "object": "Address",
        "created_at": "2024-08-15T19:52:07+00:00", "updated_at": "2024-08-15T19:52:07+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_da4514ed5b3f11ef89c63cecef1b359e",
        "object": "Address", "created_at": "2024-08-15T19:52:07+00:00", "updated_at":
        "2024-08-15T19:52:07+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_da426bb15b3f11ef89c33cecef1b359e", "object": "Address", "created_at":
        "2024-08-15T19:52:07+00:00", "updated_at": "2024-08-15T19:52:07+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "5.93000", "charged": true,
        "refunded": false}], "id": "shp_ee945f94de8e409bb1aa5047ba4362b7", "object":
        "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_ee945f94de8e409bb1aa5047ba4362b7
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5dc66be5c67e7885de30016ef23
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: '{"batch": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_65930b77e40b421c840ef7898d342583", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 0, "reference": null,
        "created_at": "2024-08-15T19:52:08Z", "updated_at": "2024-08-15T19:52:08Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5dc66be5c68e7885de30016f01e
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_ee945f94de8e409bb1aa5047ba4362b7"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_65930b77e40b421c840ef7898d342583/add_shipments
  response:
    body:
      string: '{"id": "batch_65930b77e40b421c840ef7898d342583", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2024-08-15T19:52:08Z", "updated_at": "2024-08-15T19:52:08Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9400100105807075742114", "id":
        "shp_ee945f94de8e409bb1aa5047ba4362b7"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5dc66be5c68e7885de30016f03d
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_ee945f94de8e409bb1aa5047ba4362b7"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_65930b77e40b421c840ef7898d342583/remove_shipments
  response:
    body:
      string: '{"id": "batch_65930b77e40b421c840ef7898d342583", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 0, "reference": null,
        "created_at": "2024-08-15T19:52:08Z", "updated_at": "2024-08-15T19:52:08Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5dc66be5c68e7885de30016f061
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
