interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "customs_info":
      {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true, "customs_signer": "Steve
      Brule", "contents_type": "merchandise", "contents_explanation": "", "restriction_type":
      "none", "non_delivery_option": "return", "customs_items": [{"description": "Sweet
      shirts", "quantity": 2, "weight": 11, "value": 23, "hs_tariff_number": "654321",
      "origin_country": "US"}]}, "options": {"label_format": "PNG", "invoice_number":
      "123"}, "reference": "123"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T19:56:13Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"label_format": "PNG", "invoice_number": "123",
        "currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference":
        "123", "status": "unknown", "tracking_code": null, "updated_at": "2022-07-28T19:56:13Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        {"id": "cstinfo_3e828c4fed5540218121cb3867320cd1", "object": "CustomsInfo",
        "created_at": "2022-07-28T19:56:13Z", "updated_at": "2022-07-28T19:56:13Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_588f8105621d4d15bd17c991cfaac9d7",
        "object": "CustomsItem", "created_at": "2022-07-28T19:56:13Z", "updated_at":
        "2022-07-28T19:56:13Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.0", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}]}, "from_address": {"id":
        "adr_55c175170eaf11ed9c97ac1f6bc7b362", "object": "Address", "created_at":
        "2022-07-28T19:56:13+00:00", "updated_at": "2022-07-28T19:56:13+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_e6f09a507fe145509192779188118e32",
        "object": "Parcel", "created_at": "2022-07-28T19:56:13Z", "updated_at": "2022-07-28T19:56:13Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_456133125b50485fbff060d50f708184",
        "object": "Rate", "created_at": "2022-07-28T19:56:14Z", "updated_at": "2022-07-28T19:56:14Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_1c63268c58c34e64b6f505d6d6cd57ab", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_f354d83f3fc24e6b8fd9fb55e13ca60f",
        "object": "Rate", "created_at": "2022-07-28T19:56:14Z", "updated_at": "2022-07-28T19:56:14Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22",
        "currency": "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate":
        "7.22", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delive[...]
- request:
    body: '{"rate": {"id": "rate_abd6982071c4491cae0ee2b1f9eb77c5"}, "carbon_offset":
      false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_1c63268c58c34e64b6f505d6d6cd57ab/buy
  response:
    body:
      string: '{"created_at": "2022-07-28T19:56:13Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"label_format": "PNG", "invoice_number[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_1c63268c58c34e64b6f505d6d6cd57ab/label?file_format=ZPL
  response:
    body:
      string: '{"created_at": "2022-07-28T19:56:13Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"label_format": "PNG", "invoice_number": "123",
        "currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference":
        "123[...]
