interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_287eeb12a8bf47828815c17adfbbbead", "object": "EndShipper",
        "created_at": "2022-08-24T20:44:59+00:00", "updated_at": "2022-08-24T20:44:59+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"95ed9935256e76adf1bcfa4a4322756e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 70da33da63068dcbe78a0faa0084747f
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202208241853-b300c23ebd-master
    status:
      code: 201
      message: Created
- request:
    body: '{"address": {"street2": "Apt 20", "zip": "94107", "state": "CA", "country":
      "US", "email": "test@example.com", "company": "EasyPost", "phone": "9999999999",
      "name": "Captain Sparrow", "street1": "388 Townsend St", "city": "San Francisco"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PUT
    uri: https://api.easypost.com/v2/end_shippers/es_287eeb12a8bf47828815c17adfbbbead
  response:
    body:
      string: '{"id": "es_287eeb12a8bf47828815c17adfbbbead", "object": "EndShipper",
        "created_at": "2022-08-24T20:44:59+00:00", "updated_at": "2022-08-24T20:44:59+00:00",
        "name": "CAPTAIN SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND
        ST APT 20", "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip":
        "94107-1670", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"960cb2eadaf0fd2cc34a23efd0ef8ba3"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 70da33da63068dcbe78a0faa00847488
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202208241853-b300c23ebd-master
    status:
      code: 200
      message: OK
version: 1
