interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:18Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133189526", "updated_at": "2022-08-15T18:52:19Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_630728981ccb11ed8989ac1f6bc7b362", "object": "Address", "created_at":
        "2022-08-15T18:52:18+00:00", "updated_at": "2022-08-15T18:52:18+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_bc571c7aec5748de8a56fed49473e828",
        "object": "Parcel", "created_at": "2022-08-15T18:52:18Z", "updated_at": "2022-08-15T18:52:18Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_85cd48bc48c9429abb2417b65229facb",
        "created_at": "2022-08-15T18:52:18Z", "updated_at": "2022-08-15T18:52:19Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T18:52:18Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/0ad6651310014e6194df0b5fd8437599.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_d129c188da78431691d55eb2bd71082a", "object":
        "Rate", "created_at": "2022-08-15T18:52:18Z", "updated_at": "2022-08-15T18:52:18Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_35cfccf7c2cf43e8be41e4c6bf4246aa", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_070ca168234e456097cc18d24693aed4",
        "object": "Rate", "created_at": "2022-08-15T18:52:18Z", "updated_at": "2022-08-15T18:52:18Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.50",
        "currency": "USD", "retail_rate": "33.55", "retail_currency": "USD", "list_rate":
        "29.50", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "deliv[...]
- request:
    body: '{"shipment": [{"id": "shp_35cfccf7c2cf43e8be41e4c6bf4246aa"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id": "sf_794ca4fa4fdf4831bed5bce96ecc3677", "object": "ScanForm",
        "created_at": "2022-08-15T18:52:19Z", "updated_at": "2022-08-15T18:52:19Z",
        "tracking_codes": ["9400100109361133189526"], "address": {"id": "adr_630728981ccb11ed8989ac1f6bc7b362",
        "object": "Address", "created_at": "2022-08-15T18:52:18+00:00", "updated_at":
        "2022-08-15T18:52:18+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "5555555555", "email": "test@example.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220815/65bee2ee34c549cc8be07422fa7d9fa2.pdf",
        "form_file_type": null, "batch_id": "batch_eb362504974048148eb6e7b4556fbbf6",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a85fbd4a8c32a867db17ea6d27615b17"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47b62fa95e3e79a7a6900262f05
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
