interactions:
- request:
    body: '{"tracker": {"tracking_code": "EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/trackers
  response:
    body:
      string: '{"id":"trk_b68b2c3788434d0ca26580993c2dd5de","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-05-04T20:26:25Z","updated_at":"2022-05-04T20:26:25Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-05-04T20:26:25Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-04T20:26:25Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-05T15:15:25Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2I2OGIyYzM3ODg0MzRkMGNhMjY1ODA5OTNjMmRkNWRl","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.02000","charged":false,"refunded":false}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f16b68a3c40a6879543f5ed686d585f2"
      location:
      - /api/v2/trackers/trk_b68b2c3788434d0ca26580993c2dd5de
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 78245fb96272e171e786b9080013b132
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers/trk_b68b2c3788434d0ca26580993c2dd5de
  response:
    body:
      string: '{"id":"trk_b68b2c3788434d0ca26580993c2dd5de","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"status_update","created_at":"2022-05-04T20:26:25Z","updated_at":"2022-05-04T20:26:25Z","signed_by":null,"weight":null,"est_delivery_date":"2022-05-04T20:26:25Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-04-04T20:26:25Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-04-05T09:03:25Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"fees":[{"object":"Fee","type":"TrackerFee","amount":"0.02000","charged":false,"refunded":false}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"public_url":"https://track.easypost.com/djE6dHJrX2I2OGIyYzM3ODg0MzRkMGNhMjY1ODA5OTNjMmRkNWRl"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"935421bf0097b6498b685b5325437c4f"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 78245fb96272e171e786b9080013b146
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
