interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_5b56c0c9b2fa4942881f333d1001e164", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "REDACTED", "verified": true, "created_at": "2022-05-10T20:24:41Z", "children":
        ["REDACTED"], "api_keys": ["REDACTED"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"607a68238df9dfde704e02f7afcc5f2d"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - c6ef69b9627aca09efb5854e0015b9be
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_5b56c0c9b2fa4942881f333d1001e164
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - c6ef69b9627aca0aefb5854e0015b9f7
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 204
      message: No Content
version: 1
