interactions:
- request:
    body: '{"order": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "shipments": [{"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-05-04T20:25:45Z","updated_at":"2022-05-04T20:25:45Z","customs_info":null,"from_address":{"id":"adr_6053385ccbe811eca07dac1f6bc72124","object":"Address","created_at":"2022-05-04T20:25:45+00:00","updated_at":"2022-05-04T20:25:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_60518a94cbe811ec90efac1f6b0a0d1e","object":"Address","created_at":"2022-05-04T20:25:45+00:00","updated_at":"2022-05-04T20:25:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_60518a94cbe811ec90efac1f6b0a0d1e","object":"Address","created_at":"2022-05-04T20:25:45+00:00","updated_at":"2022-05-04T20:25:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_6053385ccbe811eca07dac1f6bc72124","object":"Address","created_at":"2022-05-04T20:25:45+00:00","updated_at":"2022-05-04T20:25:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-05-04T20:25:45Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-05-04T20:25:45Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6053385ccbe811eca07dac1f6bc72124","object":"Address","created_at":"2022-05-04T20:25:45+00:00","updated_at":"2022-05-04T20:25:45+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_761e863a058441e4950fa0b739be1472","parcel":{"id":"prcl_1c2513b2482e430985db24f1c6fe5ff5","object":"Parcel","created_at":"2022-05-04T20:25:45Z","updated_at":"2022-05-04T20:25:45Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_df8962de5cf74a0e98938ce9a46e579b","object":"Rate","created_at":"2022-05-04T20:25:45Z","updated_at":"2022-05-04T20:25:45Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_bc75a69a8d344ef48c955d2502cd83be","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_cf4fa5f3c48348acb55465361e130dfd","object":"Rate","created_at":"2022-05-04T20:25:45Z","updated_at":"2022-05-04T20:25:45Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_bc75a69a8d344ef48c955d2502cd83be","ca[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/orders/order_761e863a058441e4950fa0b739be1472/rates
  response:
    body:
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-05-04T20:25:45Z","updated_at":"2022-05-04T20:25:45Z","customs_info":null,"from_address":{"id":"adr_6053385ccbe811eca07dac1f6bc72124","objec[...]
