interactions:
- request:
    body: '{"customs_item": {"description": "Sweet shirts", "quantity": 2, "weight":
      11, "value": 23.25, "hs_tariff_number": "654321", "origin_country": "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_53ea67b599dd44e2ab90b794ead81234", "object": "CustomsItem",
        "created_at": "2025-03-06T19:48:04Z", "updated_at": "2025-03-06T19:48:04Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_items/cstitem_53ea67b599dd44e2ab90b794ead81234
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 8e8eb62867c9fbf4e2b97ab200187bbf
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
version: 1
