interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"object": "CarrierAccount", "type": "UpsAccount", "clone": false,
        "created_at": "2022-04-20T18:36:52Z", "updated_at": "2022-04-20T18:36:52Z",
        "description": "UPS Account", "reference": null, "readable": "UPS", "logo":
        null, "fields": {"credentials": {"account_number": {"visibility": "readonly",
        "label": "UPS Account Number", "value": "A1A1A1"}}}, "credentials": {"account_number":
        "A1A1A1"}, "test_credentials": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6fbb28445d2618ce423f3143041d7a77"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d6626052c4e79969a500242e8f
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
- request:
    body: '{"carrier_account": {"description": "My custom description"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: PUT
    uri: https://api.easypost.com/v2/carrier_accounts/ca_7def9c6181cc4fdd90198499719a9604
  response:
    body:
      string: '{"object": "CarrierAccount", "type": "UpsAccount", "clone": false,
        "created_at": "2022-04-20T18:36:52Z", "updated_at": "2022-04-20T18:36:52Z",
        "description": "My custom description", "reference": null, "readable": "UPS",
        "logo": null, "fields": {"credentials": {"account_number": {"visibility":
        "readonly", "label": "UPS Account Number", "value": "A1A1A1"}}}, "credentials":
        {"account_number": "A1A1A1"}, "test_credentials": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ff3778a43fd4689fbb466b621a0c9f0e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d6626052c4e79969a500242ea5
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_7def9c6181cc4fdd90198499719a9604
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d6626052c5e79969a500242ec0
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
