interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/addresses?page_size=5
  response:
    body:
      string: '{"addresses": [{"id": "adr_d2ba9e37c0d811ec990aac1f6bc7bdc6", "object":
        "Address", "created_at": "2022-04-20T18:36:42+00:00", "updated_at": "2022-04-20T18:36:42+00:00",
        "name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
        "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, {"id": "adr_d2861fb5c0d811ecaf73ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-04-20T18:36:41+00:00", "updated_at": "2022-04-20T18:36:41+00:00", "name":
        "JACK SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, {"id": "adr_d24bd513c0d811ecaf61ac1f6b0a0d1e",
        "object": "Address", "created_at": "2022-04-20T18:36:41+00:00", "updated_at":
        "2022-04-20T18:36:41+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
        "state": "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email":
        null, "mode": "test", "carrier_facility": null, "residential": null, "feder[...]
