interactions:
- request:
    body: '{"address": {"company": "EasyPost", "street1": "000 unknown street", "city":
      "Not A City", "state": "ZZ", "zip": "00001", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "verify": true, "verify_carrier": "UPS"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_6bbec015bb5011f082233cecef1b359e", "object": "Address",
        "created_at": "2025-11-06T20:37:32Z", "updated_at": "2025-11-06T20:37:32Z",
        "name": null, "company": "EASYPOST", "street1": "000 UNKNOWN STREET", "street2":
        "", "city": "NOT A CITY", "state": "ZZ", "zip": "00001", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field":
        "address", "message": "Address not found", "suggestion": null}], "details":
        null}, "delivery": {"success": true, "errors": [{"code": "E.ADDRESS.NOT_FOUND",
        "field": "address", "message": "Address not found", "suggestion": null}],
        "details": {"latitude": null, "longitude": null, "time_zone": null}}, "verify_carrier":
        "ups"}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_6bbec015bb5011f082233cecef1b359e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - bcd43725690d070be2b85def014ed69a
      x-node:
      - bigweb66nuq
      x-proxied:
      - intlb4nuq c0061e0a2e
      - extlb2nuq cbbd141214
      x-version-label:
      - easypost-202511061930-711db047b0-master
    status:
      code: 201
      message: Created
version: 1
