interactions:
- request:
    body: '{"order": {"from_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "to_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "shipments": [{"parcel": {"weight": 10.2}}, {"parcel":
      {"weight": 17.5}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode": "test", "reference": "", "is_return": false, "options": {"currency":
        "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier": "DhlEcs",
        "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a", "type": "rate_error",
        "message": "Invalid credentials"}, {"carrier": "DhlEcs", "carrier_account_id":
        "ca_a5e4cb81d1b4481d812f4511ba8dfbb1", "type": "rate_error", "message": "Invalid
        credentials"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Invalid credentials"}, {"carrier": "DhlEcs",
        "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c", "type": "rate_error",
        "message": "Invalid credentials"}, {"carrier": "DhlEcs", "carrier_account_id":
        "ca_99007e1aeb66421faf82676f1199481e", "type": "rate_error", "message": "Invalid
        credentials"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Invalid credentials"}, {"carrier": "DhlEcs",
        "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f", "type": "rate_error",
        "message": "Invalid credentials"}], "created_at": "2024-06-14T16:51:37Z",
        "updated_at": "2024-06-14T16:51:38Z", "customs_info": null, "from_address":
        {"id": "adr_5d9625692a6e11ef9fdd3cecef1b359e", "object": "Address", "created_at":
        "2024-06-14T16:51:37+00:00", "updated_at": "2024-06-14T16:51:37+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "to_address": {"id": "adr_5d921ec72a6e11efad95ac1f6bc539ae", "object":
        "Address", "created_at": "2024-06-14T16:51:37+00:00", "updated_at": "2024-06-14T16:51:37+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_5d921ec72a6e11efad95ac1f6bc539ae", "object":
        "Address", "created_at": "2024-06-14T16:51:37+00:00", "updated_at": "2024-06-14T16:51:37+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "return_address": {"id": "adr_5d9625692a6e11ef9fdd3cecef1b359e", "object":
        "Address", "created_at": "2024-06-14T16:51:37+00:00", "updated_at": "2024-06-14T16:51:37+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/orders/order_91a75b20226041348d9de7edf07471d0/rates
  response:
    body:
      string: '{"mode": "test", "reference": "", "is_return": false, "options": {"currency":
        "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier": "DhlEcs",
        "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a", "type": "rate_error",
        "message": "Invalid [...]
