interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04", "columns": ["usps_zone"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"columns": "usps_zone", "created_at": "2025-03-06T19:48:45Z", "end_date":
        "2022-05-04", "id": "shprep_650d0c092bad411a929767abf466713b", "include_children":
        null, "mode": "test", "object": "ShipmentReport", "start_date": "2022-05-04",
        "status": "new", "updated_at": null, "url": null, "url_expires_at": null,
        "utc_offset": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62867c9fc1ce2b97b960018ab43
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
version: 1
