interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_1ee652c8f0644a0f9aa19b15175d3450", "object": "Parcel",
        "created_at": "2024-08-15T19:53:18Z", "updated_at": "2024-08-15T19:53:18Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_1ee652c8f0644a0f9aa19b15175d3450
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d666be5caee78861c300173687
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/parcels/prcl_1ee652c8f0644a0f9aa19b15175d3450
  response:
    body:
      string: '{"id": "prcl_1ee652c8f0644a0f9aa19b15175d3450", "object": "Parcel",
        "created_at": "2024-08-15T19:53:18Z", "updated_at": "2024-08-15T19:53:18Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d666be5caee78861c3001736b2
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
