interactions:
- request:
    body: '{"refund_amount": "$20.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/refunds
  response:
    body:
      string: '{"error": {"code": "TRANSACTION.AMOUNT_DOES_NOT_MATCH", "message":
        "Refund amount doesn''t match. Please escalate this to finance, this is unexpected.",
        "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52d122c5639a09fae78a024300089c77
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202212132312-d72b368b58-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
