interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS", "insurance": 0}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-16T16:31:36Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100104262210341620", "updated_at": "2023-05-16T16:31:37Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_204e9e9df40711edb388ac1f6bc7b362", "object": "Address", "created_at":
        "2023-05-16T16:31:36+00:00", "updated_at": "2023-05-16T16:31:36+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_5f173f47c4e748fd90774f0fe1ad2567",
        "object": "Parcel", "created_at": "2023-05-16T16:31:36Z", "updated_at": "2023-05-16T16:31:36Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_855bcf115c77479c849d10afeec7c4e1",
        "created_at": "2023-05-16T16:31:36Z", "updated_at": "2023-05-16T16:31:36Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-05-16T16:31:36Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/0494039080754493aa947f38923cd9e4.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_0c097f84ef7d4f00a10564b9ed28103c", "object":
        "Rate", "created_at": "2023-05-16T16:31:36Z", "updated_at": "2023-05-16T16:31:36Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "6.07", "currency":
        "USD", "retail_rate": "6.07", "retail_currency": "USD", "list_rate": "6.07",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 3, "shipment_id":
        "shp_3afa3dc2ef6c4d008cac6ccc08e4aef7", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_544dd6cca19d4ff4bfca9a7a8ae88716", "object": "Rate", "created_at":
        "2023-05-16T16:31:36Z", "updated_at": "2023-05-16T16:31:36Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "31.25", "currency": "USD",
        "retail_rate": "35.80", "retail_currency": "USD", "list_rate": "31.25", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": null, "delivery_date":
        null, "deliv[...]
- request:
    body: '{"amount": "100"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_3afa3dc2ef6c4d008cac6ccc08e4aef7/insure
  response:
    body:
      string: '{"created_at": "2023-05-16T16:31:36Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
  [...]
