interactions:
- request:
    body: '{"address": {"company": "EasyPost", "street1": "417 montgomery street",
      "street2": "FL 5", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}, "verify": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_3f855fd41ccb11edb759ac1f6b0a0d1e", "object": "Address",
        "created_at": "2022-08-15T18:51:18+00:00", "updated_at": "2022-08-15T18:51:18+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": false, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [{"code": "E.SECONDARY_INFORMATION.INVALID",
        "field": "street2", "message": "Invalid secondary information(Apt/Suite#)",
        "suggestion": null}], "details": null}, "delivery": {"success": true, "errors":
        [{"code": "E.SECONDARY_INFORMATION.INVALID", "field": "street2", "message":
        "Invalid secondary information(Apt/Suite#)", "suggestion": null}], "details":
        {"latitude": 37.79342, "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"311f0346a92ec4505638f73706d1fa42"
      location:
      - /api/v2/addresses/adr_3f855fd41ccb11edb759ac1f6b0a0d1e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47b62fa95a6e79a766400261938
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
