interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-04-26T17:15:40Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361116713342","updated_at":"2022-04-26T17:15:40Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7f2907f6c58411ec8302ac1f6bc72124","object":"Address","created_at":"2022-04-26T17:15:40+00:00","updated_at":"2022-04-26T17:15:40+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_f20fd439f1e24904a0fce18cc4ee689c","object":"Parcel","created_at":"2022-04-26T17:15:40Z","updated_at":"2022-04-26T17:15:40Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_dcda71a1ae1e48babd304081793f31dc","created_at":"2022-04-26T17:15:40Z","updated_at":"2022-04-26T17:15:40Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-26T17:15:40Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220426/192dd5c5388c48f0abe1eba1bad038ec.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_a5c147f4c7ee4e27a19185f94a2d9474","object":"Rate","created_at":"2022-04-26T17:15:40Z","updated_at":"2022-04-26T17:15:40Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_386bc0886ef84189816a0e4ec4b2588b","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_e3f26db8364242ff9b8acb03ce9185cb","object":"Rate","created_at":"2022-04-26T17:15:40Z","updated_at":"2022-04-26T17:15:40Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_386bc0886ef84189816a0e4ec4b2588b","carrier_ac[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-04-27",
      "max_datetime": "2022-04-27", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_386bc0886ef84189816a0e4ec4b2588b"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id":"pickup_0a9143ce4ad84dd9bf8962323379ff7d","object":"Pickup","created_at":"2022-04-26T17:15:41Z","updated_at":"2022-04-26T17:15:41Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-27T00:00:00Z","max_datetime":"2022-04-27T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_7fbc64a0c58411ec832aac1f6bc72124","object":"Address","created_at":"2022-04-26T17:15:41+00:00","updated_at":"2022-04-26T17:15:41+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-26T17:15:42Z","updated_at":"2022-04-26T17:15:42Z","carrier":"USPS","pickup_id":"pickup_0a9143ce4ad84dd9bf8962323379ff7d","id":"pickuprate_b967c9d8b222498f9fdbdd24f1c9b8c9","object":"PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2663a16abcedfab862b9ba3af4aba7f3"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 19bdb4bd626828bde786b8a4001a6365
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204251804-93ddab36b5-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/pickups/pickup_0a9143ce4ad84dd9bf8962323379ff7d
  response:
    body:
      string: '{"id":"pickup_0a9143ce4ad84dd9bf8962323379ff7d","object":"Pickup","created_at":"2022-04-26T17:15:41Z","updated_at":"2022-04-26T17:15:41Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-27T00:00:00Z","max_datetim[...]
