interactions:
- request:
    body: '{"ups_oauth_registrations": {"type": "UpsAccount", "account_number": 123}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/ups_oauth_registrations
  response:
    body:
      string: '{"error": {"code": "PARAMETER.INVALID_TYPE", "message": "Wrong parameter
        type.", "errors": [{"field": "ups_oauth_registrations.account_number", "message":
        "must be a string"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - b98ca9f3668c49a7e2cb1d1f001f7231
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq fa152d4755
      - extlb2nuq fa152d4755
      x-version-label:
      - easypost-202407081949-3228d5845b-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
