interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:03:01Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105442285862483", "updated_at": "2023-11-28T22:03:02Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_e5cb8c0b8e3911ee82aeac1f6bc539aa", "object": "Address", "created_at":
        "2023-11-28T22:03:01+00:00", "updated_at": "2023-11-28T22:03:01+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_63f070c6388441c4b01c3c1da0a745d9",
        "object": "Parcel", "created_at": "2023-11-28T22:03:01Z", "updated_at": "2023-11-28T22:03:01Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_86e568f700b9496a80bd642385a115ab",
        "created_at": "2023-11-28T22:03:02Z", "updated_at": "2023-11-28T22:03:02Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-11-28T22:03:02Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231128/e80812d2cab6b44946858845eda77e7a1c.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_a27773ee8059489d872853365b91b1ae", "object":
        "Rate", "created_at": "2023-11-28T22:03:01Z", "updated_at": "2023-11-28T22:03:01Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_4d6dfe4ee73e4ad186981f843799897e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_24674f390e7d43af8dd8e62ff6793688",
        "object": "Rate", "created_at": "2023-11-28T22:03:01Z", "updated_at": "2023-11-28T22:03:01Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_[...]
- request:
    body: '{"batch": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_03abf3335a2648728a9698f886321587", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 0, "reference": null,
        "created_at": "2023-11-28T22:03:02Z", "updated_at": "2023-11-28T22:03:02Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ae35d0b765666396e78a9786003e69e3
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb2nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_4d6dfe4ee73e4ad186981f843799897e"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_03abf3335a2648728a9698f886321587/add_shipments
  response:
    body:
      string: '{"id": "batch_03abf3335a2648728a9698f886321587", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2023-11-28T22:03:02Z", "updated_at": "2023-11-28T22:03:02Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9400100105442285862483", "id":
        "shp_4d6dfe4ee73e4ad186981f843799897e"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ae35d0b765666396e78a9786003e6a1e
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb1nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_4d6dfe4ee73e4ad186981f843799897e"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_03abf3335a2648728a9698f886321587/remove_shipments
  response:
    body:
      string: '{"id": "batch_03abf3335a2648728a9698f886321587", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 0, "reference": null,
        "created_at": "2023-11-28T22:03:02Z", "updated_at": "2023-11-28T22:03:02Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - ae35d0b765666396e78a9786003e6a5d
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb2nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 200
      message: OK
version: 1
