interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "customs_info":
      {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true, "customs_signer": "Steve
      Brule", "contents_type": "merchandise", "contents_explanation": "", "restriction_type":
      "none", "non_delivery_option": "return", "customs_items": [{"description": "Sweet
      shirts", "quantity": 2, "weight": 11, "value": 23, "hs_tariff_number": "654321",
      "origin_country": "US"}]}, "options": {"label_format": "PNG", "invoice_number":
      "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:47Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_58242d20fe2b45e19c1d085c9b851167",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_02fda353301a4d5d891540f9e381d326", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_d25af6a0ab604bf187f8502dc8e8c7b4", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "UPS", "carrier_account_id":
        "ca_2c2b449bd7de4ed481e3b55d6c759904", "type": "rate_error", "message": "Invalid
        A[...]
- request:
    body: '{"rate": {"id": "rate_04383ddd15b441969eaf5f8c8ef6626c"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_f27220f387b1466293b2add906efec95/buy
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:47Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_58242d20fe2b45e19c1d085c9b851167",
        "ty[...]
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_f27220f387b1466293b2add906efec95/label?file_format=ZPL
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:47Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_58242d20fe2b45e19c1d085c9b851167",
        "type": "rate_error", "message": "Invalid Access [...]
