interactions:
- request:
    body: '{"order": {"from_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "to_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "shipments": [{"from_address": {"name": "Jack Sparrow",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "to_address": {"name": "Elizabeth Swan", "street1":
      "179 N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}, "parcel": {"length":
      10, "width": 8, "height": 4, "weight": 15.4}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode": "test", "reference": null, "is_return": false, "options":
        {"currency": "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier":
        "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476", "type":
        "rate_error", "message": "Unauthorized. Please check credentials and try again"}],
        "created_at": "2022-08-15T18:51:46Z", "updated_at": "2022-08-15T18:51:47Z",
        "customs_info": null, "from_address": {"id": "adr_5016c3931ccb11ed9f09ac1f6bc7bdc6",
        "object": "Address", "created_at": "2022-08-15T18:51:46+00:00", "updated_at":
        "2022-08-15T18:51:46+00:00", "name": "Jack Sparrow", "company": null, "street1":
        "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state":
        "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email": "test@example.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "to_address": {"id": "adr_501582da1ccb11edb707ac1f6bc72124",
        "object": "Address", "created_at": "2022-08-15T18:51:46+00:00", "updated_at":
        "2022-08-15T18:51:46+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "5555555555", "email": "test@example.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_501582da1ccb11edb707ac1f6bc72124", "object": "Address", "created_at":
        "2022-08-15T18:51:46+00:00", "updated_at": "2022-08-15T18:51:46+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "return_address": {"id": "adr_5016c3931ccb11ed9f09ac1f6bc7bdc6", "object":
        "Address", "created_at": "2022-08-15T18:51:46+00:00", "updated_at": "2022-08-15T18:51:46+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "shipments": [{"created_at": "2022-08-15T18:51:46Z",
        "is_return": false, "messages": [{"carrier": "DhlEcs", "carrier_account_id":
        "ca_c3cbbd21bc97400bbbaed6d030909476", "type": "rate_error", "message": "Unauthorized.
        Please check credentials and try again"}], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2022-08-15T18:51:46Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_5016c3931ccb11ed9f09ac1f6bc7bdc6", "object":
        "Address", "created_at": "2022-08-15T18:51:46+00:00", "updated_at": "2022-08-15T18:51:46+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": "order_007e2542660e43d293211aa74f790448",
        "parcel": {"id": "prcl_826a30fd26984f50933e5114a5bc7f8d", "object": "Parcel",
        "created_at": "2022-08-15T18:51:46Z", "updated_at": "2022-08-15T18:51:46Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_60e1208617314e579aac8b904ae6605a",
        "object": "Rate", "created_at": "2022-08-15T18:51:47Z", "updated_at": "2022-08-15T18:51:47Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.75",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "shipment_id": "shp_6765296296534ca8be2195e735423f41", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_c767cb7db11f4f00af447c0c095aa62b",
        "object": "Rate", "created_at": "2022-08-15T18:51:47Z", "updated_at": "2022-08-15T18:51:47Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "de[...]
