interactions:
- request:
    body: '{"user": {"name": "Test Referral", "email": "test@example.com", "phone":
      "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"id": "user_0857ace4c8cc4c1c820c0020f63b58e3", "object": "User", "parent_id":
        null, "name": "Test Referral", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2025-11-14T21:41:14Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        null, "secondary_recharge_amount": null, "recharge_threshold": null, "has_billing_method":
        null, "cc_fee_rate": "0.0375", "default_insurance_amount": "50.00", "insurance_fee_rate":
        "0.01", "insurance_fee_minimum": "0.50", "email": "<REDACTED>", "children":
        [], "api_keys": [{"object": "ApiKey", "key": "<REDACTED>", "mode": "test",
        "created_at": "2025-11-14T21:41:15Z", "active": true, "id": "ak_942665c2509a4d67af5d117a22ebbe2f"},
        {"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2025-11-14T21:41:15Z", "active": true, "id": "ak_6e11f073d4b74271b69ff9de29131033"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 7265c2fb6917a1fae786c164010a6c1a
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb3nuq c0061e0a2e
      - extlb1nuq cbbd141214
      x-version-label:
      - easypost-202511141214-a539f53042-master
    status:
      code: 201
      message: Created
version: 1
