interactions:
- request:
    body: '{"order": {"from_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "to_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "shipments": [{"parcel": {"weight": 10.2}}, {"parcel":
      {"weight": 17.5}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode": "test", "reference": "", "is_return": false, "options": {"currency":
        "USD", "payment": {"type": "SENDER"}}, "messages": [], "created_at": "2025-03-06T19:48:28Z",
        "updated_at": "2025-03-06T19:48:28Z", "customs_info": null, "from_address":
        {"id": "adr_f99ac245fac311efb2c73cecef1b359e", "object": "Address", "created_at":
        "2025-03-06T19:48:28+00:00", "updated_at": "2025-03-06T19:48:28+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "to_address": {"id": "adr_f9991dacfac311ef91d5ac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-06T19:48:28+00:00", "updated_at": "2025-03-06T19:48:28+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_f9991dacfac311ef91d5ac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-06T19:48:28+00:00", "updated_at": "2025-03-06T19:48:28+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "return_address": {"id": "adr_f99ac245fac311efb2c73cecef1b359e", "object":
        "Address", "created_at": "2025-03-06T19:48:28+00:00", "updated_at": "2025-03-06T19:48:28+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "shipments": [{"id": "shp_9cb9c80740454d9ba08fb92d49256ec9", "created_at":
        "2025-03-06T19:48:28Z", "is_return": false, "messages": [], "mode": "test",
        "options": {"currency": "USD", "payment": {"type": "SENDER"}, "date_advance":
        0}, "reference": null, "status": "unknown", "tracking_code": null, "updated_at":
        "2025-03-06T19:48:28Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": null, "from_address": {"id": "adr_f99ac245fac311efb2c73cecef1b359e",
        "object": "Address", "created_at": "2025-03-06T19:48:28+00:00", "updated_at":
        "2025-03-06T19:48:28+00:00", "name": "Jack Sparrow", "company": null, "street1":
        "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state":
        "CA", "zip": "94107", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        "order_c91fef40e21c48a3a4846ab323722583", "parcel": {"id": "prcl_af8d754b79db47c6aec316862abfd29d",
        "object": "Parcel", "created_at": "2025-03-06T19:48:28Z", "updated_at": "2025-03-06T19:48:28Z",
        "length": null, "width": null, "height": null, "predefined_package": null,
        "weight": 10.2, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_1fbcb190f99a463b8c2d9bb96326c8fe",
        "object": "Rate", "created_at": "2025-03-06T19:48:28Z", "updated_at": "2025-03-06T19:48:28Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_9cb9c80740454d9ba08fb92d49256ec9", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_5d3f583efcff423392d3dd5a6be28127",
        "object": "Rate", "created_at": "2025-03-06T19:48:28Z", "updated_at": "2025-03-06T19:48:28Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_9cb9c80740454d9ba08fb92d49256ec9", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_31ae98adc1924a349936598f46f54365",
        "object": "Rate", "created_at": "2025-03-06T19:48:28Z", "updated_at": "2025-03-06T19:48:28Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.21",
        "currency": "USD", "retail_rate": "7.00", "retail_currency": "USD", "list_rate":
        "5.21", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_9cb9c80740454d9ba08fb92d49256ec9", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_f9991dacfac311ef91d5ac1f6bc539aa",
        "object": "Address", "created_at": "2025-03-06T19:48:28+00:00", "updated_at":
        "2025-03-06T19:48:28+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_f99ac245fac311efb2c73cecef1b359e", "object": "Address", "created_at":
        "2025-03-06T19:48:28+00:00", "updated_at": "2025-03-06T19:48:28+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_f9991dacfac311ef91d5ac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-06T19:48:28+00:00", "updated_at": "2025-03-06T19:48:28+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}, {"id": "shp_481597ab57634eea9a07f99e967f6aa5",
        "created_at": "2025-03-06T19:48:28Z", "is_return": false, "messages": [],
        "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2025-03-06T19:48:28Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
    [...]
- request:
    body: '{"carrier": "USPS", "service": "GroundAdvantage"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders/order_c91fef40e21c48a3a4846ab323722583/buy
  response:
    body:
      string: '{"mode": "test", "reference": "", "is_return": false, "options": {"currency":
        "USD", "payment": {"type": "SENDER"}}, "messages": [], "created_at": "2025-03-06T19:48:28Z",
        "[...]
