interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T20:25:59Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361130493848", "updated_at": "2022-07-28T20:26:00Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_7e3186a60eb311ed9df8ac1f6bc72124", "object": "Address", "created_at":
        "2022-07-28T20:25:59+00:00", "updated_at": "2022-07-28T20:25:59+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_4e54ded5879a4d67b6a68a2b84270753",
        "object": "Parcel", "created_at": "2022-07-28T20:25:59Z", "updated_at": "2022-07-28T20:25:59Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_78565b26a581481da7745e0649a8c789",
        "created_at": "2022-07-28T20:26:00Z", "updated_at": "2022-07-28T20:26:00Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T20:26:00Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/f5730aa086d4487fac9087dca33161c3.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_e6f61a7cce07463aa6d35e455c5eb6da", "object":
        "Rate", "created_at": "2022-07-28T20:25:59Z", "updated_at": "2022-07-28T20:25:59Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_b5e774c5ff4c4df7a8850198b852dcdc", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_6154189183b14b6fb3d70ec67c2b3aa2",
        "object": "Rate", "created_at": "2022-07-28T20:25:59Z", "updated_at": "2022-07-28T20:25:59Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22",
        "currency": "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate":
        "7.22", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delive[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-07-29",
      "max_datetime": "2022-07-29", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_b5e774c5ff4c4df7a8850198b852dcdc"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_f25af674d7a34017aa82f3ff70109d17", "object": "Pickup",
        "created_at": "2022-07-28T20:26:00Z", "updated_at": "2022-07-28T20:26:00Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-07-29T00:00:00Z",
        "max_datetime": "2022-07-29T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_7ee5e43b0eb311edb693ac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-07-28T20:26:00+00:00", "updated_at": "2022-07-28T20:26:00+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2022-07-28T20:26:01Z",
        "updated_at": "2022-07-28T20:26:01Z", "carrier": "USPS", "pickup_id": "pickup_f25af674d7a34017aa82f3ff70109d17",
        "id": "pickuprate_0e68fc8b58ba4c48912adf4563bb560e", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ea629ef3e29a7b4ba81e23c05b54472"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - b0657e4162e2f0d8ff23eadf00360bd0
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 403f17ff97
      - intlb2wdc 403f17ff97
      - extlb3wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
version: 1
