interactions:
- request:
    body: '{"payment_log_id": "paylog_123"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/refunds
  response:
    body:
      string: '{"error": {"code": "TRANSACTION.DOES_NOT_EXIST", "message": "We could
        not find a transaction with that id.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 477e8d7f64626275e786c93f0019febb
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb3wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
