interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}, "options": {"label_format":
      "PNG", "invoice_number": "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-15T19:52:28Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account[...]
- request:
    body: '{"rate": {"id": "rate_ccb6df9318ee41cea574f06bc3db366d"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_51a3c4e20f394a308d398a9f76639c07/buy
  response:
    body:
      string: '{"created_at": "2024-08-15T19:52:28Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "shipment.cu[...]
- request:
    body: '{"amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_51a3c4e20f394a308d398a9f76639c07/insure
  response:
    body:
      string: '{"created_at": "2024-08-15T19:52:28Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.co[...]
- request:
    body: '{"type": "damage", "email_evidence_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "invoice_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "supporting_documentation_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "description": "Test description", "contact_email": "test@example.com", "tracking_code":
      "9400100105807075742343", "amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/claims
  response:
    body:
      string: '{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240815/cd4a4ca08f8c4fa1a57c1fbe6beb1879.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240815/ca160db21ac5455f9a865812e58b10d3.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240815/801e8c25392d4921a994888367961787.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "created_at":
        "2024-08-15T19:52:30", "description": "Test description", "history": [{"status":
        "submitted", "status_detail": "Claim was created.", "timestamp": "2024-08-15T19:52:30"}],
        "id": "clm_09817b6b616a41929c00e7e6d9dd559c", "insurance_amount": "100.00",
        "insurance_id": "ins_cc8aaf0d3a6540c9a008f4a5a1637ef8", "mode": "test", "object":
        "Claim", "payment_method": "easypost_wallet", "recipient_name": null, "requested_amount":
        "100.00", "salvage_value": null, "shipment_id": "shp_51a3c4e20f394a308d398a9f76639c07",
        "status": "submitted", "status_detail": "Claim was created.", "status_timestamp":
        "2024-08-15T19:52:30", "tracking_code": "9400100105807075742343", "type":
        "damage", "updated_at": "2024-08-15T19:52:30"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d666be5c7ee7885e290017061e
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
version: 1
