interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED

    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_4d00d099e4c7422398ec6a645c9d0314", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2022-05-10T23:40:58Z",
        "updated_at": "2022-05-10T23:40:58Z", "description": "UPS Account", "reference":
        null, "billing_type": "carrier", "readable": "UPS", "logo": null, "fields":
        {"credentials": {"account_number": {"visibility": "readonly", "label": "UPS
        Account Number", "value": "A1A1A1"}}}, "credentials": ["REDACTED"], "test_credentials":
        ["REDACTED"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"29a24ab380dd544ecffe8958e989479a"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f56ecb34627af80aefb5a3560022c52d
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts/ca_4d00d099e4c7422398ec6a645c9d0314
  response:
    body:
      string: '{"id": "ca_4d00d099e4c7422398ec6a645c9d0314", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2022-05-10T23:40:58Z",
        "updated_at": "2022-05-10T23:40:58Z", "description": "UPS Account", "reference":
        null, "billing_type": "carrier", "readable": "UPS", "logo": null, "fields":
        {"credentials": {"account_number": {"visibility": "readonly", "label": "UPS
        Account Number", "value": "A1A1A1"}}}, "credentials": ["REDACTED"], "test_credentials":
        ["REDACTED"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"29a24ab380dd544ecffe8958e989479a"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f56ecb34627af80aefb5a3560022c541
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - REDACTED

    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_4d00d099e4c7422398ec6a645c9d0314
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f56ecb34627af80aefb5a3560022c543
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 200
      message: OK
version: 1
