interactions:
- request:
    body: '{"ups_oauth_registrations": {"type": "UpsAccount", "account_number": "123456789"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/ups_oauth_registrations
  response:
    body:
      string: '{"id": "ca_032bd1041a5d4418b8378bcc2a738a45", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2024-07-09T17:02:56Z",
        "updated_at": "2024-07-09T17:02:56Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52ecff22668d6d40e2b7ddea00434ef1
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb4nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407091438-d7c6f02f06-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_032bd1041a5d4418b8378bcc2a738a45
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 52ecff22668d6d40e2b7ddea00434f1f
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb3nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407091438-d7c6f02f06-master
    status:
      code: 200
      message: OK
version: 1
