interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_0cbf8346e96b47b5b6f65e857fc0fb6e", "object": "EndShipper",
        "mode": "test", "created_at": "2022-10-05T19:55:12+00:00", "updated_at": "2022-10-05T19:55:12+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"119480e3e1c1679caee8716238932466"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 16580184633de120e2ba947a00093482
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202210051807-174cd29491-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-10-05T19:55:12Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-10-05T19:55:12Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_9f89db6844e711edad5eac1f6bc72124", "object": "Address", "created_at":
        "2022-10-05T19:55:12+00:00", "updated_at": "2022-10-05T19:55:12+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_549fea0c52b54f62b532c690d621b75d",
        "object": "Parcel", "created_at": "2022-10-05T19:55:12Z", "updated_at": "2022-10-05T19:55:12Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_60aa53a45372435db61eb439fe3a9380",
        "object": "Rate", "created_at": "2022-10-05T19:55:12Z", "updated_at": "2022-10-05T19:55:12Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "8.15",
        "currency": "USD", "retail_rate": "9.75", "retail_currency": "USD", "list_rate":
        "8.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_a5a4753e5b9d447f9838630e20fad795", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_4e1336fd7b09475796b90e6f2b414caf",
        "object": "Rate", "created_at": "2022-10-05T19:55:12Z", "updated_at": "2022-10-05T19:55:12Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.75",
        "currency": "USD", "retail_rate": "33.85", "retail_currency": "USD", "list_rate":
        "29.75", "list_currency": "USD", "billing_type": "easypost"[...]
- request:
    body: '{"rate": {"id": "rate_05b03fac51ab4eafb5cf2c4249aea6bd"}, "carbon_offset":
      false, "end_shipper_id": "es_0cbf8346e96b47b5b6f65e857fc0fb6e"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_a5a4753e5b9d447f9838630e20fad795/buy
  response:
    body:
      string: '{"created_at": "2022-10-05T19:55:12Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. [...]
