interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/refunds?page_size=5
  response:
    body:
      string: '{"refunds": [{"id": "rfnd_5b7291ff21f24a00ae36efaeae2487ba", "object":
        "Refund", "created_at": "2022-08-15T18:52:15Z", "updated_at": "2022-08-15T18:52:15Z",
        "tracking_code": "9400100109361133189489", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_704777a6b4664aea8b866a7df01066ed"},
        {"id": "rfnd_594e574079f5446c9aca582a3d56a845", "object": "Refund", "created_at":
        "2022-07-28T20:27:02Z", "updated_at": "2022-07-29T20:27:02Z", "tracking_code":
        "9400100109361130493923", "confirmation_number": null, "status": "rejected",
        "carrier": "USPS", "shipment_id": "shp_9db138dea626443699553906459b8925"},
        {"id": "rfnd_3338b57c825f4f518bf728452e6a5a4f", "object": "Refund", "created_at":
        "2022-07-28T19:56:20Z", "updated_at": "2022-07-29T19:56:20Z", "tracking_code":
        "9400100109361130483610", "confirmation_number": null, "status": "rejected",
        "carrier": "USPS", "shipment_id": "shp_d509905bab4e433780ffa09d8f6a0573"}],
        "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"748b8cbde9e32ca8d61cd4f24184be45"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af48062fa95dfe79a7a6300262d87
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/refunds/rfnd_5b7291ff21f24a00ae36efaeae2487ba
  response:
    body:
      string: '{"id": "rfnd_5b7291ff21f24a00ae36efaeae2487ba", "object": "Refund",
        "created_at": "2022-08-15T18:52:15Z", "updated_at": "2022-08-15T18:52:15Z",
        "tracking_code": "9400100109361133189489", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_704777a6b4664aea8b866a7df01066ed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d37e54f4ba79e4d85da59ce32e2900d1"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af48062fa95e0e79a7a6300262da1
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
