interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"error": {"code": "APIKEY.INACTIVE", "message": "This api key is no
        longer active. Please use a different api key or reactivate this key.", "errors":
        []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 26766bd164c40f06f3f8e38e00033351
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb2nuq d3d339cca1
      - intlb1wdc d3d339cca1
      - extlb4wdc 003ad9bca0
      x-version-label:
      - easypost-202307281702-336406b3a6-master
    status:
      code: 403
      message: Forbidden
version: 1
