interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-15T19:53:38Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105807075742886", "updated_at": "2024-08-15T19:53:39Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_108166455b4011efb6f1ac1f6bc53342", "object": "Address", "created_at":
        "2024-08-15T19:53:38+00:00", "updated_at": "2024-08-15T19:53:38+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_642d11e9fb434aa998e00ad920aff76b",
        "object": "Parcel", "created_at": "2024-08-15T19:53:38Z", "updated_at": "2024-08-15T19:53:38Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_49a1063a6a4d4e369e0c0010e8106f2f",
        "created_at": "2024-08-15T19:53:38Z", "updated_at": "2024-08-15T19:53:39Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2024-08-15T19:53:38Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240815/e86d824b1d760044a785ef93f8690c3a26.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_391276f050354b6fa00b8244b10cee20", "object":
        "Rate", "created_at": "2024-08-15T19:53:38Z", "updated_at": "2024-08-15T19:53:38Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "33.10",
        "currency": "USD", "retail_rate": "37.90", "retail_currency": "USD", "list_rate":
        "33.10", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_4b07ee8bc6714adfaddbc1d79cc72587", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_20891227b5fb432fa0ac80ac0bba6cb5",
        "object": "Rate", "created_at": "2024-08-15T19:53:38Z", "updated_at": "2024-08-15T19:53:38Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.90",
        "currency": "USD", "retail_rate": "9.80", "retail_currency": "USD", "list_rate":
        "8.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_4b07ee8bc6714adfaddbc1d79cc72587", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_3f0b282224c94e72bd212ef227f12169",
        "object": "Rate", "created_at": "2024-08-15T19:53:38Z", "updated_at": "2024-08-15T19:53:38Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_4b07ee8bc6714adfaddbc1d79cc72587", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_3f0b282224c94e72bd212ef227f12169", "object":
        "Rate", "created_at": "2024-08-15T19:53:39Z", "updated_at": "2024-08-15T19:53:39Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_4b07ee8bc6714adfaddbc1d79cc72587", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_e122e64adc3d4dbe8e17aaceed4c50f1",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100105807075742886",
        "status": "unknown", "status_detail": "unknown", "created_at": "2024-08-15T19:53:39Z",
        "updated_at": "2024-08-15T19:53:39Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_4b07ee8bc6714adfaddbc1d79cc72587", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrX2UxMjJlNjRhZGMzZDRkYmU4ZTE3YWFjZWVkNGM1MGYx"},
        "to_address": {"id": "adr_107f6add5b4011efa60b3cecef1b359e", "object": "Address",
        "created_at": "2024-08-15T19:53:38+00:00", "updated_at": "2024-08-15T19:53:38+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_108166455b4011efb6f1ac1f6bc53342",
        "object": "Address", "created_at": "2024-08-15T19:53:38+00:00", "updated_at":
        "2024-08-15T19:53:38+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_107f6add5b4011efa60b3cecef1b359e", "object": "Address", "created_at":
        "2024-08-15T19:53:38+00:00", "updated_at": "2024-08-15T19:53:38+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "5.93000", "charged": true,
        "refunded": false}], "id": "shp_4b07ee8bc6714adfaddbc1d79cc72587", "object":
        "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_4b07ee8bc6714adfaddbc1d79cc72587
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5da66be5cc2e7886202001749f7
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_4b07ee8bc6714adfaddbc1d79cc72587
  response:
    body:
      string: '{"created_at": "2024-08-15T19:53:38Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105807075742886", "upd[...]
- request:
    body: '{"refund": {"carrier": "USPS", "tracking_codes": ["9400100105807075742886"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/refunds
  response:
    body:
      string: '[{"id": "rfnd_7a4c4f72c04d4c508bc00da6fb5cdb06", "object": "Refund",
        "created_at": "2024-08-15T19:53:39Z", "updated_at": "2024-08-15T19:53:39Z",
        "tracking_code": "9400100105807075742886", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_4b07ee8bc6714adfaddbc1d79cc72587"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5da66be5cc3e788620200174af6
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
version: 1
