interactions:
- request:
    body: '{"address": {"street1": "invalid"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_ce9728675b3f11efb53aac1f6bc539aa", "object": "Address",
        "created_at": "2024-08-15T19:51:47+00:00", "updated_at": "2024-08-15T19:51:47+00:00",
        "name": null, "company": null, "street1": "invalid", "street2": null, "city":
        null, "state": null, "zip": null, "country": "US", "phone": "<REDACTED>",
        "email": "<REDACTED>", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_ce9728675b3f11efb53aac1f6bc539aa
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5c53e7885dc20016db18
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_ce9728675b3f11efb53aac1f6bc539aa/verify
  response:
    body:
      string: '{"error": {"code": "ADDRESS.VERIFY.FAILURE", "message": "Unable to
        verify address.", "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field": "address",
        "message": "Address not found", "suggestion": null}, {"code": "E.HOUSE_NUMBER.MISSING",
        "field": "street1", "message": "House number is missing", "suggestion": null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5c53e7885dc20016db34
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
