interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events?page_size=5
  response:
    body:
      string: '{"events": [{"description": "tracker.created", "id": "evt_ecc447ee5b3f11efb81703b24128e5c4",
        "user_id": "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2024-08-15T19:52:38.512Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.created", "id": "evt_e98543305b3f11ef8f0819412c30cbb6", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2024-08-15T19:52:33.066Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.created", "id": "evt_e64273965b3f11ef89a955639b5325b3", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2024-08-15T19:52:27.595Z", "mode": "test", "object": "Event"}, {"description":
        "batch.updated", "id": "evt_e1f88e1a5b3f11ef923f11dbabadcf44", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2024-08-15T19:52:20.400Z", "mode": "test", "object": "Event"}, {"description":
        "batch.updated", "id": "evt_e155647e5b3f11ef92ec2db9b1a3ed44", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2024-08-15T19:52:19.331Z", "mode": "test", "object": "Event"}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d966be5c8ae788615d001712dc
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events?before_id=evt_e155647e5b3f11ef92ec2db9b1a3ed44&page_size=5
  response:
    body:
      string: '{"events": [{"description": "batch.updated", "id": "evt_deed12ea5b3f11efbc51556efb4ede2a",
        "user_id": "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2024-08-15T19:52:15.292Z", "mode": "test", "object": "Event"}, {"descr[...]
