interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_e5813328c82f4dd184ffe9591787d11f", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2022-05-10T23:40:58Z",
        "updated_at": "2022-05-10T23:40:58Z", "description": "UPS Account", "reference":
        null, "billing_type": "carrier", "readable": "UPS", "logo": null, "fields":
        {"credentials": {"account_number": {"visibility": "readonly", "label": "UPS
        Account Number", "value": "A1A1A1"}}}, "credentials": ["REDACTED"], "test_credentials":
        ["REDACTED"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c91321c32bbc0c05b1b993448bd5f865"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f56ecb34627af80aefb5a3550022c513
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_e5813328c82f4dd184ffe9591787d11f
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f56ecb34627af80aefb5a3550022c518
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 200
      message: OK
version: 1
