interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-16T15:35:33Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100104262210322155", "updated_at": "2023-05-16T15:35:34Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_4c10c15ef3ff11edbb43ac1f6bc7bdc6", "object": "Address", "created_at":
        "2023-05-16T15:35:33+00:00", "updated_at": "2023-05-16T15:35:33+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_f90962fc4acd47b9b5008e7f08ba33fc",
        "object": "Parcel", "created_at": "2023-05-16T15:35:33Z", "updated_at": "2023-05-16T15:35:33Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_7b6c47a83d794f24b88d7a10b1fd332d",
        "created_at": "2023-05-16T15:35:34Z", "updated_at": "2023-05-16T15:35:34Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-05-16T15:35:34Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/ccc578993f1e4d41a2f46a2721a56982.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_2779ff61f3dc4f63a486b6d6f1a04c6a", "object":
        "Rate", "created_at": "2023-05-16T15:35:33Z", "updated_at": "2023-05-16T15:35:33Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_e75df861742345299c7c79743f8d40e8", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_8b1babb654e74212ad25c8fcffe8af62",
        "object": "Rate", "created_at": "2023-05-16T15:35:33Z", "updated_at": "2023-05-16T15:35:33Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "6.76",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delive[...]
- request:
    body: '{"scan_form": {"shipment": [{"id": "shp_e75df861742345299c7c79743f8d40e8"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id": "sf_3e24eda871db4cbf9af092c5399f5adc", "object": "ScanForm",
        "created_at": "2023-05-16T15:35:34Z", "updated_at": "2023-05-16T15:35:35Z",
        "tracking_codes": ["9400100104262210322155"], "address": {"id": "adr_4c10c15ef3ff11edbb43ac1f6bc7bdc6",
        "object": "Address", "created_at": "2023-05-16T15:35:33+00:00", "updated_at":
        "2023-05-16T15:35:33+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230516/2244428c081045f9b846b5a3cc89b2fd.pdf",
        "form_file_type": null, "batch_id": "batch_0897e22d382a43c4910829b48a77ed84",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7c25106a05eb57e5d4b3abdb3964699d"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - de846e066463a2c6e786b3db002511a2
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms/sf_3e24eda871db4cbf9af092c5399f5adc
  response:
    body:
      string: '{"id": "sf_3e24eda871db4cbf9af092c5399f5adc", "object": "ScanForm",
        "created_at": "2023-05-16T15:35:34Z", "updated_at": "2023-05-16T15:35:35Z",
        "tracking_codes": ["9400100104262210322155"], "address": {"id": "adr_4c10c15ef3ff11edbb43ac1f6bc7bdc6",
        "object": "A[...]
