interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms?page_size=5
  response:
    body:
      string: '{"scan_forms": [{"id": "sf_3c8406684c9941ea814522522c965d4e", "object":
        "ScanForm", "created_at": "2022-07-28T20:27:04Z", "updated_at": "2022-07-28T20:27:04Z",
        "tracking_codes": ["9400100109361130493930"], "address": {"id": "adr_a3c583d30eb311ed82eeac1f6bc72124",
        "object": "Address", "created_at": "2022-07-28T20:27:02+00:00", "updated_at":
        "2022-07-28T20:27:02+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
        "state": "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email":
        null, "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220728/1bae7b8a20284b50acf19e3b63326009.pdf",
        "form_file_type": null, "batch_id": "batch_130ddf76701a48a999bd16524daf0200",
        "confirmation": null}, {"id": "sf_cb7af190adb5462da22fb9e0f450cb07", "object":
        "ScanForm", "created_at": "2022-07-28T20:27:06Z", "updated_at": "2022-07-28T20:27:06Z",
        "tracking_codes": ["9400100109361130493954"], "address": {"id": "adr_a4f806ec0eb311ed8cbeac1f6bc7bdc6",
        "object": "Address", "created_at": "2022-07-28T20:27:04+00:00", "updated_at":
        "2022-07-28T20:27:04+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20",[...]
