interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id":"ca_fd232465a60746f2bf178a7ce82a030f","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-05-04T20:25:35Z","updated_at":"2022-05-04T20:25:35Z","description":"UPS
        Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"48a1c4ba415618243d5c5a8de4870dc7"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330ba6272e13fe786b85b00161b23
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts/ca_fd232465a60746f2bf178a7ce82a030f
  response:
    body:
      string: '{"id":"ca_fd232465a60746f2bf178a7ce82a030f","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-05-04T20:25:35Z","updated_at":"2022-05-04T20:25:35Z","description":"UPS
        Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"48a1c4ba415618243d5c5a8de4870dc7"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330ba6272e13fe786b85b00161b38
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_fd232465a60746f2bf178a7ce82a030f
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62b330ba6272e13fe786b85b00161b57
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
