interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "credentials": {"client_id":
      "123456", "client_secret": "123abc", "distribution_center": "USLAX1", "pickup_id":
      "123456"}, "test_credentials": {"client_id": "123456", "client_secret": "123abc",
      "distribution_center": "USLAX1", "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_87bee3e0196c488099c4011ebf285501", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2022-08-15T18:51:38Z",
        "updated_at": "2022-08-15T18:51:38Z", "description": "DHL eCommerce Solutions
        Account", "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce
        Solutions", "logo": null, "fields": {"credentials": {"client_id": {"visibility":
        "visible", "label": "DHL eCommerce Solutions client ID", "value": "123456"},
        "client_secret": {"visibility": "password", "label": "DHL eCommerce Solutions
        client secret", "value": "********"}, "pickup_id": {"visibility": "visible",
        "label": "DHL eCommerce Solutions pickup ID", "value": "123456"}, "distribution_center":
        {"visibility": "visible", "label": "DHL eCommerce Solutions distribution center",
        "value": "USLAX1"}}, "test_credentials": {"client_id": {"visibility": "visible",
        "label": "Test DHL eCommerce Solutions client ID", "value": "123456"}, "client_secret":
        {"visibility": "password", "label": "Test DHL eCommerce Solutions client secret",
        "value": "********"}, "pickup_id": {"visibility": "visible", "label": "Test
        DHL eCommerce Solutions pickup ID", "value": "123456"}, "distribution_center":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions distribution
        center", "value": "USLAX1"}}}, "credentials": "<REDACTED>", "test_credentials":
        "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dcb1d22d17916f7a9713839dbfa1db1e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47962fa95bae79a76ab0026201a
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_87bee3e0196c488099c4011ebf285501
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47962fa95bbe79a76ab00262031
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
