interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users/children
  response:
    body:
      string: '{"children": [{"id": "user_584be78af2f141e988b6c60dda9dd8fd", "object":
        "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test
        User2", "phone_number": "<REDACTED>", "verified": true, "created_at": "2023-12-11T17:13:38Z"},
        {"id": "user_437e724f37de412db6df8821968d8d3c", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User2", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2023-12-11T17:13:43Z"}, {"id":
        "user_2553102e90de43dea0b9fa7f8c8d7e33", "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2",
        "name": "Child Account Name22", "phone_number": "<REDACTED>", "verified":
        true, "created_at": "2024-01-04T19:56:21Z"}, {"id": "user_31754439d4524fbb8867d138de537e12",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Test User", "phone_number": "<REDACTED>", "verified": true, "created_at":
        "2024-01-19T21:42:21Z"}, {"id": "user_d26377e80676431d88c17d8b140d365a", "object":
        "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test
        User", "phone_number": "<REDACTED>", "verified": true, "created_at": "2024-01-19T21:44:18Z"}],
        "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 7265c3006917a058e786c0df01078abe
      x-node:
      - bigweb67nuq
      x-proxied:
      - intlb3nuq c0061e0a2e
      - extlb1nuq cbbd141214
      x-version-label:
      - easypost-202511141214-a539f53042-master
    status:
      code: 200
      message: OK
- request:
    body: '{"session_type": "account_onboarding", "user_id": "user_584be78af2f141e988b6c60dda9dd8fd",
      "refresh_url": "https://example.com/refresh", "return_url": "https://example.com/return"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customer_portal/account_link
  response:
    body:
      string: '{"link": "https://app.easypost.com/customer-portal/onboarding?session_id=nSsXPSJhZnqUzKUK",
        "object": "CustomerPortalAccountLink", "expires_at": "2025-11-14T21:39:16Z",
        "created_at": "2025-11-14T21:34:16Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 7265c2fb6917a058e786c0e001078b74
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb3nuq c0061e0a2e
      - extlb1nuq cbbd141214
      x-version-label:
      - easypost-202511141214-a539f53042-master
    status:
      code: 201
      message: Created
version: 1
