interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: POST
    uri: https://api.easypost.com/beta/referral_customers
  response:
    body:
      string: '{"id": "user_c21adae296d44e0d92bd3b3d4f93d12a", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "REDACTED", "verified": true, "created_at":
        "2022-05-10T20:53:02Z", "balance": "0.00000", "price_per_shipment": "0.00000",
        "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.0325", "default_insurance_amount":
        "50.00", "insurance_fee_rate": "0.005", "insurance_fee_minimum": "0.25", "email":
        "REDACTED", "children": ["REDACTED"], "api_keys": ["REDACTED"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2745f70aedc34e78db98ea72a0220b49"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f56ecb35627ad0aeefb58a5500168fb1
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 201
      message: Created
version: 1
