interactions:
- request:
    body: '{"customs_item": {"description": "Sweet shirts", "quantity": 2, "weight":
      11, "value": 23.25, "hs_tariff_number": "654321", "origin_country": "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_efce3e12f1884baaa4c7d79085b019c0", "object": "CustomsItem",
        "created_at": "2023-05-12T21:27:54Z", "updated_at": "2023-05-12T21:27:54Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d14afb975b9547d9fd4b30363555abc3"
      location:
      - /api/v2/customs_items/cstitem_efce3e12f1884baaa4c7d79085b019c0
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52975b54645eaf5ae2aac6c0000f8eee
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 201
      message: Created
version: 1
