interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:07Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133189458", "updated_at": "2022-08-15T18:52:08Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_5ca25ab51ccb11ed8367ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T18:52:07+00:00", "updated_at": "2022-08-15T18:52:07+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_a30f0553d89a4402a4209b8c4d823465",
        "object": "Parcel", "created_at": "2022-08-15T18:52:07Z", "updated_at": "2022-08-15T18:52:07Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_04c4989a41d1495aa754056daa59e145",
        "created_at": "2022-08-15T18:52:08Z", "updated_at": "2022-08-15T18:52:08Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T18:52:08Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/9d866887ccff4782871fa3c65827dd2c.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_5fe414638037487a937c0f3b7240839a", "object":
        "Rate", "created_at": "2022-08-15T18:52:07Z", "updated_at": "2022-08-15T18:52:07Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_95ca691abfd041bfa1d96356efe7ea9e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_e37de5225260497e80486a3bfa0c43a7",
        "object": "Rate", "created_at": "2022-08-15T18:52:07Z", "updated_at": "2022-08-15T18:52:07Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2022-08-17", "max_datetime": "2022-08-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_95ca691abfd041bfa1d96356efe7ea9e"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_e498b88f40424303b1d466621eb3509d", "object": "Pickup",
        "created_at": "2022-08-15T18:52:09Z", "updated_at": "2022-08-15T18:52:09Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-08-17T00:00:00Z",
        "max_datetime": "2022-08-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_5d6e5eea1ccb11ed83c4ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T18:52:08+00:00", "updated_at": "2022-08-15T18:52:08+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "carrier_accounts": [], "pickup_rates": [{"mode":
        "test", "service": "NextDay", "rate": "0.00", "currency": "USD", "created_at":
        "2022-08-15T18:52:09Z", "updated_at": "2022-08-15T18:52:09Z", "carrier": "USPS",
        "pickup_id": "pickup_e498b88f40424303b1d466621eb3509d", "id": "pickuprate_53c4ed5bdc284b40a240c7a55b55b86c",
        "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8a3f44618bc6cb83b1a490bc4a928d00"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95d8e79a7a4500262a2d
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
