interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/refunds?page_size=5
  response:
    body:
      string: '{"refunds": [{"id": "rfnd_344069531a64402a978520d06c1d79ce", "object":
        "Refund", "created_at": "2022-04-20T18:37:27Z", "updated_at": "2022-04-20T18:37:27Z",
        "tracking_code": "9400100109361115908985", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_1cfe34b5490d4ebe8466c228b1d225ed"},
        {"id": "rfnd_7bd8e6771b79441d82529edd07a92a3b", "object": "Refund", "created_at":
        "2022-04-19T21:21:29Z", "updated_at": "2022-04-19T21:21:29Z", "tracking_code":
        "9400100109361115774788", "confirmation_number": null, "status": "submitted",
        "carrier": "USPS", "shipment_id": "shp_929f545b7f314cb1bb046f6e7b096fc8"},
        {"id": "rfnd_b9735ef29af24afdbafa2967db5ac0e7", "object": "Refund", "created_at":
        "2022-04-04T18:09:48Z", "updated_at": "2022-04-05T18:09:48Z", "tracking_code":
        "9400100109361113616158", "confirmation_number": null, "status": "rejected",
        "carrier": "USPS", "shipment_id": "shp_d676c9923e8b49ea9fa64688b464c306"},
        {"id": "rfnd_c3fcd07056954828a16347e578c7335d", "object": "Refund", "created_at":
        "2022-04-04T18:09:08Z", "updated_at": "2022-04-05T18:09:08Z", "tracking_code":
        "9400100109361113616066", "confirmation_number": null, "status": "rejected",
        "carrier": "USPS", "shipment_id": "shp_452e88ad02c445a88c243e8fc4b917fb"},
        {"id": "rfnd_f03928b38e8c48608501b5d51e4e225e", "object": "Refund", "created_at":
        "2022-03-31T23:17:12Z", "updated_at": "2022-04-01T23:17:12Z", "tracking_code":
        "9400100109361113137271", "confirmation_number": null, "status": "rejected",
        "carrier": "USPS", "shipment_id": "shp_4ab5f72521134e718ff58aa80e61579a"}],
        "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"29bc7bfe781c906e5417bc4939998ce9"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4e6626052e8e7996a0400243589
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/refunds/rfnd_344069531a64402a978520d06c1d79ce
  response:
    body:
      string: '{"object": "Refund", "created_at": "2022-04-20T18:37:27Z", "updated_at":
        "2022-04-20T18:37:27Z", "tracking_code": "9400100109361115908985", "confirmation_number":
        null, "status": "submitted", "carrier": "USPS", "shipment_id": "shp_1cfe34b5490d4ebe8466c228b1d225ed"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d411f2ddbd3a6120155df6e02c1553f8"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4e6626052e8e7996a040024359a
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
