interactions:
- request:
    body: '{"address": {"street1": "invalid"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_42e81a9e3dd011edb512ac1f6bc72124", "object": "Address",
        "created_at": "2022-09-26T19:20:20+00:00", "updated_at": "2022-09-26T19:20:20+00:00",
        "name": null, "company": null, "street1": "invalid", "street2": null, "city":
        null, "state": null, "zip": null, "country": "US", "phone": "<REDACTED>",
        "email": "<REDACTED>", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c05d89565c2835188f116e785552c71f"
      location:
      - /api/v2/addresses/adr_42e81a9e3dd011edb512ac1f6bc72124
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 20a8e4aa6331fb74e788d941003a2c49
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209261717-03ecd81b73-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_42e81a9e3dd011edb512ac1f6bc72124/verify
  response:
    body:
      string: '{"error": {"code": "ADDRESS.VERIFY.FAILURE", "message": "Unable to
        verify address.", "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field": "address",
        "message": "Address not found", "suggestion": null}, {"code": "E.HOUSE_NUMBER.MISSING",
        "field": "street1", "message": "House number is missing", "suggestion": null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 20a8e4aa6331fb74e788d941003a2c55
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209261717-03ecd81b73-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
