interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/referral_customers?page_size=5
  response:
    body:
      string: '{"has_more": true, "referral_customers": [{"id": "user_634b6daa05744bfaa205058f06864363",
        "object": "User", "parent_id": null, "name": "Firstname Lastname", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2022-04-26T15:50:28Z", "default_carbon_offset":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        null, "secondary_recharge_amount": null, "recharge_threshold": null, "has_billing_method":
        null, "cc_fee_rate": "0.0325", "default_insurance_amount": "50.00", "insurance_fee_rate":
        "0.005", "insurance_fee_minimum": "0.25", "email": "<REDACTED>", "children":
        []}, {"id": "user_35cb81fb8af1454dabf1f6afa7330634", "object": "User", "parent_id":
        null, "name": "Firstname Lastname", "phone_number": "<REDACTED>", "verified":
        true, "created_at": "2022-04-27T20:20:52Z", "default_carbon_offset": false,
        "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        "100.00", "secondary_recharge_amount": "100.00", "recharge_threshold": "0.00",
        "has_billing_method": true, "cc_fee_rate": "0.0325", "defaul[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/referral_customers?before_id=user_488e391395f4416196a31965fecac409&page_size=5
  response:
    body:
      string: '{"has_more": false, "referral_customers": [{"id": "user_4a22730cdc844ce1bc2efbed999c869f",
        "object": "User", "parent_id": null, "name": "test test", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2022-04-29T19:35:33Z", "[...]
