interactions:
- request:
    body: '{"payment_method": {"stripe_customer_id": "cus_123", "payment_method_reference":
      "ba_123", "priority": "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/payment_method
  response:
    body:
      string: '{"error": {"code": "BILLING.INVALID_PAYMENT_GATEWAY_REFERENCE", "message":
        "Invalid Payment Gateway Reference.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 3d038b9d639a04c6e78982e500020a58
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb3wdc 29913d444b
      x-version-label:
      - easypost-202212132312-d72b368b58-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
