interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/metadata/carriers?carriers=usps&types=service_levels%2Cpredefined_packages
  response:
    body:
      string: '{"carriers": [{"human_readable": "USPS", "name": "usps", "predefined_packages":
        [{"carrier": "usps", "description": null, "dimensions": ["6in x 4.5in x 0.016in"],
        "human_readable": null, "max_weight": null, "name": "Card"}, {"carrier": "usps",
        "description": null, "dimensions": ["11.5in x 6.125in x 0.25in"], "human_readable":
        null, "max_weight": null, "name": "Letter"}, {"carrier": "usps", "description":
        null, "dimensions": [], "human_readable": null, "max_weight": null, "name":
        "Flat"}, {"carrier": "usps", "description": null, "dimensions": ["12.5in x
        9.5in"], "human_readable": null, "max_weight": null, "name": "FlatRateEnvelope"},
        {"carrier":[...]
