interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-05-04T20:26:00Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117768839","updated_at":"2022-05-04T20:26:01Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6951a811cbe811eca298ac1f6bc72124","object":"Address","created_at":"2022-05-04T20:26:00+00:00","updated_at":"2022-05-04T20:26:00+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_c363a8b0d36d41ffa59da05a519845ea","object":"Parcel","created_at":"2022-05-04T20:26:00Z","updated_at":"2022-05-04T20:26:00Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_2e38297ac4d044abbc13e62b9dc7f95b","created_at":"2022-05-04T20:26:00Z","updated_at":"2022-05-04T20:26:01Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-04T20:26:00Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220504/093c2153e2d8437b9b20c001712bf9fe.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_2905ed21cebe461ebc6f986c29f5304c","object":"Rate","created_at":"2022-05-04T20:26:00Z","updated_at":"2022-05-04T20:26:00Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f5288013455341fa8b320ac6ae2ba40f","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_65ab7653326b429491d9a7320e9b6d62","object":"Rate","created_at":"2022-05-04T20:26:00Z","updated_at":"2022-05-04T20:26:00Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_f5288013455341fa8b320ac6ae2ba40f","carrier_ac[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-05-06",
      "max_datetime": "2022-05-06", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_f5288013455341fa8b320ac6ae2ba40f"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id":"pickup_6affcfed56cf4947b38972a64c4292c9","object":"Pickup","created_at":"2022-05-04T20:26:01Z","updated_at":"2022-05-04T20:26:01Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-06T00:00:00Z","max_datetime":"2022-05-06T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_6a065ba1cbe811eca2b2ac1f6bc72124","object":"Address","created_at":"2022-05-04T20:26:01+00:00","updated_at":"2022-05-04T20:26:01+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-04T20:26:01Z","updated_at":"2022-05-04T20:26:01Z","carrier":"USPS","pickup_id":"pickup_6affcfed56cf4947b38972a64c4292c9","id":"pickuprate_b9e96c4b0ef748abbd62c5b1855dfcd9","object":"PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"930456a189be2c46628dfb39f7939635"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b96272e159e786b8a400162617
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
