interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "EasyPost Python Client Library Tests", "phone_number": "<REDACTED>",
        "verified": true, "created_at": "2017-03-01T03:01:34Z", "default_carbon_offset":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        "100.00", "secondary_recharge_amount": "100.00", "recharge_threshold": "0.00",
        "has_billing_method": false, "cc_fee_rate": "0.03", "default_insurance_amount":
        null, "insurance_fee_rate": "0.01", "insurance_fee_minimum": "1.00", "email":
        "<REDACTED>", "children": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9e7ae0ab30ea88df786ab67e713eedae"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3dff6283637e8471e787bfdf000e9db1
      x-node:
      - bigweb11nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202211231902-b75422a88e-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/api_keys
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "keys": [{"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "test", "created_at":
        "2022-02-24T20:59:05Z", "id": "ak_16f993eae7984eab94e0957a78bee407"}, {"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "production", "created_at":
        "2022-02-24T20:59:14Z", "id": "ak_62524a9c3f684f65ab9eccbf70950df8"}], "children":
        []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93631940720c42f55c0b598f97083e11"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 3dff6283637e8472e787bfdf000e9dc9
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202211231902-b75422a88e-master
    status:
      code: 200
      message: OK
version: 1
