interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:09Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-08-15T18:52:10Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_5df9fc951ccb11edbcb9ac1f6bc72124", "object": "Address", "created_at":
        "2022-08-15T18:52:09+00:00", "updated_at": "2022-08-15T18:52:09+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_c3b8cce9077b4b54af64504550f4e1dd", "object": "Parcel", "created_at":
        "2022-08-15T18:52:09Z", "updated_at": "2022-08-15T18:52:09Z", "length": 10.0,
        "width": 8.0, "height": 4.0, "predefined_package": null, "weight": 15.4, "mode":
        "test"}, "postage_label": null, "rates": [{"id": "rate_b5106583ffe346fb841c4358cbbecd5a",
        "object": "Rate", "created_at": "2022-08-15T18:52:10Z", "updated_at": "2022-08-15T18:52:10Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_ca534e4a1c8d43e1a0b2a12726ba9a20", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_c79c8c901a52462f9ec88db624ed5fb7",
        "object": "Rate", "created_at": "2022-08-15T18:52:10Z", "updated_at": "2022-08-15T18:52:10Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.75",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypos[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/rates/rate_b5106583ffe346fb841c4358cbbecd5a
  response:
    body:
      string: '{"id": "rate_b5106583ffe346fb841c4358cbbecd5a", "object": "Rate", "created_at":
        "2022-08-15T18:52:10Z", "updated_at": "2022-08-15T18:52:10Z", "mode": "test",
        "service": "Priority", "carrier": "USPS", "rate": "7.90", "currency": "USD",
        "retail_rate": "9.45", "retail_currency": "USD", "list_rate": "7.90", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 2, "shipment_id":
        "shp_ca534e4a1c8d43e1a0b2a12726ba9a20", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d3d547f09c3b4afd3c813bf17f6dd72f"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47c62fa95dae79a7a4600262aab
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
