interactions:
- request:
    body: '{"payment_log_id": "paylog_123"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/refunds
  response:
    body:
      string: '{"error": {"code": "TRANSACTION.DOES_NOT_EXIST", "message": "We could
        not find a transaction with that id.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52d122c2639a09fbe78a024400089cf0
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202212132312-d72b368b58-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
