interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses/create_and_verify
  response:
    body:
      string: '{"address": {"id": "adr_a5a2dae939f511eda2e6ac1f6b0a0d1e", "object":
        "Address", "created_at": "2022-09-21T21:37:52+00:00", "updated_at": "2022-09-21T21:37:52+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1c2cb7b110858af28c65c58c0a0f3fa7"
      location:
      - /api/v2/addresses/adr_a5a2dae939f511eda2e6ac1f6b0a0d1e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - d25912fc632b8430e2aac19600066f49
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209212025-b1bc460ca8-master
    status:
      code: 200
      message: OK
version: 1
