interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances?page_size=5
  response:
    body:
      string: '{"insurances": [{"id": "ins_11815503dde74592ab2efba19b0ee7ab", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_412a603f8e3911eea073ac1f6bc53342", "object": "Address", "created_at":
        "2023-11-28T21:58:25+00:00", "updated_at": "2023-11-28T21:58:25+00:00", "name":
        "ELIZABETH SWAN", "company": null, "street1": "179 N HARBOR DR", "street2":
        null, "city": "REDONDO BEACH", "state": "CA", "zip": "90277-2506", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [], "details": null},
        "delivery": {"success": true, "errors": [], "details": {"latitude": 33.8436,
        "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}}, "from_address":
        {"id": "adr_41300cdf8e3911eea079ac1f6bc53342", "object": "Address", "created_at":
        "2023-11-28T21:58:25+00:00", "updated_at": "2023-11-28T21:58:25+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "shipment_id": null, "tracker": {"id":
        "trk_245ad918d85e43bb924f6d3803d6a196", "object": "Tracker", "mode": "test",
        "tracking_code": "9400100105442285851814", "status": "error", "status_detail":
        null, "created_at": "2023-11-28T21:58:25Z", "updated_at": "2023-11-28T21:58:25Z",
        "signed_by": null, "weight": null, "est_delivery_date": null, "shipment_id":
        null, "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail",
        "message": "In test mode, only test tracking numbers are valid. Test tracking
        numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007", "description":
        "", "status": "error", "status_detail": null, "datetime": "2023-11-28T21:58:25Z",
        "source": "ProcessingError", "carrier_code": "", "tracking_location": {"object":
        "TrackingLocation", "city": null, "state": null, "country": null, "zip": null}}],
        "carrier_detail": null, "finalized": true, "is_return": false, "public_url":
        "https://track.easypost.com/djE6dHJrXzI0NWFkOTE4ZDg1ZTQzYmI5MjRmNmQzODAzZDZhMTk2",
        "fees": []}, "tracking_code": "9400100105442285851814", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2023-11-28T21:58:25Z", "updated_at":
        "2023-11-28T21:58:25Z"}, {"id": "ins_0ffcd38dd4a04b9d97eb5d6aad7a4533", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_4244261b8e3911ee9d51ac1f6bc539aa", "object": "Address", "created_at":
        "2023-11-28T21:58:27+00:00", "updated_at": "2023-11-28T21:58:27+00:00", "name":
        [...]
