interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups?page_size=5
  response:
    body:
      string: '{"pickups": [{"id": "pickup_9860cb6ae0bd4f149c53248ff9048351", "object":
        "Pickup", "created_at": "2023-11-28T22:00:12Z", "updated_at": "2023-11-28T22:00:12Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-12-17T00:00:00Z",
        "max_datetime": "2023-12-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_80c1cd288e3911eeb61a3cecef1b359e", "object": "Address", "created_at":
        "2023-11-28T22:00:11+00:00", "updated_at": "2023-11-28T22:00:11+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2023-11-28T22:00:12Z",
        "updated_at": "2023-11-28T22:00:12Z", "carrier": "USPS", "pickup_id": "pickup_9860cb6ae0bd4f149c53248ff9048351",
        "id": "pickuprate_d3971cc0f27b4af3a1b9ef31c419a1e8", "object": "PickupRate"}]},
        {"id": "pickup_d49471d988984148ae3138550e148a94", "object": "Pickup", "created_at":
        "2023-11-28T21:58:39Z", "updated_at": "2023-11-28T21:58:39Z", "mode": "test",
        "status": "unknown", "reference": null, "min_datetime": "2023-05-17T00:00:00Z",
        "max_datetime": "2023-05-17T00:00:00Z", "is_account_address": false, "instructions":
        "[...]
