interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-05-04T20:26:08Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117768877","updated_at":"2022-05-04T20:26:09Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6e86d70ecbe811eca3caac1f6bc72124","object":"Address","created_at":"2022-05-04T20:26:08+00:00","updated_at":"2022-05-04T20:26:08+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4a8ca385633c4aa0a0ce6915aab835e1","object":"Parcel","created_at":"2022-05-04T20:26:08Z","updated_at":"2022-05-04T20:26:08Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_ed01ea50999240fa9076cd26c2b85b86","created_at":"2022-05-04T20:26:09Z","updated_at":"2022-05-04T20:26:09Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-04T20:26:09Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220504/85fd19656d194ea48df6358b1309d96b.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_70e6cfa1ecbf4455a2f874cc0bd17f42","object":"Rate","created_at":"2022-05-04T20:26:09Z","updated_at":"2022-05-04T20:26:09Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_85d3d98102be4cd0a67c5004ac0360dc","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_c64b04653ff041caa1e4a8f2c76e5e25","object":"Rate","created_at":"2022-05-04T20:26:09Z","updated_at":"2022-05-04T20:26:09Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_85d3d98102be4cd0a67c5004ac0360dc","carrie[...]
- request:
    body: '{"shipment": [{"id": "shp_85d3d98102be4cd0a67c5004ac0360dc"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id":"sf_e2006b6ee77348c3b6178beefd6046df","object":"ScanForm","created_at":"2022-05-04T20:26:09Z","updated_at":"2022-05-04T20:26:10Z","tracking_codes":["9400100109361117768877"],"address":{"id":"adr_6e86d70ecbe811eca3caac1f6bc72124","object":"Address","created_at":"2022-05-04T20:26:08+00:00","updated_at":"2022-05-04T20:26:08+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"status":"created","message":null,"form_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220504/05451d70bcc8487b9811fd48f6637b21.pdf","form_file_type":null,"batch_id":"batch_bb2a2df31942405faface8f4ac4afbbf","confirmation":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"488b2169b2e91fe2a01164849a358d25"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b96272e161e786b8c600162a34
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/scan_forms/sf_e2006b6ee77348c3b6178beefd6046df
  response:
    body:
      string: '{"id":"sf_e2006b6ee77348c3b6178beefd6046df","object":"ScanForm","created_at":"2022-05-04T20:26:09Z","updated_at":"2022-05-04T20:26:10Z","tracking_codes":["9400100109361117768877"],"address":{"id":"adr_6e86d70ecbe811eca3caac1f6bc72124","obj[...]
