interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"id": "user_13a70eac666646e9ab5fff36960df91b", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2023-05-16T18:49:11Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        null, "secondary_recharge_amount": null, "recharge_threshold": null, "has_billing_method":
        null, "cc_fee_rate": "0.0375", "default_insurance_amount": "50.00", "insurance_fee_rate":
        "0.005", "insurance_fee_minimum": "0.25", "email": "<REDACTED>", "children":
        [], "api_keys": [{"object": "ApiKey", "key": "<REDACTED>", "mode": "test",
        "created_at": "2023-05-16T18:49:11Z", "active": true, "id": "ak_09a343d0a9ba41b0a8e09dc0a6c6a8ed"},
        {"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2023-05-16T18:49:11Z", "active": true, "id": "ak_c0ff406ccc5744f0a4f8564f89f5fa47"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"54a0a3bccd5f726faf0be4e902b030fa"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e06463d027e787d9a200340637
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161731-3a88337a74-master
    status:
      code: 201
      message: Created
version: 1
