interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-05-04T20:25:56Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117768815","updated_at":"2022-05-04T20:25:56Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_66dd3661cbe811eca1e5ac1f6bc72124","object":"Address","created_at":"2022-05-04T20:25:56+00:00","updated_at":"2022-05-04T20:25:56+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9b6e7c96135848ceaca9ddfd8e392903","object":"Parcel","created_at":"2022-05-04T20:25:56Z","updated_at":"2022-05-04T20:25:56Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_f07b264cb97d49c39d37736c1fe9072a","created_at":"2022-05-04T20:25:56Z","updated_at":"2022-05-04T20:25:56Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-04T20:25:56Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220504/2ba71f8f9c8043c29c7a628545e458de.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_02497804455d40819a23cde29d7ac42e","object":"Rate","created_at":"2022-05-04T20:25:56Z","updated_at":"2022-05-04T20:25:56Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_ec4cecb611444a7eb251247061ced771","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_3f4617c0bd7d48c0826429d909e98106","object":"Rate","created_at":"2022-05-04T20:25:56Z","updated_at":"2022-05-04T20:25:56Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_ec4cecb611444a7eb251247061ced771","carrier_ac[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-05-06",
      "max_datetime": "2022-05-06", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_ec4cecb611444a7eb251247061ced771"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id":"pickup_9416d45c41b648778fd9b438bff6a85a","object":"Pickup","created_at":"2022-05-04T20:25:57Z","updated_at":"2022-05-04T20:25:57Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-06T00:00:00Z","max_datetime":"2022-05-06T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_677249f3cbe811ec9289ac1f6b0a0d1e","object":"Address","created_at":"2022-05-04T20:25:57+00:00","updated_at":"2022-05-04T20:25:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-04T20:25:57Z","updated_at":"2022-05-04T20:25:57Z","carrier":"USPS","pickup_id":"pickup_9416d45c41b648778fd9b438bff6a85a","id":"pickuprate_9fc2ad19a18d4dde878240f0a0401894","object":"PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0e2022e8d18ee23d8227cfa0b3382e4b"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330be6272e154e786b8a300162446
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_9416d45c41b648778fd9b438bff6a85a/buy
  response:
    body:
      string: '{"id":"pickup_9416d45c41b648778fd9b438bff6a85a","object":"Pickup","created_at":"2022-05-04T20:25:57Z","updated_at":"2022-05-04T20:25:58Z","mode":"tes[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_9416d45c41b648778fd9b438bff6a85a/cancel
  response:
    body:
      string: '{"id":"pickup_9416d45c41b648778fd9b438bff6a85a","object":"Pickup","created_at":"2022-05-04T20:25:57Z","updated_at":"2022-05-04T20:25:59Z","mode":"test","status":"canceled","reference":n[...]
