interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_78e6a91af0fb11ed8048ac1f6bc72124", "object": "Address",
        "created_at": "2023-05-12T19:30:37+00:00", "updated_at": "2023-05-12T19:30:37+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"73a77bd69e7f84c0bc1d235ca7bed363"
      location:
      - /api/v2/addresses/adr_78e6a91af0fb11ed8048ac1f6bc72124
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fe8d870b645e93dde2cc315f0005fca8
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_78e6a91af0fb11ed8048ac1f6bc72124
  response:
    body:
      string: '{"id": "adr_78e6a91af0fb11ed8048ac1f6bc72124", "object": "Address",
        "created_at": "2023-05-12T19:30:37+00:00", "updated_at": "2023-05-12T19:30:37+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"73a77bd69e7f84c0bc1d235ca7bed363"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fe8d870b645e93dde2cc315f0005fcbd
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
version: 1
