interactions:
- request:
    body: '{"order": {"from_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "to_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "shipments": [{"from_address": {"name": "Jack Sparrow",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "to_address": {"name": "Elizabeth Swan", "street1":
      "179 N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}, "parcel": {"length":
      10, "width": 8, "height": 4, "weight": 15.4}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode": "test", "reference": null, "is_return": false, "options":
        {"currency": "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier":
        "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476", "type":
        "rate_error", "message": "Unauthorized. Please check credentials and try again"}],
        "created_at": "2022-08-15T18:51:48Z", "updated_at": "2022-08-15T18:51:49Z",
        "customs_info": null, "from_address": {"id": "adr_51578c6a1ccb11ed825bac1f6bc7b362",
        "object": "Address", "created_at": "2022-08-15T18:51:48+00:00", "updated_at":
        "2022-08-15T18:51:48+00:00", "name": "Jack Sparrow", "company": null, "street1":
        "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state":
        "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email": "test@example.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "to_address": {"id": "adr_515635a11ccb11ed9f5cac1f6bc7bdc6",
        "object": "Address", "created_at": "2022-08-15T18:51:48+00:00", "updated_at":
        "2022-08-15T18:51:48+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "5555555555", "email": "test@example.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_515635a11ccb11ed9f5cac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-08-15T18:51:48+00:00", "updated_at": "2022-08-15T18:51:48+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "return_address": {"id": "adr_51578c6a1ccb11ed825bac1f6bc7b362", "object":
        "Address", "created_at": "2022-08-15T18:51:48+00:00", "updated_at": "2022-08-15T18:51:48+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "shipments": [{"created_at": "2022-08-15T18:51:48Z",
        "is_return": false, "messages": [{"carrier": "DhlEcs", "carrier_account_id":
        "ca_c3cbbd21bc97400bbbaed6d030909476", "type": "rate_error", "message": "Unauthorized.
        Please check credentials and try again"}], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2022-08-15T18:51:48Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_51578c6a1ccb11ed825bac1f6bc7b362", "object":
        "Address", "created_at": "2022-08-15T18:51:48+00:00", "updated_at": "2022-08-15T18:51:48+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": "order_85f20190dca64d208a95b47995e3b3b7",
        "parcel": {"id": "prcl_4b8e847478ab4748b8c0a3ec9af07f4d", "object": "Parcel",
        "created_at": "2022-08-15T18:51:48Z", "updated_at": "2022-08-15T18:51:48Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_f44f7e8046524e3f92d725f3c991aa62",
        "object": "Rate", "created_at": "2022-08-15T18:51:49Z", "updated_at": "2022-08-15T18:51:49Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.50",
        "currency": "USD", "retail_rate": "33.55", "retail_currency": "USD", "list_rate":
        "29.50", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_c5c164bc1782422cb45f199f6c2360d1", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_367d72885c3d4bbaaa0772a68cb8a471",
        "object": "Rate", "created_at": "2022-08-15T18:51:49Z", "updated_at": "2022-08-15T18:51:49Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.75",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypos[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/orders/order_85f20190dca64d208a95b47995e3b3b7/rates
  response:
    body:
      string: '{"mode": "test", "reference": null, "is_return": false, "options":
        {"currency": "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier":
        "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476", "type":
        "rate_error", "message": "Unauth[...]
