interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_d188b93cfac311efbc54ac1f6bc539aa", "object": "Address",
        "created_at": "2025-03-06T19:47:21+00:00", "updated_at": "2025-03-06T19:47:21+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_d188b93cfac311efbc54ac1f6bc539aa
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4a484c1067c9fbc9e2b9771500188cc6
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_d188b93cfac311efbc54ac1f6bc539aa/verify
  response:
    body:
      string: '{"address": {"id": "adr_d1989bbffac311efbc56ac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-06T19:47:21+00:00", "updated_at": "2025-03-06T19:47:21+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_d1989bbffac311efbc56ac1f6bc539aa
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4a484c1067c9fbc9e2b9771500188ce2
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
