interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-04-26T17:15:43Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361116713366","updated_at":"2022-04-26T17:15:44Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_81223095c58411ecb510ac1f6bc7bdc6","object":"Address","created_at":"2022-04-26T17:15:43+00:00","updated_at":"2022-04-26T17:15:43+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_559a6c461ed346bfbc27022fce21b430","object":"Parcel","created_at":"2022-04-26T17:15:43Z","updated_at":"2022-04-26T17:15:43Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_fd99864fd9c9464eba4226cfe2b29cc5","created_at":"2022-04-26T17:15:44Z","updated_at":"2022-04-26T17:15:44Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-26T17:15:44Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220426/b0511b1264a74bd2847700fcdcafe032.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_899c2e0ad443444e8e24b27c58b5d4a7","object":"Rate","created_at":"2022-04-26T17:15:43Z","updated_at":"2022-04-26T17:15:43Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8146653a7f76451795e16e3276e853a4","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_7ad4e7b6b1544d7ab9b977cf94cd813c","object":"Rate","created_at":"2022-04-26T17:15:43Z","updated_at":"2022-04-26T17:15:43Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_8146653a7f76451795e16e3276e853a4","carrier_ac[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-04-27",
      "max_datetime": "2022-04-27", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_8146653a7f76451795e16e3276e853a4"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id":"pickup_500fd7e639b44b9289bf8960f45f6828","object":"Pickup","created_at":"2022-04-26T17:15:45Z","updated_at":"2022-04-26T17:15:45Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-27T00:00:00Z","max_datetime":"2022-04-27T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_82007e9ac58411ecb9a2ac1f6b0a0d1e","object":"Address","created_at":"2022-04-26T17:15:44+00:00","updated_at":"2022-04-26T17:15:44+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-26T17:15:45Z","updated_at":"2022-04-26T17:15:45Z","carrier":"USPS","pickup_id":"pickup_500fd7e639b44b9289bf8960f45f6828","id":"pickuprate_637cac11bb6949e5b5b874e73b079ef0","object":"PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6a219f69d6a1bc66eaa1057f8648a2fd"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 19bdb4ba626828c0e786b8a5001a647f
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204251804-93ddab36b5-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_500fd7e639b44b9289bf8960f45f6828/buy
  response:
    body:
      string: '{"id":"pickup_500fd7e639b44b9289bf8960f45f6828","object":"Pickup","created_at":"2022-04-26T17:15:45Z","updated_at":"2022-04-26T17:15:47Z","mode":"tes[...]
