interactions:
- request:
    body: '{"shipment": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"error": {"code": "PARAMETER.REQUIRED", "message": "Missing required
        parameter.", "errors": [{"field": "shipment", "message": "cannot be blank"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbf6e2b97acf00187e62
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
