interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:51:28Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133189212", "updated_at": "2022-08-15T18:51:29Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_456630a01ccb11edb278ac1f6bc72124", "object": "Address", "created_at":
        "2022-08-15T18:51:28+00:00", "updated_at": "2022-08-15T18:51:28+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_c9d0e6538ff148cf82dc26b0d6a28147",
        "object": "Parcel", "created_at": "2022-08-15T18:51:28Z", "updated_at": "2022-08-15T18:51:28Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_4ad0c2d9d97c462f81b68ef45cbb8e8c",
        "created_at": "2022-08-15T18:51:29Z", "updated_at": "2022-08-15T18:51:29Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T18:51:29Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/4c99eeffe38145989395b2d996702efe.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_1020e06c7986463ab2f140a64802e3c3", "object":
        "Rate", "created_at": "2022-08-15T18:51:28Z", "updated_at": "2022-08-15T18:51:28Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.75",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "shipment_id": "shp_3983eb8d7b1045b092a4a1357ea01fab", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_8586c604253d41afbfd990da8e5e48e2",
        "object": "Rate", "created_at": "2022-08-15T18:51:28Z", "updated_at": "2022-08-15T18:51:28Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date[...]
- request:
    body: '{"batch": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_bb8b244182614b068f8ebbe4dbd7ddaa", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 0, "reference": null,
        "created_at": "2022-08-15T18:51:29Z", "updated_at": "2022-08-15T18:51:29Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"550406c4679d4b4743af9b8b0c7f8507"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95b1e79a76a500261d0a
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_3983eb8d7b1045b092a4a1357ea01fab"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_bb8b244182614b068f8ebbe4dbd7ddaa/add_shipments
  response:
    body:
      string: '{"id": "batch_bb8b244182614b068f8ebbe4dbd7ddaa", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2022-08-15T18:51:29Z", "updated_at": "2022-08-15T18:51:29Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9400100109361133189212", "id":
        "shp_3983eb8d7b1045b092a4a1357ea01fab"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e42f4333a779d7b6b3f9a86410fe6e6e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95b2e79a76a500261d1e
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_3983eb8d7b1045b092a4a1357ea01fab"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_bb8b244182614b068f8ebbe4dbd7ddaa/remove_shipments
  response:
    body:
      string: '{"id": "batch_bb8b244182614b068f8ebbe4dbd7ddaa", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 0, "reference": null,
        "created_at": "2022-08-15T18:51:29Z", "updated_at": "2022-08-15T18:51:30Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"11515f9e151877e3891efbd60cf99237"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95b2e79a76a500261d32
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
