interactions:
- request:
    body: '{"credit_card": {"payment_method_id": "pm_0Pn6bQDqT4huGUvd0CjpRerH", "priority":
      "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/credit_cards
  response:
    body:
      string: '{"error": {"code": "CREDIT_CARD.NOT_FOUND", "message": "Stripe::PaymentMethod
        does not exist for the specified reference_id", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 327fc0ad677d76bee2b7da9200097934
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202501062233-3c9302ef23-master
    status:
      code: 404
      message: Not Found
version: 1
