interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_215447c15b4011ef9e7aac1f6bc539aa", "object": "Address",
        "created_at": "2024-08-15T19:54:06+00:00", "updated_at": "2024-08-15T19:54:06+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_215447c15b4011ef9e7aac1f6bc539aa
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5d866be5cdee788624a001765bf
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_d79b6967ad3d4329a0321ad32b856733", "object": "Parcel",
        "created_at": "2024-08-15T19:54:06Z", "updated_at": "2024-08-15T19:54:06Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_d79b6967ad3d4329a0321ad32b856733
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d866be5cdee788624a0017660b
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"from_address": {"id": "adr_215447c15b4011ef9e7aac1f6bc539aa"},
      "to_address": {"id": "adr_2165ada15b4011efaca83cecef1b359e"}, "parcel": {"id":
      "prcl_d79b6967ad3d4329a0321ad32b856733"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-15T19:54:07Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_2b156a7d1fdb444c96fd53ecc409a6fa",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_bee3d0b00e4844f0bafe77518fecef83", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_725c14e27c1544a6af0c90d4208f70d3", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "UPS", "carrier_account_id":
        "ca_4f4f19e3b533485296d62721584e096d", "type": "rate_error", "mes[...]
