interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=5
  response:
    body:
      string: '{"batches": [{"id": "batch_9625876b0898464d836e558515b16740", "object":
        "Batch", "mode": "test", "state": "created", "num_shipments": 1, "reference":
        null, "created_at": "2024-08-15T19:51:50Z", "updated_at": "2024-08-15T19:51:50Z",
        "scan_form": null, "shipments": [{"batch_status": "created", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_91ac92eaf06f41b4b2132204da2eb503"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}, {"id":
        "batch_32691a0c325b45238d1db58966e2278d", "object": "Batch", "mode": "test",
        "state": "created", "num_shipments": 1, "reference": null, "created_at": "2024-08-15T19:51:50Z",
        "updated_at": "2024-08-15T19:51:50Z", "scan_form": null, "shipments": [{"batch_status":
        "created", "batch_message": null, "reference": null, "tracking_code": null,
        "id": "shp_2b8babfdb1db4aa0b1a317b07dc7a75b"}], "status": {"created": 1, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}], "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d966be5c56e7885dc80016de68
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
