interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T19:03:26Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-08-15T19:03:26Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_f12c87571ccc11ed8f6bac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-08-15T19:03:26+00:00", "updated_at": "2022-08-15T19:03:26+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_c1e246a571c841ae83dae0e327430f58", "object": "Parcel", "created_at":
        "2022-08-15T19:03:26Z", "updated_at": "2022-08-15T19:03:26Z", "length": 10.0,
        "width": 8.0, "height": 4.0, "predefined_package": null, "weight": 15.4, "mode":
        "test"}, "postage_label": null, "rates": [{"id": "rate_2eac86aff1f54c2bae86f07adb238bfe",
        "object": "Rate", "created_at": "2022-08-15T19:03:26Z", "updated_at": "2022-08-15T19:03:26Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.50",
        "currency": "USD", "retail_rate": "33.55", "retail_currency": "USD", "list_rate":
        "29.50", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_80cabf34456b4ee4b09453cae4daece6", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_dfe011ac17e34ccca890d8ca20507bea",
        "object": "Rate", "created_at": "2022-08-15T19:03:26Z", "updated_at": "2022-08-15T19:03:26Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", [...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_80cabf34456b4ee4b09453cae4daece6/smartrate
  response:
    body:
      string: '{"result": [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2022-08-15T19:03:26Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": null, "est_delivery_days":
        null, "id": "rate_2eac86aff1f54c2bae86f07adb238bfe", "list_currency": "USD",
        "list_rate": 29.5, "mode": "test", "object": "Rate", "rate": 29.5, "retail_currency":
        "USD", "retail_rate": 33.55, "service": "Express", "shipment_id": "shp_80cabf34456b4ee4b09453cae4daece6",
        "time_in_transit": {"percentile_50": 1, "percentile_75": 2, "percentile_85":
        2, "percentile_90": 2, "percentile_95": 3, "percentile_97": 3, "percentile_99":
        4}, "updated_at": "2022-08-15T19:03:26Z"}, {"carrier": "USPS", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at": "2022-08-15T19:03:26Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": 2, "est_delivery_days": 2, "id": "rate_dfe011ac17e34ccca890d8ca20507bea",
        "list_currency": "USD", "list_rate": 7.9, "mode": "test", "object": "Rate",
        "rate": 7.9, "retail_currency": "USD", "retai[...]
[...]
