interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-27T22:38:43Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-07-27T22:38:43Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_de63ae580dfc11eda35fac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-07-27T22:38:43+00:00", "updated_at": "2022-07-27T22:38:43+00:00", "name":
        "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_22ce7510d35744c5a2859d246e6c65fb", "object": "Parcel", "created_at":
        "2022-07-27T22:38:43Z", "updated_at": "2022-07-27T22:38:43Z", "length": 20.2,
        "width": 10.9, "height": 5.0, "predefined_package": null, "weight": 65.9,
        "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_576371e5f0f24e44ab75e6f79a41f203",
        "object": "Rate", "created_at": "2022-07-27T22:38:43Z", "updated_at": "2022-07-27T22:38:43Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "8.91",
        "currency": "USD", "retail_rate": "8.91", "retail_currency": "USD", "list_rate":
        "8.91", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "shipment_id": "shp_2ab2216e186440cb92296cd17e2c7eea", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_23f9ab55dd7644898eb86ca7d1585651",
        "object": "Rate", "created_at": "2022-07-27T22:38:43Z", "updated_at": "2022-07-27T22:38:43Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "9.82",
        "currency": "USD", "retail_rate": "13.15", "retail_currency": "USD", "list_rate":
        "9.82", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_2ab2216e186440cb92296cd17e2c7eea", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_a40a9ab2e6864b6f8cc36db9f7607439",
        "object": "Rate", "created_at": "2022-07-27T22:38:43Z", "updated_at": "2022-07-27T22:38:43Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "44.30",
        "currency": "USD", "retail_rate": "51.00", "retail_currency": "USD", "list_rate":
        "44.30", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_2ab2216e186440cb92296cd17e2c7eea", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_de61f13a0dfc11eda5d4ac1f6bc7b362",
        "object": "Address", "created_at": "2022-07-27T22:38:43+00:00", "updated_at":
        "2022-07-27T22:38:43+00:00", "name": "Dr. Steve Brule", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_de63ae580dfc11eda35fac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-07-27T22:38:43+00:00", "updated_at": "2022-07-27T22:38:43+00:00", "name":
        "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "buyer_address": {"id": "adr_de61f13a0dfc11eda5d4ac1f6bc7b362",
        "object": "Address", "created_at": "2022-07-27T22:38:43+00:00", "updated_at":
        "2022-07-27T22:38:43+00:00", "name": "Dr. Steve Brule", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "forms": [], "fees": [],
        "id": "shp_2ab2216e186440cb92296cd17e2c7eea", "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5cbfca5d5c523d62a0f0cb5e8a0276ab"
      location:
      - /api/v2/shipments/shp_2ab2216e186440cb92296cd17e2c7eea
      x-backend:
      - easypost
      x-ep-request-uuid:
      - a5c9601362e1be73ff22b9c0000ae439
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - intlb1wdc 403f17ff97
      - extlb4wdc 403f17ff97
      x-version-label:
      - easypost-202207272153-717cb56530-master
    status:
      code: 201
      message: Created
- request:
    body: '{"rate": {"id": "rate_576371e5f0f24e44ab75e6f79a41f203"}, "carbon_offset":
      true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_2ab2216e186440cb92296cd17e2c7eea/buy
  response:
    body:
      string: '{"created_at": "2022-07-27T22:38:43Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
[...]
