interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-29T21:54:51Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_0b351eb47cac405dadaf54c659c0a0eb",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_ba94eaaacddb4bf2b135953b3067e817", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_34d97dc9d5df46e48c088455935bc518", "type": "rate_error",
        "message": "Invalid Access License number"}], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2022-07-29T21:54:51Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_126d749e0f8911edac64ac1f6bc7b362", "object":
        "Address", "created_at": "2022-07-29T21:54:51+00:00", "updated_at": "2022-07-29T21:54:51+00:00",
        "name": "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_9cc9c4c829784a50b9fcbdf30038f479", "object": "Parcel", "created_at":
        "2022-07-29T21:54:51Z", "updated_at": "2022-07-29T21:54:51Z", "length": 20.2,
        "width": 10.9, "height": 5.0, "predefined_package": null, "weight": 65.9,
        "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_6db905bb7a6447d99eaac0dee74ac9b4",
        "object": "Rate", "created_at": "2022-07-29T21:54:51Z", "updated_at": "2022-07-29T21:54:51Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "44.30",
        "currency": "USD", "retail_rate": "51.00", "retail_currency": "USD", "list_rate":
        "44.30", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_a4e051d971eb4fa69524b02f67a26e8a", "carrier_account_id":
        "ca_7642d249fdcf47bcb5da9ea34c96dfcf"}, {"id": "rate_c646c55160ba4508aaf7df5a38da5f9d",
        "object": "Rate", "created_at": "2022-07-29T21:54:51Z", "updated_at": "2022-07-29T21:54:51Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "9.82",
        "currency": "USD", "retail_rate": "13.15", "retail_currency": "USD", "list_rate":
        "9.82", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_a4e051d971eb4fa69524b02f67a26e8a", "carrier_account_id":
        "ca_7642d249fdcf47bcb5da9ea34c96dfcf"}, {"id": "rate_c7024553718e453cafb325daffac9026",
        "object": "Rate", "created_at": "2022-07-29T21:54:51Z", "updated_at": "2022-07-29T21:54:51Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "8.91",
        "currency": "USD", "retail_rate": "8.91", "retail_currency": "USD", "list_rate":
        "8.91", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "shipment_id": "shp_a4e051d971eb4fa69524b02f67a26e8a", "carrier_account_id":
        "ca_7642d249fdcf47bcb5da9ea34c96dfcf"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_126b90600f8911eda21bac1f6b0a0d1e",
        "object": "Address", "created_at": "2022-07-29T21:54:51+00:00", "updated_at":
        "2022-07-29T21:54:51+00:00", "name": "Dr. Steve Brule", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_126d749e0f8911edac64ac1f6bc7b362", "object": "Address", "created_at":
        "2022-07-29T21:54:51+00:00", "updated_at": "2022-07-29T21:54:51+00:00", "name":
        "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "buyer_address": {"id": "adr_126b90600f8911eda21bac1f6b0a0d1e",
        "object": "Address", "created_at": "2022-07-29T21:54:51+00:00", "updated_at":
        "2022-07-29T21:54:51+00:00", "name": "Dr. Steve Brule", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "forms": [], "fees": [],
        "id": "shp_a4e051d971eb4fa69524b02f67a26e8a", "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fc5b70f6db7b8e3b05be0f013d0e9717"
      location:
      - /api/v2/shipments/shp_a4e051d971eb4fa69524b02f67a26e8a
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 1dc2029c62e4572bec3e46d500035c75
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq 403f17ff97
      - intlb2wdc 403f17ff97
      - extlb3wdc 403f17ff97
      x-version-label:
      - easypost-202207291722-ecd5579616-master
    status:
      code: 201
      message: Created
- request:
    body: '{"rate": {"id": "rate_c7024553718e453cafb325daffac9026"}, "carbon_offset":
      true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_a4e051d971eb4fa69524b02f67a26e8a/buy
  response:
    body:
      string: '{"created_at": "2022-07-29T21:54:51Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_0b351eb47cac405dadaf54c65[...]
