interactions:
- request:
    body: '{"type": "shipment", "start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id":"shprep_9f895fcc43b3431e8a95a3e0e0502829","object":"ShipmentReport","created_at":"2022-05-04T20:26:47Z","updated_at":"2022-05-04T20:26:47Z","start_date":"2022-05-04","end_date":"2022-05-04","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c67d48e9dac7940edc34feedb79c6c6a"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 78245fbb6272e187e786bc3a0013b68e
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
version: 1
