interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers?page_size=5
  response:
    body:
      string: '{"end_shippers": [{"id": "es_4c9d0f5f99374536908eb4949f909e1e", "object":
        "EndShipper", "mode": "test", "created_at": "2022-10-05T19:50:55+00:00", "updated_at":
        "2022-10-05T19:50:55+00:00", "name": "JACK SPARROW", "company": null, "street1":
        "388 TOWNSEND ST APT 20", "street2": null, "city": "SAN FRANCISCO", "state":
        "CA", "zip": "94107-1670", "country": "US", "phone": "<REDACTED>", "email":
        "<REDACTED>"}, {"id": "es_7aa5429f1c16490bacb6bd8dfd77f42e", "object": "EndShipper",
        "mode": "test", "created_at": "2022-10-05T19:50:55+00:00", "updated_at": "2022-10-05T19:50:55+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}, {"id": "es_6c4fa53ceec743b697b86598e0d16c4f",
      [...]
