interactions:
- request:
    body: '{"customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_infos
  response:
    body:
      string: '{"id": "cstinfo_8af50d7ac9274d88bb7056a198dd6d7f", "object": "CustomsInfo",
        "created_at": "2023-05-12T21:27:53Z", "updated_at": "2023-05-12T21:27:53Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_eb8b3ea1a7014262a050cf6cd09e0755",
        "object": "CustomsItem", "created_at": "2023-05-12T21:27:53Z", "updated_at":
        "2023-05-12T21:27:53Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.25", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8f1a1b8b56fd5ba3f20a1980b84f3e06"
      location:
      - /api/v2/customs_infos/cstinfo_8af50d7ac9274d88bb7056a198dd6d7f
      x-backend:
      - easypost
      x-ep-request-uuid:
      - cdb1f66a645eaf59e2aac6be00020c73
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb3wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 201
      message: Created
version: 1
