interactions:
- request:
    body: '{"from_zip": "94107", "to_zip": "90277", "planned_ship_date": "2024-08-15",
      "carriers": ["USPS"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/smartrate/deliver_by
  response:
    body:
      string: '{"carriers_without_tint_estimates": null, "from_zip": "94107", "planned_ship_date":
        "2024-08-15", "results": [{"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 1, "percentile_75": 2, "percentile_85":
        4, "percentile_90": 4, "percentile_95": 4, "percentile_97": 5, "percentile_99":
        6}, "easypost_estimated_delivery_date": "2024-08-16"}, "service": "express"},
        {"carrier": "USPS", "easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        4, "percentile_75": 4, "percentile_85": 4, "percentile_90": 4, "percentile_95":
        5, "percentile_97": 6, "percentile_99": 8}, "easypost_estimated_delivery_date":
        "2024-08-19"}, "service": "groundadvantage"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 4, "percentile_75": 4, "percentile_85":
        4, "percentile_90": 4, "percentile_95": 5, "percentile_97": 6, "percentile_99":
        8}, "easypost_estimated_delivery_date": "2024-08-19"}, "service": "librarymail"},
        {"carrier": "USPS", "easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        4, "percentile_75": 4, "percentile_85": 4, "percentile_90": 4, "percentile_95":
        5, "percentile_97": 6, "percentile_99": 8}, "easypost_estimated_delivery_date":
        "2024-08-19"}, "service": "mediamail"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 4, "percentile_75": 4, "percentile_85":
        4, "percentile_90": 4, "percentile_95": 5, "percentile_97": 6, "percentile_99":
        8}, "easypost_estimated_delivery_date": "2024-08-19"}, "service": "priority"}],
        "saturday_delivery": null, "to_zip": "90277"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5d966be5ceae788626a00177147
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
