interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-15T19:53:44Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105807075742923", "updated_at": "2024-08-15T19:53:45Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_1459438b5b4011ef995bac1f6bc539aa", "object": "Address", "created_at":
        "2024-08-15T19:53:44+00:00", "updated_at": "2024-08-15T19:53:44+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_d42002a5124a43348d65dc076d28bd8f",
        "object": "Parcel", "created_at": "2024-08-15T19:53:44Z", "updated_at": "2024-08-15T19:53:44Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_90dbc71ee37c4527a43004bcc4f854c0",
        "created_at": "2024-08-15T19:53:45Z", "updated_at": "2024-08-15T19:53:45Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2024-08-15T19:53:45Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240815/e8c1d8e98eb0e5413ea193e5c48897179a.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_066e670ca6864c0f92e9090d9cebe164", "object":
        "Rate", "created_at": "2024-08-15T19:53:45Z", "updated_at": "2024-08-15T19:53:45Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.90",
        "currency": "USD", "retail_rate": "9.80", "retail_currency": "USD", "list_rate":
        "8.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_5e6513a2c7d34002be90ade89e5eb95e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_807950a46bbe43a489b7a57b38f488bf",
        "object": "Rate", "created_at": "2024-08-15T19:53:45Z", "updated_at": "2024-08-15T19:53:45Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_5e6513a2c7d34002be90ade89e5eb95e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_56c61eed5d794978804e403bc5ed49e7",
        "object": "Rate", "created_at": "2024-08-15T19:53:45Z", "updated_at": "2024-08-15T19:53:45Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "33.10",
        "currency": "USD", "retail_rate": "37.90", "retail_currency": "USD", "list_rate":
        "33.10", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_5e6513a2c7d34002be90ade89e5eb95e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_807950a46bbe43a489b7a57b38f488bf", "object":
        "Rate", "created_at": "2024-08-15T19:53:45Z", "updated_at": "2024-08-15T19:53:45Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_5e6513a2c7d34002be90ade89e5eb95e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_4919a90d02f04349a34b4d71f8f8f411",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100105807075742923",
        "status": "unknown", "status_detail": "unknown", "created_at": "2024-08-15T19:53:45Z",
        "updated_at": "2024-08-15T19:53:45Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_5e6513a2c7d34002be90ade89e5eb95e", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrXzQ5MTlhOTBkMDJmMDQzNDlhMzRiNGQ3MWY4ZjhmNDEx"},
        "to_address": {"id": "adr_1454e8d35b4011efb883ac1f6bc53342", "object": "Address",
        "created_at": "2024-08-15T19:53:44+00:00", "updated_at": "2024-08-15T19:53:45+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_1459438b5b4011ef995bac1f6bc539aa",
        "object": "Address", "created_at": "2024-08-15T19:53:44+00:00", "updated_at":
        "2024-08-15T19:53:44+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_1454e8d35b4011efb883ac1f6bc53342", "object": "Address", "created_at":
        "2024-08-15T19:53:44+00:00", "updated_at": "2024-08-15T19:53:45+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "5.93000", "charged": true,
        "refunded": false}], "id": "shp_5e6513a2c7d34002be90ade89e5eb95e", "object":
        "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_5e6513a2c7d34002be90ade89e5eb95e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d966be5cc8e788622400174fc4
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: '{"scan_form": {"shipment": [{"id": "shp_5e6513a2c7d34002be90ade89e5eb95e"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id": "sf_3a6b244afc324e9292a0d69ce3081fe7", "object": "ScanForm",
        "created_at": "2024-08-15T19:53:46Z", "updated_at": "2024-08-15T19:53:46Z",
        "tracking_codes": ["9400100105807075742923"], "address": {"id": "adr_1459438b5b4011ef995bac1f6bc539aa",
        "object": "Address", "created_at": "2024-08-15T19:53:44+00:00", "updated_at":
        "2024-08-15T19:53:44+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240815/e8b848f4d480d349c6a40b3ea2c34450c2.pdf",
        "form_file_type": null, "batch_id": "batch_fff5686dc3f646d3a28b3453f8fa7779",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5d966be5ccae7886224001750bd
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms/sf_3a6b244afc324e9292a0d69ce3081fe7
  response:
    body:
      string: '{"id": "sf_3a6b244afc324e9292a0d69ce3081fe7", "object": "ScanForm",
        "created_at": "2024-08-15T19:53:46Z", "updated_at": "2024-08-15T19:53:46Z",
        "tracking_codes": ["9400100105807075742923"], "address": {"id": "adr_1459438b5b4011ef995bac1f6bc539aa",
        "object": "A[...]
