interactions:
- request:
    body: '{"carrier_account_oauth_registrations": {"type": "UpsAccount", "account_number":
      "123456789"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth
  response:
    body:
      string: '{"id": "ca_b42eeb389ad6481698e3aff5002502c3", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2025-05-23T19:13:53Z",
        "updated_at": "2025-05-23T19:13:53Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6be4a8f16830c8f1e787301c003e936f
      x-node:
      - bigweb59nuq
      x-proxied:
      - intlb4nuq 668d3fc830
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202505231841-d89645a184-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_b42eeb389ad6481698e3aff5002502c3
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6be4a8f16830c8f1e787301c003e9394
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb3nuq 668d3fc830
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202505231841-d89645a184-master
    status:
      code: 200
      message: OK
version: 1
