interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T19:00:38Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133191895", "updated_at": "2022-08-15T19:00:39Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_8d1fdfe91ccc11ed9387ac1f6bc7b362", "object": "Address", "created_at":
        "2022-08-15T19:00:38+00:00", "updated_at": "2022-08-15T19:00:38+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_77984da511b347bc8f3f63fc6fed6ae6",
        "object": "Parcel", "created_at": "2022-08-15T19:00:38Z", "updated_at": "2022-08-15T19:00:38Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_98ac93c876f244369c0ece92edb933e0",
        "created_at": "2022-08-15T19:00:39Z", "updated_at": "2022-08-15T19:00:39Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T19:00:39Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/deefbbedecab41c9a36a36ae40eadc16.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_28d81005f4e34393b298341067365caf", "object":
        "Rate", "created_at": "2022-08-15T19:00:38Z", "updated_at": "2022-08-15T19:00:38Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.50",
        "currency": "USD", "retail_rate": "33.55", "retail_currency": "USD", "list_rate":
        "29.50", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_a438084f611e4052adfeaddc4957f086", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_ed14ac10bc034ce2b3cbcd3f123ff4d7",
        "object": "Rate", "created_at": "2022-08-15T19:00:38Z", "updated_at": "2022-08-15T19:00:38Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.75",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delive[...]
- request:
    body: '{"carbon_offset": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_a438084f611e4052adfeaddc4957f086/rerate
  response:
    body:
      string: '{"rates": [{"id": "rate_accd497988c045c0871452d3e9624c5a", "object":
        "Rate", "created_at": "2022-08-15T19:00:39Z", "updated_at": "2022-08-15T19:00:39Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.50",
        "currency": "USD", "retail_rate": "33.55", "retail_currency": "USD", "list_rate":
        "29.50", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_a438084f611e4052adfeaddc4957f086", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "carbon_offset": {"object": "CarbonOffset",
        "grams": 36, "price": "0.11", "currency": "USD"}}, {"id": "rate_a08d05f02f334e419439ccbf946c7306",
        "object": "Rate", "created_at": "2022-08-15T19:00:39Z", "updated_at": "2022-08-15T19:00:39Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": fa[...]
