interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04", "columns": ["usps_zone"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_1ad45dc68aa744f5ad61bfe46d8ee49e", "object": "ShipmentReport",
        "created_at": "2023-05-16T15:28:53Z", "updated_at": "2023-05-16T15:28:53Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6e0c5428a247cbebb24e929a6c323b31"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e16463a135e786afbd0021bbb3
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 201
      message: Created
version: 1
