interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS", "insurance": 0}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_2b8295fe50f048baaaf8378ba1a4b629", "created_at": "2025-03-07T16:46:24Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": "9400100208303109505671", "updated_at":
        "2025-03-07T16:46:24Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": null, "from_address": {"id": "adr_b49f9c17fb7311efbe65ac1f6bc53342",
        "object": "Address", "created_at": "2025-03-07T16:46:24+00:00", "updated_at":
        "2025-03-07T16:46:24+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        null, "parcel": {"id": "prcl_97470acd7a494a24b49be9ee793f584d", "object":
        "Parcel", "created_at": "2025-03-07T16:46:24Z", "updated_at": "2025-03-07T16:46:24Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_df583729b3e9487291232b4ee41a6506",
        "created_at": "2025-03-07T16:46:24Z", "updated_at": "2025-03-07T16:46:24Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2025-03-07T16:46:24Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20250307/e8fdd2a2efa0eb45329181a8f581652f96.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_1d2d5ec4f19d4d9a88eaf4e5a178ebfb", "object":
        "Rate", "created_at": "2025-03-07T16:46:24Z", "updated_at": "2025-03-07T16:46:24Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_2b8295fe50f048baaaf8378ba1a4b629", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_4847e8fad6fb4da8b81e7f34ebdfffd0",
        "object": "Rate", "created_at": "2025-03-07T16:46:24Z", "updated_at": "2025-03-07T16:46:24Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_2b8295fe50f048baaaf8378ba1a4b629", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_43c50eba68974b2fbe70f32685c8574e",
        "object": "Rate", "created_at": "2025-03-07T16:46:24Z", "updated_at": "2025-03-07T16:46:24Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_2b8295fe50f048baaaf8378ba1a4b629", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_1d2d5ec4f19d4d9a88eaf4e5a178ebfb", "object":
        "Rate", "created_at": "2025-03-07T16:46:24Z", "updated_at": "2025-03-07T16:46:24Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_2b8295fe50f048baaaf8378ba1a4b629", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_b450ba648e2744a09045105d7138dc9a",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100208303109505671",
        "status": "unknown", "status_detail": "unknown", "created_at": "2025-03-07T16:46:24Z",
        "updated_at": "2025-03-07T16:46:24Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_2b8295fe50f048baaaf8378ba1a4b629", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrX2I0NTBiYTY0OGUyNzQ0YTA5MDQ1MTA1ZDcxMzhkYzlh"},
        "to_address": {"id": "adr_b49cbb25fb7311efbe63ac1f6bc53342", "object": "Address",
        "created_at": "2025-03-07T16:46:24+00:00", "updated_at": "2025-03-07T16:46:24+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_b49f9c17fb7311efbe65ac1f6bc53342",
        "object": "Address", "created_at": "2025-03-07T16:46:24+00:00", "updated_at":
        "2025-03-07T16:46:24+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_b49cbb25fb7311efbe63ac1f6bc53342", "object": "Address", "created_at":
        "2025-03-07T16:46:24+00:00", "updated_at": "2025-03-07T16:46:24+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "6.07000", "charged": true,
        "refunded": false}], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_2b8295fe50f048baaaf8378ba1a4b629
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8fb67cb22e0e2aabd59000ae6e5
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: '{"amount": "100"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_2b8295fe50f048baaaf8378ba1a4b629/insure
  response:
    body:
      string: '{"id": "shp_2b8295fe50f048baaaf8378ba1a4b629", "created_at": "2025-03-07T16:46:24Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "[...]
