interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_b674aad341c24fe18611019a72ff6e84", "created_at": "2025-03-07T16:46:11Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": "9400100208303109505633", "updated_at":
        "2025-03-07T16:46:11Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": null, "from_address": {"id": "adr_acc761b6fb7311ef98773cecef1b359e",
        "object": "Address", "created_at": "2025-03-07T16:46:11+00:00", "updated_at":
        "2025-03-07T16:46:11+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        null, "parcel": {"id": "prcl_48819d3d4ffc44b898146405288b1b4e", "object":
        "Parcel", "created_at": "2025-03-07T16:46:11Z", "updated_at": "2025-03-07T16:46:11Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_7c4b7267da3f4b13a8834e79a7b0af3a",
        "created_at": "2025-03-07T16:46:11Z", "updated_at": "2025-03-07T16:46:11Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2025-03-07T16:46:11Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20250307/e8728792ec6b434a14a1f45d8e27c3db93.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_f74107b724334c1695f76a362d6d1354", "object":
        "Rate", "created_at": "2025-03-07T16:46:11Z", "updated_at": "2025-03-07T16:46:11Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_b674aad341c24fe18611019a72ff6e84", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_c50e7434c2b8494cbc89405e54ee777e",
        "object": "Rate", "created_at": "2025-03-07T16:46:11Z", "updated_at": "2025-03-07T16:46:11Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_b674aad341c24fe18611019a72ff6e84", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_345992a3bb14453ca8c41069addcbbad",
        "object": "Rate", "created_at": "2025-03-07T16:46:11Z", "updated_at": "2025-03-07T16:46:11Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_b674aad341c24fe18611019a72ff6e84", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_345992a3bb14453ca8c41069addcbbad", "object":
        "Rate", "created_at": "2025-03-07T16:46:11Z", "updated_at": "2025-03-07T16:46:11Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_b674aad341c24fe18611019a72ff6e84", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_7ab5213aaf264b53ab2f296d2efc7e73",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100208303109505633",
        "status": "unknown", "status_detail": "unknown", "created_at": "2025-03-07T16:46:11Z",
        "updated_at": "2025-03-07T16:46:11Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_b674aad341c24fe18611019a72ff6e84", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrXzdhYjUyMTNhYWYyNjRiNTNhYjJmMjk2ZDJlZmM3ZTcz"},
        "to_address": {"id": "adr_acc16571fb7311ef9f45ac1f6bc539aa", "object": "Address",
        "created_at": "2025-03-07T16:46:10+00:00", "updated_at": "2025-03-07T16:46:11+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_acc761b6fb7311ef98773cecef1b359e",
        "object": "Address", "created_at": "2025-03-07T16:46:11+00:00", "updated_at":
        "2025-03-07T16:46:11+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_acc16571fb7311ef9f45ac1f6bc539aa", "object": "Address", "created_at":
        "2025-03-07T16:46:10+00:00", "updated_at": "2025-03-07T16:46:11+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "6.07000", "charged": true,
        "refunded": false}], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_b674aad341c24fe18611019a72ff6e84
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8ff67cb22d2e2aaba1c000ad494
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2025-03-08", "max_datetime": "2025-03-08", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_b674aad341c24fe18611019a72ff6e84"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_7a497566ff634331bdaffdfe4ab10103", "object": "Pickup",
        "created_at": "2025-03-07T16:46:12Z", "updated_at": "2025-03-07T16:46:12Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2025-03-08T00:00:00Z",
        "max_datetime": "2025-03-08T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_ad70f202fb7311ef98d43cecef1b359e", "object": "Address", "created_at":
        "2025-03-07T16:46:12+00:00", "updated_at": "2025-03-07T16:46:12+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2025-03-07T16:46:12Z",
        "updated_at": "2025-03-07T16:46:12Z", "carrier": "USPS", "pickup_id": "pickup_7a497566ff634331bdaffdfe4ab10103",
        "id": "pickuprate_15fc9bd9aee34bed9acb7776860853dd", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8ff67cb22d4e2aaba1c000ad5cd
      x-node:
      - bigweb55nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_7a497566ff634331bdaffdfe4ab10103/buy
  response:
    body:
      string: '{"id": "pickup_7a497566ff634331bdaffdfe4ab10103", "object": "Pickup",
        "created_at": "2025-03-07T16:46:12Z", "updated_at": "2025-03-07T16:46:13Z",
        "mode": "test", "status": "sched[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_7a497566ff634331bdaffdfe4ab10103/cancel
  response:
    body:
      string: '{"id": "pickup_7a497566ff634331bdaffdfe4ab10103", "object": "Pickup",
        "created_at": "2025-03-07T16:46:12Z", "updated_at": "2025-03-07T16:46:14Z",
        "mode": "test", "status": "canceled", "reference": null, "min_dateti[...]
