interactions:
- request:
    body: '{"customs_item": {"description": "Sweet shirts", "quantity": 2, "weight":
      11, "value": 23, "hs_tariff_number": "654321", "origin_country": "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id":"cstitem_7242129c27bd40d09eaba1758d8add1f","object":"CustomsItem","created_at":"2022-05-04T20:25:38Z","updated_at":"2022-05-04T20:25:38Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fe92de26d05664ebf9f11ec5fd28c542"
      location:
      - /api/v2/customs_items/cstitem_7242129c27bd40d09eaba1758d8add1f
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bd6272e142e786b86300161cb3
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/customs_items/cstitem_7242129c27bd40d09eaba1758d8add1f
  response:
    body:
      string: '{"id":"cstitem_7242129c27bd40d09eaba1758d8add1f","object":"CustomsItem","created_at":"2022-05-04T20:25:38Z","updated_at":"2022-05-04T20:25:38Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fe92de26d05664ebf9f11ec5fd28c542"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62b330bd6272e142e786b86300161cba
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
