interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_94e77208f7214d6ab273520bfef08eef", "object": "Batch",
        "mode": "test", "state": "creating", "num_shipments": 1, "reference": null,
        "created_at": "2022-08-15T18:51:23Z", "updated_at": "2022-08-15T18:51:23Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"11d89d3efe883b82fab11c30a9ba96d6"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95abe79a768c00261aaf
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_94e77208f7214d6ab273520bfef08eef/buy
  response:
    body:
      string: '{"id": "batch_94e77208f7214d6ab273520bfef08eef", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2022-08-15T18:51:23Z", "updated_at": "2022-08-15T18:51:23Z",
        "scan_form": null, "shipments": [{"batch_status": "queued_for_purchase", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_12245f976b164c7fa2afbbfccd6b9089"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"422c56f0aafebd230eeca14890bc0eb0"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95abe79a768c00261ab8
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_94e77208f7214d6ab273520bfef08eef/scan_form
  response:
    body:
      string: '{"id": "batch_94e77208f7214d6ab273520bfef08eef", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 1, "reference": null,
        "created_at": "2022-08-15T18:51:23Z", "updated_at": "2022-08-15T18:51:28Z",
        "scan_form": {"id": "sf_f68130fadb384b9c9aee1b580e35cc6c", "object": "ScanForm",
        "created_at": "2022-08-15T18:51:28Z", "updated_at": "2022-08-15T18:51:28Z",
        "tracking_codes": [], "address": null, "status": "creating", "message": null,
        "form_url": null, "form_file_type": null, "batch_id": "batch_94e77208f7214d6ab273520bfef08eef",
        "confirmation": null}, "shipments": [{"batch_status": "postage_purchased",
        "batch_message": null, "reference": null, "tracking_code": "9400100109361133189175",
        "id": "shp_12245f976b164c7fa2afbbfccd6b9089"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"afcb3ee2fc465b98ad2535208ea7c137"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95b0e79a768c00261c7e
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
