interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>

    method: GET
    uri: https://api.easypost.com/v2/payment_methods
  response:
    body:
      string: '{"id": "cust_4db1c900d4c1413dac9923f236abd16d", "object": "PaymentMethods",
        "primary_payment_method": null, "secondary_payment_method": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a277d1c41444ff822d82b689f991c7c2"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - dc458af5628fafc9e786ab3d0079444c
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq 570dfcbc0a
      - extlb2nuq fc4d5d217f
      x-version-label:
      - easypost-202205252316-1f08f7be53-master
    status:
      code: 200
      message: OK
version: 1
