interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"id": "user_aa500c4bac5244e5ad7260d37f033c27", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2024-08-15T19:53:31Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        null, "secondary_recharge_amount": null, "recharge_threshold": null, "has_billing_method":
        null, "cc_fee_rate": "0.0375", "default_insurance_amount": "50.00", "insurance_fee_rate":
        "0.01", "insurance_fee_minimum": "0.50", "email": "<REDACTED>", "children":
        [], "api_keys": [{"object": "ApiKey", "key": "<REDACTED>", "mode": "test",
        "created_at": "2024-08-15T19:53:31Z", "active": true, "id": "ak_ed529f84c60a4a5aa76be3808d1c9bbf"},
        {"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2024-08-15T19:53:31Z", "active": true, "id": "ak_258a2eac822c4414aef96b994a66fc21"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5cbbe78861e300174348
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
version: 1
