interactions:
- request:
    body: '{"order": {"from_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "to_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "shipments": [{"parcel": {"weight": 10.2}}, {"parcel":
      {"weight": 17.5}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode": "test", "reference": "", "is_return": false, "options": {"currency":
        "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier": "UPS", "carrier_account_id":
        "ca_bee3d0b00e4844f0bafe77518fecef83", "type": "rate_error", "message": "Invalid
        Access License number"}, {"carrier": "UPS", "carrier_account_id": "ca_4f4f19e3b533485296d62721584e096d",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_2b156a7d1fdb444c96fd53ecc409a6fa", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_725c14e27c1544a6af0c90d4208f70d3", "type": "rate_error",
        "message": "Invalid A[...]
