interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "EasyPost Python Client Library Tests", "phone_number": "<REDACTED>",
        "verified": true, "created_at": "2017-03-01T03:01:34Z", "default_carbon_offset":
        false, "has_elevate_access": false, "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": "100.00", "secondary_recharge_amount": "100.00",
        "recharge_threshold": "0.00", "has_billing_method": false, "cc_fee_rate":
        "0.03", "default_insurance_amount": null, "insurance_fee_rate": "0.01", "insurance_fee_minimum":
        "1.00", "email": "<REDACTED>", "children": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"37fad0de2fa69ce547baa7b7ecd8f745"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - de846e076463b6c9e787409d002d8c64
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161623-0a285b6b1b-master
    status:
      code: 200
      message: OK
- request:
    body: '{"color": "#123456"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/users/user_54356a6b96c940d8913961a3c7b909f2/brand
  response:
    body:
      string: '{"id": "brd_79967d34dc894866850bc8342c84dc41", "color": "#123456",
        "logo": "https://assets.easypost.com/assets/images/branding/easypost-primary-logo.7324aa54b64b34d6cd70ca5ba4d1842d.svg",
        "logo_href": "https://www.easypost.com", "name": "EasyPost", "ad": null, "ad_href":
        null, "object": "Brand", "user_id": "user_54356a6b96c940d8913961a3c7b909f2",
        "background_color": "#123456", "theme": "theme1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3ed4a169f34d67d2cd97fcacca1fbab0"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - de846e076463b6c9e787409d002d8c80
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161623-0a285b6b1b-master
    status:
      code: 200
      message: OK
version: 1
