interactions:
- request:
    body: '{"ups_oauth_registrations": {"type": "UpsAccount", "account_number": 123}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/ups_oauth_registrationses/ca_123
  response:
    body:
      string: '{"error": {"code": "NOT_FOUND", "message": "The requested resource
        could not be found.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - b98ca9f4668c4b72e2cb215a00213aef
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq fa152d4755
      - extlb2nuq fa152d4755
      x-version-label:
      - easypost-202407081949-3228d5845b-master
    status:
      code: 404
      message: Not Found
version: 1
