interactions:
- request:
    body: '{"from_zip": "94107", "to_zip": "90277", "planned_ship_date": "2024-07-11",
      "carriers": ["USPS"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/smartrate/deliver_by
  response:
    body:
      string: '{"carriers_without_tint_estimates": null, "from_zip": "94107", "planned_ship_date":
        "2024-07-11", "results": [{"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 1, "percentile_75": 2, "percentile_85":
        4, "percentile_90": 4, "percentile_95": 4, "percentile_97": 5, "percentile_99":
        6}, "easypost_estimated_delivery_date": "2024-07-12"}, "service": "express"},
        {"carrier": "USPS", "easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        4, "percentile_75": 4, "percentile_85": 4, "percentile_90": 4, "percentile_95":
        5, "percentile_97": 5, "percentile_99": 8}, "easypost_estimated_delivery_date":
        "2024-07-15"}, "service": "groundadvantage"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 4, "percentile_75": 4, "percentile_85":
        4, "percentile_90": 4, "percentile_95": 5, "percentile_97": 5, "percentile_99":
        7}, "easypost_estimated_delivery_date": "2024-07-15"}, "service": "librarymail"},
        {"carrier": "USPS", "easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        4, "percentile_75": 4, "percentile_85": 4, "percentile_90": 4, "percentile_95":
        5, "percentile_97": 5, "percentile_99": 8}, "easypost_estimated_delivery_date":
        "2024-07-15"}, "service": "mediamail"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 4, "percentile_75": 4, "percentile_85":
        4, "percentile_90": 4, "percentile_95": 5, "percentile_97": 5, "percentile_99":
        7}, "easypost_estimated_delivery_date": "2024-07-15"}, "service": "priority"}],
        "saturday_delivery": null, "to_zip": "90277"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 67540321668dac8be2ba0735002c40c8
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb3nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407092027-324ee50b5a-master
    status:
      code: 200
      message: OK
version: 1
