interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, {"to_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_b7fabd8269cd4e59b667d0d48c3f3618", "object": "Batch",
        "mode": "test", "state": "creating", "num_shipments": 2, "reference": null,
        "created_at": "2022-08-15T18:51:22Z", "updated_at": "2022-08-15T18:51:22Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8f6d41fb81d4d62e1b8d4a9737e314f2"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af48062fa95aae79a768a00261a6a
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
