interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"has_more": true, "referral_customers": [{"id": "user_634b6daa05744bfaa205058f06864363",
        "object": "User", "parent_id": null, "name": "Firstname Lastname", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2022-04-26T15:50:28Z", "default_carbon_offset":
        false, "has_elevate_access": false, "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.0325", "default_insurance_amount":
        "50.00", "insurance_fee_rate": "0.005", "insurance_fee_minimum": "0.25", "email":
        "<REDACTED>", "children": []}, {"id": "user_35cb81fb8af1454dabf1f6afa7330634",
        "object": "User", "parent_id": null, "name": "Firstname Lastname", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2022-04-27T20:20:52Z", "default_carbon_offset":
        false, "has_elevate_access": false, "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": "100.00", "secondary_recharge_amount": "100.00",
        "recharge_threshold": "0.00", "has_billing_method": true, "cc_fee_rat[...]
- request:
    body: '{"user": {"email": "email@example.com"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PUT
    uri: https://api.easypost.com/v2/referral_customers/user_634b6daa05744bfaa205058f06864363
  response:
    body:
      string: '{"message": "Referral Customer email updated successfully"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7b30d603e3257aee787616dc99d6d4af"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 0226657b645bdb07e2b8e68f001e755f
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq a29e4ad05c
      x-version-label:
      - easypost-202305091956-464aa0b59c-master
    status:
      code: 200
      message: OK
version: 1
