interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T19:50:50Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361130482668", "updated_at": "2022-07-28T19:50:51Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_9526a77b0eae11eda4a8ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-07-28T19:50:50+00:00", "updated_at": "2022-07-28T19:50:50+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_5e34573b73fc4890bd34fb5c2f5128fc",
        "object": "Parcel", "created_at": "2022-07-28T19:50:50Z", "updated_at": "2022-07-28T19:50:50Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_55fe71cc3ac04c8d9d9b42a9fb6311f9",
        "created_at": "2022-07-28T19:50:51Z", "updated_at": "2022-07-28T19:50:51Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T19:50:51Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/f14126e3e61a445d9234e348d90fcd3f.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_3280f63930184aa5a31acaa5872cb806", "object":
        "Rate", "created_at": "2022-07-28T19:50:50Z", "updated_at": "2022-07-28T19:50:50Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22",
        "currency": "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate":
        "7.22", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_fe0589c0270f4a1fa6ec8b62e272a4d5", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_8d589bb7389d4ce5afdf803ee0f791ba",
        "object": "Rate", "created_at": "2022-07-28T19:50:50Z", "updated_at": "2022-07-28T19:50:50Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.49", "currency":
        "USD", "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date":
        null, "delivery_date[...]
- request:
    body: '{"batch": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_c0e129a16d4042de8f408ee88c2a23e1", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 0, "reference": null,
        "created_at": "2022-07-28T19:50:51Z", "updated_at": "2022-07-28T19:50:51Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3fea7a46742bde2ec2cad14e5e7570f7"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ead09ab762e2e89bff23deff0038b7c6
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - extlb1nuq 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_fe0589c0270f4a1fa6ec8b62e272a4d5"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_c0e129a16d4042de8f408ee88c2a23e1/add_shipments
  response:
    body:
      string: '{"id": "batch_c0e129a16d4042de8f408ee88c2a23e1", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2022-07-28T19:50:51Z", "updated_at": "2022-07-28T19:50:51Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9400100109361130482668", "id":
        "shp_fe0589c0270f4a1fa6ec8b62e272a4d5"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"345b54013da1d638d9e504d3c693b1fa"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ead09ab762e2e89bff23deff0038b7dc
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - extlb1nuq 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_fe0589c0270f4a1fa6ec8b62e272a4d5"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_c0e129a16d4042de8f408ee88c2a23e1/remove_shipments
  response:
    body:
      string: '{"id": "batch_c0e129a16d4042de8f408ee88c2a23e1", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 0, "reference": null,
        "created_at": "2022-07-28T19:50:51Z", "updated_at": "2022-07-28T19:50:51Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c8f68bb610232cf2664931941ab6f721"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ead09ab762e2e89cff23deff0038b7f1
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - extlb1nuq 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
version: 1
