interactions:
- request:
    body: '{"address": {"company": "EasyPost", "street1": "000 unknown street", "city":
      "Not A City", "state": "ZZ", "zip": "00001", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_cce4bfd75b3f11efb492ac1f6bc539aa", "object": "Address",
        "created_at": "2024-08-15T19:51:45+00:00", "updated_at": "2024-08-15T19:51:45+00:00",
        "name": null, "company": "EasyPost", "street1": "000 unknown street", "street2":
        null, "city": "Not A City", "state": "ZZ", "zip": "00001", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_cce4bfd75b3f11efb492ac1f6bc539aa
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5dd66be5c51e7885da30016d89d
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: '{"address": {"company": "EasyPost", "street1": "000 unknown street", "city":
      "Not A City", "state": "ZZ", "zip": "00001", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "verify": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_ccf83e735b3f11ef932bac1f6bc53342", "object": "Address",
        "created_at": "2024-08-15T19:51:45+00:00", "updated_at": "2024-08-15T19:51:45+00:00",
        "name": null, "company": "EasyPost", "street1": "000 unknown street", "street2":
        null, "city": "Not A City", "state": "ZZ", "zip": "00001", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": false, "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field":
        "address", "message": "Address not found", "suggestion": null}], "details":
        null}, "delivery": {"success": false, "errors": [{"code": "E.ADDRESS.NOT_FOUND",
        "field": "address", "message": "Address not found", "suggestion": null}],
        "details": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_ccf83e735b3f11ef932bac1f6bc53342
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5dd66be5c51e7885da30016d8b7
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
version: 1
