interactions:
- request:
    body: '{"customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_infos
  response:
    body:
      string: '{"id": "cstinfo_d9ae40b6b146421b887a36fa89c0d2d4", "object": "CustomsInfo",
        "created_at": "2025-03-06T19:48:04Z", "updated_at": "2025-03-06T19:48:04Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_92443ed7dacf431a8c5bcb8f42620517",
        "object": "CustomsItem", "created_at": "2025-03-06T19:48:04Z", "updated_at":
        "2025-03-06T19:48:04Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.25", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_infos/cstinfo_d9ae40b6b146421b887a36fa89c0d2d4
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62767c9fbf4e2b97ab100187b7f
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_d9ae40b6b146421b887a36fa89c0d2d4
  response:
    body:
      string: '{"id": "cstinfo_d9ae40b6b146421b887a36fa89c0d2d4", "object": "CustomsInfo",
        "created_at": "2025-03-06T19:48:04Z", "updated_at": "2025-03-06T19:48:04Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer[...]
