interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "company":
      "EasyPost", "street1": "388 Townsend St", "street2": "Apt 20", "city": "San
      Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address":
      {"name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
      "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "phone": "5555555555"}, "parcel": {"length": "10", "width": "8", "height": "4",
      "weight": "15.4"}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id":"batch_8897ef8c828647fb91b516a968cd26c8","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-05-04T20:25:28Z","updated_at":"2022-05-04T20:25:28Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6c452bd795f43284b1674cb092d9e6b5"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bb6272e138e786b84200161882
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_8897ef8c828647fb91b516a968cd26c8/buy
  response:
    body:
      string: '{"id":"batch_8897ef8c828647fb91b516a968cd26c8","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-05-04T20:25:28Z","updated_at":"2022-05-04T20:25:29Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_a1611a677a9e494d976fbcf14a35dada"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1d5ea198f4b7dbdd984221d26b6e70d2"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bb6272e139e786b8420016189b
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: '{"file_format": "ZPL"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_8897ef8c828647fb91b516a968cd26c8/label
  response:
    body:
      string: '{"id":"batch_8897ef8c828647fb91b516a968cd26c8","object":"Batch","mode":"test","state":"label_generating","num_shipments":1,"reference":null,"created_at":"2022-05-04T20:25:28Z","updated_at":"2022-05-04T20:25:34Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361117768716","id":"shp_a1611a677a9e494d976fbcf14a35dada"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"64e69b01176688716295d9cd40a810f2"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bb6272e13ee786b84200161acb
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
