interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "EasyPost Python Client Library Tests", "phone_number": "<REDACTED>",
        "verified": true, "created_at": "2017-03-01T03:01:34Z", "balance": "0.00000",
        "price_per_shipment": "0.00000", "recharge_amount": "100.00", "secondary_recharge_amount":
        "100.00", "recharge_threshold": "0.00", "has_billing_method": false, "cc_fee_rate":
        "0.03", "default_insurance_amount": null, "insurance_fee_rate": "0.01", "insurance_fee_minimum":
        "1.00", "email": "<REDACTED>", "children": [{"id": "user_9bc25a1d07f54682997435937b30d4f0",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Python All-Things-Tested", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2020-05-11T21:59:07Z", "children": []}, {"id": "user_36a3958cd65a4592b1ddb742f7d3362a",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Python All-Things-Tested", "phone_number": "<REDACTED>", "verified": t[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/api_keys
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "keys": [], "children":
        [{"id": "user_9bc25a1d07f54682997435937b30d4f0", "keys": [], "children": []},
        {"id": "user_36a3958cd65a4592b1ddb742f7d3362a", "keys": [], "children": []},
        {"id": "user_f55178b032c44c7e8c2611fa84415d94", "keys": [], "children": []},
        {"id": "user_e1f80a2e05f84319960c63701a30e7e0", "keys": [], "children": []},
        {"id": "user_6e4ee9596b174c1cad3480d47f5027ef", "keys": [], "children": []},
        {"id": "user_f0f42ddbb05c400492ec6bb8fb699ff7", "[...]
