interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "company": "EasyPost", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "phone": "5555555555"}, "verify_strict": [true]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id":"adr_5089554ccbe811ec833eac1f6bc7b362","object":"Address","created_at":"2022-05-04T20:25:18+00:00","updated_at":"2022-05-04T20:25:18+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c6e8a2eecd3fff24b2ca9757bfaf800e"
      location:
      - /api/v2/addresses/adr_5089554ccbe811ec833eac1f6bc7b362
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b86272e12ee786b81d001613ec
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
version: 1
