interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-05-04T20:26:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117768853","updated_at":"2022-05-04T20:26:04Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_6b00f552cbe811ec9366ac1f6b0a0d1e","object":"Address","created_at":"2022-05-04T20:26:02+00:00","updated_at":"2022-05-04T20:26:02+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_4287255431dd430f8dea18b4af39623b","object":"Parcel","created_at":"2022-05-04T20:26:02Z","updated_at":"2022-05-04T20:26:02Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_27d0f4c69681458ca8e69b0e427c0d5f","created_at":"2022-05-04T20:26:03Z","updated_at":"2022-05-04T20:26:03Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-04T20:26:03Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220504/7f833150db0a457bbb13448018ea607c.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_9db00562024b4b35af15541bace0f8e8","object":"Rate","created_at":"2022-05-04T20:26:03Z","updated_at":"2022-05-04T20:26:03Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9e38dcceeaef4d359c38211af1bcca33","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_586e45c3c9db44efb91f6fb5f786851c","object":"Rate","created_at":"2022-05-04T20:26:03Z","updated_at":"2022-05-04T20:26:03Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_9e38dcceeaef4d359c38211af1bcca33","ca[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_9e38dcceeaef4d359c38211af1bcca33
  response:
    body:
      string: '{"created_at":"2022-05-04T20:26:03Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117768853","updated_at":"2022-05-04T20:26:04Z","batch_id":nul[...]
- request:
    body: '{"refund": {"carrier": "USPS", "tracking_codes": "9400100109361117768853"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/refunds
  response:
    body:
      string: '[{"id":"rfnd_75569d36e3d648b893a875a3070ae92a","object":"Refund","created_at":"2022-05-04T20:26:04Z","updated_at":"2022-05-04T20:26:04Z","tracking_code":"9400100109361117768853","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_9e38dcceeaef4d359c38211af1bcca33"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c4f05c1d97ac0c3c506ec09a0a58a413"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bc6272e15ce786b8a600162765
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
version: 1
