interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED

    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_bb4d18c75a14419cae8756fa9cb1ca60", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2022-05-10T23:41:00Z",
        "updated_at": "2022-05-10T23:41:00Z", "description": "UPS Account", "reference":
        null, "billing_type": "carrier", "readable": "UPS", "logo": null, "fields":
        {"credentials": {"account_number": {"visibility": "readonly", "label": "UPS
        Account Number", "value": "A1A1A1"}}}, "credentials": ["REDACTED"], "test_credentials":
        ["REDACTED"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cbde7f1155b6d5b449a59cdcc667049e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 7cc43dc3627af80cefb5a3590021d312
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq fde591f008
      - intlb1wdc fde591f008
      - extlb1wdc c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - REDACTED

    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_bb4d18c75a14419cae8756fa9cb1ca60
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 7cc43dc3627af80defb5a3590021d335
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq fde591f008
      - intlb2wdc fde591f008
      - extlb1wdc c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 200
      message: OK
version: 1
