interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "EasyPost Python Client Library Tests", "phone_number": "<REDACTED>",
        "verified": true, "created_at": "2017-03-01T03:01:34Z", "balance": "0.00000",
        "price_per_shipment": "0.00000", "recharge_amount": "100.00", "secondary_recharge_amount":
        "100.00", "recharge_threshold": "0.00", "has_billing_method": false, "cc_fee_rate":
        "0.03", "default_insurance_amount": null, "insurance_fee_rate": "0.01", "insurance_fee_minimum":
        "1.00", "email": "<REDACTED>", "children": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93d966ca847a2ef598ea9d7bd07bb1ee"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95ffe79a7e23002638f3
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: '{"user": {"phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/users/user_54356a6b96c940d8913961a3c7b909f2
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "EasyPost Python Client Library Tests", "phone_number": "<REDACTED>",
        "verified": true, "created_at": "2017-03-01T03:01:34Z", "balance": "0.00000",
        "price_per_shipment": "0.00000", "recharge_amount": "100.00", "secondary_recharge_amount":
        "100.00", "recharge_threshold": "0.00", "has_billing_method": false, "cc_fee_rate":
        "0.03", "default_insurance_amount": null, "insurance_fee_rate": "0.01", "insurance_fee_minimum":
        "1.00", "email": "<REDACTED>", "children": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93d966ca847a2ef598ea9d7bd07bb1ee"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa9600e79a7e2300263918
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
