interactions:
- request:
    body: '{"type": "shipment", "start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_3073ac71a1534442bb56e86f25f0e130", "object": "ShipmentReport",
        "created_at": "2022-08-15T18:52:17Z", "updated_at": "2022-08-15T18:52:17Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bc74235f13f09ea97511cbedddcf970a"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47962fa95e1e79a7a6700262e54
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_3073ac71a1534442bb56e86f25f0e130
  response:
    body:
      string: '{"id": "shprep_3073ac71a1534442bb56e86f25f0e130", "object": "ShipmentReport",
        "created_at": "2022-08-15T18:52:17Z", "updated_at": "2022-08-15T18:52:17Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bc74235f13f09ea97511cbedddcf970a"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47962fa95e1e79a7a6700262e63
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
