interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_b5f086f48a4c4373aeb42a7809b62c0e", "created_at": "2025-03-07T16:46:26Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2025-03-07T16:46:26Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_b610fa46fb7311efa4acac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-07T16:46:26+00:00", "updated_at": "2025-03-07T16:46:26+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_b388179ce8e345dbb0015104d6641375",
        "object": "Parcel", "created_at": "2025-03-07T16:46:26Z", "updated_at": "2025-03-07T16:46:26Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_0336c431fd744648a5e0970af7c2a044",
        "object": "Rate", "created_at": "2025-03-07T16:46:26Z", "updated_at": "2025-03-07T16:46:26Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_b5f086f48a4c4373aeb42a7809b62c0e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_e5d5e96493ec4ef19ea144c3f172fe19",
        "object": "Rate", "created_at": "2025-03-07T16:46:26Z", "updated_at": "2025-03-07T16:46:26Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_b5f086f48a4c4373aeb42a7809b62c0e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_5a552f4f40a7415cb4df2eb9ca0d9e7b",
        "object": "Rate", "created_at": "2025-03-07T16:46:26Z", "updated_at": "2025-03-07T16:46:26Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_b5f086f48a4c4373aeb42a7809b62c0e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_b60df4c4fb7311efbf55ac1f6bc53342",
        "object": "Address", "created_at": "2025-03-07T16:46:26+00:00", "updated_at":
        "2025-03-07T16:46:26+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_b610fa46fb7311efa4acac1f6bc539aa", "object": "Address", "created_at":
        "2025-03-07T16:46:26+00:00", "updated_at": "2025-03-07T16:46:26+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_b60df4c4fb7311efbf55ac1f6bc53342", "object":
        "Address", "created_at": "2025-03-07T16:46:26+00:00", "updated_at": "2025-03-07T16:46:26+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_b5f086f48a4c4373aeb42a7809b62c0e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8fa67cb22e2e2aabd5b000aead6
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_b5f086f48a4c4373aeb42a7809b62c0e/smartrate
  response:
    body:
      string: '{"result": [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2025-03-07T16:46:26Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": 1, "est_delivery_days":
        1, "id": "rate_0336c431fd744648a5e0970af7c2a044", "list_currency": "USD",
        "list_rate": 34.15, "mode": "test", "object": "Rate", "rate": 34.15, "retail_currency":
        "USD", "retail_rate": 39.1, "service": "Express", "shipment_id": "shp_b5f086f48a4c4373aeb42a7809b62c0e",
        "time_in_transit": {"percentile_50": 2, "percentile_75": 2, "percentile_85":
        3, "percentile_90": 3, "percentile_95": 4, "percentile_97": 5, "percentile_99":
        8}, "updated_at": "2025-03-07T16:46:26Z"}, {"carrier": "USPS", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at": "2025-03-07T16:46:26Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": 2, "est_delivery_days": 2, "id": "rate_e5d5e96493ec4ef19ea144c3f172fe19",
        "list_currency": "USD", "list_rate": 8.34, "mode": "test", "object": "Rate",
        "rate": 7.42, "retail_currency": "USD", "ret[...]
