interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/refunds?page_size=5
  response:
    body:
      string: '{"refunds": [{"id": "rfnd_7a4c4f72c04d4c508bc00da6fb5cdb06", "object":
        "Refund", "created_at": "2024-08-15T19:53:39Z", "updated_at": "2024-08-15T19:53:39Z",
        "tracking_code": "9400100105807075742886", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_4b07ee8bc6714adfaddbc1d79cc72587"}],
        "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5da66be5cc4e788620500174bc4
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/refunds/rfnd_7a4c4f72c04d4c508bc00da6fb5cdb06
  response:
    body:
      string: '{"id": "rfnd_7a4c4f72c04d4c508bc00da6fb5cdb06", "object": "Refund",
        "created_at": "2024-08-15T19:53:39Z", "updated_at": "2024-08-15T19:53:39Z",
        "tracking_code": "9400100105807075742886", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_4b07ee8bc6714adfaddbc1d79cc72587"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5da66be5cc4e788620500174be3
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
