interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_e938c6e639aa496882e7307b678a4802", "created_at": "2025-03-06T19:48:23Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": "9400100208303109500706", "updated_at":
        "2025-03-06T19:48:23Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": null, "from_address": {"id": "adr_f65cbaa7fac311efb0bf3cecef1b359e",
        "object": "Address", "created_at": "2025-03-06T19:48:23+00:00", "updated_at":
        "2025-03-06T19:48:23+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        null, "parcel": {"id": "prcl_e0018b3a823d4cc09985933e9a745a7d", "object":
        "Parcel", "created_at": "2025-03-06T19:48:23Z", "updated_at": "2025-03-06T19:48:23Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_bc926188388d48af86cbb55033766bcb",
        "created_at": "2025-03-06T19:48:23Z", "updated_at": "2025-03-06T19:48:23Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2025-03-06T19:48:23Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20250306/e87cc2ac984a6f4e2aae8a38cc61a289b6.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_516cdc16d5984fc0baece745d0948549", "object":
        "Rate", "created_at": "2025-03-06T19:48:23Z", "updated_at": "2025-03-06T19:48:23Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_e938c6e639aa496882e7307b678a4802", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_877e3e57cb3c4c75ac351197b11b256a",
        "object": "Rate", "created_at": "2025-03-06T19:48:23Z", "updated_at": "2025-03-06T19:48:23Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_e938c6e639aa496882e7307b678a4802", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_01aab7b48e4e4980adbb677c6f392de7",
        "object": "Rate", "created_at": "2025-03-06T19:48:23Z", "updated_at": "2025-03-06T19:48:23Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_e938c6e639aa496882e7307b678a4802", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_877e3e57cb3c4c75ac351197b11b256a", "object":
        "Rate", "created_at": "2025-03-06T19:48:23Z", "updated_at": "2025-03-06T19:48:23Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_e938c6e639aa496882e7307b678a4802", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_58d8cf77ce934a34ae4e28fde5798683",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100208303109500706",
        "status": "unknown", "status_detail": "unknown", "created_at": "2025-03-06T19:48:23Z",
        "updated_at": "2025-03-06T19:48:23Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_e938c6e639aa496882e7307b678a4802", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrXzU4ZDhjZjc3Y2U5MzRhMzRhZTRlMjhmZGU1Nzk4Njgz"},
        "to_address": {"id": "adr_f65ac07ffac311efb0be3cecef1b359e", "object": "Address",
        "created_at": "2025-03-06T19:48:23+00:00", "updated_at": "2025-03-06T19:48:23+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_f65cbaa7fac311efb0bf3cecef1b359e",
        "object": "Address", "created_at": "2025-03-06T19:48:23+00:00", "updated_at":
        "2025-03-06T19:48:23+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_f65ac07ffac311efb0be3cecef1b359e", "object": "Address", "created_at":
        "2025-03-06T19:48:23+00:00", "updated_at": "2025-03-06T19:48:23+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "6.07000", "charged": true,
        "refunded": false}], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_e938c6e639aa496882e7307b678a4802
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62867c9fc07e2b97b1700189198
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: '{"insurance": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "carrier": "USPS", "amount": "100", "tracking_code":
      "9400100208303109500706"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/insurances
  response:
    body:
      string: '{"id": "ins_abffbc30c07f4bc0ba6fb8f36e4e7781", "object": "Insurance",
        "mode": "test", "reference": null, "status": "pending", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id": "adr_f6e8ef0dfac311efb10b3cecef1b359e",
        "object": "Address", "created_at": "2025-03-06T19:48:23+00:00", "updated_at":
        "2025-03-06T19:48:23+00:00", "name": "ELIZABETH SWAN", "company": null, "street1":
        "179 N HARBOR DR", "street2": null, "city": "REDONDO BEACH", "state": "CA",
        "zip": "90277-2506", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": false, "federa[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances/ins_abffbc30c07f4bc0ba6fb8f36e4e7781
  response:
    body:
      string: '{"id": "ins_abffbc30c07f4bc0ba6fb8f36e4e7781", "object": "Insurance",
        "mode": "test", "reference": null, "status": "pending", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id": "adr_f6e8ef0dfac311efb10b3cecef1b359e",
        "obj[...]
