interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_2d2aa29b059e4f908df1470a6508d20a", "object": "ShipmentReport",
        "created_at": "2023-05-16T15:28:53Z", "updated_at": "2023-05-16T15:28:53Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a3c67c1df59fc7c90bb642adaf2342a8"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e56463a135e786afbe0021bbc9
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_2d2aa29b059e4f908df1470a6508d20a
  response:
    body:
      string: '{"id": "shprep_2d2aa29b059e4f908df1470a6508d20a", "object": "ShipmentReport",
        "created_at": "2023-05-16T15:28:53Z", "updated_at": "2023-05-16T15:28:53Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a3c67c1df59fc7c90bb642adaf2342a8"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e56463a135e786afbe0021bbcf
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 200
      message: OK
version: 1
