interactions:
- request:
    body: '{"carrier_account_oauth_registrations": {"type": "AmazonShippingAccount"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth
  response:
    body:
      string: '{"id": "ca_102f186f791648b692501b0c6b8971a4", "object": "CarrierAccount",
        "type": "AmazonShippingAccount", "clone": false, "created_at": "2024-10-21T21:55:03Z",
        "updated_at": "2024-10-21T21:55:03Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "Amazon Shipping", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6c7e76b86716cdb7e7874d4300480c14
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb4nuq b6e1b5034c
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202410212124-540267707a-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts/ca_102f186f791648b692501b0c6b8971a4
  response:
    body:
      string: '{"id": "ca_102f186f791648b692501b0c6b8971a4", "object": "CarrierAccount",
        "type": "AmazonShippingAccount", "clone": false, "created_at": "2024-10-21T21:55:03Z",
        "updated_at": "2024-10-21T21:55:03Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "Amazon Shipping", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6c7e76b86716cdbce7874d430048118f
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb4nuq b6e1b5034c
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202410212124-540267707a-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth/ca_102f186f791648b692501b0c6b8971a4
  response:
    body:
      string: '{"id": "ca_102f186f791648b692501b0c6b8971a4", "object": "CarrierAccount",
        "type": "AmazonShippingAccount", "clone": false, "created_at": "2024-10-21T21:55:03Z",
        "updated_at": "2024-10-21T21:55:08Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "Amazon Shipping", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6c7e76b86716cdbce7874d43004811bd
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq b6e1b5034c
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202410212124-540267707a-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_102f186f791648b692501b0c6b8971a4
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6c7e76b86716cdbde7874d4300481200
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb3nuq b6e1b5034c
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202410212124-540267707a-master
    status:
      code: 200
      message: OK
version: 1
