interactions:
- request:
    body: '{"refund_amount": 2000}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/refunds
  response:
    body:
      string: '{"error": {"code": "TRANSACTION.AMOUNT_INVALID", "message": "Refund
        amount is invalid. Please use a valid amount or escalate to finance.", "errors":
        []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 2244afe763b735a6e78a140a002eb117
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      x-version-label:
      - easypost-202301051929-8ead4baefd-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
