interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-15T21:49:54Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100104262210070971", "updated_at": "2023-05-15T21:49:55Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_6d71d260f36a11edb801ac1f6bc7bdc6", "object": "Address", "created_at":
        "2023-05-15T21:49:54+00:00", "updated_at": "2023-05-15T21:49:54+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_2d06640b6b6248009451d5649fb2495e",
        "object": "Parcel", "created_at": "2023-05-15T21:49:54Z", "updated_at": "2023-05-15T21:49:54Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_cadcb6bd5a814c3aad39d0dfc7525906",
        "created_at": "2023-05-15T21:49:55Z", "updated_at": "2023-05-15T21:49:55Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-05-15T21:49:55Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230515/cc3a20d052114a76aa1c3cf478ffe1b4.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_64dd45a3f36f437291400ccbcb2e5975", "object":
        "Rate", "created_at": "2023-05-15T21:49:54Z", "updated_at": "2023-05-15T21:49:54Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "6.07", "currency":
        "USD", "retail_rate": "6.07", "retail_currency": "USD", "list_rate": "6.07",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 3, "shipment_id":
        "shp_a21f7364ac0444fe94a5d6f39f77183e", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_524f05a09ee94b42b372656e0fd5cf4a", "object": "Rate", "created_at":
        "2023-05-15T21:49:54Z", "updated_at": "2023-05-15T21:49:54Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "31.25", "currency": "USD",
        "retail_rate": "35.80", "retail_currency": "USD", "list_rate": "31.25", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": null, "delivery_date":
        null, "deliv[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2023-05-17", "max_datetime": "2023-05-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_a21f7364ac0444fe94a5d6f39f77183e"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_f7bf2fbb95c54d979eba5344be21d46e", "object": "Pickup",
        "created_at": "2023-05-15T21:49:55Z", "updated_at": "2023-05-15T21:49:55Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-05-17T00:00:00Z",
        "max_datetime": "2023-05-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_6dfcf608f36a11ed99deac1f6bc7b362", "object": "Address", "created_at":
        "2023-05-15T21:49:55+00:00", "updated_at": "2023-05-15T21:49:55+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2023-05-15T21:49:56Z",
        "updated_at": "2023-05-15T21:49:56Z", "carrier": "USPS", "pickup_id": "pickup_f7bf2fbb95c54d979eba5344be21d46e",
        "id": "pickuprate_152867bbc5014534b67be86918ad8b10", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"67da1cfbc8a0b52d64a396bf7e4ce3e5"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 44e495ae6462a903e2b98c350039c8cd
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152107-770224374c-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups/pickup_f7bf2fbb95c54d979eba5344be21d46e
  response:
    body:
      string: '{"id": "pickup_f7bf2fbb95c54d979eba5344be21d46e", "object": "Pickup",
        "created_at": "2023-05-15T21:49:55Z", "updated_at": "2023-05-15T21:49:55Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-05-17T00:00:00Z",
        "max_datetime": "[...]
