interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers?page_size=5
  response:
    body:
      string: '{"trackers": [{"id": "trk_e1e33a61f02846cb80905b1a50ea5ba0", "object":
        "Tracker", "mode": "test", "tracking_code": "9400110898825022579493", "status":
        "error", "status_detail": "unknown", "created_at": "2023-03-22T17:18:05Z",
        "updated_at": "2023-03-22T17:18:05Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": null, "carrier": "USPS", "tracking_details": [{"object":
        "TrackingDetail", "message": "In test mode, only test tracking numbers are
        valid. Test tracking numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007",
        "description": null, "status": "error", "status_detail": null, "datetime":
        "2023-03-22T17:18:05Z", "source": "ProcessingError", "carrier_code": null,
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}], "fees": [], "carrier_detail": null,
        "public_url": "https://track.easypost.com/djE6dHJrX2UxZTMzYTYxZjAyODQ2Y2I4MDkwNWIxYTUwZWE1YmEw"}],
        "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"78f0ff69612d63e807594ae5196cfe3d"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 70d4b6376424b73fe78b1c110011ed97
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq a29e4ad05c
      x-version-label:
      - easypost-202303292153-e778646023-master
    status:
      code: 200
      message: OK
version: 1
