interactions:
- request:
    body: '{"address": {"street1": "417 montgomery street", "street2": "FL 5", "city":
      "San Francisco", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567"}, "verify": [true]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_3b80da120f6511eda1aaac1f6b0a0d1e", "object": "Address",
        "created_at": "2022-07-29T17:38:18+00:00", "updated_at": "2022-07-29T17:38:18+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": false, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [{"code": "E.SECONDARY_INFORMATION.INVALID",
        "field": "street2", "message": "Invalid secondary information(Apt/Suite#)",
        "suggestion": null}], "details": null}, "delivery": {"success": true, "errors":
        [{"code": "E.SECONDARY_INFORMATION.INVALID", "field": "street2", "message":
        "Invalid secondary information(Apt/Suite#)", "suggestion": null}], "details":
        {"latitude": 37.79342, "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"056ef1431c18520073dbf5f8b1a6dcc8"
      location:
      - /api/v2/addresses/adr_3b80da120f6511eda1aaac1f6b0a0d1e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 2415913c62e41b0ae786b3fa0005fc74
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq 403f17ff97
      - extlb2nuq 403f17ff97
      x-version-label:
      - easypost-202207282305-ef64fb0c25-master
    status:
      code: 201
      message: Created
version: 1
