interactions:
- request:
    body: '{"carrier_account_oauth_registrations": {"type": "AmazonShippingAccount"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth
  response:
    body:
      string: '{"id": "ca_18bfc1a27cc349cfbf219cf0e754f917", "object": "CarrierAccount",
        "type": "AmazonShippingAccount", "clone": false, "created_at": "2025-04-10T19:12:34Z",
        "updated_at": "2025-04-10T19:12:34Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "Amazon Shipping", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 028443c067f81822e2bbac9c00135101
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb3nuq 284c5d344a
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202504101604-e81adf64e4-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_18bfc1a27cc349cfbf219cf0e754f917
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 028443c067f81822e2bbac9c00135164
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb4nuq 284c5d344a
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202504101604-e81adf64e4-master
    status:
      code: 200
      message: OK
version: 1
