interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id":"ca_e36340aa1d1e4b73b1225bc657a41afb","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-05-04T20:25:37Z","updated_at":"2022-05-04T20:25:37Z","description":"UPS
        Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a725613fd513f8d7200b881fa2037eb5"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bd6272e141e786b85e00161be9
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_e36340aa1d1e4b73b1225bc657a41afb
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bd6272e141e786b85e00161c05
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
