interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?page_size=5
  response:
    body:
      string: '{"reports": [{"id": "shprep_be2c2a0ff4ee4c94b50cb1d2a680e1c8", "object":
        "ShipmentReport", "created_at": "2024-08-15T19:53:42Z", "updated_at": "2024-08-15T19:53:42Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "available", "url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20240815/e8c53165d6e8264f47a69ecb7a154c5387.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQ7T7W7W7P%2F20240815%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20240815T195342Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=35a43d08a97bcc1f5331d71091608a296d7670d63558102f6e5b95e6b4a0457f",
        "url_expires_at": "2024-08-15T19:54:12Z", "include_children": false}, {"id":
        "shprep_7d941ac7853d432f80e8ba9a9e610663", "object": "ShipmentReport", "created_at":
        "2024-08-15T19:53:41Z", "updated_at": "2024-08-15T19:53:42Z", "start_date":
        "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status": "available",
        "url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20240815/e8baebce9247a8487a9f0999584aaf02b5.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQ7T7W7W7P%2F20240815%2F[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?before_id=shprep_2a996421686a46ad9dce115eed3edc28&page_size=5
  response:
    body:
      string: '{"reports": [{"id": "shprep_7a6356a335b149fd976e4ddc64d56fe1", "object":
        "ShipmentReport", "created_at": "2024-01-19T22:05:41Z", "updated_at": "2024-01-19T22:05:41Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test",[...]
