interactions:
- request:
    body: '{"shipment": {}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"error": {"code": "SHIPMENT.INVALID_PARAMS", "message": "Unable to
        create shipment, one or more parameters were invalid.", "errors": [{"to_address":
        "Required and missing."}, {"from_address": "Required and missing."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3843703c62e2e9d7ff23e29a0034322b
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 403f17ff97
      - intlb1wdc 403f17ff97
      - extlb4wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
