interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/events?page_size=5
  response:
    body:
      string: '{"events": [{"description": "tracker.created", "id": "evt_dabaa47ac0d811ec836f51d8c3ed53a3",
        "user_id": "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-04-20T18:36:55.677Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.created", "id": "evt_d9816684c0d811ec97c135835d74efaa", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-04-20T18:36:53.624Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.created", "id": "evt_d91f3cc0c0d811ecb3274b573ce0dc9e", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-04-20T18:36:52.981Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.created", "id": "evt_d8d2bf3ac0d811ec95a045eca8f96b7a", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-04-20T18:36:52.480Z", "mode": "test", "object": "Event"}, {"description":
        "batch.updated", "id": "evt_d7ba06bcc0d811ecbb560934f37bfb0b", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-04-20T18:36:50.640Z", "mode": "test", "object": "Event"}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fb7525a372887c2ca405a209229855c8"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d6626052c9e79969c50024307a
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
