interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/api_keys
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "keys": [{"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "test", "created_at":
        "2022-02-24T20:59:05Z", "id": "ak_16f993eae7984eab94e0957a78bee407"}, {"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "production", "created_at":
        "2022-02-24T20:59:14Z", "id": "ak_62524a9c3f684f65ab9eccbf70950df8"}], "children":
        [{"id": "user_584be78af2f141e988b6c60dda9dd8fd", "keys": [{"object": "ApiKey",
        "active": true, "key": "<REDACTED>", "mode": "test", "created_at": "2023-12-11T17:13:38Z",
        "id": "ak_90e045d452174b3e99198138dc7938f5"}, {"object": "ApiKey", "active":
        true, "key": "<REDACTED>", "mode": "production", "created_at": "2023-12-11T17:13:38Z",
        "id": "ak_7ef472842fda4256b72779e74653ca79"}], "children": []}, {"id": "user_437e724f37de412db6df8821968d8d3c",
        "keys[...]
