interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?page_size=5
  response:
    body:
      string: '{"addresses": [{"id": "adr_46fb9648c8d811edad32ac1f6b0a0d1e", "object":
        "Address", "created_at": "2023-03-22T17:37:54+00:00", "updated_at": "2023-03-22T17:37:54+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 2",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": false, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [{"code": "E.SECONDARY_INFORMATION.INVALID",
        "field": "street2", "message": "Invalid secondary information(Apt/Suite#)",
        "suggestion": null}], "details": null}, "delivery": {"success": true, "errors":
        [{"code": "E.SECONDARY_INFORMATION.INVALID", "field": "street2", "message":
        "Invalid secondary information(Apt/Suite#)", "suggestion": null}], "details":
        {"latitude": 37.79342, "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}},
        {"id": "adr_46f5a534c8d811edabcaac1f6bc7b362", "object": "Address", "created_at":
        "2023-03-22T17:37:54+00:00", "updated_at": "2023-03-22T17:37:54+00:00", "name":
        null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential"[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?before_id=adr_30ea418bc8d811eda413ac1f6b0a0d1e&page_size=5
  response:
    body:
      string: '{"addresses": [{"id": "adr_3085a20ac8d811edab02ac1f6bc72124", "object":
        "Address", "created_at": "2023-03-22T17:37:17+00:00", "updated_at": "2023-03-22T17:37:17+00:00",
        "name": null, "company": "EasyPost", "street1": "417 MONTGOMERY ST", "street2[...]
