interactions:
- request:
    body: '{"type": "shipment", "start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_bffdbee1e86943a88f9a57711aa8f40d", "object": "ShipmentReport",
        "created_at": "2022-08-15T18:52:16Z", "updated_at": "2022-08-15T18:52:16Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1d66ff1726e723bf27d3926ae38e3ed5"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47a62fa95e0e79a7a6400262dc9
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
