interactions:
- request:
    body: '{"type": "shipment", "start_date": "2022-05-04", "end_date": "2022-05-04",
      "additional_columns": ["from_name", "from_company"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_c35a6c3f676c4825a2aeded1f0dd13b8", "object": "ShipmentReport",
        "created_at": "2022-08-15T18:52:16Z", "updated_at": "2022-08-15T18:52:16Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9753083618fb6ecaf12a3730386bc2e2"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95e0e79a7a6500262e1d
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
