interactions:
- request:
    body: '{"ups_oauth_registrations": {"type": "UpsAccount"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/ups_oauth_registrationses/ca_123
  response:
    body:
      string: '{"error": {"code": "NOT_FOUND", "message": "The requested resource
        could not be found.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - cbf774916685c061e2bc38b300282931
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb4nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407031852-b015027e75-master
    status:
      code: 404
      message: Not Found
version: 1
