interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "customs_info":
      {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true, "customs_signer": "Steve
      Brule", "contents_type": "merchandise", "contents_explanation": "", "restriction_type":
      "none", "non_delivery_option": "return", "customs_items": [{"description": "Sweet
      shirts", "quantity": 2, "weight": 11, "value": 23, "hs_tariff_number": "654321",
      "origin_country": "US"}]}, "options": {"label_format": "PNG", "invoice_number":
      "123"}, "reference": "123"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T19:56:12Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"label_format": "PNG", "invoice_number": "123",
        "currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference":
        "123", "status": "unknown", "tracking_code": null, "updated_at": "2022-07-28T19:56:12Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        {"id": "cstinfo_919e4c0d8dcf4869a9fe4dbafaf00b8d", "object": "CustomsInfo",
        "created_at": "2022-07-28T19:56:12Z", "updated_at": "2022-07-28T19:56:12Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_2c777f6bd9e74c7090f82d2fb88ae51b",
        "object": "CustomsItem", "created_at": "2022-07-28T19:56:12Z", "updated_at":
        "2022-07-28T19:56:12Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.0", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}]}, "from_address": {"id":
        "adr_55254e9f0eaf11ed9bd5ac1f6bc7b362", "object": "Address", "created_at":
        "2022-07-28T19:56:12+00:00", "updated_at": "2022-07-28T19:56:12+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_5a13a7e5d41b4b48bba2058f7e358e55",
        "object": "Parcel", "created_at": "2022-07-28T19:56:12Z", "updated_at": "2022-07-28T19:56:12Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_4272d79e01964d00af8fa01631d2d947",
        "object": "Rate", "created_at": "2022-07-28T19:56:13Z", "updated_at": "2022-07-28T19:56:13Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.49", "currency":
        "USD", "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 2, "shipment_id":
        "shp_dc25fb97e0704c889d752b71ca741440", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_616e863d120840379c188d1a0709d007", "object": "Rate", "created_at":
        "2022-07-28T19:56:13Z", "updated_at": "2022-07-28T19:56:13Z", "mode": "test",
        "service": "Priority", "carrier": "USPS", "rate": "7.37", "currency": "USD",
        "retail_rate": "8.70", "retail_currency": "USD", "list_rate": "7.37", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": 1, "delivery_date": null,
        "delivery_d[...]
- request:
    body: '{"carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_dc25fb97e0704c889d752b71ca741440/rerate
  response:
    body:
      string: '{"rates": [{"id": "rate_3095a0cdb7b8403dbb237e138724d249", "object":
        "Rate", "created_at": "2022-07-28T19:56:13Z", "updated_at": "2022-07-28T19:56:13Z",
        "mode": "test", "service": "Priority", "[...]
