interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:53Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115909067", "updated_at": "2022-04-20T18:37:54Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_fd577899c0d811eca006ac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-04-20T18:37:53+00:00", "updated_at": "2022-04-20T18:37:53+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_bac97480d4cb4806b00d1182de5943bc",
        "object": "Parcel", "created_at": "2022-04-20T18:37:53Z", "updated_at": "2022-04-20T18:37:53Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_086482684b3c404dacdebe9824fe82ab",
        "created_at": "2022-04-20T18:37:54Z", "updated_at": "2022-04-20T18:37:54Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:37:54Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/1a2dfd1093b2438a81daeef93af9169f.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_21595c953ead44b7a167166a0e74e044", "object":
        "Rate", "created_at": "2022-04-20T18:37:53Z", "updated_at": "2022-04-20T18:37:53Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "delivery_days": 1, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 1, "shipment_id":
        "shp_758fd51746ba449e888de5bac8218f31", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_96ec1d599a78425eb2481f53abdcf3e0", "object": "Rate", "created_at":
        "2022-04-20T18:37:53Z", "updated_at": "2022-04-20T18:37:53Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "23.75", "currency": "USD",
        "retail_rate": "27.40", "retail_currency": "USD", "list_rate": "23.75", "list_currency":
        "USD", "delivery_days": null, "delivery_date": null, "delivery_date_guaranteed":
        false,[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_758fd51746ba449e888de5bac8218f31/refund
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:53Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0[...]
