interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T20:26:12Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361130493886", "updated_at": "2022-07-28T20:26:13Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_85b74c930eb311edaa4aac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-07-28T20:26:12+00:00", "updated_at": "2022-07-28T20:26:12+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_258753877b21495a96c544841fe7c6b7",
        "object": "Parcel", "created_at": "2022-07-28T20:26:12Z", "updated_at": "2022-07-28T20:26:12Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_5cac5f2b4a654e1f9f1eedbda701e78a",
        "created_at": "2022-07-28T20:26:13Z", "updated_at": "2022-07-28T20:26:13Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T20:26:13Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/edb07806acf3418dba199909c53eebc8.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_ea03ced1aaba4a91b37da045a7705335", "object":
        "Rate", "created_at": "2022-07-28T20:26:12Z", "updated_at": "2022-07-28T20:26:12Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_76f8e1ec84f44e1a9bf300dc002aa9dc", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_083109eec5db4b5e8f28eb6aede379fd",
        "object": "Rate", "created_at": "2022-07-28T20:26:12Z", "updated_at": "2022-07-28T20:26:12Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.49", "currency":
        "USD", "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date":
        null, "delivery_date[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-07-29",
      "max_datetime": "2022-07-29", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_76f8e1ec84f44e1a9bf300dc002aa9dc"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_0859a07d80f94e9a8e5148cbf134ece6", "object": "Pickup",
        "created_at": "2022-07-28T20:26:13Z", "updated_at": "2022-07-28T20:26:13Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-07-29T00:00:00Z",
        "max_datetime": "2022-07-29T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_8679b36a0eb311edaa79ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-07-28T20:26:13+00:00", "updated_at": "2022-07-28T20:26:13+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2022-07-28T20:26:14Z",
        "updated_at": "2022-07-28T20:26:14Z", "carrier": "USPS", "pickup_id": "pickup_0859a07d80f94e9a8e5148cbf134ece6",
        "id": "pickuprate_a7f18ecc880c44a081eeaed67be32b59", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1c10d878baecd9f7e4269177925c1b37"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - b0657e4062e2f0e5ff23eafd00360f95
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - intlb1wdc 403f17ff97
      - extlb3wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
version: 1
