interactions:
- request:
    body: '{"carrier_account_oauth_registrations": {"type": "UpsAccount", "account_number":
      "123456789"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth
  response:
    body:
      string: '{"id": "ca_6e690e7623ba4354b29d209fc19a725f", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2025-05-23T19:13:53Z",
        "updated_at": "2025-05-23T19:13:53Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6be4a8f66830c8f1e787301d003e93e1
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb4nuq 668d3fc830
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202505231841-d89645a184-master
    status:
      code: 201
      message: Created
- request:
    body: '{"carrier_account": {"account_number": "987654321"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/carrier_accounts/ca_6e690e7623ba4354b29d209fc19a725f
  response:
    body:
      string: '{"id": "ca_6e690e7623ba4354b29d209fc19a725f", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2025-05-23T19:13:53Z",
        "updated_at": "2025-05-23T19:13:54Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6be4a8f66830c8f1e787301d003e9403
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb4nuq 668d3fc830
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202505231841-d89645a184-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_6e690e7623ba4354b29d209fc19a725f
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6be4a8f66830c8f2e787301d003e941e
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq 668d3fc830
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202505231841-d89645a184-master
    status:
      code: 200
      message: OK
version: 1
