interactions:
- request:
    body: '{"shipment": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"error": {"code": "SHIPMENT.INVALID_PARAMS", "message": "Unable to
        create shipment, one or more parameters were invalid.", "errors": [{"to_address":
        "Required and missing."}, {"from_address": "Required and missing."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 401d18d4626052c8e79969c300243022
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
