interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-16T15:09:01Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100104262210314976", "updated_at": "2023-05-16T15:09:02Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_97548187f3fb11edaf24ac1f6b0a0d1e", "object": "Address", "created_at":
        "2023-05-16T15:09:01+00:00", "updated_at": "2023-05-16T15:09:01+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_5fb09d738fa042868319f04c06619388",
        "object": "Parcel", "created_at": "2023-05-16T15:09:01Z", "updated_at": "2023-05-16T15:09:01Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_882b473b3d8744c6961e2e0d7dbfc235",
        "created_at": "2023-05-16T15:09:02Z", "updated_at": "2023-05-16T15:09:02Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-05-16T15:09:02Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/6707c012152345928040d50307869170.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_053b9306842b41c6a11342e2eade3dda", "object":
        "Rate", "created_at": "2023-05-16T15:09:02Z", "updated_at": "2023-05-16T15:09:02Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_9543343d31b44ec4863e3679570d73c2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_705a363033894072a568a34daa8dc7de",
        "object": "Rate", "created_at": "2023-05-16T15:09:02Z", "updated_at": "2023-05-16T15:09:02Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "6.76",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delive[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_9543343d31b44ec4863e3679570d73c2
  response:
    body:
      string: '{"created_at": "2023-05-16T15:09:01Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100104262210314976", "upd[...]
- request:
    body: '{"refund": {"carrier": "USPS", "tracking_codes": ["9400100104262210314976"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/refunds
  response:
    body:
      string: '[{"id": "rfnd_bad47afb0a9743b6acbf1ecfad761aa5", "object": "Refund",
        "created_at": "2023-05-16T15:09:03Z", "updated_at": "2023-05-16T15:09:03Z",
        "tracking_code": "9400100104262210314976", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_9543343d31b44ec4863e3679570d73c2"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"413dcb5155378096d15b1f16151671c3"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e364639c8fe786a737002008e0
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 201
      message: Created
version: 1
