interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:03:07Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105442285862681", "updated_at": "2023-11-28T22:03:07Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_e91b8c6b8e3911ee88f6ac1f6bc53342", "object": "Address", "created_at":
        "2023-11-28T22:03:07+00:00", "updated_at": "2023-11-28T22:03:07+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_8ea8d4a879fe4aa594ccc47cab13ae7a",
        "object": "Parcel", "created_at": "2023-11-28T22:03:07Z", "updated_at": "2023-11-28T22:03:07Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_6b83022b69f6419db90e7a63eda23e1d",
        "created_at": "2023-11-28T22:03:07Z", "updated_at": "2023-11-28T22:03:07Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-11-28T22:03:07Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231128/e8e7f13c1c311b49399defba60e68b3525.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_cf35b9fa5f8243419e9d99daf91c3e7a", "object":
        "Rate", "created_at": "2023-11-28T22:03:07Z", "updated_at": "2023-11-28T22:03:07Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_3b18a7335d8144e8951c37fb8e9a3828", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_0370cd6af9b7441189ff1425ab0d3849",
        "object": "Rate", "created_at": "2023-11-28T22:03:07Z", "updated_at": "2023-11-28T22:03:07Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_[...]
- request:
    body: '{"scan_form": {"shipment": [{"id": "shp_3b18a7335d8144e8951c37fb8e9a3828"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id": "sf_3c5c5b35c1144bfa9c39bd22b52fce2d", "object": "ScanForm",
        "created_at": "2023-11-28T22:03:08Z", "updated_at": "2023-11-28T22:03:08Z",
        "tracking_codes": ["9400100105442285862681"], "address": {"id": "adr_e91b8c6b8e3911ee88f6ac1f6bc53342",
        "object": "Address", "created_at": "2023-11-28T22:03:07+00:00", "updated_at":
        "2023-11-28T22:03:07+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20231128/e8240f3ff9915040b8ad655e32c484d477.pdf",
        "form_file_type": null, "batch_id": "batch_5f9ca1835aab47edbd73da98526f75c0",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ae35d0b36566639ce78a978a003e7109
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb1nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 200
      message: OK
version: 1
