interactions:
- request:
    body: '{"insurance": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "carrier": "USPS", "amount": "100", "tracking_code":
      "EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/insurances
  response:
    body:
      string: '{"id": "ins_934e819458684a25b65437b09886339c", "object": "Insurance",
        "mode": "test", "reference": null, "status": "pending", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id": "adr_fb8e11d55b3f11ef8d75ac1f6bc539aa",
        "object": "Address", "created_at": "2024-08-15T19:53:03+00:00", "updated_at":
        "2024-08-15T19:53:03+00:00", "name": "ELIZABETH SWAN", "company": null, "street1":
        "179 N HARBOR DR", "street2": null, "city": "REDONDO BEACH", "state": "CA",
        "zip": "90277-2506", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "from_address": {"id": "adr_fb93fbd65b3f11ef8d77ac1f6bc539aa", "object": "Address",
        "created_at": "2024-08-15T19:53:03+00:00", "updated_at": "2024-08-15T19:53:03+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "shipment_id": null, "tracker": {"id": "trk_62f6076a9a3f4338b86e15e7fef1d00d",
        "object": "Tracker", "mode": "test", "tracking_code": "EZ1000000001", "status":
        "pre_transit", "status_detail": "status_update", "created_at": "2024-07-18T20:43:47Z",
        "updated_at": "2024-07-18T20:43:48Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2024-07-18T20:43:47Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": "", "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2024-06-18T20:43:47Z", "source": "USPS", "carrier_code": "",
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": "", "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2024-06-19T09:20:47Z", "source": "USPS", "carrier_code":
        "", "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail": {"object":
        "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrXzYyZjYwNzZhOWEzZjQzMzhiODZlMTVlN2ZlZjFkMDBk",
        "fees": []}, "tracking_code": "EZ1000000001", "fee": {"object": "Fee", "type":
        "InsuranceFee", "amount": "1.00000", "charged": true, "refunded": false},
        "messages": [], "created_at": "2024-08-15T19:53:03Z", "updated_at": "2024-08-15T19:53:03Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/insurances/ins_934e819458684a25b65437b09886339c
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5db66be5c9fe788617f00172733
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/insurances/ins_934e819458684a25b65437b09886339c/refund
  response:
    body:
      string: '{"id": "ins_934e819458684a25b65437b09886339c", "object": "Insurance",
        "mode": "test", "reference": null, "status": "cancelled", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id[...]
