interactions:
- request:
    body: '{"shipment": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"error": {"code": "PARAMETER.REQUIRED", "message": "Missing required
        parameter.", "errors": [{"field": "shipment", "message": "cannot be blank"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - ae35d0b865666398e78a9788003e6bcc
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
