interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"id": "user_55b92a4a1633479488889ec5b1a2dac9", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2025-03-06T19:48:39Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        null, "secondary_recharge_amount": null, "recharge_threshold": null, "has_billing_method":
        null, "cc_fee_rate": "0.0375", "default_insurance_amount": "50.00", "insurance_fee_rate":
        "0.01", "insurance_fee_minimum": "0.50", "email": "<REDACTED>", "children":
        [], "api_keys": [{"object": "ApiKey", "key": "<REDACTED>", "mode": "test",
        "created_at": "2025-03-06T19:48:40Z", "active": true, "id": "ak_f490ecb3c0084330a8c518de543100bb"},
        {"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2025-03-06T19:48:40Z", "active": true, "id": "ak_6fc88d2d69464d0da46ed6d16cf65294"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62b67c9fc17e2b97b720018a5bb
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
version: 1
