interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_d751133015c84411adcd073cf5c235b8", "object": "Parcel",
        "created_at": "2023-05-15T21:03:26Z", "updated_at": "2023-05-15T21:03:26Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f50be1b80cfb0538b6c397ab8498ec12"
      location:
      - /api/prcl_d751133015c84411adcd073cf5c235b8/parcels
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 36ec0a9264629e1ee2b976d20033d474
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305151948-2ffaad026d-master
    status:
      code: 201
      message: Created
version: 1
