interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:10:30Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2023-11-28T22:10:31Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_f169d0918e3a11eea0813cecef1b359e", "object": "Address", "created_at":
        "2023-11-28T22:10:30+00:00", "updated_at": "2023-11-28T22:10:30+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_be4399c1a66940a0bdb3181dd1dc351b",
        "object": "Parcel", "created_at": "2023-11-28T22:10:30Z", "updated_at": "2023-11-28T22:10:30Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_fccd2abdf2324cf9bbf43299c9d005f9",
        "object": "Rate", "created_at": "2023-11-28T22:10:31Z", "updated_at": "2023-11-28T22:10:31Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate":
        "6.07", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_d7e364778ec44a6da37e617e5285aaf7", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_392b84979edf44fe9702cabd1a19f4d0",
        "object": "Rate", "created_at": "2023-11-28T22:10:31Z", "updated_at": "2023-11-28T22:10:31Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.93", "currency":
        "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate": "6.07",
        "list_currency": "USD", "billing_type": "easypost", "de[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_d7e364778ec44a6da37e617e5285aaf7/smartrate/delivery_date?planned_ship_date=2023-12-28
  response:
    body:
      string: '{"rates": [{"easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        2, "percentile_75": 5, "percentile_85": 5, "percentile_90": 5, "percentile_95":
        5, "percentile_97": 5, "percentile_99": 7}, "easypost_estimated_delivery_date":
        "2023-12-30", "planned_ship_date": "2023-12-28"}, "rate": {"carrier": "USPS",
        "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at":
        "2023-11-28T22:10:31Z", "currency": "USD", "delivery_date": null, "delivery_date_guaranteed":
        false, "delivery_days": 3, "est_delivery_days": 3, "id": "rate_fccd2abdf2324cf9bbf43299c9d005f9",
        "list_currency": "USD", "list_rate": 6.07, "mode": "test", "object": "Rate",
        "rate": 5.93, "retail_currency": "USD", "retail_rate": 8.0, "service": "[...]
