interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts?page_size=5
  response:
    body:
      string: '[{"id": "ca_b25657e9896e4d63ac8151ac346ac41e", "object": "CarrierAccount",
        "type": "UspsAccount", "clone": false, "created_at": "2017-03-01T03:01:34Z",
        "updated_at": "2018-08-09T02:45:22Z", "description": "USPS Account", "reference":
        null, "billing_type": "easypost", "readable": "USPS", "logo": null, "fields":
        {"credentials": {"company_name": {"visibility": "visible", "label": "Account
        Holder Name", "value": ""}, "address_street": {"visibility": "visible", "label":
        "Street Address", "value": ""}, "address_city": {"visibility": "visible",
        "label": "City", "value": ""}, "address_state": {"visibility": "visible",
        "label": "State", "value": ""}, "address_zip": {"visibility": "visible", "label":
        "ZIP Code", "value": ""}, "phone": {"visibility": "visible", "label": "Phone
        Number", "value": ""}, "email": {"visibility": "visible", "label": "Email
        Address", "value": null}, "shipper_id": {"visibility": "visible", "label":
        "Shipper Identifier (Optional)", "value": ""}}}, "credentials": ["REDACTED"],
        "test_credentials": ["REDACTED"]}, {"id": "ca_05ab5a0345634187b52daaf787aa4cd0",
        "object": "CarrierAccount", "type": "LsoDefaultAccount", "clone": false, "created_at":
        "2022-04-26T16:58:59Z", "updated_at": "2022-04-26T16:58:59Z", "description":
        "LSO Account", "reference": null, "billing_type": "easypost", "readable":
        "LSO", "logo": null, "fields": {"credentials": {}}, "credentials": ["REDACTED"],
        "test_credentials": ["REDACTED"]}, {"id": "ca_d38ae88b6edb48ed93c0a16ed068215b",
        "object": "CarrierAccount", "type": "DhlExpressDefaultAccount", "clone": false,
        "created_at": "2022-04-26T16:59:02Z", "updated_at": "2022-04-26T16:59:02Z",
        "description": "DHL Express Account", "reference": null, "billing_type": "easypost",
        "readable": "DHL Express", "logo": null, "fields": {"credentials": {}}, "credentials":
        ["REDACTED"], "test_credentials": ["REDACTED"]}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4b41fc9dbe64525abbd98e69610a3856"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 24b369b2627bc562e7798b6d00097c4c
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - intlb2wdc fde591f008
      - extlb1wdc c51cdb8bf2
      x-version-label:
      - easypost-202205110022-b4df6b5700-master
    status:
      code: 200
      message: OK
version: 1
