interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T20:26:07Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361130493879", "updated_at": "2022-07-28T20:26:08Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_8313be270eb311eda57aac1f6bc7b362", "object": "Address", "created_at":
        "2022-07-28T20:26:07+00:00", "updated_at": "2022-07-28T20:26:07+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_0f7671034a9240ed9542666a15855ae3",
        "object": "Parcel", "created_at": "2022-07-28T20:26:07Z", "updated_at": "2022-07-28T20:26:07Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_2adde98b36d14f85a5ffb5021b11a9ad",
        "created_at": "2022-07-28T20:26:08Z", "updated_at": "2022-07-28T20:26:08Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T20:26:08Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/b1b7a101e5a5447193017b29debea2ce.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_6fb416fd32ad4adcaf610c1bd716a77f", "object":
        "Rate", "created_at": "2022-07-28T20:26:08Z", "updated_at": "2022-07-28T20:26:08Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22",
        "currency": "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate":
        "7.22", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_39e2bc8fa8884564b66de8418cb64e1f", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_0e132487cc3a45f8b1f6035b015c4b25",
        "object": "Rate", "created_at": "2022-07-28T20:26:08Z", "updated_at": "2022-07-28T20:26:08Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.49", "currency":
        "USD", "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date":
        null, "delivery_date[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-07-29",
      "max_datetime": "2022-07-29", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_39e2bc8fa8884564b66de8418cb64e1f"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_f2748b8ee8b8413a85e15da1ee6842c2", "object": "Pickup",
        "created_at": "2022-07-28T20:26:09Z", "updated_at": "2022-07-28T20:26:09Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-07-29T00:00:00Z",
        "max_datetime": "2022-07-29T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_83c189540eb311eda670ac1f6bc7b362", "object": "Address", "created_at":
        "2022-07-28T20:26:09+00:00", "updated_at": "2022-07-28T20:26:09+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2022-07-28T20:26:09Z",
        "updated_at": "2022-07-28T20:26:09Z", "carrier": "USPS", "pickup_id": "pickup_f2748b8ee8b8413a85e15da1ee6842c2",
        "id": "pickuprate_6fdbff3930744601b705f405c054fab7", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"18e82f35fc87e507c001f0fd5c3c9fc5"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - efdf9e0562e2f0e0ff23eafc0001d62b
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 403f17ff97
      - intlb1wdc 403f17ff97
      - extlb4wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_f2748b8ee8b8413a85e15da1ee6842c2/buy
  response:
    body:
      string: '{"id": "pickup_f2748b8ee8b8413a85e15da1ee6842c2", "object": "Pickup",
        "created_at": "2022-07-28T20:26:09Z", "updated_at": "2022-07-28T20:26:11Z",
        "mode": "test", "status": "sched[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_f2748b8ee8b8413a85e15da1ee6842c2/cancel
  response:
    body:
      string: '{"id": "pickup_f2748b8ee8b8413a85e15da1ee6842c2", "object": "Pickup",
        "created_at": "2022-07-28T20:26:09Z", "updated_at": "2022-07-28T20:26:12Z",
        "mode": "test", "status": "canceled", "reference": null, "min_dateti[...]
