interactions:
- request:
    body: '{"type": "shipment", "start_date": "2022-04-11", "end_date": "2022-04-11"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"object": "ShipmentReport", "created_at": "2022-04-20T18:37:30Z",
        "updated_at": "2022-04-20T18:37:30Z", "start_date": "2022-04-11", "end_date":
        "2022-04-11", "mode": "test", "status": "new", "url": null, "url_expires_at":
        null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8fac8445f0037fe13e3c81e7d96ca5ef"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4e9626052eae7996a080024364d
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_b8496de999c14602a68cc6e39e3d301c
  response:
    body:
      string: '{"object": "ShipmentReport", "created_at": "2022-04-20T18:37:30Z",
        "updated_at": "2022-04-20T18:37:30Z", "start_date": "2022-04-11", "end_date":
        "2022-04-11", "mode": "test", "status": "empty", "url": null, "url_expires_at":
        null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"26c58d7d5083dd34f8ee1f382cd7d300"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4e9626052eae7996a080024367b
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
