interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/trackers?page_size=5
  response:
    body:
      string: '{"trackers": [{"id": "trk_895f9744d4e84493b531c97146d63838", "object":
        "Tracker", "mode": "test", "tracking_code": "EZ1000000001", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2022-04-20T18:38:05Z", "updated_at":
        "2022-04-20T18:38:05Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2022-04-20T18:38:05Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": null, "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2022-03-20T18:38:05Z", "source": "USPS", "carrier_code": null,
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": null, "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2022-03-21T07:15:05Z", "source": "USPS", "carrier_code":
        null, "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "fees": [{"object": "Fee",
        "type": "TrackerFee", "amount": "0.02000", "charged": false, "refunded": false}],
        "carrier_detail": {"object": "CarrierDetail", "service": "First-Class Package
        Service", "container_type": null, "est_delivery_date_local": null, "est_delivery_time_local":
        null, "origin_location": "HOUSTON TX, 77001", "origin_tracking_location":
        {"object": "TrackingLocation", "city": "HOUSTON", "state": "TX", "country":
        null, "zip": "77063"}, "destination_location": "CHARLESTON SC, 29401", "destination_tracking_location":
        null, "guaranteed_delivery_date": null, "alternate_identifier": null, "initial_delivery_attempt":
        null}, "public_url": "https://track.easypost.com/djE6dHJrXzg5NWY5NzQ0ZDRlODQ0OTNiNTMxYzk3MTQ2ZDYzODM4"},
        {"id": "trk_d1a169a7ec49423fbeaf0526b614e637", "object": "Tracker", "mode":
        "test", "tracking_code": "EZ1000000001", "status": "pre_transit", "status_detail":
        "status_update", "created_at": "2022-04-20T18:38:04Z", "updated_at": "2022-04-20T18:38:04Z",
        "signed_by": null, "weight": null, "est_delivery_date": "2022-04-20T18:38:04Z",
        "shipment_id": null, "carrier": "USPS", "tr[...]
