interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "company": "EasyPost", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "phone": "5555555555"}, "verify_strict": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_3b5a65d70f6511ed98f4ac1f6bc72124", "object": "Address",
        "created_at": "2022-07-29T17:38:18+00:00", "updated_at": "2022-07-29T17:38:18+00:00",
        "name": "JACK SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND ST
        APT 20", "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"22ac1cfa3f1fbe071cad5da66ce774e5"
      location:
      - /api/v2/addresses/adr_3b5a65d70f6511ed98f4ac1f6bc72124
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 2415913a62e41b09e786b3f90005fc61
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - extlb2nuq 403f17ff97
      x-version-label:
      - easypost-202207282305-ef64fb0c25-master
    status:
      code: 201
      message: Created
version: 1
