interactions:
- request:
    body: '{"from_zip": "94107", "to_zip": "90277", "planned_ship_date": "2025-03-08",
      "carriers": ["USPS"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/smartrate/deliver_by
  response:
    body:
      string: '{"carriers_without_tint_estimates": null, "from_zip": "94107", "planned_ship_date":
        "2025-03-08", "results": [{"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 3, "percentile_75": 4, "percentile_85":
        4, "percentile_90": 5, "percentile_95": 6, "percentile_97": 7, "percentile_99":
        10}, "easypost_estimated_delivery_date": "2025-03-10"}, "service": "express"},
        {"carrier": "USPS", "easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        3, "percentile_75": 4, "percentile_85": 5, "percentile_90": 5, "percentile_95":
        6, "percentile_97": 7, "percentile_99": 10}, "easypost_estimated_delivery_date":
        "2025-03-11"}, "service": "groundadvantage"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 3, "percentile_75": 4, "percentile_85":
        4, "percentile_90": 5, "percentile_95": 6, "percentile_97": 6, "percentile_99":
        9}, "easypost_estimated_delivery_date": "2025-03-11"}, "service": "librarymail"},
        {"carrier": "USPS", "easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        3, "percentile_75": 3, "percentile_85": 4, "percentile_90": 5, "percentile_95":
        6, "percentile_97": 6, "percentile_99": 9}, "easypost_estimated_delivery_date":
        "2025-03-10"}, "service": "mediamail"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 3, "percentile_75": 4, "percentile_85":
        4, "percentile_90": 5, "percentile_95": 6, "percentile_97": 7, "percentile_99":
        10}, "easypost_estimated_delivery_date": "2025-03-11"}, "service": "priority"}],
        "saturday_delivery": false, "to_zip": "90277"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8fc67cb22e9e2aabd96000af398
      x-node:
      - bigweb58nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 200
      message: OK
version: 1
