interactions:
- request:
    body: '{"customs_item": {"description": "Sweet shirts", "quantity": 2, "weight":
      11, "value": 23.25, "hs_tariff_number": "654321", "origin_country": "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_07988de34f094d4bb89b50f3c0b5fe0d", "object": "CustomsItem",
        "created_at": "2023-05-12T21:27:54Z", "updated_at": "2023-05-12T21:27:54Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1f31e2d103ff414109cc7121e547eb38"
      location:
      - /api/v2/customs_items/cstitem_07988de34f094d4bb89b50f3c0b5fe0d
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52975b51645eaf5ae2aac6c1000f8efd
      x-node:
      - bigweb12nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_items/cstitem_07988de34f094d4bb89b50f3c0b5fe0d
  response:
    body:
      string: '{"id": "cstitem_07988de34f094d4bb89b50f3c0b5fe0d", "object": "CustomsItem",
        "created_at": "2023-05-12T21:27:54Z", "updated_at": "2023-05-12T21:27:54Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1f31e2d103ff414109cc7121e547eb38"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52975b51645eaf5ae2aac6c1000f8f07
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 200
      message: OK
version: 1
