interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:00Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133189403", "updated_at": "2022-08-15T18:52:00Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_5825578f1ccb11eda107ac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-08-15T18:52:00+00:00", "updated_at": "2022-08-15T18:52:00+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_0adc01de1cb646e7bc482ce6555e37df",
        "object": "Parcel", "created_at": "2022-08-15T18:52:00Z", "updated_at": "2022-08-15T18:52:00Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_4bc7213a511e47978f6f398a42b973f9",
        "created_at": "2022-08-15T18:52:00Z", "updated_at": "2022-08-15T18:52:00Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T18:52:00Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/677474c3989f48bda15af7d5c1baa53f.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_3e79a7fe1f12452198d2a9665f537545", "object":
        "Rate", "created_at": "2022-08-15T18:52:00Z", "updated_at": "2022-08-15T18:52:00Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_4db4ec9a895847df86fea8081e847f19", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_4273d9adb39a4fdf990a39e99f9e8361",
        "object": "Rate", "created_at": "2022-08-15T18:52:00Z", "updated_at": "2022-08-15T18:52:00Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2022-08-17", "max_datetime": "2022-08-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_4db4ec9a895847df86fea8081e847f19"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_b82f53311a634b25b2bdd08d646e738e", "object": "Pickup",
        "created_at": "2022-08-15T18:52:01Z", "updated_at": "2022-08-15T18:52:01Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-08-17T00:00:00Z",
        "max_datetime": "2022-08-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_58bfd7b91ccb11ed8544ac1f6bc7b362", "object": "Address", "created_at":
        "2022-08-15T18:52:01+00:00", "updated_at": "2022-08-15T18:52:01+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "carrier_accounts": [], "pickup_rates": [{"mode":
        "test", "service": "NextDay", "rate": "0.00", "currency": "USD", "created_at":
        "2022-08-15T18:52:01Z", "updated_at": "2022-08-15T18:52:01Z", "carrier": "USPS",
        "pickup_id": "pickup_b82f53311a634b25b2bdd08d646e738e", "id": "pickuprate_f3cf238207f14d74bc90c8f7b726c5b7",
        "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"46703e3a17068f151a32848bac8416dc"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95d1e79a7a43002627b3
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_b82f53311a634b25b2bdd08d646e738e/buy
  response:
    body:
      string: '{"id": "pickup_b82f53311a634b25b2bdd08d646e738e", "object": "Pickup",
        "created_at": "2022-08-15T18:52:01Z", "updated_at": "2022-08-15T18:52:03Z",
        "mode": "test", "status": "sched[...]
