interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}, "options": {"label_format":
      "PNG", "invoice_number": "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_4f5381cd729d48c2adc4d2d801d655e2", "created_at": "2025-03-07T16:46:17Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
        "PNG", "invoice_number": "123", "currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": "123", "status": "unknown", "tracking_code":
        null, "updated_at": "2025-03-07T16:46:17Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": {"id": "cstinfo_97b059fb952a4d8b87e3f5f1cb89878f",
        "object": "CustomsInfo", "created_at": "2025-03-07T16:46:17Z", "updated_at":
        "2025-03-07T16:46:17Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_08483c42308243d8b47c9b2fd67e2405", "object": "CustomsItem",
        "created_at": "2025-03-07T16:46:17Z", "updated_at": "2025-03-07T16:46:17Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_b07ddf8cfb7311ef9ba7ac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-07T16:46:17+00:00", "updated_at": "2025-03-07T16:46:17+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_32603eb873f14a7ca8dd2c9593c756d2",
        "object": "Parcel", "created_at": "2025-03-07T16:46:17Z", "updated_at": "2025-03-07T16:46:17Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_c8501931eb2b4c1fb25e1af7f3286bf4",
        "object": "Rate", "created_at": "2025-03-07T16:46:17Z", "updated_at": "2025-03-07T16:46:17Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_4f5381cd729d48c2adc4d2d801d655e2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_e10ea4fea5ba4d98a1a4135fe54737d7",
        "object": "Rate", "created_at": "2025-03-07T16:46:17Z", "updated_at": "2025-03-07T16:46:17Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_4f5381cd729d48c2adc4d2d801d655e2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_96763f5dc32548538c44e7c479243e38",
        "object": "Rate", "created_at": "2025-03-07T16:46:17Z", "updated_at": "2025-03-07T16:46:17Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_4f5381cd729d48c2adc4d2d801d655e2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_b0798197fb7311efa15bac1f6bc539aa",
        "object": "Address", "created_at": "2025-03-07T16:46:17+00:00", "updated_at":
        "2025-03-07T16:46:17+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_b07ddf8cfb7311ef9ba7ac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-07T16:46:17+00:00", "updated_at": "2025-03-07T16:46:17+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_b0798197fb7311efa15bac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-07T16:46:17+00:00", "updated_at": "2025-03-07T16:46:17+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_4f5381cd729d48c2adc4d2d801d655e2
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8ff67cb22d9e2aaba1e000adc25
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
version: 1
