interactions:
- request:
    body: '{"address": {"company": "EasyPost", "street1": "000 unknown street", "city":
      "Not A City", "state": "ZZ", "zip": "00001", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_d0e54933fac311ef8140ac1f6bc53342", "object": "Address",
        "created_at": "2025-03-06T19:47:20+00:00", "updated_at": "2025-03-06T19:47:20+00:00",
        "name": null, "company": "EasyPost", "street1": "000 unknown street", "street2":
        null, "city": "Not A City", "state": "ZZ", "zip": "00001", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_d0e54933fac311ef8140ac1f6bc53342
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62767c9fbc8e2b9771000184af0
      x-node:
      - bigweb59nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: '{"address": {"company": "EasyPost", "street1": "000 unknown street", "city":
      "Not A City", "state": "ZZ", "zip": "00001", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "verify": [true]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_d0f2ba11fac311ef9cfd3cecef1b359e", "object": "Address",
        "created_at": "2025-03-06T19:47:20+00:00", "updated_at": "2025-03-06T19:47:20+00:00",
        "name": null, "company": "EasyPost", "street1": "000 unknown street", "street2":
        null, "city": "Not A City", "state": "ZZ", "zip": "00001", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": false, "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field":
        "address", "message": "Address not found", "suggestion": null}], "details":
        null}, "delivery": {"success": false, "errors": [{"code": "E.ADDRESS.NOT_FOUND",
        "field": "address", "message": "Address not found", "suggestion": null}],
        "details": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_d0f2ba11fac311ef9cfd3cecef1b359e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62767c9fbc8e2b9771000184b02
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
version: 1
