interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments?page_size=5
  response:
    body:
      string: '{"shipments": [{"created_at": "2022-07-28T19:54:01Z", "is_return":
        false, "messages": [], "mode": "test", "options": {"currency": "USD", "payment":
        {"type": "SENDER"}, "date_advance": 0}, "reference": null, "status": "in_transit",
        "tracking_code": "9400100109361130483108", "updated_at": "2022-07-28T19:56:10Z",
        "batch_id": "batch_f8ef1b99fbb643b89762a2665ec75704", "batch_status": "postage_purchased",
        "batch_message": null, "customs_info": null, "from_address": {"id": "adr_06cf6ffd0eaf11ed8f05ac1f6bc72124",
        "object": "Address", "created_at": "2022-07-28T19:54:01+00:00", "updated_at":
        "2022-07-28T19:54:01+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
        "state": "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email":
        null, "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        null, "parcel": {"id": "prcl_febf5c821ed54fbc8d91e6cd0f311665", "object":
        "Parcel", "created_at": "2022-07-28T19:54:01Z", "updated_at": "2022-07-28T19:54:01Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_06336d90d45e4f43a74858878652623d",
        "created_at": "2022-07-28T19:54:01Z", "updated_at": "2022-07-28T19:54:02Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T19:54:01Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/e68dee0e5c2549dd90bf5d778e1275b1.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_c6ee34b7c9144fc5806833385318f91b", "object":
        "Rate", "created_at": "2022-07-28T19:54:01Z", "updated_at": "2022-07-28T19:54:01Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "23.75",
        "currency": "USD", "retail_rate": "27.40", "retail_currency": "USD", "list_rate":
        "23.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_aba7397b28ba487e9ee4b553e5791a84", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_fb72bdb283584a3596660af4e6543b9b",
        "object": "Rate", "created_at": "2022-07-28T19:54:01Z", "updated_at": "2022-07-28T19:54:01Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_d[...]
