interactions:
- request:
    body: '{"tracker": {"tracking_code": "EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/trackers
  response:
    body:
      string: '{"object": "Tracker", "mode": "test", "tracking_code": "EZ1000000001",
        "status": "pre_transit", "status_detail": "unknown", "created_at": "2022-04-20T18:38:04Z",
        "updated_at": "2022-04-20T18:38:04Z", "signed_by": null, "weight": 17.6, "est_delivery_date":
        "2022-04-20T18:38:04Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment information received",
        "description": null, "status": "pre_transit", "status_detail": null, "datetime":
        "2022-03-20T18:38:04Z", "source": "EasyPost", "carrier_code": null, "tracking_location":
        {"object": "TrackingLocation", "city": null, "state": null, "country": null,
        "zip": null}}, {"object": "TrackingDetail", "message": "Shipping label created",
        "description": null, "status": "pre_transit", "status_detail": null, "datetime":
        "2022-03-21T13:27:04Z", "source": "EasyPost", "carrier_code": null, "tracking_location":
        {"object": "TrackingLocation", "city": null, "state": null, "country": null,
        "zip": null}}], "carrier_detail": null, "finalized": true, "is_return": false,
        "public_url": "https://track.easypost.com/djE6dHJrX2QxYTE2OWE3ZWM0OTQyM2ZiZWFmMDUyNmI2MTRlNjM3",
        "fees": [{"object": "Fee", "type": "TrackerFee", "amount": "0.02000", "charged":
        false, "refunded": false}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"33dbe1f721511c8b1457479294fae9a0"
      location:
      - /api/v2/trackers/trk_d1a169a7ec49423fbeaf0526b614e637
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4e76260530ce7996a49002442c7
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
version: 1
