interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "company": "EasyPost", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_5a9b1bcf0eaf11eda11fac1f6bc72124", "object": "Address",
        "created_at": "2022-07-28T19:56:22+00:00", "updated_at": "2022-07-28T19:56:22+00:00",
        "name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
        "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ee16f1ffc76f78209f9f9534b8802444"
      location:
      - /api/v2/addresses/adr_5a9b1bcf0eaf11eda11fac1f6bc72124
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3843703e62e2e9e5ff23e2bf003436b7
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - intlb1wdc 403f17ff97
      - extlb4wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_52018d604e2f466ea7fc7a46b4fcbe20", "object": "Parcel",
        "created_at": "2022-07-28T19:56:22Z", "updated_at": "2022-07-28T19:56:22Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b6d5d12678ee9b475bf988ab7f98cc95"
      location:
      - /api/v2/parcels.prcl_52018d604e2f466ea7fc7a46b4fcbe20
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3843703e62e2e9e6ff23e2bf003436cd
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 403f17ff97
      - intlb2wdc 403f17ff97
      - extlb4wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"from_address": {"id": "adr_5a9b1bcf0eaf11eda11fac1f6bc72124"},
      "to_address": {"id": "adr_5ab5bcd10eaf11eda042ac1f6bc7b362"}, "parcel": {"id":
      "prcl_52018d604e2f466ea7fc7a46b4fcbe20"}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T19:56:22Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-07-28T19:56:22Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_5a9b1bcf0eaf11eda11fac1f6bc72124", "object": "Address", "created_at":
        "2022-07-28T19:56:22+00:00", "updated_at": "2022-07-28T19:56:22+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_52018d604e2f466ea7fc7a46b4fcbe20",
        "object": "Parcel", "created_at": "2022-07-28T19:56:22Z", "updated_at": "2022-07-28T19:56:22Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_504995ecd50445168efdf7f8952a46c8",
        "object": "Rate", "created_at": "2022-07-28T19:56:22Z", "updated_at": "2022-07-28T19:56:22Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22",
        "currency": "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate":
        "7.22", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_f45ce7aeef1f4c6eb8ecd3025d9c8ff1", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_743cd2c7dac840c3977a6150463c7607",
        "object": "Rate", "created_at": "2022-07-28T19:56:22Z", "updated_at": "2022-07-28T19:56:22Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_d[...]
