interactions:
- request:
    body: '{"tracker": {"tracking_code": "EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/trackers
  response:
    body:
      string: '{"id": "trk_8de54ec569444a0eabd75bd9dcecc96b", "object": "Tracker",
        "mode": "test", "tracking_code": "EZ1000000001", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2023-05-16T16:44:03Z", "updated_at":
        "2023-05-16T16:44:03Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2023-05-16T16:44:02Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": null, "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2023-04-16T16:44:02Z", "source": "USPS", "carrier_code": null,
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": null, "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2023-04-17T05:21:02Z", "source": "USPS", "carrier_code":
        null, "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail": {"object":
        "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrXzhkZTU0ZWM1Njk0NDRhMGVhYmQ3NWJkOWRjZWNjOTZi",
        "fees": [{"object": "Fee", "type": "TrackerFee", "amount": "0.02000", "charged":
        false, "refunded": false}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0bb4a4435918bb7a126c1ebd891be43d"
      location:
      - /api/v2/trackers/trk_8de54ec569444a0eabd75bd9dcecc96b
      x-backend:
      - easypost
      x-ep-request-uuid:
      - de846e086463b2d2e787383b002bd6b7
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161623-0a285b6b1b-master
    status:
      code: 201
      message: Created
version: 1
