interactions:
- request:
    body: '{"address": {"street1": "417 montgomery street", "street2": "FL 5", "city":
      "San Francisco", "state": "CA", "zip": "94104", "country": "US", "company":
      "EasyPost", "phone": "415-123-4567", "verify": [true]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/addresses/create_and_verify
  response:
    body:
      string: '{"address": {"id": "adr_d3772a4bc0d811ecb58aac1f6bc7b362", "object":
        "Address", "created_at": "2022-04-20T18:36:43+00:00", "updated_at": "2022-04-20T18:36:43+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "4151234567", "email": null, "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [{"code": "E.SECONDARY_INFORMATION.INVALID",
        "field": "street2", "message": "Invalid secondary information(Apt/Suite#)",
        "suggestion": null}], "details": null}, "delivery": {"success": true, "errors":
        [{"code": "E.SECONDARY_INFORMATION.INVALID", "field": "street2", "message":
        "Invalid secondary information(Apt/Suite#)", "suggestion": null}], "details":
        {"latitude": 37.79342, "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"bf2e3318028f0960db9358646ca4578f"
      location:
      - /api/v2/addresses/adr_d3772a4bc0d811ecb58aac1f6bc7b362
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18da626052bbe799697f00242b43
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
