interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_60c43d5d13bb4b34bfe4fa4c937a2ef1", "object": "ShipmentReport",
        "created_at": "2023-05-16T15:28:52Z", "updated_at": "2023-05-16T15:28:52Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"80d9da60e6cc1fa9d4774b8ac3b5ef23"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e16463a134e786afbb0021bb80
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 201
      message: Created
version: 1
