interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_bde92a511b4f4ed68a381c2806b75138", "created_at": "2025-03-07T16:46:32Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2025-03-07T16:46:32Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_b9c6ead5fb7311efa6cfac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-07T16:46:32+00:00", "updated_at": "2025-03-07T16:46:32+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_6f513f92240a45379cc5bf8a5744bbe6",
        "object": "Parcel", "created_at": "2025-03-07T16:46:32Z", "updated_at": "2025-03-07T16:46:32Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_0d02d5e5b0b44359bc223b4ea5173874",
        "object": "Rate", "created_at": "2025-03-07T16:46:33Z", "updated_at": "2025-03-07T16:46:33Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_bde92a511b4f4ed68a381c2806b75138", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_d79cc46dd49548bcae70d13190fba9f9",
        "object": "Rate", "created_at": "2025-03-07T16:46:33Z", "updated_at": "2025-03-07T16:46:33Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_bde92a511b4f4ed68a381c2806b75138", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_1e792efb0e784006b58b540a6ec0ae39",
        "object": "Rate", "created_at": "2025-03-07T16:46:33Z", "updated_at": "2025-03-07T16:46:33Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_bde92a511b4f4ed68a381c2806b75138", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_b9c4d560fb7311ef816dac1f6bc53342",
        "object": "Address", "created_at": "2025-03-07T16:46:32+00:00", "updated_at":
        "2025-03-07T16:46:32+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_b9c6ead5fb7311efa6cfac1f6bc539aa", "object": "Address", "created_at":
        "2025-03-07T16:46:32+00:00", "updated_at": "2025-03-07T16:46:32+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_b9c4d560fb7311ef816dac1f6bc53342", "object":
        "Address", "created_at": "2025-03-07T16:46:32+00:00", "updated_at": "2025-03-07T16:46:32+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_bde92a511b4f4ed68a381c2806b75138
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8fc67cb22e8e2aabd7e000af2fc
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_bde92a511b4f4ed68a381c2806b75138/smartrate/precision_shipping?desired_delivery_date=2025-03-08
  response:
    body:
      string: '{"rates": [{"easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        3, "percentile_75": 3, "percentile_85": 4, "percentile_90": 4, "percentile_95":
        5, "percentile_97": 6, "percentile_99": 8}, "delivery_date_confidence": 0.38,
        "desired_delivery_date": "2025-03-08", "estimated_transit_days": 1, "ship_on_date":
        "2025-03-07"}, "rate": {"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2025-03-07T16:46:33Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": 1, "est_delivery_days":
        1, "id": "rate_0d02d5e5b0b44359bc223b4ea5173874", "list_currency": "USD",
        "list_rate": 34.15, "mode": "test", "object": "Rate", "rate": 34.15, "retail_currency":
        "USD", "retail_rate": 39.1, "[...]
