interactions:
- request:
    body: '{"parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"object": "Parcel", "created_at": "2022-04-20T18:37:15Z", "updated_at":
        "2022-04-20T18:37:15Z", "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package":
        null, "weight": 15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"66e56b685696d1c6b3316d8881329b19"
      location:
      - /api/v2/parcels.prcl_cc88063bb25e4094bc7b392d5d5de68a
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4e7626052dbe79969e5002430cd
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/parcels/prcl_cc88063bb25e4094bc7b392d5d5de68a
  response:
    body:
      string: '{"object": "Parcel", "created_at": "2022-04-20T18:37:15Z", "updated_at":
        "2022-04-20T18:37:15Z", "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package":
        null, "weight": 15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"66e56b685696d1c6b3316d8881329b19"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4e7626052dbe79969e5002430dc
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
