interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments?page_size=5
  response:
    body:
      string: '{"shipments": [{"created_at": "2022-08-15T18:52:19Z", "is_return":
        false, "messages": [], "mode": "test", "options": {"currency": "USD", "payment":
        {"type": "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown",
        "tracking_code": "9400100109361133189540", "updated_at": "2022-08-15T18:52:21Z",
        "batch_id": "batch_6ddd21d292214630bad61509aae99a88", "batch_status": "postage_purchased",
        "batch_message": null, "customs_info": null, "from_address": {"id": "adr_63f287e01ccb11ed89fcac1f6bc7b362",
        "object": "Address", "created_at": "2022-08-15T18:52:19+00:00", "updated_at":
        "2022-08-15T18:52:19+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "5555555555", "email": "test@example.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        null, "parcel": {"id": "prcl_675ff517332d4de5b914e30721454656", "object":
        "Parcel", "created_at": "2022-08-15T18:52:19Z", "updated_at": "2022-08-15T18:52:19Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_7b695e9d1ab34d7eaef9dce2f8045947",
        "created_at": "2022-08-15T18:52:20Z", "updated_at": "2022-08-15T18:52:20Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T18:52:20Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/048ea218dcb845ff9bee65c17767cb54.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_b645bfc62b3349179517bd4c1d9495eb", "object":
        "Rate", "created_at": "2022-08-15T18:52:20Z", "updated_at": "2022-08-15T18:52:20Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.50",
        "currency": "USD", "retail_rate": "33.55", "retail_currency": "USD", "list_rate":
        "29.50", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_1768e7149dc04f898f6db8e09d68f61e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_491c0ead4a9242c5b88bc55c9ff90659",
        "object": "Rate", "created_at": "2022-08-15T18:52:20Z", "updated_at": "2022-08-15T18:52:20Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_d[...]
