interactions:
- request:
    body: '{"refund_amount": 2000}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/refunds
  response:
    body:
      string: '{"error": {"code": "TRANSACTION.AMOUNT_INVALID", "message": "Refund
        amount is invalid. Please use a valid amount or escalate to finance.", "errors":
        []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 477e8d8464626274e786c93e0019fe51
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb3wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
