interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses/create_and_verify
  response:
    body:
      string: '{"address": {"id": "adr_cd8fcb275b3f11ef9363ac1f6bc53342", "object":
        "Address", "created_at": "2024-08-15T19:51:46+00:00", "updated_at": "2024-08-15T19:51:46+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_cd8fcb275b3f11ef9363ac1f6bc53342
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d866be5c52e7885da60016d98e
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
