interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/claims?page_size=5
  response:
    body:
      string: '{"claims": [{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/cde3cb05bd1e4e6f8de416f301f44354.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/3617f2bdfed24000b62349577cc77b85.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/6fc76e0969d94780811a7baf5c1cd4ca.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "created_at":
        "2025-03-06T19:48:00Z", "description": "Test description", "history": [{"status":
        "submitted", "status_detail": "Claim was created.", "timestamp": "2025-03-06T19:48:00Z"}],
        "id": "clm_09ce975320fe4661af0f80a68022ee76", "insurance_amount": "100.00",
        "insurance_id": "ins_7bcb457363834ebd88ba419138138fbc", "mode": "test", "object":
        "Claim", "payment_method": "easypost_wallet", "recipient_name": null, "requested_amount":
        "100.00", "salvage_value": null, "shipment_id": "shp_1bb0f57e60d6448b84a94a9e120629bf",
        "status": "submitted", "status_detail": "Claim was created.", "status_timestamp":
        "2025-03-06T19:48:00Z", "tracking_code": "9400100208303109500676", "type":
        "damage", "updated_at": "2025-03-06T19:48:00Z"}, {"approved_amount": null,
        "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/8fb0b33e39004bfea8bffabf242d48c8.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/6acf5385ee494fc2bfcac704b9dcfddf.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/5bf9e0415088448a937d39348a485593.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "cr[...]
