interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-15T19:54:17Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_2b156a7d1fdb444c96fd53ecc409a6fa",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_bee3d0b00e4844f0bafe77518fecef83", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_725c14e27c1544a6af0c90d4208f70d3", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "UPS", "carrier_account_id":
        "ca_4f4f19e3b533485296d62721584e096d", "type": "rate_error", "message": "Invalid
        A[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_5032c25541b34c509bcb91d44d771828/smartrate/precision_shipping?desired_delivery_date=2024-08-18
  response:
    body:
      string: '{"rates": [{"easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        1, "percentile_75": 3, "percentile_85": 3, "percentile_90": 4, "percentile_95":
        4, "percentile_97": 5, "percentile_99": 7}, "delivery_date_confidence": 0.01,
        "desired_delivery_date": "2024-08-18", "estimated_transit_days": 2, "ship_on_date":
        "2024-08-16"}, "rate": {"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2024-08-15T19:54:18Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": 1, "est_delivery_days":
        1, "id": "rate_6ce50dbd84f94d7aa188e5a48af78d78", "list_currency": "USD",
        "list_rate": 33.1, "mode": "test", "object": "Rate", "rate": 33.1, "retail_currency":
        "USD", "retail_rate": 37.9, "service": "Express", "shipment_id": "shp_5032c25541b34c509bcb91d44d771828",
        "updated_at": "2024-08-15T19:54:18Z"}}, {"easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 4, "percentile_75": 4, "percentile_85":
        4, "percentile_90": 4, "percentile_95": 5, "percentile_97": 6, "percentile_99":
        8}, "delivery_date_confidence": 0.0, "desired_delivery_date": "2024-08-18",
        "estimated_transit_days": 3, "ship_on_date": "2024-08-15"}, "rate": {"carrier":
        "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at":
  [...]
