interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "credentials": {"client_id":
      "123456", "client_secret": "123abc", "distribution_center": "USLAX1", "pickup_id":
      "123456"}, "test_credentials": {"client_id": "123456", "client_secret": "123abc",
      "distribution_center": "USLAX1", "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_f7f311da4f2a4897ad9382aa86739831", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2023-05-12T21:18:19Z",
        "updated_at": "2023-05-12T21:18:19Z", "description": "DHL eCommerce Solutions
        Account", "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce
        Solutions", "logo": null, "fields": [], "credentials": {}, "test_credentials":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"eb766921687771864ea35189bbab2b46"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52975b53645ead1be2aabe81000e9bcb
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_f7f311da4f2a4897ad9382aa86739831
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52975b53645ead1be2aabe81000e9bf0
      x-node:
      - bigweb11nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
version: 1
