interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_180b18530ca245ab824169b73b26ae6f", "object": "Batch",
        "mode": "test", "state": "creating", "num_shipments": 1, "reference": null,
        "created_at": "2024-08-15T19:51:56Z", "updated_at": "2024-08-15T19:51:56Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d866be5c5ce7885de20016e3f8
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_180b18530ca245ab824169b73b26ae6f/buy
  response:
    body:
      string: '{"id": "batch_180b18530ca245ab824169b73b26ae6f", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2024-08-15T19:51:56Z", "updated_at": "2024-08-15T19:51:56Z",
        "scan_form": null, "shipments": [{"batch_status": "queued_for_purchase", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_7b5d36f7235a42e99bdb23f099fd2aa6"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d866be5c61e7885de20016e929
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_180b18530ca245ab824169b73b26ae6f/scan_form
  response:
    body:
      string: '{"id": "batch_180b18530ca245ab824169b73b26ae6f", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 1, "reference": null,
        "created_at": "2024-08-15T19:51:56Z", "updated_at": "2024-08-15T19:52:07Z",
        "scan_form": {"id": "sf_096c54c7ff404b06b6bab4b1087f3f52", "object": "ScanForm",
        "created_at": "2024-08-15T19:52:07Z", "updated_at": "2024-08-15T19:52:07Z",
        "tracking_codes": [], "address": null, "status": "creating", "message": null,
        "form_url": null, "form_file_type": null, "batch_id": "batch_180b18530ca245ab824169b73b26ae6f",
        "confirmation": null}, "shipments": [{"batch_status": "postage_purchased",
        "batch_message": null, "reference": null, "tracking_code": "9400100105807075742053",
        "id": "shp_7b5d36f7235a42e99bdb23f099fd2aa6"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d866be5c67e7885de20016eebc
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
