interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "credentials": {"client_id":
      "123456", "client_secret": "123abc", "distribution_center": "USLAX1", "pickup_id":
      "123456"}, "test_credentials": {"client_id": "123456", "client_secret": "123abc",
      "distribution_center": "USLAX1", "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_a575738b0d994778a960c5c19e748baa", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2023-05-12T21:21:53Z",
        "updated_at": "2023-05-12T21:21:53Z", "description": "DHL eCommerce Solutions
        Account", "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce
        Solutions", "logo": null, "fields": [], "credentials": {}, "test_credentials":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ae937268738bf972b34e687a182d5a17"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fe8d870a645eadf1e2aac27e000e79d2
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 201
      message: Created
- request:
    body: '{"carrier_account": {"description": "My custom description"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/carrier_accounts/ca_a575738b0d994778a960c5c19e748baa
  response:
    body:
      string: '{"id": "ca_a575738b0d994778a960c5c19e748baa", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2023-05-12T21:21:53Z",
        "updated_at": "2023-05-12T21:21:54Z", "description": "My custom description",
        "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce Solutions",
        "logo": null, "fields": [], "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f872eb829c218950953d19ed5a7de737"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fe8d870a645eadf1e2aac27e000e79f4
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_a575738b0d994778a960c5c19e748baa
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fe8d870a645eadf2e2aac27e000e7a0c
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
version: 1
