interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "registration_data": {}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts/register
  response:
    body:
      string: '{"error": {"code": "UNPROCESSABLE_ENTITY", "message": "The request
        was understood, but cannot be processed.", "errors": [{"field": "account_number",
        "message": "must be present and a string"}, {"field": "city", "message": "must
        be present and a string"}, {"field": "company", "message": "must be present
        and a string"}, {"field": "country", "message": "must be present and a string"},
        {"field": "email", "message": "must be present and a string"}, {"field": "name",
        "message": "must be present and a string"}, {"field": "phone", "message":
        "must be present and a string"}, {"field": "postal_code", "message": "must
        be present and a string"}, {"field": "state", "message": "must be present
        and a string"}, {"field": "street1", "message": "must be present and a string"},
        {"field": "title", "message": "must be present and a string"}, {"field": "website",
        "message": "must be present and a string"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 513791bf636437fee789f242001139c3
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      x-version-label:
      - easypost-202211032002-79b51b1468-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
