interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_2544052ddb324b189db927d9fc2c57a8", "object": "EndShipper",
        "mode": "test", "created_at": "2023-05-15T17:12:14+00:00", "updated_at": "2023-05-15T17:12:14+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"537d10fcc17cf9fa0dbd4baa596adc3b"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 44e495b0646267eee787345e001e0ae8
      x-node:
      - bigweb11nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 201
      message: Created
- request:
    body: '{"address": {"name": "Captain Sparrow", "company": "EasyPost", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "phone": "9999999999", "email": "test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PUT
    uri: https://api.easypost.com/v2/end_shippers/es_2544052ddb324b189db927d9fc2c57a8
  response:
    body:
      string: '{"id": "es_2544052ddb324b189db927d9fc2c57a8", "object": "EndShipper",
        "mode": "test", "created_at": "2023-05-15T17:12:14+00:00", "updated_at": "2023-05-15T17:12:14+00:00",
        "name": "CAPTAIN SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND
        ST APT 20", "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip":
        "94107-1670", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"249c4184f944522a4d47509c626a0bd3"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 44e495b0646267eee787345e001e0b11
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 200
      message: OK
version: 1
