interactions:
- request:
    body: '{"tracker": {"tracking_code": "EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/trackers
  response:
    body:
      string: '{"id":"trk_ce81ee3ab88e4134b3806b390d1da93c","object":"Tracker","mode":"test","tracking_code":"EZ1000000001","status":"pre_transit","status_detail":"unknown","created_at":"2022-05-04T20:26:25Z","updated_at":"2022-05-04T20:26:25Z","signed_by":null,"weight":17.6,"est_delivery_date":"2022-05-04T20:26:25Z","shipment_id":null,"carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        information received","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-04T20:26:25Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        label created","description":null,"status":"pre_transit","status_detail":null,"datetime":"2022-04-05T15:15:25Z","source":"EasyPost","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}}],"carrier_detail":null,"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrX2NlODFlZTNhYjg4ZTQxMzRiMzgwNmIzOTBkMWRhOTNj","fees":[{"object":"Fee","type":"TrackerFee","amount":"0.02000","charged":false,"refunded":false}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f328046556f01fc9b653ad37e903e994"
      location:
      - /api/v2/trackers/trk_ce81ee3ab88e4134b3806b390d1da93c
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 78245fb56272e171e786b9070013b120
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
version: 1
