interactions:
- request:
    body: '{"address": {"company": "EasyPost", "street1": "417 montgomery street",
      "street2": "FL 5", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}, "verify": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_77d9ed8af0fb11eda485ac1f6bc7b362", "object": "Address",
        "created_at": "2023-05-12T19:30:35+00:00", "updated_at": "2023-05-12T19:30:35+00:00",
        "name": null, "company": "EASYPOST", "street1": "417 MONTGOMERY ST FL 5",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94104-1129",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": false, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [{"code": "E.SECONDARY_INFORMATION.INVALID",
        "field": "street2", "message": "Invalid secondary information(Apt/Suite#)",
        "suggestion": null}], "details": null}, "delivery": {"success": true, "errors":
        [{"code": "E.SECONDARY_INFORMATION.INVALID", "field": "street2", "message":
        "Invalid secondary information(Apt/Suite#)", "suggestion": null}], "details":
        {"latitude": 37.79342, "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"230439fff07642253c25c218bb51f982"
      location:
      - /api/v2/addresses/adr_77d9ed8af0fb11eda485ac1f6bc7b362
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fcd79957645e93dbe2cc315b00060c1c
      x-node:
      - bigweb12nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb3wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 201
      message: Created
version: 1
