interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms?page_size=5
  response:
    body:
      string: '{"scan_forms": [{"id": "sf_e797f779358a41eeacdf12f050f4f736", "object":
        "ScanForm", "created_at": "2023-05-12T19:37:53Z", "updated_at": "2023-05-12T19:37:54Z",
        "tracking_codes": ["9400100104262209121370"], "address": {"id": "adr_76d1aec4f0fc11edb6f73cecef1b359e",
        "object": "Address", "created_at": "2023-05-12T19:37:43+00:00", "updated_at":
        "2023-05-12T19:37:43+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20230512/96fdbb0435bf46028353bb4bc0e6589e.pdf",
        "form_file_type": null, "batch_id": "batch_93bbd242fffd456899d0874728667ca6",
        "confirmation": null}, {"id": "sf_4bc2f73b448747db89c9023c0dcfc53a", "object":
        "ScanForm", "created_at": "2023-05-16T15:35:33Z", "updated_at": "2023-05-16T15:35:33Z",
        "tracking_codes": ["9400100104262210322148"], "address": {"id": "adr_4af61f14f3ff11edb181ac1f6bc72124",
        "object": "Address", "created_at": "2023-05-16T15:35:31+00:00", "updated_at":
        "2023-05-16T15:35:31+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city":[...]
