interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_6de356de1ccb11ed837bac1f6bc72124", "object": "Address",
        "created_at": "2022-08-15T18:52:36+00:00", "updated_at": "2022-08-15T18:52:36+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fd6ad42a0a492d5da667d16b9568063e"
      location:
      - /api/v2/addresses/adr_6de356de1ccb11ed837bac1f6bc72124
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47a62fa95f4e79a7aa9002634f5
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_9b8876cddbc6415091e6fb7a9f305d43", "object": "Parcel",
        "created_at": "2022-08-15T18:52:37Z", "updated_at": "2022-08-15T18:52:37Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f452d4f7c68435eca6803b9bd24f0c0b"
      location:
      - /api/v2/parcels.prcl_9b8876cddbc6415091e6fb7a9f305d43
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f43af47a62fa95f5e79a7aa90026352a
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"from_address": {"id": "adr_6de356de1ccb11ed837bac1f6bc72124"},
      "to_address": {"id": "adr_6e161e1f1ccb11ed8e67ac1f6bc7b362"}, "parcel": {"id":
      "prcl_9b8876cddbc6415091e6fb7a9f305d43"}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:37Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-08-15T18:52:37Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_6de356de1ccb11ed837bac1f6bc72124", "object": "Address", "created_at":
        "2022-08-15T18:52:36+00:00", "updated_at": "2022-08-15T18:52:36+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_9b8876cddbc6415091e6fb7a9f305d43", "object": "Parcel", "created_at":
        "2022-08-15T18:52:37Z", "updated_at": "2022-08-15T18:52:37Z", "length": 10.0,
        "width": 8.0, "height": 4.0, "predefined_package": null, "weight": 15.4, "mode":
        "test"}, "postage_label": null, "rates": [{"id": "rate_49b99ea5438141d99f52926aa556da82",
        "object": "Rate", "created_at": "2022-08-15T18:52:37Z", "updated_at": "2022-08-15T18:52:37Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_179acb5e6c7f4def952542968e795a6e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_297f555415384651b85d46b4bc9a602d",
        "object": "Rate", "created_at": "2022-08-15T18:52:37Z", "updated_at": "2022-08-15T18:52:37Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.49", "currency":
        "USD", "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49",
        "list_currency": "USD", "billing_type": "easypost", "de[...]
