interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-05-04T20:25:53Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117768808","updated_at":"2022-05-04T20:25:53Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_65116f73cbe811eca172ac1f6bc72124","object":"Address","created_at":"2022-05-04T20:25:53+00:00","updated_at":"2022-05-04T20:25:53+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_ffdc4a3daea2478493f23c56f6c73012","object":"Parcel","created_at":"2022-05-04T20:25:53Z","updated_at":"2022-05-04T20:25:53Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_ff71acc7d7424ff3a459139ab1ec2f29","created_at":"2022-05-04T20:25:53Z","updated_at":"2022-05-04T20:25:53Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-04T20:25:53Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220504/1b7e7bc4190442faa00ad3b9b0934c11.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_fc251ceae3024fe5aab18591af0e3f66","object":"Rate","created_at":"2022-05-04T20:25:53Z","updated_at":"2022-05-04T20:25:53Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f837fe0699d44b079e8586420b071bf1","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_6f53aa2b91da40738c8f7d59e19fe035","object":"Rate","created_at":"2022-05-04T20:25:53Z","updated_at":"2022-05-04T20:25:53Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_f837fe0699d44b079e8586420b071bf1","carrier_accou[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-05-06",
      "max_datetime": "2022-05-06", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_f837fe0699d44b079e8586420b071bf1"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id":"pickup_a196e33f658242bd91529f61191295be","object":"Pickup","created_at":"2022-05-04T20:25:54Z","updated_at":"2022-05-04T20:25:54Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-06T00:00:00Z","max_datetime":"2022-05-06T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_65a4cb91cbe811ec9200ac1f6b0a0d1e","object":"Address","created_at":"2022-05-04T20:25:53+00:00","updated_at":"2022-05-04T20:25:53+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-04T20:25:54Z","updated_at":"2022-05-04T20:25:54Z","carrier":"USPS","pickup_id":"pickup_a196e33f658242bd91529f61191295be","id":"pickuprate_8ce8acd760734bbeb40bd92c6b859ae2","object":"PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b0511d23b45845ffcba8cb0f098b5303"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bc6272e151e786b8a10016230d
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_a196e33f658242bd91529f61191295be/buy
  response:
    body:
      string: '{"id":"pickup_a196e33f658242bd91529f61191295be","object":"Pickup","created_at":"2022-05-04T20:25:54Z","updated_at":"2022-05-04T20:25:55Z","mode":"tes[...]
