interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "New Name", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2017-03-01T03:01:34Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        "100.00", "secondary_recharge_amount": "100.00", "recharge_threshold": "0.00",
        "has_billing_method": false, "cc_fee_rate": "0.03", "default_insurance_amount":
        null, "insurance_fee_rate": "0.01", "insurance_fee_minimum": "1.00", "email":
        "<REDACTED>", "children": [{"id": "user_584be78af2f141e988b6c60dda9dd8fd",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Test User2", "phone_number": "8005550100", "verified": true, "created_at":
        "2023-12-11T17:13:38Z", "default_carbon_offset": false, "has_elevate_access":
        false, "children": []}, {"id": "user_437e724f37de412db6df8821968d8d3c", "object":
        "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test
        User2", "p[...]
- request:
    body: '{"color": "#123456"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/users/user_54356a6b96c940d8913961a3c7b909f2/brand
  response:
    body:
      string: '{"ad": null, "ad_href": null, "background_color": "#FFFFFF", "color":
        "#123456", "id": "brd_79967d34dc894866850bc8342c84dc41", "logo": "https://assets.easypost.com/assets/images/branding/easypost-primary-logo.7324aa54b64b34d6cd70ca5ba4d1842d.svg",
        "logo_href": "https://www.easypost.com", "name": "EasyPost", "object": "Brand",
        "theme": "theme1", "user_id": "user_54356a6b96c940d8913961a3c7b909f2"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5dc66be5cf1e788659d0017779c
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
