interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"columns": null, "created_at": "2025-03-06T19:48:45Z", "end_date":
        "2022-05-04", "id": "shprep_42c293b4b2234e9b8202d0ae9cd8eccc", "include_children":
        null, "mode": "test", "object": "ShipmentReport", "start_date": "2022-05-04",
        "status": "new", "updated_at": null, "url": null, "url_expires_at": null,
        "utc_offset": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62c67c9fc1de2b97b970018ab72
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_42c293b4b2234e9b8202d0ae9cd8eccc
  response:
    body:
      string: '{"columns": null, "created_at": "2025-03-06T19:48:45Z", "end_date":
        "2022-05-04", "id": "shprep_42c293b4b2234e9b8202d0ae9cd8eccc", "include_children":
        null, "mode": "test", "object": "ShipmentReport", "start_date": "2022-05-04",
        "status": "new", "updated_at": null, "url": null, "url_expires_at": null,
        "utc_offset": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62c67c9fc1de2b97b970018ab9e
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
