interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:55Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_854b07fdb09049a6bf34765038e7462f",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_0e4ca6b323eb44a282ab63bb686f36a6", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_531c64bddd3d49e8af14d72831f6c4d6", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "UPS", "carrier_account_id":
        "ca_96aa6c6b55c6412b9c082f542ff41805", "type": "rate_error", "message": "Invalid
        A[...]
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_9aade58aa7b24a1dbd4f4f40510b1029/smartrate
  response:
    body:
      string: '{"result": [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2022-04-20T18:37:57Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": 1, "est_delivery_days":
        1, "id": "rate_788622df5280430c87f3b69d82e74fa9", "list_currency": "USD",
        "list_rate": 7.37, "mode": "test", "object": "Rate", "rate": 7.37, "retail_currency":
        "USD", "retail_rate": 8.7, "service": "Priority", "shipment_id": "shp_9aade58aa7b24a1dbd4f4f40510b1029",
        "time_in_transit": {"percentile_50": 1, "percentile_75": 1, "percentile_85":
        1, "percentile_90": 2, "percentile_95": 2, "percentile_97": 2, "percentile_99":
        4}, "updated_at": "2022-04-20T18:37:57Z"}, {"carrier": "USPS", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at": "2022-04-20T18:37:57Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": 2, "est_delivery_days": 2, "id": "rate_4abd915265f04705a4b02714dfce4b9e",
        "list_currency": "USD", "list_rate": 5.49, "mode": "test", "object": "Rate",
        "rate": 5.49, "retail_currency": "USD", "retail_rate": 5.49, "service"[...]
