interactions:
- request:
    body: '{"ups_oauth_registrations": {"type": "UpsAccount", "account_number": "123456789"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/ups_oauth_registrations
  response:
    body:
      string: '{"id": "ca_e5527ea2bd0f44c59f85fd198428da2b", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2024-07-09T17:22:32Z",
        "updated_at": "2024-07-09T17:22:32Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52ecff1e668d71d8e2b7eef000485d09
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb4nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407091438-d7c6f02f06-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts/ca_e5527ea2bd0f44c59f85fd198428da2b
  response:
    body:
      string: '{"id": "ca_e5527ea2bd0f44c59f85fd198428da2b", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2024-07-09T17:22:32Z",
        "updated_at": "2024-07-09T17:22:32Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52ecff1e668d71d8e2b7eef000485d33
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407091438-d7c6f02f06-master
    status:
      code: 200
      message: OK
- request:
    body: '{"ups_oauth_registrations": {"account_number": "987654321"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/ups_oauth_registrations/ca_e5527ea2bd0f44c59f85fd198428da2b
  response:
    body:
      string: '{"id": "ca_e5527ea2bd0f44c59f85fd198428da2b", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2024-07-09T17:22:32Z",
        "updated_at": "2024-07-09T17:22:32Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52ecff1e668d71d8e2b7eef000485d4a
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb3nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407091438-d7c6f02f06-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_e5527ea2bd0f44c59f85fd198428da2b
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52ecff1e668d71d9e2b7eef000485d62
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb3nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407091438-d7c6f02f06-master
    status:
      code: 200
      message: OK
version: 1
