interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "credentials": {"client_id":
      "123456", "client_secret": "123abc", "distribution_center": "USLAX1", "pickup_id":
      "123456"}, "test_credentials": {"client_id": "123456", "client_secret": "123abc",
      "distribution_center": "USLAX1", "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_56cd65aaf56a47218f381dad05e2514a", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2022-08-15T18:59:31Z",
        "updated_at": "2022-08-15T18:59:31Z", "description": "DHL eCommerce Solutions
        Account", "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce
        Solutions", "logo": null, "fields": {"credentials": {"client_id": {"visibility":
        "visible", "label": "DHL eCommerce Solutions client ID", "value": "123456"},
        "client_secret": {"visibility": "password", "label": "DHL eCommerce Solutions
        client secret", "value": "********"}, "pickup_id": {"visibility": "visible",
        "label": "DHL eCommerce Solutions pickup ID", "value": "123456"}, "distribution_center":
        {"visibility": "visible", "label": "DHL eCommerce Solutions distribution center",
        "value": "USLAX1"}}, "test_credentials": {"client_id": {"visibility": "visible",
        "label": "Test DHL eCommerce Solutions client ID", "value": "123456"}, "client_secret":
        {"visibility": "password", "label": "Test DHL eCommerce Solutions client secret",
        "value": "********"}, "pickup_id": {"visibility": "visible", "label": "Test
        DHL eCommerce Solutions pickup ID", "value": "123456"}, "distribution_center":
        {"visibility": "visible", "label": "Test DHL eCommerce Solutions distribution
        center", "value": "USLAX1"}}}, "credentials": "<REDACTED>", "test_credentials":
        "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"264d014cdc4e334d79b6b8181d879474"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 042f43e262fa9793e79afa040024f864
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_56cd65aaf56a47218f381dad05e2514a
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 042f43e262fa9793e79afa040024f876
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
