interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T19:00:36Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133191871", "updated_at": "2022-08-15T19:00:38Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_8c2f75131ccc11ed932aac1f6bc7b362", "object": "Address", "created_at":
        "2022-08-15T19:00:36+00:00", "updated_at": "2022-08-15T19:00:36+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_66b3f53186844c1ca5d330b1736690ab",
        "object": "Parcel", "created_at": "2022-08-15T19:00:36Z", "updated_at": "2022-08-15T19:00:36Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_007bac1612f8480c882eb5fa708b9e5b",
        "created_at": "2022-08-15T19:00:37Z", "updated_at": "2022-08-15T19:00:37Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T19:00:37Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/21b47954ca114915be3be3a1b5479cff.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_760dc1ab09224499b684f792adc087ab", "object":
        "Rate", "created_at": "2022-08-15T19:00:37Z", "updated_at": "2022-08-15T19:00:37Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 3, "shipment_id":
        "shp_ab3c6488b85f4c82a4c0f68324b318d9", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "carbon_offset": {"object": "CarbonOffset", "grams": 36, "price": "0.11",
        "currency": "USD"}}, {"id": "rate_9af2f5ba59d24ce0b5e638735dbd3557", "object":
        "Rate", "created_at": "2022-08-15T19:00:37Z", "updated_at": "2022-08-15T19:00:37Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.50",
        "currency": "USD", "retail_rate": "33.55", "retail_currency": "USD", "list_rate":
        "29.50", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_gu[...]
