interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "company": "EasyPost", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"object": "Address", "created_at": "2022-04-20T18:36:42+00:00", "updated_at":
        "2022-04-20T18:36:42+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
        "state": "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email":
        null, "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f85e56700d9ef9294327993ba65f8160"
      location:
      - /api/v2/addresses/adr_d2ba9e37c0d811ec990aac1f6bc7bdc6
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18db626052bae799697c00242ad7
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_d2ba9e37c0d811ec990aac1f6bc7bdc6
  response:
    body:
      string: '{"object": "Address", "created_at": "2022-04-20T18:36:42+00:00", "updated_at":
        "2022-04-20T18:36:42+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
        "state": "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email":
        null, "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f85e56700d9ef9294327993ba65f8160"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18db626052bae799697c00242ae2
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
