interactions:
- request:
    body: '{"refund_amount": 2000}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/refunds
  response:
    body:
      string: '{"error": {"code": "TRANSACTION.AMOUNT_INVALID", "message": "Refund
        amount is invalid. Please use a valid amount or escalate to finance.", "errors":
        []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62b67c9fbe8e2b9777800186e8e
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
