interactions:
- request:
    body: '{"payment_method": {"stripe_customer_id": "cus_123", "payment_method_reference":
      "ba_123", "priority": "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/payment_method
  response:
    body:
      string: '{"error": {"code": "BILLING.INVALID_PAYMENT_GATEWAY_REFERENCE", "message":
        "Invalid Payment Gateway Reference.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 477e8d7f64626273e786c9260019fe0e
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb3wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
