interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups?page_size=5
  response:
    body:
      string: '{"pickups": [{"id": "pickup_3cafbbc9dae14281a0c76848a9419cb1", "object":
        "Pickup", "created_at": "2025-03-07T16:46:00Z", "updated_at": "2025-03-07T16:46:00Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2025-03-08T00:00:00Z",
        "max_datetime": "2025-03-08T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_a6a0caccfb7311efb5feac1f6bc53342", "object": "Address", "created_at":
        "2025-03-07T16:46:00+00:00", "updated_at": "2025-03-07T16:46:00+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2025-03-07T16:46:02Z",
        "updated_at": "2025-03-07T16:46:02Z", "carrier": "USPS", "pickup_id": "pickup_3cafbbc9dae14281a0c76848a9419cb1",
        "id": "pickuprate_91820d140f3f4e9ebfa2e709688017c5", "object": "PickupRate"}]},
        {"id": "pickup_62ca1c7c91b843888ff982502c8018b7", "object": "Pickup", "created_at":
        "2025-03-06T19:48:38Z", "updated_at": "2025-03-06T19:48:38Z", "mode": "test",
        "status": "unknown", "reference": null, "min_datetime": "2024-08-17T00:00:00Z",
        "max_datetime": "2024-08-17T00:00:00Z", "is_account_address": false, "instructions":
        "[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups?before_id=pickup_f4b950fb123b412282de960603a832c4&page_size=5
  response:
    body:
      string: '{"pickups": [{"id": "pickup_bebf144939d244daafdb929b99a2ef73", "object":
        "Pickup", "created_at": "2025-03-06T19:48:32Z", "updated_at": "2025-03-06T19:48:32Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2024-08-17T00[...]
