interactions:
- request:
    body: '{"customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_infos
  response:
    body:
      string: '{"id": "cstinfo_3fb6cee61b07404283b596d3c206019a", "object": "CustomsInfo",
        "created_at": "2022-08-15T18:51:39Z", "updated_at": "2022-08-15T18:51:39Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_94c7df06ba9a4b63b501fa2188169069",
        "object": "CustomsItem", "created_at": "2022-08-15T18:51:39Z", "updated_at":
        "2022-08-15T18:51:39Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.25", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d173872a7aeaa6f31e76053aaaa50c70"
      location:
      - /api/v2/customs_infos/cstinfo_3fb6cee61b07404283b596d3c206019a
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47c62fa95bbe79a76ad0026207b
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
