interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?type=shipment&page_size=5
  response:
    body:
      string: '{"reports": [{"id": "shprep_b8496de999c14602a68cc6e39e3d301c", "object":
        "ShipmentReport", "created_at": "2022-04-20T18:37:30Z", "updated_at": "2022-04-20T18:37:30Z",
        "start_date": "2022-04-11", "end_date": "2022-04-11", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false},
        {"id": "shprep_52a9e361f672434aa0e3cd189209e8bd", "object": "ShipmentReport",
        "created_at": "2022-04-20T18:37:29Z", "updated_at": "2022-04-20T18:37:29Z",
        "start_date": "2022-04-11", "end_date": "2022-04-11", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false},
        {"id": "shprep_dee2a1aa55234be084bb1ac86e2cc64f", "object": "ShipmentReport",
        "created_at": "2022-04-20T18:37:29Z", "updated_at": "2022-04-20T18:37:29Z",
        "start_date": "2022-04-11", "end_date": "2022-04-11", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false},
        {"id": "shprep_adcd6e70054a4ba08f6fa117ee4605b6", "object": "ShipmentReport",
        "created_at": "2022-04-20T18:37:29Z", "updated_at": "2022-04-20T18:37:29Z",
        "start_date": "2022-04-11", "end_date": "2022-04-11", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false},
        {"id": "shprep_e4f01b0688b94b1fa266b859483d794e", "object": "ShipmentReport",
        "created_at": "2022-04-12T16:11:57Z", "updated_at": "2022-04-12T16:11:57Z",
        "start_date": "2022-04-11", "end_date": "2022-04-11", "mode": "test", "status":
        "empty", "url": null, "url_expires_at": null, "include_children": false}],
        "has_more": true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b0571dc38ae5b306532d1b8c4bb99455"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4e7626052eae7996a09002436a7
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
