interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_1fcf924d41404c4daee3fba4c2946f87", "object": "EndShipper",
        "mode": "test", "created_at": "2025-03-06T19:48:06+00:00", "updated_at": "2025-03-06T19:48:06+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62b67c9fbf6e2b97ace00187df5
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: '{"address": {"name": "Captain Sparrow", "company": "EasyPost", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "phone": "9999999999", "email": "test@example.com"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PUT
    uri: https://api.easypost.com/v2/end_shippers/es_1fcf924d41404c4daee3fba4c2946f87
  response:
    body:
      string: '{"id": "es_1fcf924d41404c4daee3fba4c2946f87", "object": "EndShipper",
        "mode": "test", "created_at": "2025-03-06T19:48:06+00:00", "updated_at": "2025-03-06T19:48:06+00:00",
        "name": "CAPTAIN SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND
        ST APT 20", "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip":
        "94107-1670", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 8e8eb62b67c9fbf6e2b97ace00187e1c
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
