interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:21Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115908954", "updated_at": "2022-04-20T18:37:22Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_ea281b08c0d811ec9aafac1f6bc72124", "object": "Address", "created_at":
        "2022-04-20T18:37:21+00:00", "updated_at": "2022-04-20T18:37:21+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_cb6ceff1efb545d78115eb3b673f6e94",
        "object": "Parcel", "created_at": "2022-04-20T18:37:21Z", "updated_at": "2022-04-20T18:37:21Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_31e16a49099145e38264820c710ea321",
        "created_at": "2022-04-20T18:37:22Z", "updated_at": "2022-04-20T18:37:22Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:37:22Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/639a1f91525145f09183e9300d942045.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_78890a0ff95a4ec98f4722e41fc5c4c5", "object":
        "Rate", "created_at": "2022-04-20T18:37:21Z", "updated_at": "2022-04-20T18:37:21Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "delivery_days": 1, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 1, "shipment_id":
        "shp_c5483314fbd744e99340ebf10940b8e0", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_afeaa9f1a4664673a942dd892b142643", "object": "Rate", "created_at":
        "2022-04-20T18:37:21Z", "updated_at": "2022-04-20T18:37:21Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "23.75", "currency": "USD",
        "retail_rate": "27.40", "retail_currency": "USD", "list_rate": "23.75", "list_currency":
        "USD", "delivery_days": null, "delivery_date": null, "delivery_date_guaranteed":
        false,[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-04-13",
      "max_datetime": "2022-04-13", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_c5483314fbd744e99340ebf10940b8e0"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"object": "Pickup", "created_at": "2022-04-20T18:37:22Z", "updated_at":
        "2022-04-20T18:37:22Z", "mode": "test", "status": "unknown", "reference":
        null, "min_datetime": "2022-04-13T00:00:00Z", "max_datetime": "2022-04-13T00:00:00Z",
        "is_account_address": false, "instructions": "Pickup at front door", "messages":
        [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "type": "rate_error", "message": "The Date you supplied occurs in the past
        or did not meet the 2:00 am (CST) cutoff for today."}], "confirmation": null,
        "address": {"id": "adr_ead413f1c0d811ecb646ac1f6b0a0d1e", "object": "Address",
        "created_at": "2022-04-20T18:37:22+00:00", "updated_at": "2022-04-20T18:37:22+00:00",
        "name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
        "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93a055ddd4697ef23d6ef40f5309f390"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4ec626052e2e7996a00002433a3
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_83d04ae6728847c3b0cbdf9fb84da320/buy
  response:
    body:
      string: '{"error": {"code": "PICKUP.BUY.NO_MATCHING_RATES", "message": "Unable
        to purchase pickup, no rates matching your request were found.", "errors":
        []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4ec626052e3e7996a00002433c5
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
