interactions:
- request:
    body: '{"address": {"company": "EasyPost", "street1": "000 unknown street", "city":
      "Not A City", "state": "ZZ", "zip": "00001", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_ea66c2b8ae6011eea245ac1f6bc539aa", "object": "Address",
        "created_at": "2024-01-08T20:02:56+00:00", "updated_at": "2024-01-08T20:02:56+00:00",
        "name": null, "company": "EasyPost", "street1": "000 unknown street", "street2":
        null, "city": "Not A City", "state": "ZZ", "zip": "00001", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_ea66c2b8ae6011eea245ac1f6bc539aa
      x-backend:
      - easypost
      x-ep-request-uuid:
      - d1c48c8d659c54f0f407ad050017a730
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb2nuq ab82b2e6e9
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401051829-4cf193bd35-master
    status:
      code: 201
      message: Created
- request:
    body: '{"address": {"company": "EasyPost", "street1": "000 unknown street", "city":
      "Not A City", "state": "ZZ", "zip": "00001", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "verify": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_ea76e82dae6011ee9a77ac1f6bc53342", "object": "Address",
        "created_at": "2024-01-08T20:02:56+00:00", "updated_at": "2024-01-08T20:02:56+00:00",
        "name": null, "company": "EasyPost", "street1": "000 unknown street", "street2":
        null, "city": "Not A City", "state": "ZZ", "zip": "00001", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": false, "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field":
        "address", "message": "Address not found", "suggestion": null}], "details":
        null}, "delivery": {"success": false, "errors": [{"code": "E.ADDRESS.NOT_FOUND",
        "field": "address", "message": "Address not found", "suggestion": null}],
        "details": {}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_ea76e82dae6011ee9a77ac1f6bc53342
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - d1c48c8d659c54f0f407ad050017a743
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb1nuq ab82b2e6e9
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202401051829-4cf193bd35-master
    status:
      code: 201
      message: Created
version: 1
