interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/beta/referral_customers?page_size=5
  response:
    body:
      string: '{"has_more": true, "referral_customers": [{"id": "user_634b6daa05744bfaa205058f06864363",
        "object": "User", "parent_id": null, "name": "Firstname Lastname", "phone_number":
        "8888888888", "verified": true, "created_at": "2022-04-26T15:50:28Z", "balance":
        "0.00000", "price_per_shipment": "0.00000", "recharge_amount": null, "secondary_recharge_amount":
        null, "recharge_threshold": null, "has_billing_method": null, "cc_fee_rate":
        "0.0325", "default_insurance_amount": "50.00", "insurance_fee_rate": "0.005",
        "insurance_fee_minimum": "0.25", "email": "me2@email.com", "children": []},
        {"id": "user_35cb81fb8af1454dabf1f6afa7330634", "object": "User", "parent_id":
        null, "name": "Firstname Lastname", "phone_number": "8888888888", "verified":
        true, "created_at": "2022-04-27T20:20:52Z", "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": "100.00", "secondary_recharge_amount": "100.00",
        "recharge_threshold": "0.00", "has_billing_method": true, "cc_fee_rate": "0.0325",
        "default_insurance_amount": "50.00", "i[...]
