interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers
  response:
    body:
      string: '{"id": "user_40d92e3d63874774a52e5ba8d3a265f6", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2022-08-15T18:52:11Z", "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.0375", "default_insurance_amount":
        "50.00", "insurance_fee_rate": "0.005", "insurance_fee_minimum": "0.25", "email":
        "<REDACTED>", "children": "<REDACTED>", "api_keys": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9ca8f753aa7815fbd52a8cec563ba91d"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47d62fa95dbe79a7a4700262ba2
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
