interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"object": "CarrierAccount", "type": "UpsAccount", "clone": false,
        "created_at": "2022-04-20T18:36:51Z", "updated_at": "2022-04-20T18:36:51Z",
        "description": "UPS Account", "reference": null, "readable": "UPS", "logo":
        null, "fields": {"credentials": {"account_number": {"visibility": "readonly",
        "label": "UPS Account Number", "value": "A1A1A1"}}}, "credentials": {"account_number":
        "A1A1A1"}, "test_credentials": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"87c9b3c1d1ca6b63554559f3b93cf336"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18da626052c3e79969a200242dff
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts/ca_f39c02d13a9849598f185540c63e33ea
  response:
    body:
      string: '{"object": "CarrierAccount", "type": "UpsAccount", "clone": false,
        "created_at": "2022-04-20T18:36:51Z", "updated_at": "2022-04-20T18:36:51Z",
        "description": "UPS Account", "reference": null, "readable": "UPS", "logo":
        null, "fields": {"credentials": {"account_number": {"visibility": "readonly",
        "label": "UPS Account Number", "value": "A1A1A1"}}}, "credentials": {"account_number":
        "A1A1A1"}, "test_credentials": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"87c9b3c1d1ca6b63554559f3b93cf336"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18da626052c3e79969a200242e13
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_f39c02d13a9849598f185540c63e33ea
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18da626052c3e79969a200242e22
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
