interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_d4027c145d80495294fc4df2c1edf7f1", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2022-08-15T18:52:49Z", "children":
        "<REDACTED>", "api_keys": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5a53e28089f112f4c26bca846fd6a8da"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa9600e79a7e240026394f
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_d4027c145d80495294fc4df2c1edf7f1
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa9601e79a7e240026399b
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 204
      message: No Content
version: 1
