interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_c09d06c1c0774d5caa3d4fe62e585df0", "object": "Parcel",
        "created_at": "2022-08-15T18:51:53Z", "updated_at": "2022-08-15T18:51:53Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b70813f87e076040c66c0c5a90802fb7"
      location:
      - /api/v2/parcels.prcl_c09d06c1c0774d5caa3d4fe62e585df0
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47962fa95c9e79a7a2800262530
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/parcels/prcl_c09d06c1c0774d5caa3d4fe62e585df0
  response:
    body:
      string: '{"id": "prcl_c09d06c1c0774d5caa3d4fe62e585df0", "object": "Parcel",
        "created_at": "2022-08-15T18:51:53Z", "updated_at": "2022-08-15T18:51:53Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b70813f87e076040c66c0c5a90802fb7"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47962fa95c9e79a7a2800262537
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
