interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/events?page_size=5
  response:
    body:
      string: '{"events":[{"description":"tracker.updated","id":"evt_5b81509ecbe811ec8b8e5b1737fe969b","user_id":"user_54356a6b96c940d8913961a3c7b909f2","status":"pending","created_at":"2022-05-04T20:25:36.969Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_5ad73c1ccbe811ec9fae033031f69f94","user_id":"user_54356a6b96c940d8913961a3c7b909f2","status":"pending","created_at":"2022-05-04T20:25:35.854Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_59f8bdb6cbe811ec840d1bbb9d54ec42","user_id":"user_54356a6b96c940d8913961a3c7b909f2","status":"pending","created_at":"2022-05-04T20:25:34.396Z","mode":"test","object":"Event"},{"description":"tracker.updated","id":"evt_59575700cbe811eca4802789fb5111c9","user_id":"user_54356a6b96c940d8913961a3c7b909f2","status":"pending","created_at":"2022-05-04T20:25:33.339Z","mode":"test","object":"Event"},{"description":"batch.updated","id":"evt_5785817ccbe811ecadf031720a1d8ffc","user_id":"user_54356a6b96c940d8913961a3c7b909f2","status":"pending","created_at":"2022-05-04T20:25:30.286Z","mode":"test","object":"Event"}],"has_more":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93c72334fc893efb178789bd0dbfca39"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330be6272e143e786b87d00161d22
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
