interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:36:47Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115908862", "updated_at": "2022-04-20T18:36:48Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_d5dff0d0c0d811ecb05dac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-04-20T18:36:47+00:00", "updated_at": "2022-04-20T18:36:47+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_1a892d2a89b64eb7aef298094b3ac365",
        "object": "Parcel", "created_at": "2022-04-20T18:36:47Z", "updated_at": "2022-04-20T18:36:47Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_ddd05aa4b61d4a08bff28b55565404aa",
        "created_at": "2022-04-20T18:36:48Z", "updated_at": "2022-04-20T18:36:48Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:36:48Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/25f26c2cc0374cefa9443280bccb62e7.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_ffaaf7ba07b64f2a9682e785823e1242", "object":
        "Rate", "created_at": "2022-04-20T18:36:47Z", "updated_at": "2022-04-20T18:36:47Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22",
        "currency": "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate":
        "7.22", "list_currency": "USD", "delivery_days": 2, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 2, "shipment_id":
        "shp_81a2076be94b4d2d9de3cf7badb09d2a", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_91ca1de45ae04c0b8bc410fec8739b8f", "object": "Rate", "created_at":
        "2022-04-20T18:36:47Z", "updated_at": "2022-04-20T18:36:47Z", "mode": "test",
        "service": "First", "carrier": "USPS", "rate": "5.49", "currency": "USD",
        "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49", "list_currency":
        "USD", "delivery_days": 2, "delivery_date": null, "delivery_date_guaranteed":
        false, "est_de[...]
- request:
    body: '{"batch": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "created", "num_shipments":
        0, "reference": null, "created_at": "2022-04-20T18:36:48Z", "updated_at":
        "2022-04-20T18:36:48Z", "scan_form": null, "shipments": [], "status": {"created":
        0, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased": 0,
        "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5607826730d0323f12ce32d659442c63"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d4626052c0e799699f00242d13
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_81a2076be94b4d2d9de3cf7badb09d2a"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_67179eb2e8d64e7e93024f8af1eef7a7/add_shipments
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "created", "num_shipments":
        1, "reference": null, "created_at": "2022-04-20T18:36:48Z", "updated_at":
        "2022-04-20T18:36:48Z", "scan_form": null, "shipments": [{"batch_status":
        "postage_purchased", "batch_message": null, "reference": null, "tracking_code":
        "9400100109361115908862", "id": "shp_81a2076be94b4d2d9de3cf7badb09d2a"}],
        "status": {"created": 0, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        1, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"836613a3a4281e5ae66ac5dade2d9640"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d4626052c0e799699f00242d36
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_81a2076be94b4d2d9de3cf7badb09d2a"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_67179eb2e8d64e7e93024f8af1eef7a7/remove_shipments
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "purchased", "num_shipments":
        0, "reference": null, "created_at": "2022-04-20T18:36:48Z", "updated_at":
        "2022-04-20T18:36:48Z", "scan_form": null, "shipments": [], "status": {"created":
        0, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased": 0,
        "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2c362544d38ce98b67b57a10fd58fa7f"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 401d18d4626052c0e799699f00242d4c
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
