interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/refunds?page_size=5
  response:
    body:
      string: '{"refunds": [{"id": "rfnd_36f1ce2418c34aee8c253bc785e4ddae", "object":
        "Refund", "created_at": "2025-03-06T19:48:43Z", "updated_at": "2025-03-06T19:48:43Z",
        "tracking_code": "9400100208303109500775", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_82abbe8e8a1f4746bfbe7c943906c52c"}],
        "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62867c9fc1ce2b97b7b0018aa67
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
