interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-05-04T20:25:27Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117768693","updated_at":"2022-05-04T20:25:28Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_55eb7c3bcbe811ec9d29ac1f6bc72124","object":"Address","created_at":"2022-05-04T20:25:27+00:00","updated_at":"2022-05-04T20:25:27+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_9920227c395a44b3bd0d15ef36f333ae","object":"Parcel","created_at":"2022-05-04T20:25:27Z","updated_at":"2022-05-04T20:25:27Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_c81e583b852d464897d9ed4d87554d77","created_at":"2022-05-04T20:25:28Z","updated_at":"2022-05-04T20:25:28Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-04T20:25:28Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220504/b33e3dc14e9a430aa46780fe6004f483.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_4acaf0482654416ea58e59193c9acc27","object":"Rate","created_at":"2022-05-04T20:25:27Z","updated_at":"2022-05-04T20:25:27Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_2bb42692d2044e18a3f954dd7c72dae5","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_cdc373747e8d4c518330d81ca3b0e367","object":"Rate","created_at":"2022-05-04T20:25:27Z","updated_at":"2022-05-04T20:25:27Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_2bb42692d2044e18a3f954dd7c72dae5","carrie[...]
- request:
    body: '{"batch": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id":"batch_aee6ddc3bbb54138a18b03a358a9ecab","object":"Batch","mode":"test","state":"created","num_shipments":0,"reference":null,"created_at":"2022-05-04T20:25:28Z","updated_at":"2022-05-04T20:25:28Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ce4b29ecd6c91f9c946b8bba6230e74f"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b86272e138e786b84100161834
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_2bb42692d2044e18a3f954dd7c72dae5"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_aee6ddc3bbb54138a18b03a358a9ecab/add_shipments
  response:
    body:
      string: '{"id":"batch_aee6ddc3bbb54138a18b03a358a9ecab","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-05-04T20:25:28Z","updated_at":"2022-05-04T20:25:28Z","scan_form":null,"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361117768693","id":"shp_2bb42692d2044e18a3f954dd7c72dae5"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"01ea9728e1268fa2b4491fa859f48179"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b86272e138e786b84100161840
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: '{"shipments": [{"id": "shp_2bb42692d2044e18a3f954dd7c72dae5"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_aee6ddc3bbb54138a18b03a358a9ecab/remove_shipments
  response:
    body:
      string: '{"id":"batch_aee6ddc3bbb54138a18b03a358a9ecab","object":"Batch","mode":"test","state":"purchased","num_shipments":0,"reference":null,"created_at":"2022-05-04T20:25:28Z","updated_at":"2022-05-04T20:25:28Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f5fdfb60657e96bce6cce21d04acf493"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b86272e138e786b84100161856
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
