interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts?page_size=5
  response:
    body:
      string: '[{"id": "ca_b25657e9896e4d63ac8151ac346ac41e", "object": "CarrierAccount",
        "type": "UspsAccount", "clone": false, "created_at": "2017-03-01T03:01:34Z",
        "updated_at": "2018-08-09T02:45:22Z", "description": "USPS Account", "reference":
        null, "billing_type": "easypost", "readable": "USPS", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}, {"id": "ca_05ab5a0345634187b52daaf787aa4cd0",
        "object": "CarrierAccount", "type": "LsoDefaultAccount", "clone": false, "created_at":
        "2022-04-26T16:58:59Z", "updated_at": "2022-04-26T16:58:59Z", "description":
        "LSO Account", "reference": null, "billing_type": "easypost", "readable":
        "LSO", "logo": null, "fields": [], "credentials": {}, "test_credentials":
        {}}, {"id": "ca_d38ae88b6edb48ed93c0a16ed068215b", "object": "CarrierAccount",
        "type": "DhlExpressDefaultAccount", "clone": false, "created_at": "2022-04-26T16:59:02Z",
        "updated_at": "2022-04-26T16:59:02Z", "description": "DHL Express Account",
        "reference": null, "billing_type": "easypost", "readable": "DHL Express",
        "logo": null, "fields": [], "credentials": {}, "test_credentials": {}}, {"id":
        "ca_c3cbbd21bc97400bbbaed6d030909476", "object": "CarrierAccount", "type":
        "DhlEcsAccount", "clone": false, "created_at": "2022-08-15T18:51:36Z", "updated_at":
        "2022-08-15T18:51:36Z", "description": "DHL eCommerce Solutions Account",
        "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce Solutions",
        "logo": null, "fields": [], "credentials": {}, "test_credentials": {}}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e3bc6475e493ceb5a67906d2cd34b013"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - d25912f8632b8442e2aac198000675ab
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209212025-b1bc460ca8-master
    status:
      code: 200
      message: OK
version: 1
