interactions:
- request:
    body: '{"carrier_account_oauth_registrations": {"type": "AmazonShippingAccount",
      "selling_partner_id": 123456, "description": "Test Amazon Shipping Account",
      "reference": "Test reference id"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth
  response:
    body:
      string: '{"id": "ca_42645bd4efec44d19990311923247889", "object": "CarrierAccount",
        "type": "AmazonShippingAccount", "clone": false, "created_at": "2024-10-21T17:29:15Z",
        "updated_at": "2024-10-21T17:29:15Z", "description": "Test Amazon Shipping
        Account", "reference": "Test reference id", "billing_type": "carrier", "readable":
        "Amazon Shipping", "logo": null, "fields": [], "credentials": {}, "test_credentials":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 5b98ae6c67168f6be786a35a006ad145
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq b6e1b5034c
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202410211500-2da9256a8e-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_42645bd4efec44d19990311923247889
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 5b98ae6c67168f6be786a35a006ad17a
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb3nuq b6e1b5034c
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202410211500-2da9256a8e-master
    status:
      code: 200
      message: OK
version: 1
