interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:03:08Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105442285862766", "updated_at": "2023-11-28T22:03:09Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_ea42de328e3911ee89e0ac1f6bc53342", "object": "Address", "created_at":
        "2023-11-28T22:03:08+00:00", "updated_at": "2023-11-28T22:03:08+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_48bf017aed174b99baaabac1ef33c392",
        "object": "Parcel", "created_at": "2023-11-28T22:03:08Z", "updated_at": "2023-11-28T22:03:08Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_161393c8e85e43f8b8090064263276f3",
        "created_at": "2023-11-28T22:03:09Z", "updated_at": "2023-11-28T22:03:09Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-11-28T22:03:09Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231128/e853e39d8d485a49328b0d5a2058a03d24.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_266a2b59f55c4c249eea34747ca3d85b", "object":
        "Rate", "created_at": "2023-11-28T22:03:09Z", "updated_at": "2023-11-28T22:03:09Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_ee741f4b8f924740a0c5f7266556e64f", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_9181631826794a97bbd9a35fffedfd4a",
        "object": "Rate", "created_at": "2023-11-28T22:03:09Z", "updated_at": "2023-11-28T22:03:09Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate":
        "6.07", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "del[...]
- request:
    body: '{"scan_form": {"shipment": [{"id": "shp_ee741f4b8f924740a0c5f7266556e64f"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id": "sf_5dc8f81867614bec9b3c7c3278d521c5", "object": "ScanForm",
        "created_at": "2023-11-28T22:03:10Z", "updated_at": "2023-11-28T22:03:10Z",
        "tracking_codes": ["9400100105442285862766"], "address": {"id": "adr_ea42de328e3911ee89e0ac1f6bc53342",
        "object": "Address", "created_at": "2023-11-28T22:03:08+00:00", "updated_at":
        "2023-11-28T22:03:08+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20231128/e8ef6b7a1c3e7c449fa4374c55428bcfe1.pdf",
        "form_file_type": null, "batch_id": "batch_15e72ce6345940cbada8abfaf380f37b",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ae35d0b96566639ee78a978b003e737c
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb1nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms/sf_5dc8f81867614bec9b3c7c3278d521c5
  response:
    body:
      string: '{"id": "sf_5dc8f81867614bec9b3c7c3278d521c5", "object": "ScanForm",
        "created_at": "2023-11-28T22:03:10Z", "updated_at": "2023-11-28T22:03:10Z",
        "tracking_codes": ["9400100105442285862766"], "address": {"id": "adr_ea42de328e3911ee89e0ac1f6bc53342",
        "object": "A[...]
