interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-15T21:49:57Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100104262210071015", "updated_at": "2023-05-15T21:49:57Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_6ef113aff36a11ed9d9dac1f6bc7b362", "object": "Address", "created_at":
        "2023-05-15T21:49:57+00:00", "updated_at": "2023-05-15T21:49:57+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_cf8b315bf7614419b20e0ded093bddc9",
        "object": "Parcel", "created_at": "2023-05-15T21:49:57Z", "updated_at": "2023-05-15T21:49:57Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_ad9c837d5b53414dbac2979c2a243e9d",
        "created_at": "2023-05-15T21:49:57Z", "updated_at": "2023-05-15T21:49:57Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-05-15T21:49:57Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230515/3905bc1b882d4c65ac324f4a451921a6.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_59f770a5b8bb4f5089a1c21f3931325c", "object":
        "Rate", "created_at": "2023-05-15T21:49:57Z", "updated_at": "2023-05-15T21:49:57Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_481204234455466cbca4f9ad3d7424c6", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_26589708ab134a6da8b581143b164fff",
        "object": "Rate", "created_at": "2023-05-15T21:49:57Z", "updated_at": "2023-05-15T21:49:57Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.15",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2023-05-17", "max_datetime": "2023-05-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_481204234455466cbca4f9ad3d7424c6"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_5460a38ba2cd4d889d2e01958584a74e", "object": "Pickup",
        "created_at": "2023-05-15T21:49:58Z", "updated_at": "2023-05-15T21:49:58Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-05-17T00:00:00Z",
        "max_datetime": "2023-05-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_6f9e2bd2f36a11eda045ac1f6bc7b362", "object": "Address", "created_at":
        "2023-05-15T21:49:58+00:00", "updated_at": "2023-05-15T21:49:58+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2023-05-15T21:49:59Z",
        "updated_at": "2023-05-15T21:49:59Z", "carrier": "USPS", "pickup_id": "pickup_5460a38ba2cd4d889d2e01958584a74e",
        "id": "pickuprate_b884f42434724eabb45d9c70f311e4bf", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5ca2b55389bce3ef35a8c51e64c765a0"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 477e8d806462a906e2b98c360035a478
      x-node:
      - bigweb12nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb3wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305152107-770224374c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_5460a38ba2cd4d889d2e01958584a74e/buy
  response:
    body:
      string: '{"id": "pickup_5460a38ba2cd4d889d2e01958584a74e", "object": "Pickup",
        "created_at": "2023-05-15T21:49:58Z", "updated_at": "2023-05-15T21:50:00Z",
        "mode": "test", "status": "sched[...]
