interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:14Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133189489", "updated_at": "2022-08-15T18:52:14Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_6072455f1ccb11ed8515ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T18:52:14+00:00", "updated_at": "2022-08-15T18:52:14+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_0ae76b30e43a40bab766f57945d3939e",
        "object": "Parcel", "created_at": "2022-08-15T18:52:14Z", "updated_at": "2022-08-15T18:52:14Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_3b61e1485bca4815bfcb63f2a470784a",
        "created_at": "2022-08-15T18:52:14Z", "updated_at": "2022-08-15T18:52:14Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T18:52:14Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/a5bc96e53e1340e5acc9acaadfcaa96a.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_a94d370e91414b8ebc9c3cd95ff58490", "object":
        "Rate", "created_at": "2022-08-15T18:52:14Z", "updated_at": "2022-08-15T18:52:14Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_704777a6b4664aea8b866a7df01066ed", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_ba213869bdbc4eee814ee8aa7cbe73b0",
        "object": "Rate", "created_at": "2022-08-15T18:52:14Z", "updated_at": "2022-08-15T18:52:14Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_704777a6b4664aea8b866a7df01066ed
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:14Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133189489", "upd[...]
- request:
    body: '{"refund": {"carrier": "USPS", "tracking_codes": "9400100109361133189489"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/refunds
  response:
    body:
      string: '[{"id": "rfnd_5b7291ff21f24a00ae36efaeae2487ba", "object": "Refund",
        "created_at": "2022-08-15T18:52:15Z", "updated_at": "2022-08-15T18:52:15Z",
        "tracking_code": "9400100109361133189489", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_704777a6b4664aea8b866a7df01066ed"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f3bcfa9a42789d90f37af9e4a5d84a68"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af48062fa95dfe79a7a6100262d44
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
