interactions:
- request:
    body: '{"address": {"street1": "invalid"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_89a61f2e39c511edaf31ac1f6b0a0d1e", "object": "Address",
        "created_at": "2022-09-21T15:53:29+00:00", "updated_at": "2022-09-21T15:53:29+00:00",
        "name": null, "company": null, "street1": "invalid", "street2": null, "city":
        null, "state": null, "zip": null, "country": "US", "phone": "<REDACTED>",
        "email": "<REDACTED>", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"37db4a55948a5c709233448d59a368c8"
      location:
      - /api/v2/addresses/adr_89a61f2e39c511edaf31ac1f6b0a0d1e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3400fe8b632b3379e2b86f160013558f
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - intlb2wdc 29913d444b
      - extlb4wdc 29913d444b
      x-version-label:
      - easypost-202209210008-610ad55e3f-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_89a61f2e39c511edaf31ac1f6b0a0d1e/verify
  response:
    body:
      string: '{"error": {"code": "ADDRESS.VERIFY.FAILURE", "message": "Unable to
        verify address.", "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field": "address",
        "message": "Address not found", "suggestion": null}, {"code": "E.HOUSE_NUMBER.MISSING",
        "field": "street1", "message": "House number is missing", "suggestion": null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3400fe8b632b337ae2b86f16001355aa
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - intlb1wdc 29913d444b
      - extlb4wdc 29913d444b
      x-version-label:
      - easypost-202209210008-610ad55e3f-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
