interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_69f2cd9e8c164a1d922f829059869feb", "object": "EndShipper",
        "created_at": "2022-08-24T20:44:20+00:00", "updated_at": "2022-08-24T20:44:20+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"64b147a32a6413110b934122252e07d2"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 70da33d763068da4e78a0f8a00845e16
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202208241853-b300c23ebd-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers/es_69f2cd9e8c164a1d922f829059869feb
  response:
    body:
      string: '{"id": "es_69f2cd9e8c164a1d922f829059869feb", "object": "EndShipper",
        "created_at": "2022-08-24T20:44:20+00:00", "updated_at": "2022-08-24T20:44:20+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e3b5e8a0a62a40d25f54a3f28319ede1"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 70da33d763068da4e78a0f8a00845e61
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202208241853-b300c23ebd-master
    status:
      code: 200
      message: OK
version: 1
