interactions:
- request:
    body: '{"financial_connections_id": "fca_0QAc7sDqT4huGUvdf6BahYa9", "mandate_data":
      {"ip_address": "127.0.0.1", "user_agent": "Mozilla/5.0", "accepted_at": 1722510730},
      "priority": "primary"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/bank_accounts
  response:
    body:
      string: '{"error": {"code": "BANK_ACCOUNT.INVALID_PARAMS", "message": "account_holder_name
        must be present when creating a Financial Connections payment method", "errors":
        []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 595be10f677d770ce2b7da9900093399
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202501062233-3c9302ef23-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
