interactions:
- request:
    body: '{"tracker": {"tracking_code": "EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/trackers
  response:
    body:
      string: '{"id": "trk_950faa2a72cc48d5bd099ca52c21dc22", "object": "Tracker",
        "mode": "test", "tracking_code": "EZ1000000001", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2024-06-03T17:50:53Z", "updated_at":
        "2024-06-03T17:50:53Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2024-06-03T17:50:53Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": "", "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2024-05-03T17:50:53Z", "source": "USPS", "carrier_code": "",
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": "", "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2024-05-04T06:27:53Z", "source": "USPS", "carrier_code":
        "", "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail": {"object":
        "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrXzk1MGZhYTJhNzJjYzQ4ZDViZDA5OWNhNTJjMjFkYzIy"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/trackers/trk_950faa2a72cc48d5bd099ca52c21dc22
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5cebe788626c001771ba
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
