interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers?page_size=5
  response:
    body:
      string: '{"trackers": [{"id": "trk_977a3085fc654ae3955af46ac298e43c", "object":
        "Tracker", "mode": "test", "tracking_code": "9400100208303109500782", "status":
        "pre_transit", "status_detail": "status_update", "created_at": "2025-03-06T19:48:46Z",
        "updated_at": "2025-03-06T19:48:46Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2025-03-06T19:48:46Z", "shipment_id": "shp_34cd3af0099a4d5c815a44c1a408f095",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2025-02-06T19:48:46Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2025-02-07T08:25:46Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "fees":
        [], "carrier_detail": {"object": "CarrierDetail", "service": "First-Class
        Package Service", "container_type": null, "est_delivery_date_local": null,
        "est_delivery_time_local": null, "origin_location": "HOUSTON TX, 77001", "origin_tracking_location":
        {"object": "TrackingLocation", "city": "HOUSTON", "state": "TX", "country":
        null, "zip": "77063"}, "destination_location": "CHARLESTON SC, 29401", "destination_tracking_location":
        null, "guaranteed_delivery_date": null, "alternate_identifier": null, "initial_delivery_attempt":
        null}, "public_url": "https://track.easypost.com/djE6dHJrXzk3N2EzMDg1ZmM2NTRhZTM5NTVhZjQ2YWMyOThlNDNj"},
        {"id": "trk_bdaa56e02ed74f6ea2839e6ea6a4f75d", "object": "Tracker", "mode":
        "test", "tracking_code": "9400100208303109500775", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2025-03-06T19:48:43Z", "updated_at":
        "2025-03-06T19:48:43Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2025-03-06T19:48:43Z", "shipment_id": "shp_82abbe8e8a1f4[...]
