interactions:
- request:
    body: '{"address": {"company": "EasyPost", "street1": "000 unknown street", "city":
      "Not A City", "state": "ZZ", "zip": "00001", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "verify_carrier": "UPS"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses/create_and_verify
  response:
    body:
      string: '{"address": {"id": "adr_b532f4f1bc0311f0b86eac1f6bc539aa", "object":
        "Address", "created_at": "2025-11-07T18:00:55Z", "updated_at": "2025-11-07T18:00:55Z",
        "name": null, "company": "EASYPOST", "street1": "000 UNKNOWN STREET", "street2":
        "", "city": "NOT A CITY", "state": "ZZ", "zip": "00001", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field":
        "address", "message": "Address not found", "suggestion": null}], "details":
        null}, "delivery": {"success": true, "errors": [{"code": "E.ADDRESS.NOT_FOUND",
        "field": "address", "message": "Address not found", "suggestion": null}],
        "details": {"latitude": null, "longitude": null, "time_zone": null}}, "verify_carrier":
        "ups"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_b532f4f1bc0311f0b86eac1f6bc539aa
      x-backend:
      - easypost
      x-ep-request-uuid:
      - bcd43723690e33d7e786a7bd02a1cbd9
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb3nuq c0061e0a2e
      - extlb2nuq cbbd141214
      x-version-label:
      - easypost-202511071655-85836cab32-master
    status:
      code: 200
      message: OK
version: 1
