interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}, "options": {"label_format":
      "PNG", "invoice_number": "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_1bb0f57e60d6448b84a94a9e120629bf", "created_at": "2025-03-06T19:47:59Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
        "PNG", "invoice_number": "123", "currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": "123", "status": "unknown", "tracking_code":
        null, "updated_at": "2025-03-06T19:47:59Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": {"id": "cstinfo_1291df2a92c34d0484e0b4b391213db1",
        "object": "CustomsInfo", "created_at": "2025-03-06T19:47:59Z", "updated_at":
        "2025-03-06T19:47:59Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_c8d91674ee2742eaa751f6a354488a1e", "object": "CustomsItem",
        "created_at": "2025-03-06T19:47:59Z", "updated_at": "2025-03-06T19:47:59Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_e82a4736fac311ef8d72ac1f6bc53342", "object":
        "Address", "created_at": "2025-03-06T19:47:59+00:00", "updated_at": "2025-03-06T19:47:59+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_106aad69070e47e0a63014a0ff424828",
        "object": "Parcel", "created_at": "2025-03-06T19:47:59Z", "updated_at": "2025-03-06T19:47:59Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_c0906e3e66874d26808a096bc9063c0f",
        "object": "Rate", "created_at": "2025-03-06T19:47:59Z", "updated_at": "2025-03-06T19:47:59Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_1bb0f57e60d6448b84a94a9e120629bf", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_8178ba6a5a414e43b01703b4062a1afd",
        "object": "Rate", "created_at": "2025-03-06T19:47:59Z", "updated_at": "2025-03-06T19:47:59Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_1bb0f57e60d6448b84a94a9e120629bf", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_136f13c287d34b3ba51f3a26bdc61932",
        "object": "Rate", "created_at": "2025-03-06T19:47:59Z", "updated_at": "2025-03-06T19:47:59Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_1bb0f57e60d6448b84a94a9e120629bf", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_e827fb21fac311efb3b0ac1f6bc539ae",
        "object": "Address", "created_at": "2025-03-06T19:47:59+00:00", "updated_at":
        "2025-03-06T19:47:59+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_e82a4736fac311ef8d72ac1f6bc53342", "object": "Address", "created_at":
        "2025-03-06T19:47:59+00:00", "updated_at": "2025-03-06T19:47:59+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_e827fb21fac311efb3b0ac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-06T19:47:59+00:00", "updated_at": "2025-03-06T19:47:59+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_1bb0f57e60d6448b84a94a9e120629bf
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 8e8eb62a67c9fbefe2b97aac001875ed
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: '{"rate": {"id": "rate_8178ba6a5a414e43b01703b4062a1afd"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_1bb0f57e60d6448b84a94a9e120629bf/buy
  response:
    body:
      string: '{"id": "shp_1bb0f57e60d6448b84a94a9e120629bf", "created_at": "2025-03-06T19:47:59Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
      [...]
- request:
    body: '{"amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_1bb0f57e60d6448b84a94a9e120629bf/insure
  response:
    body:
      string: '{"id": "shp_1bb0f57e60d6448b84a94a9e120629bf", "created_at": "2025-03-06T19:47:59Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
        "PNG", "invoice_number": "123", "currency": "USD", "payment": {"[...]
- request:
    body: '{"type": "damage", "email_evidence_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "invoice_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "supporting_documentation_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "description": "Test description", "contact_email": "test@example.com", "tracking_code":
      "9400100208303109500676", "amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/claims
  response:
    body:
      string: '{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/cde3cb05bd1e4e6f8de416f301f44354.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/3617f2bdfed24000b62349577cc77b85.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/6fc76e0969d94780811a7baf5c1cd4ca.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "created_at":
        "2025-03-06T19:48:00Z", "description": "Test description", "history": [{"status":
        "submitted", "status_detail": "Claim was created.", "timestamp": "2025-03-06T19:48:00Z"}],
        "id": "clm_09ce975320fe4661af0f80a68022ee76", "insurance_amount": "100.00",
        "insurance_id": "ins_7bcb457363834ebd88ba419138138fbc", "mode": "test", "object":
        "Claim", "payment_method": "easypost_wallet", "recipient_name": null, "requested_amount":
        "100.00", "salvage_value": null, "shipment_id": "shp_1bb0f57e60d6448b84a94a9e120629bf",
        "status": "submitted", "status_detail": "Claim was created.", "status_timestamp":
        "2025-03-06T19:48:00Z", "tracking_code": "9400100208303109500676", "type":
        "damage", "updated_at": "2025-03-06T19:48:00Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62a67c9fbf0e2b97aac00187750
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/claims/clm_09ce975320fe4661af0f80a68022ee76
  response:
    body:
      string: '{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/cde3cb05bd1e4e6f8de416f301f44354.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/3617f2bdfed24000b62349577cc77b85.png",
        "https://ea[...]
