interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users/children?page_size=5
  response:
    body:
      string: '{"children": [{"id": "user_584be78af2f141e988b6c60dda9dd8fd", "object":
        "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test
        User2", "phone_number": "<REDACTED>", "verified": true, "created_at": "2023-12-11T17:13:38Z"},
        {"id": "user_437e724f37de412db6df8821968d8d3c", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User2", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2023-12-11T17:13:43Z"}, {"id":
        "user_2553102e90de43dea0b9fa7f8c8d7e33", "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2",
        "name": "Child Account Name22", "phone_number": "<REDACTED>", "verified":
        true, "created_at": "2024-01-04T19:56:21Z"}, {"id": "user_31754439d4524fbb8867d138de537e12",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Test User", "phone_number": "<REDACTED>", "verified": true, "created_at":
        "2024-01-19T21:42:21Z"}, {"id": "user_d26377e80676431d88c17d8b140d365a", "object":
        "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test
        User", "phone_number": "<REDACTED>", "verified": true, "created_at": "2024-01-19T21:44:18Z"}],
        "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62867c9fc2ee2b97f130018bc27
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
