interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "customs_info":
      {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true, "customs_signer": "Steve
      Brule", "contents_type": "merchandise", "contents_explanation": "", "restriction_type":
      "none", "non_delivery_option": "return", "customs_items": [{"description": "Sweet
      shirts", "quantity": 2, "weight": 11, "value": 23, "hs_tariff_number": "654321",
      "origin_country": "US"}]}, "options": {"label_format": "PNG", "invoice_number":
      "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-04-28T18:57:34Z","is_return":false,"messages":[],"mode":"test","options":{"label_format":"PNG","invoice_number":"123","currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":"123","status":"unknown","tracking_code":null,"updated_at":"2022-04-28T18:57:34Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":{"id":"cstinfo_2b0e819d57f44670a6c2b773091d6e46","object":"CustomsInfo","created_at":"2022-04-28T18:57:34Z","updated_at":"2022-04-28T18:57:34Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_25b0a95924f3436f8833dda24d887cf5","object":"CustomsItem","created_at":"2022-04-28T18:57:34Z","updated_at":"2022-04-28T18:57:34Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]},"from_address":{"id":"adr_103ed611c72511ec8613ac1f6bc72124","object":"Address","created_at":"2022-04-28T18:57:34+00:00","updated_at":"2022-04-28T18:57:34+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_8a439a1e8e8a4bc79be344a854a415ef","object":"Parcel","created_at":"2022-04-28T18:57:34Z","updated_at":"2022-04-28T18:57:34Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_ff3d6ffaee6c46ee8a5a0e8d394b38cc","object":"Rate","created_at":"2022-04-28T18:57:34Z","updated_at":"2022-04-28T18:57:34Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_efa76747ef7142ec91858b4c52ae9297","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_dad038bfeb844531972ea935cffb468a","object":"Rate","created_at":"2022-04-28T18:57:34Z","updated_at":"2022-04-28T18:57:34Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_efa76747ef7142ec91858b4c52ae9297","ca[...]
