interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:51:56Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133189397", "updated_at": "2022-08-15T18:51:57Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_5642cdbe1ccb11eda092ac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-08-15T18:51:56+00:00", "updated_at": "2022-08-15T18:51:56+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_7081e8533f594a5e8ec97679dedd423d",
        "object": "Parcel", "created_at": "2022-08-15T18:51:56Z", "updated_at": "2022-08-15T18:51:56Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_b6d272ba7b2341eeacb981074d5789c0",
        "created_at": "2022-08-15T18:51:57Z", "updated_at": "2022-08-15T18:51:57Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T18:51:57Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/64e90e691682427eac0c344ffa5ba7f7.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_1d72320c767d4dfaa4a45c37a2b1e0b6", "object":
        "Rate", "created_at": "2022-08-15T18:51:57Z", "updated_at": "2022-08-15T18:51:57Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.50",
        "currency": "USD", "retail_rate": "33.55", "retail_currency": "USD", "list_rate":
        "29.50", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_0eb9392736bb47138cec4724ca673c64", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_b9c11797465a4e83bd19f96e90c34298",
        "object": "Rate", "created_at": "2022-08-15T18:51:57Z", "updated_at": "2022-08-15T18:51:57Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_d[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2022-08-17", "max_datetime": "2022-08-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_0eb9392736bb47138cec4724ca673c64"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_9e263a207b1f495393bdc466e794ef18", "object": "Pickup",
        "created_at": "2022-08-15T18:51:58Z", "updated_at": "2022-08-15T18:51:58Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-08-17T00:00:00Z",
        "max_datetime": "2022-08-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_570d9c991ccb11ed80e3ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T18:51:58+00:00", "updated_at": "2022-08-15T18:51:58+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "carrier_accounts": [], "pickup_rates": [{"mode":
        "test", "service": "NextDay", "rate": "0.00", "currency": "USD", "created_at":
        "2022-08-15T18:51:59Z", "updated_at": "2022-08-15T18:51:59Z", "carrier": "USPS",
        "pickup_id": "pickup_9e263a207b1f495393bdc466e794ef18", "id": "pickuprate_f1d2e4c0330e4eb49e14281dcee080bf",
        "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fd5f706250ce5391cc0595292bce4044"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f43af47d62fa95cee79a7a410026269d
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups/pickup_9e263a207b1f495393bdc466e794ef18
  response:
    body:
      string: '{"id": "pickup_9e263a207b1f495393bdc466e794ef18", "object": "Pickup",
        "created_at": "2022-08-15T18:51:58Z", "updated_at": "2022-08-15T18:51:58Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-08-17T00:00:00Z",
        "max_datetime": "[...]
