interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "credentials": {"client_id":
      "123456", "client_secret": "123abc", "distribution_center": "USLAX1", "pickup_id":
      "123456"}, "test_credentials": {"client_id": "123456", "client_secret": "123abc",
      "distribution_center": "USLAX1", "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_c58170a2b708469eb2828ce150f818c5", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2024-07-08T20:54:18Z",
        "updated_at": "2024-07-08T20:54:18Z", "description": "DHL eCommerce Solutions
        Account", "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce
        Solutions", "logo": null, "fields": [], "credentials": {}, "test_credentials":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - df6fc7b2668c51fae2cba07700263f54
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb4nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407081949-3228d5845b-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts/ca_c58170a2b708469eb2828ce150f818c5
  response:
    body:
      string: '{"id": "ca_c58170a2b708469eb2828ce150f818c5", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2024-07-08T20:54:18Z",
        "updated_at": "2024-07-08T20:54:18Z", "description": "DHL eCommerce Solutions
        Account", "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce
        Solutions", "logo": null, "fields": [], "credentials": {}, "test_credentials":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - df6fc7b2668c51fbe2cba07700263f78
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb4nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407081949-3228d5845b-master
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_c58170a2b708469eb2828ce150f818c5
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - df6fc7b2668c51fbe2cba07700263fb1
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb3nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407081949-3228d5845b-master
    status:
      code: 200
      message: OK
version: 1
