interactions:
- request:
    body: '{"from_zip": "94107", "to_zip": "90277", "desired_delivery_date": "2025-03-08",
      "carriers": ["USPS"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/smartrate/deliver_on
  response:
    body:
      string: '{"carriers_without_tint_estimates": null, "desired_delivery_date":
        "2025-03-08", "from_zip": "94107", "results": [{"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 3, "percentile_75": 3, "percentile_85":
        4, "percentile_90": 4, "percentile_95": 5, "percentile_97": 6, "percentile_99":
        8}, "delivery_date_confidence": 0.38, "estimated_transit_days": 1, "ship_on_date":
        "2025-03-07"}, "service": "express"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 4, "percentile_75": 4, "percentile_85":
        5, "percentile_90": 5, "percentile_95": 6, "percentile_97": 7, "percentile_99":
        10}, "delivery_date_confidence": 0.03, "estimated_transit_days": 1, "ship_on_date":
        "2025-03-07"}, "service": "groundadvantage"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 3, "percentile_75": 4, "percentile_85":
        5, "percentile_90": 5, "percentile_95": 6, "percentile_97": 7, "percentile_99":
        8}, "delivery_date_confidence": 0.05, "estimated_transit_days": 1, "ship_on_date":
        "2025-03-07"}, "service": "librarymail"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 3, "percentile_75": 4, "percentile_85":
        5, "percentile_90": 5, "percentile_95": 6, "percentile_97": 7, "percentile_99":
        10}, "delivery_date_confidence": 0.03, "estimated_transit_days": 1, "ship_on_date":
        "2025-03-07"}, "service": "mediamail"}, {"carrier": "USPS", "easypost_time_in_transit_data":
        {"days_in_transit": {"percentile_50": 3, "percentile_75": 4, "percentile_85":
        5, "percentile_90": 5, "percentile_95": 6, "percentile_97": 7, "percentile_99":
        10}, "delivery_date_confidence": 0.04, "estimated_transit_days": 1, "ship_on_date":
        "2025-03-07"}, "service": "priority"}], "saturday_delivery": false, "to_zip":
        "90277"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 6eaaf90067cb22e9e2aabd97000af3cf
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 200
      message: OK
version: 1
