interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "company": "EasyPost", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id":"adr_76a2cd08cbe811ec8d21ac1f6bc7b362","object":"Address","created_at":"2022-05-04T20:26:22+00:00","updated_at":"2022-05-04T20:26:22+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cf3eeb02e7aa70343d6107060b89fa1a"
      location:
      - /api/v2/addresses/adr_76a2cd08cbe811ec8d21ac1f6bc7b362
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 78245fb66272e16ee786b9020013b05c
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id":"prcl_7c5092538a614fc7ab31bcd118ca79f3","object":"Parcel","created_at":"2022-05-04T20:26:22Z","updated_at":"2022-05-04T20:26:22Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3213613d6b31031f1803e86d71ec745b"
      location:
      - /api/v2/parcels.prcl_7c5092538a614fc7ab31bcd118ca79f3
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 78245fb66272e16ee786b9020013b066
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"from_address": {"id": "adr_76a2cd08cbe811ec8d21ac1f6bc7b362"},
      "to_address": {"id": "adr_76b17473cbe811ec8d25ac1f6bc7b362"}, "parcel": {"id":
      "prcl_7c5092538a614fc7ab31bcd118ca79f3"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-05-04T20:26:22Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-05-04T20:26:22Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_76a2cd08cbe811ec8d21ac1f6bc7b362","object":"Address","created_at":"2022-05-04T20:26:22+00:00","updated_at":"2022-05-04T20:26:22+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_7c5092538a614fc7ab31bcd118ca79f3","object":"Parcel","created_at":"2022-05-04T20:26:22Z","updated_at":"2022-05-04T20:26:22Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_d6ee31e86b5e421eb48ddac570974cbe","object":"Rate","created_at":"2022-05-04T20:26:22Z","updated_at":"2022-05-04T20:26:22Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8ed97268ed0b4992aa49cd2fed4ac621","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_d03dd7fe2a1d43c0a3a0f21f35beef46","object":"Rate","created_at":"2022-05-04T20:26:22Z","updated_at":"2022-05-04T20:26:22Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_8ed97268ed0b4992aa49cd2fed4ac621","carrier_ac[...]
