interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms?page_size=5
  response:
    body:
      string: '{"scan_forms": [{"id": "sf_3c5c5b35c1144bfa9c39bd22b52fce2d", "object":
        "ScanForm", "created_at": "2023-11-28T22:03:08Z", "updated_at": "2023-11-28T22:03:08Z",
        "tracking_codes": ["9400100105442285862681"], "address": {"id": "adr_e91b8c6b8e3911ee88f6ac1f6bc53342",
        "object": "Address", "created_at": "2023-11-28T22:03:07+00:00", "updated_at":
        "2023-11-28T22:03:07+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20231128/e8240f3ff9915040b8ad655e32c484d477.pdf",
        "form_file_type": null, "batch_id": "batch_5f9ca1835aab47edbd73da98526f75c0",
        "confirmation": null}, {"id": "sf_5dc8f81867614bec9b3c7c3278d521c5", "object":
        "ScanForm", "created_at": "2023-11-28T22:03:10Z", "updated_at": "2023-11-28T22:03:10Z",
        "tracking_codes": ["9400100105442285862766"], "address": {"id": "adr_ea42de328e3911ee89e0ac1f6bc53342",
        "object": "Address", "created_at": "2023-11-28T22:03:08+00:00", "updated_at":
        "2023-11-28T22:03:08+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20231128/e8ef6b7a1c3e7c449fa4374c55428bcfe1.pdf",
        "form_file_type": null, "batch_id": "batch_15e72ce6345940cbada8abfaf380f37b",
        "confirmation": null}], "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ae35d0b96566639fe78a978d003e7588
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb1nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 200
      message: OK
version: 1
