interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "company":
      "EasyPost", "street1": "388 Townsend St", "street2": "Apt 20", "city": "San
      Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address":
      {"name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
      "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "phone": "5555555555"}, "parcel": {"length": "10", "width": "8", "height": "4",
      "weight": "15.4"}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "creating", "num_shipments":
        1, "reference": null, "created_at": "2022-04-20T18:36:44Z", "updated_at":
        "2022-04-20T18:36:44Z", "scan_form": null, "shipments": [], "status": {"created":
        0, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased": 0,
        "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fce4e459bb423ec0490823f901259029"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d8626052bce799698100242b92
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
