interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-15T19:54:01Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105807075743012", "updated_at": "2024-08-15T19:54:02Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_1e5451d45b4011ef8d5fac1f6bc539ae", "object": "Address", "created_at":
        "2024-08-15T19:54:01+00:00", "updated_at": "2024-08-15T19:54:01+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_fb8322d78d844972b005ef74f0c6871f",
        "object": "Parcel", "created_at": "2024-08-15T19:54:01Z", "updated_at": "2024-08-15T19:54:01Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_93bb4db9efcc44a187d5661dfb2fe528",
        "created_at": "2024-08-15T19:54:02Z", "updated_at": "2024-08-15T19:54:02Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2024-08-15T19:54:02Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240815/e80f5700cc639748f9b21a8dee016dd4aa.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_f2bd1a965bca4a14937a2b05f12f4411", "object":
        "Rate", "created_at": "2024-08-15T19:54:01Z", "updated_at": "2024-08-15T19:54:01Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.90",
        "currency": "USD", "retail_rate": "9.80", "retail_currency": "USD", "list_rate":
        "8.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_eaf1958ba61e4ab88129ecf0859f87e3", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_e84c745e21ab42e78cc2d42ea8f90748",
        "object": "Rate", "created_at": "2024-08-15T19:54:01Z", "updated_at": "2024-08-15T19:54:01Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_eaf1958ba61e4ab88129ecf0859f87e3", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_6f0ee2b9a4354def82e94eb392af483f",
        "object": "Rate", "created_at": "2024-08-15T19:54:01Z", "updated_at": "2024-08-15T19:54:01Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "33.10",
        "currency": "USD", "retail_rate": "37.90", "retail_currency": "USD", "list_rate":
        "33.10", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_eaf1958ba61e4ab88129ecf0859f87e3", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_e84c745e21ab42e78cc2d42ea8f90748", "object":
        "Rate", "created_at": "2024-08-15T19:54:02Z", "updated_at": "2024-08-15T19:54:02Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_eaf1958ba61e4ab88129ecf0859f87e3", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_b232ceb8d3e344e18c039a4355e3903b",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100105807075743012",
        "status": "unknown", "status_detail": "unknown", "created_at": "2024-08-15T19:54:02Z",
        "updated_at": "2024-08-15T19:54:02Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_eaf1958ba61e4ab88129ecf0859f87e3", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrX2IyMzJjZWI4ZDNlMzQ0ZTE4YzAzOWE0MzU1ZTM5MDNi"},
        "to_address": {"id": "adr_1e51d26c5b4011efab523cecef1b359e", "object": "Address",
        "created_at": "2024-08-15T19:54:01+00:00", "updated_at": "2024-08-15T19:54:01+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_1e5451d45b4011ef8d5fac1f6bc539ae",
        "object": "Address", "created_at": "2024-08-15T19:54:01+00:00", "updated_at":
        "2024-08-15T19:54:01+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_1e51d26c5b4011efab523cecef1b359e", "object": "Address", "created_at":
        "2024-08-15T19:54:01+00:00", "updated_at": "2024-08-15T19:54:01+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "5.93000", "charged": true,
        "refunded": false}], "id": "shp_eaf1958ba61e4ab88129ecf0859f87e3", "object":
        "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_eaf1958ba61e4ab88129ecf0859f87e3
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d666be5cd9e788624600175fe0
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_eaf1958ba61e4ab88129ecf0859f87e3/refund
  response:
    body:
      string: '{"created_at": "2024-08-15T19:54:01Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "t[...]
