interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "ruleset_name": "required_deliver_by_date", "planned_ship_date": "2025-06-12",
      "deliver_by_date": "2025-06-19"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/luma/promise
  response:
    body:
      string: '{"luma_info": {"ai_results": [{"carrier": "USPS", "meets_ruleset_requirements":
        true, "predicted_deliver_by_date": "2025-06-17", "predicted_deliver_days":
        5, "rate_usd": "34.15", "service": "Express"}, {"carrier": "USPS", "meets_ruleset_requirements":
        true, "predicted_deliver_by_date": "2025-06-17", "predicted_deliver_days":
        5, "rate_usd": "7.42", "service": "Priority"}, {"carrier": "USPS", "meets_ruleset_requirements":
        true, "predicted_deliver_by_date": "2025-06-17", "predicted_deliver_days":
        5, "rate_usd": "6.07", "service": "GroundAdvantage"}], "matching_rule_idx":
        0, "ruleset_description": "Buy the cheapest rate that satisfies all of the
        following:\nRule 0\n        - Deliver by user input day of deliver_by_date    -
        Transit day confidence >= 90\nOtherwise buy the cheapest rate", "luma_selected_rate":
        {"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "currency": "USD", "rate": "6.07", "service": "GroundAdvantage", "luma_predicted_deliver_by_date":
        "2025-06-17"}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 09e6e0bc6849ee72e7798bac002ddaac
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb4nuq 668d3fc830
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202506112030-f8bf908411-master
    status:
      code: 200
      message: OK
version: 1
