interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T20:26:04Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361130493862", "updated_at": "2022-07-28T20:26:05Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_813216bf0eb311eda0fbac1f6bc72124", "object": "Address", "created_at":
        "2022-07-28T20:26:04+00:00", "updated_at": "2022-07-28T20:26:04+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_983f1ad3d69e4cbcb7546a2bf6a0a37b",
        "object": "Parcel", "created_at": "2022-07-28T20:26:04Z", "updated_at": "2022-07-28T20:26:04Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_dea92722ab954e5c990a42e871896906",
        "created_at": "2022-07-28T20:26:05Z", "updated_at": "2022-07-28T20:26:05Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T20:26:05Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/8ec3d3a256d74b42a9ecd5a6740f0be6.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_7b6335a41af4489ca15d847eb3b97dae", "object":
        "Rate", "created_at": "2022-07-28T20:26:04Z", "updated_at": "2022-07-28T20:26:04Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.49", "currency":
        "USD", "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 2, "shipment_id":
        "shp_02fa0264a98d46fe93e575de66d1c01c", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_cece468448bd451a894553131aed3eaf", "object": "Rate", "created_at":
        "2022-07-28T20:26:04Z", "updated_at": "2022-07-28T20:26:04Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "23.75", "currency": "USD",
        "retail_rate": "27.40", "retail_currency": "USD", "list_rate": "23.75", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": null, "delivery_date":
        null, "deliv[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-07-29",
      "max_datetime": "2022-07-29", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_02fa0264a98d46fe93e575de66d1c01c"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_c625a690fa614febb0c7d94eb572e47b", "object": "Pickup",
        "created_at": "2022-07-28T20:26:05Z", "updated_at": "2022-07-28T20:26:05Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-07-29T00:00:00Z",
        "max_datetime": "2022-07-29T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_81d4b9210eb311eda1c2ac1f6bc72124", "object": "Address", "created_at":
        "2022-07-28T20:26:05+00:00", "updated_at": "2022-07-28T20:26:05+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2022-07-28T20:26:06Z",
        "updated_at": "2022-07-28T20:26:06Z", "carrier": "USPS", "pickup_id": "pickup_c625a690fa614febb0c7d94eb572e47b",
        "id": "pickuprate_2269388b223f49f9a1a96e2a98190226", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d9ab6da3a4f6289649cd1dc223e46d63"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - a41775b762e2f0ddff23eae200000e41
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq 403f17ff97
      - extlb2nuq 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_c625a690fa614febb0c7d94eb572e47b/buy
  response:
    body:
      string: '{"id": "pickup_c625a690fa614febb0c7d94eb572e47b", "object": "Pickup",
        "created_at": "2022-07-28T20:26:05Z", "updated_at": "2022-07-28T20:26:07Z",
        "mode": "test", "status": "sched[...]
