interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers?page_size=5
  response:
    body:
      string: '{"end_shippers": [{"id": "es_4c9d0f5f99374536908eb4949f909e1e", "object":
        "EndShipper", "mode": "test", "created_at": "2022-10-05T19:50:55+00:00", "updated_at":
        "2022-10-05T19:50:55+00:00", "name": "JACK SPARROW", "company": null, "street1":
        "388 TOWNSEND ST APT 20", "street2": null, "city": "SAN FRANCISCO", "state":
        "CA", "zip": "94107-1670", "country": "US", "phone": "<REDACTED>", "email":
        "<REDACTED>"}, {"id": "es_7aa5429f1c16490bacb6bd8dfd77f42e", "object": "EndShipper",
        "mode": "test", "created_at": "2022-10-05T19:50:55+00:00", "updated_at": "2022-10-05T19:50:55+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}], "has_more":
        false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1413e9b7e900ae6cba078433a08bde18"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 16580183633de020e2ba90190008dd2c
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202210051807-174cd29491-master
    status:
      code: 200
      message: OK
version: 1
