interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_246c9684f40711edb466ac1f6bc7bdc6", "object": "Address",
        "created_at": "2023-05-16T16:31:43+00:00", "updated_at": "2023-05-16T16:31:43+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b432e3d3df2b21851b2e66c4e2310bf0"
      location:
      - /api/v2/addresses/adr_246c9684f40711edb466ac1f6bc7bdc6
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e56463afefe7872f800027a73c
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_15d259708d9c4231bbe4d6c38d032e87", "object": "Parcel",
        "created_at": "2023-05-16T16:31:43Z", "updated_at": "2023-05-16T16:31:43Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"902396e46ebf1a381d30cb4b9f342f1f"
      location:
      - /api/prcl_15d259708d9c4231bbe4d6c38d032e87/parcels
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e56463afefe7872f800027a76c
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"from_address": {"id": "adr_246c9684f40711edb466ac1f6bc7bdc6"},
      "to_address": {"id": "adr_249c7c44f40711ed8ac3ac1f6b0a0d1e"}, "parcel": {"id":
      "prcl_15d259708d9c4231bbe4d6c38d032e87"}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-16T16:31:43Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2023-05-16T16:31:44Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_246c9684f40711edb466ac1f6bc7bdc6", "object": "Address", "created_at":
        "2023-05-16T16:31:43+00:00", "updated_at": "2023-05-16T16:31:43+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_15d259708d9c4231bbe4d6c38d032e87",
        "object": "Parcel", "created_at": "2023-05-16T16:31:43Z", "updated_at": "2023-05-16T16:31:43Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_6e799193731b482da2e69b504ad2b781",
        "object": "Rate", "created_at": "2023-05-16T16:31:44Z", "updated_at": "2023-05-16T16:31:44Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.85", "currency":
        "USD", "retail_rate": "5.85", "retail_currency": "USD", "list_rate": "5.85",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 2, "shipment_id":
        "shp_830a7745d7244fecbf79a13ca495abdc", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_35ce07db23ed4838b90c7eddc51eb666", "object": "Rate", "created_at":
        "2023-05-16T16:31:44Z", "updated_at": "2023-05-16T16:31:44Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "25.25", "currency": "USD",
        "retail_rate": "29.20", "retail_currency": "USD", "list_rate": "25.25", "list_currency":
        "USD", "billing_type": "e[...]
