interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>

    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_2cfd34d1261a4a9b93d56c313a9a824b", "object": "User", "parent_id":
        null, "name": "Ryan Nguyen", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2022-05-23T17:43:47Z", "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.0325", "default_insurance_amount":
        "50.00", "insurance_fee_rate": "0.005", "insurance_fee_minimum": "0.25", "email":
        "<REDACTED>", "children": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e67cce23fee900986d910af43877bdf2"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 92e4d3be62911e28ef9b1c6a0002c027
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      x-version-label:
      - easypost-202205262146-0562c799aa-master
    status:
      code: 200
      message: OK
- request:
    body: '{"color": "#123456"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>

    method: PATCH
    uri: https://api.easypost.com/v2/users/user_2cfd34d1261a4a9b93d56c313a9a824b/brand
  response:
    body:
      string: '{"id": "brd_0e606e55ac73483b9ef26ba2e7dcfec5", "color": "#123456",
        "logo": "https://assets.easypost.com/assets/images/branding/easypost-primary-logo-7a2cf535f2.svg",
        "logo_href": "https://www.easypost.com", "name": "EasyPost", "ad": null, "ad_href":
        null, "object": "Brand", "user_id": "user_2cfd34d1261a4a9b93d56c313a9a824b",
        "background_color": null, "theme": "theme1"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1db759217d34f1d4558f723082035904"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 92e4d3be62911e28ef9b1c6a0002c02e
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq 570dfcbc0a
      - extlb1nuq fc4d5d217f
      x-version-label:
      - easypost-202205262146-0562c799aa-master
    status:
      code: 200
      message: OK
version: 1
