interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "company":
      "EasyPost", "street1": "388 Townsend St", "street2": "Apt 20", "city": "San
      Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address":
      {"name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
      "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "phone": "5555555555"}, "parcel": {"length": "10", "width": "8", "height": "4",
      "weight": "15.4"}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id":"batch_5463b3537c564f83991f9b9c11ca59c8","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-05-04T20:25:21Z","updated_at":"2022-05-04T20:25:21Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1c75d9413af834ace6e0bde8a19ca82c"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62b330bc6272e131e786b83e0016153a
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_5463b3537c564f83991f9b9c11ca59c8/buy
  response:
    body:
      string: '{"id":"batch_5463b3537c564f83991f9b9c11ca59c8","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-05-04T20:25:21Z","updated_at":"2022-05-04T20:25:21Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_3a597fcac1d14deba3c1025864ba4daf"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"333099ed588aba002f686d72d8dbc57c"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bc6272e131e786b83e00161545
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
