interactions:
- request:
    body: '{"shipment": {}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"error":{"code":"SHIPMENT.INVALID_PARAMS","message":"Unable to create
        shipment, one or more parameters were invalid.","errors":[{"to_address":"Required
        and missing."},{"from_address":"Required and missing."}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330ba6272e143e786b86400161cd7
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
