interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T20:27:02Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361130493930", "updated_at": "2022-07-28T20:27:03Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_a3c583d30eb311ed82eeac1f6bc72124", "object": "Address", "created_at":
        "2022-07-28T20:27:02+00:00", "updated_at": "2022-07-28T20:27:02+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_65b9f43171334c8f96b4f19c5431d0c2",
        "object": "Parcel", "created_at": "2022-07-28T20:27:02Z", "updated_at": "2022-07-28T20:27:02Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_b8feba2b35f34d18b18833c15b01c652",
        "created_at": "2022-07-28T20:27:03Z", "updated_at": "2022-07-28T20:27:03Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T20:27:03Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/484715748675440c802b8137b42ef4b5.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_4ae063f5b6f44dfcb936c9c402519cb3", "object":
        "Rate", "created_at": "2022-07-28T20:27:02Z", "updated_at": "2022-07-28T20:27:02Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "23.75",
        "currency": "USD", "retail_rate": "27.40", "retail_currency": "USD", "list_rate":
        "23.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_8bdc44a3a4ea4656aa604135e5cd5199", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_6d46447527b04c638d6d6e32bf33d60a",
        "object": "Rate", "created_at": "2022-07-28T20:27:02Z", "updated_at": "2022-07-28T20:27:02Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22",
        "currency": "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate":
        "7.22", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delive[...]
- request:
    body: '{"shipment": [{"id": "shp_8bdc44a3a4ea4656aa604135e5cd5199"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id": "sf_3c8406684c9941ea814522522c965d4e", "object": "ScanForm",
        "created_at": "2022-07-28T20:27:04Z", "updated_at": "2022-07-28T20:27:04Z",
        "tracking_codes": ["9400100109361130493930"], "address": {"id": "adr_a3c583d30eb311ed82eeac1f6bc72124",
        "object": "Address", "created_at": "2022-07-28T20:27:02+00:00", "updated_at":
        "2022-07-28T20:27:02+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
        "state": "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email":
        null, "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220728/1bae7b8a20284b50acf19e3b63326009.pdf",
        "form_file_type": null, "batch_id": "batch_130ddf76701a48a999bd16524daf0200",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d99e84bfd97d0379e5f3a2f4d357e4f3"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - efdf9e0462e2f117ff23eb1f0001e7a6
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq 403f17ff97
      - intlb2wdc 403f17ff97
      - extlb4wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
version: 1
