interactions:
- request:
    body: '{"payment_method": {"stripe_customer_id": "cus_123", "payment_method_reference":
      "ba_123", "priority": "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/payment_method
  response:
    body:
      string: '{"error": {"code": "BILLING.INVALID_PAYMENT_GATEWAY_REFERENCE", "message":
        "Invalid connect integration.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbe8e2b9777700186e76
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
