interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers?page_size=5
  response:
    body:
      string: '{"trackers": [{"id": "trk_9df7bdd832bf409b8d061ac5ac4db98f", "object":
        "Tracker", "mode": "test", "tracking_code": "9400100105807075743081", "status":
        "pre_transit", "status_detail": "status_update", "created_at": "2024-08-15T19:54:15Z",
        "updated_at": "2024-08-15T19:54:15Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2024-08-15T19:54:15Z", "shipment_id": "shp_be92641b5b1d422cb0b7d23455463e3b",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2024-07-15T19:54:15Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2024-07-16T08:31:15Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "fees":
        [], "carrier_detail": {"object": "CarrierDetail", "service": "First-Class
        Package Service", "container_type": null, "est_delivery_date_local": null,
        "est_delivery_time_local": null, "origin_location": "HOUSTON TX, 77001", "origin_tracking_location":
        {"object": "TrackingLocation", "city": "HOUSTON", "state": "TX", "country":
        null, "zip": "77063"}, "destination_location": "CHARLESTON SC, 29401", "destination_tracking_location":
        null, "guaranteed_delivery_date": null, "alternate_identifier": null, "initial_delivery_attempt":
        null}, "public_url": "https://track.easypost.com/djE6dHJrXzlkZjdiZGQ4MzJiZjQwOWI4ZDA2MWFjNWFjNGRiOThm"},
        {"id": "trk_192cc0249a284e6889bee8390cf47341", "object": "Tracker", "mode":
        "test", "tracking_code": "9400100105807075743067", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2024-08-15T19:54:13Z", "updated_at":
        "2024-08-15T19:54:13Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2024-08-15T19:54:13Z", "shipment_id": "shp_c190d06e12f54[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers?before_id=trk_4b0cf8b1afd640158ca7db0b6a167e7a&page_size=5
  response:
    body:
      string: '{"trackers": [{"id": "trk_19e7f422ccd249b5a97ec755230a615d", "object":
        "Tracker", "mode": "test", "tracking_code": "9400100105807075742961", "status":
        "pre_transit", "status_detail": "status_update", "created_at": "2024-08-15T19:53:53Z",
        "[...]
