interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_6c4fa53ceec743b697b86598e0d16c4f", "object": "EndShipper",
        "mode": "test", "created_at": "2022-10-05T19:50:56+00:00", "updated_at": "2022-10-05T19:50:56+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"118c58564a8942c882e40eabc460a2d8"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 21b265f4633de020e2ba901a0007f7a1
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      x-version-label:
      - easypost-202210051807-174cd29491-master
    status:
      code: 201
      message: Created
- request:
    body: '{"address": {"company": "EasyPost", "zip": "94107", "name": "Captain Sparrow",
      "phone": "9999999999", "email": "test@example.com", "street2": "Apt 20", "city":
      "San Francisco", "state": "CA", "country": "US", "street1": "388 Townsend St"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PUT
    uri: https://api.easypost.com/v2/end_shippers/es_6c4fa53ceec743b697b86598e0d16c4f
  response:
    body:
      string: '{"id": "es_6c4fa53ceec743b697b86598e0d16c4f", "object": "EndShipper",
        "mode": "test", "created_at": "2022-10-05T19:50:56+00:00", "updated_at": "2022-10-05T19:50:57+00:00",
        "name": "CAPTAIN SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND
        ST APT 20", "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip":
        "94107-1670", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"75dac71068a05999c04021e69373edfe"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 21b265f4633de020e2ba901a0007f7a7
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      x-version-label:
      - easypost-202210051807-174cd29491-master
    status:
      code: 200
      message: OK
version: 1
