interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts?page_size=5
  response:
    body:
      string: '[{"id": "ca_b25657e9896e4d63ac8151ac346ac41e", "object": "CarrierAccount",
        "type": "UspsAccount", "clone": false, "created_at": "2017-03-01T03:01:34Z",
        "updated_at": "2018-08-09T02:45:22Z", "description": "USPS Account", "reference":
        null, "billing_type": "easypost", "readable": "USPS", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}, {"id": "ca_05ab5a0345634187b52daaf787aa4cd0",
        "object": "CarrierAccount", "type": "LsoDefaultAccount", "clone": false, "created_at":
        "2022-04-26T16:58:59Z", "updated_at": "2022-04-26T16:58:59Z", "description":
        "LSO Account", "reference": null, "billing_type": "easypost", "readable":
        "LSO", "logo": null, "fields": [], "credentials": {}, "test_credentials":
        {}}, {"id": "ca_d38ae88b6edb48ed93c0a16ed068215b", "object": "CarrierAccount",
        "type": "[...]
