interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_f70e80d019254d46a4cc0c071f2c2287", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2024-08-15T19:54:21Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": [], "api_keys": [{"object":
        "ApiKey", "key": "<REDACTED>", "mode": "test", "created_at": "2024-08-15T19:54:21Z",
        "active": true, "id": "ak_a5aa3efe3d054c8bbdd8e1c6a5f57394"}, {"object": "ApiKey",
        "key": "<REDACTED>", "mode": "production", "created_at": "2024-08-15T19:54:21Z",
        "active": true, "id": "ak_fbf7ff8159bd4502b6712c91270c9c2d"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5cede788657f001773c1
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_f70e80d019254d46a4cc0c071f2c2287
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5ceee788657f00177433
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 204
      message: No Content
version: 1
