interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}, "options": {"label_format":
      "PNG", "invoice_number": "123"}, "reference": "123"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-16T16:31:27Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}], "mode": "test", "options": {"label_format": "PNG", "invoice_number":
        "123", "currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0},
        "reference": "123", "status": "unknown", "tracking_code": null, "updated_at":
        "2023-05-16T16:31:28Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": {"id": "cstinfo_4c6a23020e1c4ec18cdabeb6000f7f5a", "object":
        "CustomsInfo", "created_at": "2023-05-16T16:31:27Z", "updated_at": "2023-05-16T16:31:27Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_806ff0bfa2654a8d8563359d19179278",
        "object": "CustomsItem", "created_at": "2023-05-16T16:31:27Z", "updated_at":
        "2023-05-16T16:31:27Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.25", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}]}, "from_address": {"id":
        "adr_1b19a234f40711edb20cac1f6bc7b362", "object": "Address", "created_at":
        "2023-05-16T16:31:27+00:00", "updated_at": "2023-05-16T16:31:27+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_92d97082fce64f86a3c2aa2543f910c0",
        "object": "Parcel", "created_at": "2023-05-16T16:31:27Z", "updated_at": "2023-05-16T16:31:27Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_74e203ebcb3e4d8faf99eab218045e6f",
        "object": "Rate", "created_at": "2023-05-16T16:31:28Z", "updated_at": "2023-05-16T16:31:28Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "6.07", "currency":
        "USD", "retail_rate": "6.07", "retail_currency": "USD", "list_rate": "6.07",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 3, "shipment_id":
        "shp_b8f77e80448b4f3392c83ae84ade1cc4", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_52878c61264945f0853ffa301bc19884", "object": "Rate", "created_at":
        "2023-05-16T16:31:28Z", "updated_at": "2023-05-16T16:31:28Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "31.25", "currency": "USD",
        "retail_rate": "35.80", "retail_currency": "USD", "list_rate": "31.25", "list_currency":
        "USD", "billing_type": "e[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_b8f77e80448b4f3392c83ae84ade1cc4
  response:
    body:
      string: '{"created_at": "2023-05-16T16:31:27Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier[...]
