interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?page_size=5
  response:
    body:
      string: '{"addresses": [{"id": "adr_40249d501ccb11edb060ac1f6bc72124", "object":
        "Address", "created_at": "2022-08-15T18:51:19+00:00", "updated_at": "2022-08-15T18:51:19+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, {"id": "adr_3fdcc8731ccb11ed9adbac1f6bc7bdc6",
        "object": "Address", "created_at": "2022-08-15T18:51:19+00:00", "updated_at":
        "2022-08-15T18:51:19+00:00", "name": null, "company": "EASYPOST", "street1":
        "417 MONTGOMERY ST FL 5", "street2": null, "city": "SAN FRANCISCO", "state":
        "CA", "zip": "94104-1129", "country": "US", "phone": "5555555555", "email":
        "TEST@EXAMPLE.COM", "mode": "test", "carrier_facility": null, "residential":
        false, "federal_tax_id": null, "state_tax_id": null, "verifications": {"zip4":
        {"success": true, "errors": [{"code": "E.SECONDARY_INFORMATION.INVALID", "field":
        "street2", "message": "Invalid secondary information(Apt/Suite#)", "suggestion":
        null}], "details": null}, "delivery": {"success": true, "errors": [{"code":
        "E.SECONDARY_INFORMATION.INVALID", "field": "street2", "message": "Invalid
        secondary information(Apt/Suite#)", "suggestion": null}], "details": {"latitude":
        37.79342, "longitude": -122.40288, "time_zone": "America/Los_Angeles"}}}},
        {"id": "adr_3fb06f3a1ccb11edb768ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T18:51:19+00:00", "updated_at": "2022-08-15T18:51:19+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "5555555555", "email": "TEST@EXAMPLE.COM", "mode": "test",
        "carrier_facility": null, "re[...]
