interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04", "additional_columns":
      ["from_name", "from_company"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"columns": "created_at,id,tracking_code,status,from_address_id,from_name,from_company,from_street1,from_street2,from_city,from_state,from_zip,from_country,from_residential,to_address_id,to_name,to_company,to_street1,to_street2,to_city,to_state,to_zip,to_country,to_residential,parcel_id,length,width,height,weight,predefined_package,postage_label_created_at,rate_id,service,carrier,rate,insured_value,is_return,refund_status,reference,label_fee,postage_fee,insurance_fee,options,usps_zone,from_name,from_company",
        "created_at": "2025-03-06T19:48:44Z", "end_date": "2022-05-04", "id": "shprep_62cc578e63f945bf994b8a0513de565c",
        "include_children": null, "mode": "test", "object": "ShipmentReport", "start_date":
        "2022-05-04", "status": "new", "updated_at": null, "url": null, "url_expires_at":
        null, "utc_offset": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fc1ce2b97b950018ab11
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
version: 1
