interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-04-26T17:15:51Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361116713403","updated_at":"2022-04-26T17:15:52Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_862c8457c58411ecb621ac1f6bc7b362","object":"Address","created_at":"2022-04-26T17:15:51+00:00","updated_at":"2022-04-26T17:15:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_3eb2cd466d504d1cb39271d2c21d82d5","object":"Parcel","created_at":"2022-04-26T17:15:51Z","updated_at":"2022-04-26T17:15:51Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_54ef9db03f8f4704910e40644b78d8c0","created_at":"2022-04-26T17:15:52Z","updated_at":"2022-04-26T17:15:52Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-26T17:15:52Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220426/971fb63038704d9faa96817ee47f5088.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_7af50a4525ce4938a84cb5c092e03add","object":"Rate","created_at":"2022-04-26T17:15:52Z","updated_at":"2022-04-26T17:15:52Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_e28d6f27b30145b39d9aab745f0ed331","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_e4765b3f9f444db2ab595943ed104bba","object":"Rate","created_at":"2022-04-26T17:15:52Z","updated_at":"2022-04-26T17:15:52Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_e28d6f27b30145b39d9aab745f0ed331","ca[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-04-27",
      "max_datetime": "2022-04-27", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_e28d6f27b30145b39d9aab745f0ed331"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id":"pickup_c45a353170c0419db92e7e671f1fb566","object":"Pickup","created_at":"2022-04-26T17:15:53Z","updated_at":"2022-04-26T17:15:53Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-27T00:00:00Z","max_datetime":"2022-04-27T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_86e0e18ac58411ec8613ac1f6bc72124","object":"Address","created_at":"2022-04-26T17:15:53+00:00","updated_at":"2022-04-26T17:15:53+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-26T17:15:53Z","updated_at":"2022-04-26T17:15:53Z","carrier":"USPS","pickup_id":"pickup_c45a353170c0419db92e7e671f1fb566","id":"pickuprate_8106d46e5c544fd7a8c22f5885f9fac7","object":"PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b04121266c69a8e6128a941c7d1b4387"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 19bdb4bb626828c9e786b8c0001a674b
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204251804-93ddab36b5-master
    status:
      code: 200
      message: OK
version: 1
