interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_7c7ea4fdff3d49f5a0ba5a4cf8c50d64", "object": "Parcel",
        "created_at": "2025-03-06T19:48:30Z", "updated_at": "2025-03-06T19:48:30Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_7c7ea4fdff3d49f5a0ba5a4cf8c50d64
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fc0ee2b97b3900189bd2
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/parcels/prcl_7c7ea4fdff3d49f5a0ba5a4cf8c50d64
  response:
    body:
      string: '{"id": "prcl_7c7ea4fdff3d49f5a0ba5a4cf8c50d64", "object": "Parcel",
        "created_at": "2025-03-06T19:48:30Z", "updated_at": "2025-03-06T19:48:30Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fc0ee2b97b3900189bf0
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
