interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_be2c2a0ff4ee4c94b50cb1d2a680e1c8", "object": "ShipmentReport",
        "created_at": "2024-08-15T19:53:42Z", "updated_at": "2024-08-15T19:53:42Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5db66be5cc6e788620900174d15
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_be2c2a0ff4ee4c94b50cb1d2a680e1c8
  response:
    body:
      string: '{"id": "shprep_be2c2a0ff4ee4c94b50cb1d2a680e1c8", "object": "ShipmentReport",
        "created_at": "2024-08-15T19:53:42Z", "updated_at": "2024-08-15T19:53:42Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5db66be5cc6e788620900174d39
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
