interactions:
- request:
    body: '{"type": "shipment", "start_date": "2022-04-11", "end_date": "2022-04-11",
      "columns": ["usps_zone"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"object": "ShipmentReport", "created_at": "2022-04-20T18:37:29Z",
        "updated_at": "2022-04-20T18:37:29Z", "start_date": "2022-04-11", "end_date":
        "2022-04-11", "mode": "test", "status": "new", "url": null, "url_expires_at":
        null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dd8f585f8bdd47fcb841046827833ae8"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4e6626052e9e7996a070024362d
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
version: 1
