interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups?page_size=5
  response:
    body:
      string: '{"pickups": [{"id": "pickup_01ab23e45845440b89921fb1607bfe67", "object":
        "Pickup", "created_at": "2024-08-16T15:46:46Z", "updated_at": "2024-08-16T15:46:46Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2024-08-17T00:00:00Z",
        "max_datetime": "2024-08-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_be3012c35be611ef8d11ac1f6bc539ae", "object": "Address", "created_at":
        "2024-08-16T15:46:46+00:00", "updated_at": "2024-08-16T15:46:46+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2024-08-16T15:46:47Z",
        "updated_at": "2024-08-16T15:46:47Z", "carrier": "USPS", "pickup_id": "pickup_01ab23e45845440b89921fb1607bfe67",
        "id": "pickuprate_f9946c5995eb4af5b741d6d56e47a3b6", "object": "PickupRate"}]},
        {"id": "pickup_ca2a288624fa4e1fbd68bdc6f98b8022", "object": "Pickup", "created_at":
        "2024-08-15T20:41:54Z", "updated_at": "2024-08-15T20:41:54Z", "mode": "test",
        "status": "unknown", "reference": null, "min_datetime": "2024-08-16T00:00:00Z",
        "max_datetime": "2024-08-16T00:00:00Z", "is_account_address": false, "instructions":
        "[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups?before_id=pickup_d6e8568063a7477c969b7fb183f473cd&page_size=5
  response:
    body:
      string: '{"pickups": [{"id": "pickup_cf4908f7f0514cb99d20bf5b5fef2b09", "object":
        "Pickup", "created_at": "2024-08-15T20:41:46Z", "updated_at": "2024-08-15T20:41:46Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2024-08-16T00[...]
