interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "account_number": 123}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/carrier_accounts/ca_123
  response:
    body:
      string: '{"error": {"code": "NOT_FOUND", "message": "The requested resource
        could not be found.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - df6fc7b5668c5334e2cba540002749ac
      x-node:
      - bigweb34nuq
      x-proxied:
      - intlb4nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407081949-3228d5845b-master
    status:
      code: 404
      message: Not Found
version: 1
