interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-16T22:16:57Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100104262210420189", "updated_at": "2023-05-16T22:16:58Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_5f549f97f43711ed8c103cecef1b359e", "object": "Address", "created_at":
        "2023-05-16T22:16:57+00:00", "updated_at": "2023-05-16T22:16:57+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_3c7c85e785064fd1a449a660b9cde3eb",
        "object": "Parcel", "created_at": "2023-05-16T22:16:57Z", "updated_at": "2023-05-16T22:16:57Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_7a54090c13d742d3a2bcba4326f7b78a",
        "created_at": "2023-05-16T22:16:58Z", "updated_at": "2023-05-16T22:16:58Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-05-16T22:16:58Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/589016f34cdf4997971e7afa7f0edfcb.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_f45d0a1343544a828f1c476cb7033a4c", "object":
        "Rate", "created_at": "2023-05-16T22:16:58Z", "updated_at": "2023-05-16T22:16:58Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.15",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_a98dcc81667747e59ed9607391eeeed0", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_12aff88bdbde45aaac1fd232d79c68cd",
        "object": "Rate", "created_at": "2023-05-16T22:16:58Z", "updated_at": "2023-05-16T22:16:58Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "6.07", "currency":
        "USD", "retail_rate": "6.07", "retail_currency": "USD", "list_rate": "6.07",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2023-05-17", "max_datetime": "2023-05-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_a98dcc81667747e59ed9607391eeeed0"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_c80e64ad84eb4691b32685a00cbe8329", "object": "Pickup",
        "created_at": "2023-05-16T22:16:59Z", "updated_at": "2023-05-16T22:16:59Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-05-17T00:00:00Z",
        "max_datetime": "2023-05-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_6004d6a2f43711ed9c4bac1f6bc7b362", "object": "Address", "created_at":
        "2023-05-16T22:16:58+00:00", "updated_at": "2023-05-16T22:16:58+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2023-05-16T22:17:00Z",
        "updated_at": "2023-05-16T22:17:00Z", "carrier": "USPS", "pickup_id": "pickup_c80e64ad84eb4691b32685a00cbe8329",
        "id": "pickuprate_8946fd2a381842a0895d70a051de4256", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"beef27479e5dae273e4399f21a40ed20"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e7646400dae7896186004563dd
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305162013-ad43550112-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_c80e64ad84eb4691b32685a00cbe8329/buy
  response:
    body:
      string: '{"id": "pickup_c80e64ad84eb4691b32685a00cbe8329", "object": "Pickup",
        "created_at": "2023-05-16T22:16:59Z", "updated_at": "2023-05-16T22:17:02Z",
        "mode": "test", "status": "sched[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_c80e64ad84eb4691b32685a00cbe8329/cancel
  response:
    body:
      string: '{"id": "pickup_c80e64ad84eb4691b32685a00cbe8329", "object": "Pickup",
        "created_at": "2023-05-16T22:16:59Z", "updated_at": "2023-05-16T22:17:03Z",
        "mode": "test", "status": "canceled", "reference": null, "min_dateti[...]
