interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_d128ff74fac311efa7a7ac1f6bc539ae", "object": "Address",
        "created_at": "2025-03-06T19:47:20+00:00", "updated_at": "2025-03-06T19:47:20+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_d128ff74fac311efa7a7ac1f6bc539ae
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4a484c0a67c9fbc8e2b9771200188bfc
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_d128ff74fac311efa7a7ac1f6bc539ae
  response:
    body:
      string: '{"id": "adr_d128ff74fac311efa7a7ac1f6bc539ae", "object": "Address",
        "created_at": "2025-03-06T19:47:20+00:00", "updated_at": "2025-03-06T19:47:20+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4a484c0a67c9fbc8e2b9771200188c22
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
