interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}, "options": {"label_format":
      "PNG", "invoice_number": "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_322d89bfe10e4874a31e20e3a001be24", "created_at": "2025-03-07T16:46:21Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
        "PNG", "invoice_number": "123", "currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": "123", "status": "unknown", "tracking_code":
        null, "updated_at": "2025-03-07T16:46:21Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": {"id": "cstinfo_23612c8c72b3439db1979957ebba631d",
        "object": "CustomsInfo", "created_at": "2025-03-07T16:46:21Z", "updated_at":
        "2025-03-07T16:46:21Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_a4293957af1b4faf9eaadfe3579c965c", "object": "CustomsItem",
        "created_at": "2025-03-07T16:46:21Z", "updated_at": "2025-03-07T16:46:21Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_b2bd42b3fb7311ef9cbaac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-07T16:46:21+00:00", "updated_at": "2025-03-07T16:46:21+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_8b5c2fafd17a42d6a327469914e121b5",
        "object": "Parcel", "created_at": "2025-03-07T16:46:21Z", "updated_at": "2025-03-07T16:46:21Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_d42bdaff54064c12a24c4ceaa133c72b",
        "object": "Rate", "created_at": "2025-03-07T16:46:21Z", "updated_at": "2025-03-07T16:46:21Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_322d89bfe10e4874a31e20e3a001be24", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_8ee656e6c49244abb5fefeda5567cea9",
        "object": "Rate", "created_at": "2025-03-07T16:46:21Z", "updated_at": "2025-03-07T16:46:21Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_322d89bfe10e4874a31e20e3a001be24", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_064e47d5551944c1929fe58c375c579c",
        "object": "Rate", "created_at": "2025-03-07T16:46:21Z", "updated_at": "2025-03-07T16:46:21Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_322d89bfe10e4874a31e20e3a001be24", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_b2ba9c36fb7311efa275ac1f6bc539aa",
        "object": "Address", "created_at": "2025-03-07T16:46:21+00:00", "updated_at":
        "2025-03-07T16:46:21+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_b2bd42b3fb7311ef9cbaac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-07T16:46:21+00:00", "updated_at": "2025-03-07T16:46:21+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_b2ba9c36fb7311efa275ac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-07T16:46:21+00:00", "updated_at": "2025-03-07T16:46:21+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_322d89bfe10e4874a31e20e3a001be24
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf90167cb22dce2aaba23000ae1cb
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_322d89bfe10e4874a31e20e3a001be24/rerate
  response:
    body:
      string: '{"rates": [{"id": "rate_8c859e5dd7c24f8686ec63c1029d2c75", "object":
        "Rate", "created_at": "2025-03-07T16:46:21Z", "updated_at": "2025-03-07T16:46:21Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rat[...]
