interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_80619c6fd9bd4d77ac16255499be07a0", "object": "Parcel",
        "created_at": "2022-08-15T18:51:53Z", "updated_at": "2022-08-15T18:51:53Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e745d08d431e686d5e643e99f4f43e48"
      location:
      - /api/v2/parcels.prcl_80619c6fd9bd4d77ac16255499be07a0
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47b62fa95c9e79a7a270026251c
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
