interactions:
- request:
    body: '{"address": {"street1": "invalid"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_d1b02f48fac311efa7f0ac1f6bc539ae", "object": "Address",
        "created_at": "2025-03-06T19:47:21+00:00", "updated_at": "2025-03-06T19:47:21+00:00",
        "name": null, "company": null, "street1": "invalid", "street2": null, "city":
        null, "state": null, "zip": null, "country": "US", "phone": "<REDACTED>",
        "email": "<REDACTED>", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_d1b02f48fac311efa7f0ac1f6bc539ae
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4a484c0a67c9fbc9e2b9771600188d17
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_d1b02f48fac311efa7f0ac1f6bc539ae/verify
  response:
    body:
      string: '{"error": {"code": "ADDRESS.VERIFY.FAILURE", "message": "Unable to
        verify address.", "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field": "address",
        "message": "Address not found", "suggestion": null}, {"code": "E.HOUSE_NUMBER.MISSING",
        "field": "street1", "message": "House number is missing", "suggestion": null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4a484c0a67c9fbc9e2b9771600188d2d
      x-node:
      - bigweb56nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
