interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_7777c681ff90424f9ac2ee9b05c3e791", "object": "Parcel",
        "created_at": "2023-05-15T21:03:26Z", "updated_at": "2023-05-15T21:03:26Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4f084e94361e31e106f58be10a1ad081"
      location:
      - /api/prcl_7777c681ff90424f9ac2ee9b05c3e791/parcels
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 44e495b364629e1ee2b976d3003563cd
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305151948-2ffaad026d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/parcels/prcl_7777c681ff90424f9ac2ee9b05c3e791
  response:
    body:
      string: '{"id": "prcl_7777c681ff90424f9ac2ee9b05c3e791", "object": "Parcel",
        "created_at": "2023-05-15T21:03:26Z", "updated_at": "2023-05-15T21:03:26Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4f084e94361e31e106f58be10a1ad081"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 44e495b364629e1fe2b976d3003563f5
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305151948-2ffaad026d-master
    status:
      code: 200
      message: OK
version: 1
