interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=5
  response:
    body:
      string: '{"batches": [{"id": "batch_714d7667a73f450eb169b20c1425c6a2", "object":
        "Batch", "mode": "test", "state": "created", "num_shipments": 1, "reference":
        null, "created_at": "2025-03-06T19:47:23Z", "updated_at": "2025-03-06T19:47:23Z",
        "scan_form": null, "shipments": [{"batch_status": "created", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_18722621622046f48c2314f4624c5746"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}, {"id":
        "batch_af1a8a3cfc1f444d961e620e2ade0f7a", "object": "Batch", "mode": "test",
        "state": "created", "num_shipments": 1, "reference": null, "created_at": "2025-03-06T19:47:23Z",
        "updated_at": "2025-03-06T19:47:23Z", "scan_form": null, "shipments": [{"batch_status":
        "created", "batch_message": null, "reference": null, "tracking_code": null,
        "id": "shp_60e1b0b799e74382b16366ba261282f3"}], "status": {"created": 1, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}], "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbcbe2b9773300184edf
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
