interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "credentials": {"client_id":
      "123456", "client_secret": "123abc", "distribution_center": "USLAX1", "pickup_id":
      "123456"}, "test_credentials": {"client_id": "123456", "client_secret": "123abc",
      "distribution_center": "USLAX1", "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_812a1e8411fe44f18a3e7b2f8abab3de", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2023-05-12T21:18:17Z",
        "updated_at": "2023-05-12T21:18:17Z", "description": "DHL eCommerce Solutions
        Account", "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce
        Solutions", "logo": null, "fields": [], "credentials": {}, "test_credentials":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"da1ce6607939be1dbe95953bf72baed1"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4eb6f00d645ead19e2aabe7d000daa09
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_812a1e8411fe44f18a3e7b2f8abab3de
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4eb6f00d645ead19e2aabe7d000daa11
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
version: 1
