interactions:
- request:
    body: '{"refund_amount": 2000}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers/refunds
  response:
    body:
      string: '{"error": {"code": "TRANSACTION.AMOUNT_INVALID", "message": "Refund
        amount is invalid. Please use a valid amount or escalate to finance.", "errors":
        []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e16463d025e787d9a0003405cc
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161731-3a88337a74-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
