interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events?page_size=5
  response:
    body:
      string: '{"events": [{"description": "tracker.created", "id": "evt_ebde5d3cfac311ef84522bd0c5c586a1",
        "user_id": "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2025-03-06T19:48:05.456Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.created", "id": "evt_e8d4ccdefac311ef85c247061f0fe827", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2025-03-06T19:48:00.360Z", "mode": "test", "object": "Event"}, {"description":
        "batch.updated", "id": "evt_e45091a2fac311ef8fdf07d8bb7ce84b", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2025-03-06T19:47:52.782Z", "mode": "test", "object": "Event"}, {"description":
        "batch.updated", "id": "evt_e3aa5026fac311ef87b57da2a609c037", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2025-03-06T19:47:51.693Z", "mode": "test", "object": "Event"}, {"description":
        "batch.updated", "id": "evt_e12e412cfac311efbc965774cea6d58d", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2025-03-06T19:47:47.524Z", "mode": "test", "object": "Event"}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62567c9fbf7e2b97ad200187fae
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events?before_id=evt_e12e412cfac311efbc965774cea6d58d&page_size=5
  response:
    body:
      string: '{"events": [{"description": "batch.updated", "id": "evt_ddab99befac311efb1c6057c04bd81f2",
        "user_id": "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2025-03-06T19:47:41.635Z", "mode": "test", "object": "Event"}, {"descr[...]
