interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-16T15:47:01Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105807076059181", "updated_at": "2024-08-16T15:47:02Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_c7332ddd5be611efbc403cecef1b359e", "object": "Address", "created_at":
        "2024-08-16T15:47:01+00:00", "updated_at": "2024-08-16T15:47:01+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_a0c80b2d548f43ddb8e5c314121a0798",
        "object": "Parcel", "created_at": "2024-08-16T15:47:01Z", "updated_at": "2024-08-16T15:47:01Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_5ded0e0b7ef445aabc622bd765a3af92",
        "created_at": "2024-08-16T15:47:01Z", "updated_at": "2024-08-16T15:47:02Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2024-08-16T15:47:01Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240816/e85697dfbab4ee46cfa265e78c8ed3f565.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_129369f9a0a74e26ab2fdc0cb4d06af8", "object":
        "Rate", "created_at": "2024-08-16T15:47:01Z", "updated_at": "2024-08-16T15:47:01Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_206738f5ab8c45b989b5c745d9f03ba2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_cb40abcd78904548a4d3c9be12a948a4",
        "object": "Rate", "created_at": "2024-08-16T15:47:01Z", "updated_at": "2024-08-16T15:47:01Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "33.10",
        "currency": "USD", "retail_rate": "37.90", "retail_currency": "USD", "list_rate":
        "33.10", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_206738f5ab8c45b989b5c745d9f03ba2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_83e88433c1014893a067393dba0242f0",
        "object": "Rate", "created_at": "2024-08-16T15:47:01Z", "updated_at": "2024-08-16T15:47:01Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.90",
        "currency": "USD", "retail_rate": "9.80", "retail_currency": "USD", "list_rate":
        "8.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_206738f5ab8c45b989b5c745d9f03ba2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_129369f9a0a74e26ab2fdc0cb4d06af8", "object":
        "Rate", "created_at": "2024-08-16T15:47:01Z", "updated_at": "2024-08-16T15:47:01Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_206738f5ab8c45b989b5c745d9f03ba2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_e99794b8928842d7a69c715f1e652f23",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100105807076059181",
        "status": "unknown", "status_detail": "unknown", "created_at": "2024-08-16T15:47:02Z",
        "updated_at": "2024-08-16T15:47:02Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_206738f5ab8c45b989b5c745d9f03ba2", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrX2U5OTc5NGI4OTI4ODQyZDdhNjljNzE1ZjFlNjUyZjIz"},
        "to_address": {"id": "adr_c730dcde5be611ef8dc6ac1f6bc539aa", "object": "Address",
        "created_at": "2024-08-16T15:47:01+00:00", "updated_at": "2024-08-16T15:47:01+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_c7332ddd5be611efbc403cecef1b359e",
        "object": "Address", "created_at": "2024-08-16T15:47:01+00:00", "updated_at":
        "2024-08-16T15:47:01+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_c730dcde5be611ef8dc6ac1f6bc539aa", "object": "Address", "created_at":
        "2024-08-16T15:47:01+00:00", "updated_at": "2024-08-16T15:47:01+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "5.93000", "charged": true,
        "refunded": false}], "id": "shp_206738f5ab8c45b989b5c745d9f03ba2", "object":
        "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_206738f5ab8c45b989b5c745d9f03ba2
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8a4bf44166bf7475e786a2fc00331ef3
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb1nuq b6e1b5034c
      x-version-label:
      - easypost-202408152333-48cda4a73e-master
    status:
      code: 201
      message: Created
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2024-08-17", "max_datetime": "2024-08-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_206738f5ab8c45b989b5c745d9f03ba2"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_01e005e4f2d04632b21b79cc76bc605c", "object": "Pickup",
        "created_at": "2024-08-16T15:47:02Z", "updated_at": "2024-08-16T15:47:02Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2024-08-17T00:00:00Z",
        "max_datetime": "2024-08-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_c7d41c565be611ef8e34ac1f6bc53342", "object": "Address", "created_at":
        "2024-08-16T15:47:02+00:00", "updated_at": "2024-08-16T15:47:02+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2024-08-16T15:47:03Z",
        "updated_at": "2024-08-16T15:47:03Z", "carrier": "USPS", "pickup_id": "pickup_01e005e4f2d04632b21b79cc76bc605c",
        "id": "pickuprate_fcb3197bea914ee29e3d6a2ae7909b9b", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8a4bf44166bf7476e786a2fc00331fec
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb1nuq b6e1b5034c
      x-version-label:
      - easypost-202408152333-48cda4a73e-master
    status:
      code: 200
      message: OK
version: 1
