interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/refunds?page_size=5
  response:
    body:
      string: '{"refunds":[{"id":"rfnd_75569d36e3d648b893a875a3070ae92a","object":"Refund","created_at":"2022-05-04T20:26:04Z","updated_at":"2022-05-04T20:26:04Z","tracking_code":"9400100109361117768853","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_9e38dcceeaef4d359c38211af1bcca33"},{"id":"rfnd_58872cdfeaa947ec90159407c304f145","object":"Refund","created_at":"2022-05-04T20:23:52Z","updated_at":"2022-05-04T20:23:52Z","tracking_code":"9400100109361117768570","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_6e0a4901556949328e6afb173389a649"},{"id":"rfnd_108eeeb1e97e4ce780cbb0b964c78c75","object":"Refund","created_at":"2022-04-21T22:45:37Z","updated_at":"2022-04-21T23:15:47Z","tracking_code":"9400100109361116088099","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_961e00cc92cc429eae640f5b88065e82"},{"id":"rfnd_66f5361a75fb423cbb6c8e5e1aefe2d5","object":"Refund","created_at":"2022-04-21T22:45:10Z","updated_at":"2022-04-21T23:15:47Z","tracking_code":"9400100109361116088006","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_e1b68199c65a4124898739429c12e9a4"},{"id":"rfnd_0646ba87fb3348ba88e1830b54059d9f","object":"Refund","created_at":"2022-04-21T22:40:20Z","updated_at":"2022-04-21T23:15:45Z","tracking_code":"9400100109361116087689","confirmation_number":null,"status":"rejected","carrier":"USPS","shipment_id":"shp_f034681d435a4b16b8a4d8eb84df7819"}],"has_more":true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"cdbddd18863d7d9f533d1f77dad1b62c"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b96272e15de786b8bf001627ae
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/refunds/rfnd_75569d36e3d648b893a875a3070ae92a
  response:
    body:
      string: '{"id":"rfnd_75569d36e3d648b893a875a3070ae92a","object":"Refund","created_at":"2022-05-04T20:26:04Z","updated_at":"2022-05-04T20:26:04Z","tracking_code":"9400100109361117768853","confirmation_number":null,"status":"submitted","carrier":"USPS","shipment_id":"shp_9e38dcceeaef4d359c38211af1bcca33"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3fd681db9c2e80ceb1c8d1b3eaba3e16"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b96272e15de786b8bf001627d9
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
