interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_a5ed251b40ba42a58e5496cd2adceadc", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2022-11-22T22:37:21Z", "default_carbon_offset":
        false, "children": [], "api_keys": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1044211ae9ed70246d3c3a656faf2c9a"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 816b7d7e637d4f20e78a8eea0069c477
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      x-version-label:
      - easypost-202211222057-6fd042c9a6-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users/user_a5ed251b40ba42a58e5496cd2adceadc
  response:
    body:
      string: '{"id": "user_a5ed251b40ba42a58e5496cd2adceadc", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2022-11-22T22:37:21Z", "default_carbon_offset":
        false, "children": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"659c13f4502047728511e7a580775a4d"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 816b7d7e637d4f21e78a8eea0069c4fc
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb1nuq 29913d444b
      x-version-label:
      - easypost-202211222057-6fd042c9a6-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/api_keys
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "keys": [], "children":
        [{"id": "user_9bc25a1d07f54682997435937b30d4f0", "keys": [{"object": "ApiKey",
        "active": true, "key": "<REDACTED>", "mode": "test", "created_at": "2020-05-11T21:59:07Z",
        "id": "ak_8ec7425945484a4ba779862f6765387b"}, {"object": "ApiKey", "active":
        true, "key": "<REDACTED>", "mode": "production", "created_at": "2020-05-11T21:59:07Z",
        "id": "ak_42a2fed1c4024691bc67a0ee1f28b3d5"}], "children": []}, {"id": "user_36a3958cd65a4592b1ddb742f7d3362a",
        "keys": [{"object": "ApiKey", "active": true, "key": "<REDACTED>", "mode":
        "test", "created_at": "2020-05-14T03:55:52Z", "id": "ak_b64b0e[...]
