interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/api_keys
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "keys": [{"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "test", "created_at":
        "2022-02-24T20:59:05Z", "id": "ak_16f993eae7984eab94e0957a78bee407"}, {"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "production", "created_at":
        "2022-02-24T20:59:14Z", "id": "ak_62524a9c3f684f65ab9eccbf70950df8"}], "children":
        []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93631940720c42f55c0b598f97083e11"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 44bce2e165147ecef3f87071000edcd6
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb2nuq cac2303bbb
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202309271719-1317a54bfa-master
    status:
      code: 200
      message: OK
version: 1
