interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms?page_size=5
  response:
    body:
      string: '{"scan_forms": [{"id": "sf_096c54c7ff404b06b6bab4b1087f3f52", "object":
        "ScanForm", "created_at": "2024-08-15T19:52:07Z", "updated_at": "2024-08-15T19:52:07Z",
        "tracking_codes": ["9400100105807075742053"], "address": {"id": "adr_d3f4ff695b3f11efb7f6ac1f6bc539aa",
        "object": "Address", "created_at": "2024-08-15T19:51:56+00:00", "updated_at":
        "2024-08-15T19:51:56+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20240815/e8bf289055f0394f158ca7c0edb6f5dfbf.pdf",
        "form_file_type": null, "batch_id": "batch_180b18530ca245ab824169b73b26ae6f",
        "confirmation": null}, {"id": "sf_3f668f1e39ae405db1363110e7bbe3aa", "object":
        "ScanForm", "created_at": "2024-08-15T19:53:44Z", "updated_at": "2024-08-15T19:53:44Z",
        "tracking_codes": ["9400100105807075742909"], "address": {"id": "adr_13606e4d5b4011ef98f0ac1f6bc539aa",
        "object": "Address", "created_at": "2024-08-15T19:53:43+00:00", "updated_at":
        "2024-08-15T19:53:43+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city":[...]
