interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_014eff38bf2c4f4fa81af32ed8b55146", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "REDACTED", "verified": true, "created_at": "2022-05-10T20:24:38Z", "children":
        ["REDACTED"], "api_keys": ["REDACTED"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8a93ded501b007e85ccc5de7745f7943"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 9f1b0cfb627aca06efb5854a0025a6ea
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq fde591f008
      - intlb1wdc fde591f008
      - extlb3wdc c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_014eff38bf2c4f4fa81af32ed8b55146
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 9f1b0cfb627aca06efb5854a0025a727
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq fde591f008
      - intlb2wdc fde591f008
      - extlb3wdc c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 204
      message: No Content
version: 1
