interactions:
- request:
    body: '{"ups_oauth_registrations": {"type": "UpsAccount"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/ups_oauth_registrations
  response:
    body:
      string: '{"error": {"code": "PARAMETER.REQUIRED", "message": "Missing required
        parameter.", "errors": [{"field": "ups_oauth_registrations.account_number",
        "message": "is required but missing"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - cbf7748e6685bf59e2bc356000275a02
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb3nuq fa152d4755
      - extlb1nuq fa152d4755
      x-version-label:
      - easypost-202407031852-b015027e75-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
