interactions:
- request:
    body: '{"address": {"street1": "invalid"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_7c8d2199f0fb11ed8e31ac1f6bc72124", "object": "Address",
        "created_at": "2023-05-12T19:30:43+00:00", "updated_at": "2023-05-12T19:30:43+00:00",
        "name": null, "company": null, "street1": "invalid", "street2": null, "city":
        null, "state": null, "zip": null, "country": "US", "phone": "<REDACTED>",
        "email": "<REDACTED>", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ba83aca1454e0558f215c3d63669f85c"
      location:
      - /api/v2/addresses/adr_7c8d2199f0fb11ed8e31ac1f6bc72124
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4eb6f00e645e93e3e2cc317b0005d43b
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_7c8d2199f0fb11ed8e31ac1f6bc72124/verify
  response:
    body:
      string: '{"error": {"code": "ADDRESS.VERIFY.FAILURE", "message": "Unable to
        verify address.", "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field": "address",
        "message": "Address not found", "suggestion": null}, {"code": "E.HOUSE_NUMBER.MISSING",
        "field": "street1", "message": "House number is missing", "suggestion": null}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4eb6f00e645e93e3e2cc317b0005d449
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
