interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04", "additional_columns":
      ["from_name", "from_company"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_4278c856e8264aeb820b4ade399e7d58", "object": "ShipmentReport",
        "created_at": "2023-05-16T15:28:53Z", "updated_at": "2023-05-16T15:28:53Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b2441501e7f8cd92d45b23389d4343ac"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e66463a135e786afbc0021bb99
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 201
      message: Created
version: 1
