interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_types
  response:
    body:
      string: '[{"object": "CarrierType", "type": "AccurateAccount", "readable": "Accurate",
        "logo": null, "fields": []}, {"object": "CarrierType", "type": "AmazonMwsAccount",
        "readable": "Amazon MWS", "logo": null, "fields": []}, {"object": "CarrierType",
        "type": "ApcAccount", "readable": "APC", "logo": null, "fields": []}, {"object":
        "CarrierType", "type": "AsendiaUsaAccount", "readable": "Asendia USA", "logo":
        null, "fields": []}, {"object": "CarrierType", "type": "AustraliaPostAccount",
        "readable": "Australia Post", "logo": null, "fields": []}, {"object": "CarrierTy[...]
