interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=5
  response:
    body:
      string: '{"batches": [{"id": "batch_5c5da8c23c3c48549a381da43d7ef9f9", "object":
        "Batch", "mode": "test", "state": "created", "num_shipments": 1, "reference":
        null, "created_at": "2023-05-12T19:30:43Z", "updated_at": "2023-05-12T19:30:43Z",
        "scan_form": null, "shipments": [{"batch_status": "created", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_be5a45be490a4ecfb4b6bf89b5d97efa"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}, {"id":
        "batch_78252d9d1e6046b5953baf4f54832904", "object": "Batch", "mode": "test",
        "state": "created", "num_shipments": 1, "reference": null, "created_at": "2023-05-12T19:30:43Z",
        "updated_at": "2023-05-12T19:30:44Z", "scan_form": null, "shipments": [{"batch_status":
        "created", "batch_message": null, "reference": null, "tracking_code": null,
        "id": "shp_06fd2424f27244cd9d9085bc73110767"}], "status": {"created": 1, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}], "has_more": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5387c1f56a6184a4fdf9febc72dd3ad0"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 52975b53645e93e4e2cc317e000622b3
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
version: 1
