interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:36:57Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115908893", "updated_at": "2022-04-20T18:36:58Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_dc04b4ebc0d811ecb212ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-04-20T18:36:57+00:00", "updated_at": "2022-04-20T18:36:57+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_29896505eda14a139a44d159ac7add02",
        "object": "Parcel", "created_at": "2022-04-20T18:36:57Z", "updated_at": "2022-04-20T18:36:57Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_cf6e945154e9441aab4af74408651302",
        "created_at": "2022-04-20T18:36:58Z", "updated_at": "2022-04-20T18:36:58Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:36:58Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/52f712f77f37499d92e3c62e2d3db3fc.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_819787e3e06b4ba7ac431515a3df8b31", "object":
        "Rate", "created_at": "2022-04-20T18:36:57Z", "updated_at": "2022-04-20T18:36:57Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "delivery_days": 1, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 1, "shipment_id":
        "shp_dada4e19fa0a49159978b1cf3583769a", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_238f4c5c8095490cb233f4c156001661", "object": "Rate", "created_at":
        "2022-04-20T18:36:57Z", "updated_at": "2022-04-20T18:36:57Z", "mode": "test",
        "service": "First", "carrier": "USPS", "rate": "5.49", "currency": "USD",
        "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49", "list_currency":
        "USD", "delivery_days": 2, "delivery_date": null, "delivery_date_guaranteed":
        false, "est_de[...]
- request:
    body: '{"insurance": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "carrier": "USPS", "amount": "100", "tracking_code": "9400100109361115908893"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/insurances
  response:
    body:
      string: '{"object": "Insurance", "mode": "test", "reference": null, "status":
        "pending", "amount": "100.00000", "provider": "easypost", "provider_id": null,
        "to_address": {"id": "adr_dcad826ac0d811ec96cbac1f6bc72124", "object": "Address",
        "created_at": "2022-04-20T18:36:58+00:00", "updated_at": "2022-04-20T18:36:58+00:00",
        "name": "JACK SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND ST
        APT 20", "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "from_address": {"id": "adr_dcb19557c0d811ecb843ac1f6bc7b362",
        "object": "Address", "created_at": "2022-04-20T18:36:58+00:00", "updated_at":
        "2022-04-20T18:36:58+00:00", "name": "JACK SPARROW", "company": "EASYPOST",
        "street1": "388 TOWNSEND ST APT 20", "street2": "", "city": "SAN FRANCISCO",
        "state": "CA", "zip": "94107-1670", "country": "US", "phone": "5555555555",
        "email": null, "mode": "test", "carrier_facility": null, "residential": true,
        "federal_tax_id": null, "state_tax_id": null, "verifications": {"zip4": {"success":
        true, "errors": [], "details": null}, "delivery": {"success": true, "errors":
        [], "details": {"latitude": 37.77551, "longitude": -122.39697, "time_zone":
        "America/Los_Angeles"}}}}, "shipment_id": null, "tracker": {"id": "trk_ae891d2abe7a4eb99f2616ecb84d2f11",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100109361115908893",
        "status": "pre_transit", "status_detail": "status_update", "created_at": "2022-04-20T18:36:58Z",
        "updated_at": "2022-04-20T18:36:58Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2022-04-20T18:36:58Z", "shipment_id": "shp_dada4e19fa0a49159978b1cf3583769a",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-03-20T18:36:58Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-03-21T07:13:58Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail":
        {"object": "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrX2FlODkxZDJhYmU3YTRlYjk5ZjI2MTZlY2I4NGQyZjEx",
        "fees": []}, "tracking_code": "9400100109361115908893", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2022-04-20T18:36:58Z", "updated_at":
        "2022-04-20T18:36:59Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c7ae07d75a3d431efb6db8e229009bb6"
      location:
      - /api/v2/insurances/ins_33cdd454a4af4943b19ab69f8fdb4ee7
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d7626052cae79969c60024312f
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
version: 1
