interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances?page_size=5
  response:
    body:
      string: '{"insurances": [{"id": "ins_0b02293630584ec38a869419b0545069", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_fa00aedb5b3f11efab92ac1f6bc53342", "object": "Address", "created_at":
        "2024-08-15T19:53:00+00:00", "updated_at": "2024-08-15T19:53:00+00:00", "name":
        "ELIZABETH SWAN", "company": null, "street1": "179 N HARBOR DR", "street2":
        null, "city": "REDONDO BEACH", "state": "CA", "zip": "90277-2506", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [], "details": null},
        "delivery": {"success": true, "errors": [], "details": {"latitude": 33.8436,
        "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}}, "from_address":
        {"id": "adr_fa0af6b05b3f11ef8ca4ac1f6bc539aa", "object": "Address", "created_at":
        "2024-08-15T19:53:00+00:00", "updated_at": "2024-08-15T19:53:00+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "shipment_id": null, "tracker": {"id":
        "trk_50b372963459402aa81977a2feb1ac20", "object": "Tracker", "mode": "test",
        "tracking_code": "9400100105807075742510", "status": "error", "status_detail":
        null, "created_at": "2024-08-15T19:53:01Z", "updated_at": "2024-08-15T19:53:01Z",
        "signed_by": null, "weight": null, "est_delivery_date": null, "shipment_id":
        null, "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail",
        "message": "In test mode, only test tracking numbers are valid. Test tracking
        numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007", "description":
        "", "status": "error", "status_detail": null, "datetime": "2024-08-15T19:53:01Z",
        "source": "ProcessingError", "carrier_code": "", "tracking_location": {"object":
        "TrackingLocation", "city": null, "state": null, "country": null, "zip": null}}],
        "carrier_detail": null, "finalized": true, "is_return": false, "public_url":
        "https://track.easypost.com/djE6dHJrXzUwYjM3Mjk2MzQ1OTQwMmFhODE5NzdhMmZlYjFhYzIw",
        "fees": []}, "tracking_code": "9400100105807075742510", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2024-08-15T19:53:00Z", "updated_at":
        "2024-08-15T19:53:00Z"}, {"id": "ins_129dfdb3ef8241cfa53deda1eb48e675", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_f9018af05b3f11ef8c31ac1f6bc539aa", "object": "Address", "created_at":
        "2024-08-15T19:52:59+00:00", "updated_at": "2024-08-15T19:52:59+00:00", "name":
        [...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances?before_id=ins_cc8aaf0d3a6540c9a008f4a5a1637ef8&page_size=5
  response:
    body:
      string: '{"insurances": [{"id": "ins_d80beb2a846941d8b9f16be60b769b2a", "object":
        "Insurance", "mode": "test", "reference": null, "status": "purchased", "amount":
        "249.99000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr[...]
