interactions:
- request:
    body: '{"ups_oauth_registrations": {"type": "UpsAccount", "account_number": "123456789"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/ups_oauth_registrations
  response:
    body:
      string: '{"id": "ca_47c106e98d8442018f3712e8e1e9bf32", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2025-03-06T19:47:55Z",
        "updated_at": "2025-03-06T19:47:55Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbebe2b97a8f001871de
      x-node:
      - bigweb55nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_47c106e98d8442018f3712e8e1e9bf32
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbebe2b97a8f001871fe
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
