interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_779da35ef0fb11ed9ce1ac1f6bc7bdc6", "object": "Address",
        "created_at": "2023-05-12T19:30:35+00:00", "updated_at": "2023-05-12T19:30:35+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"35c6c397111b5387c8a3420bb0be9d41"
      location:
      - /api/v2/addresses/adr_779da35ef0fb11ed9ce1ac1f6bc7bdc6
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fcd79951645e93dbe2cc315a00060bef
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb3wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 201
      message: Created
version: 1
