interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-11-22T18:04:38Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100106068151927644", "updated_at": "2022-11-22T18:04:39Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_216b9c2b6a9011ed970eac1f6bc72124", "object": "Address", "created_at":
        "2022-11-22T18:04:38+00:00", "updated_at": "2022-11-22T18:04:38+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_16c20f767da4414f928a96dc16195ded",
        "object": "Parcel", "created_at": "2022-11-22T18:04:38Z", "updated_at": "2022-11-22T18:04:38Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_d017254324534ecb9f7f56ea45b41b9e",
        "created_at": "2022-11-22T18:04:39Z", "updated_at": "2022-11-22T18:04:39Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-11-22T18:04:39Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20221122/9c23df2aba1143d2ba5c0a2abe140672.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_5440ff5a1782463b80666d0c0f731a98", "object":
        "Rate", "created_at": "2022-11-22T18:04:38Z", "updated_at": "2022-11-22T18:04:38Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "29.75",
        "currency": "USD", "retail_rate": "33.85", "retail_currency": "USD", "list_rate":
        "29.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_a78ec49bb47842d19c6a647289e381a9", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_a80e67fefa934228941e547462001335",
        "object": "Rate", "created_at": "2022-11-22T18:04:38Z", "updated_at": "2022-11-22T18:04:38Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "8.00",
        "currency": "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate":
        "8.00", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delive[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_a78ec49bb47842d19c6a647289e381a9
  response:
    body:
      string: '{"created_at": "2022-11-22T18:04:38Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100106068151927644", "upd[...]
- request:
    body: '{"refund": {"carrier": "USPS", "tracking_codes": ["9400100106068151927644"]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/refunds
  response:
    body:
      string: '[{"id": "rfnd_05fb829e99404237b446b87a002856e6", "object": "Refund",
        "created_at": "2022-11-22T18:04:40Z", "updated_at": "2022-11-22T18:04:40Z",
        "tracking_code": "9400100106068151927644", "confirmation_number": null, "status":
        "submitted", "carrier": "USPS", "shipment_id": "shp_a78ec49bb47842d19c6a647289e381a9"}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"12d10f6bff509370b29a9fa64484a01b"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - d96d15b2637d0f37e7874942003734c9
      x-node:
      - bigweb11nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202211211953-c7d3fecdcf-master
    status:
      code: 201
      message: Created
version: 1
