interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T19:53:51Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361130483047", "updated_at": "2022-07-28T19:53:52Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_0108ae980eaf11ed88caac1f6bc72124", "object": "Address", "created_at":
        "2022-07-28T19:53:51+00:00", "updated_at": "2022-07-28T19:53:51+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_0a30f65d420b4c8faea414e19b96458d",
        "object": "Parcel", "created_at": "2022-07-28T19:53:51Z", "updated_at": "2022-07-28T19:53:51Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_5de8229fa1274b6f898f8673a3cf9e86",
        "created_at": "2022-07-28T19:53:52Z", "updated_at": "2022-07-28T19:53:52Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T19:53:52Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/32ce8c0aeab7492a91b7e396cd0bd11a.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_132657775f074eb1b0880aa5e9f39657", "object":
        "Rate", "created_at": "2022-07-28T19:53:51Z", "updated_at": "2022-07-28T19:53:51Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.49", "currency":
        "USD", "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 2, "shipment_id":
        "shp_8f24834463994842bc28b90496856fa8", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_4990cdaa5a63429582c04f5d530fd580", "object": "Rate", "created_at":
        "2022-07-28T19:53:52Z", "updated_at": "2022-07-28T19:53:52Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "23.75", "currency": "USD",
        "retail_rate": "27.40", "retail_currency": "USD", "list_rate": "23.75", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": null, "delivery_date":
        null, "deliv[...]
- request:
    body: '{"insurance": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "carrier": "USPS", "amount": "100", "tracking_code": "9400100109361130483047"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/insurances
  response:
    body:
      string: '{"id": "ins_f0c9e43e83de4bde8464b5d64adaab05", "object": "Insurance",
        "mode": "test", "reference": null, "status": "pending", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id": "adr_01c849270eaf11ed89b5ac1f6bc72124",
        "object": "Address", "created_at": "2022-07-28T19:53:53+00:00", "updated_at":
        "2022-07-28T19:53:53+00:00", "name": "JACK SPARROW", "company": "EASYPOST",
        "street1": "388 TOWNSEND ST APT 20", "street2": "", "city": "SAN FRANCISCO",
        "state": "CA", "zip": "94107-1670", "country": "US", "phone": "5555555555",
        "email": null, "mode": "test", "carrier_facility": null, "residential": true,
        "federal_tax_id": null, "state_tax_id": null, "verifications": {"zip4": {"success":
        true, "errors": [], "details": null}, "delivery": {"success": true, "errors":
        [], "details": {"latitude": 37.77551, "longitude": -122.39697, "time_zone":
        "America/Los_Angeles"}}}}, "from_address": {"id": "adr_01cc3a150eaf11ed89bbac1f6bc72124",
        "object": "Address", "created_at": "2022-07-28T19:53:53+00:00", "updated_at":
        "2022-07-28T19:53:53+00:00", "name": "JACK SPARROW", "company": "EASYPOST",
        "street1": "388 TOWNSEND ST APT 20", "street2": "", "city": "SAN FRANCISCO",
        "state": "CA", "zip": "94107-1670", "country": "US", "phone": "5555555555",
        "email": null, "mode": "test", "carrier_facility": null, "residential": true,
        "federal_tax_id": null, "state_tax_id": null, "verifications": {"zip4": {"success":
        true, "errors": [], "details": null}, "delivery": {"success": true, "errors":
        [], "details": {"latitude": 37.77551, "longitude": -122.39697, "time_zone":
        "America/Los_Angeles"}}}}, "shipment_id": null, "tracker": {"id": "trk_92f9dfc7c3814d16a605fef1c44c2896",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100109361130483047",
        "status": "pre_transit", "status_detail": "status_update", "created_at": "2022-07-28T19:53:52Z",
        "updated_at": "2022-07-28T19:53:52Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2022-07-28T19:53:52Z", "shipment_id": "shp_8f24834463994842bc28b90496856fa8",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-06-28T19:53:52Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-06-29T08:30:52Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail":
        {"object": "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrXzkyZjlkZmM3YzM4MTRkMTZhNjA1ZmVmMWM0NGMyODk2",
        "fees": []}, "tracking_code": "9400100109361130483047", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2022-07-28T19:53:53Z", "updated_at":
        "2022-07-28T19:53:53Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3a8632832afab413cb524ce63e8a941a"
      location:
      - /api/v2/insurances/ins_f0c9e43e83de4bde8464b5d64adaab05
      x-backend:
      - easypost
      x-ep-request-uuid:
      - b0657e4362e2e950ff23df480033a14a
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - intlb1wdc 403f17ff97
      - extlb3wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances/ins_f0c9e43e83de4bde8464b5d64adaab05
  response:
    body:
      string: '{"id": "ins_f0c9e43e83de4bde8464b5d64adaab05", "object": "Insurance",
        "mode": "test", "reference": null, "status": "pending", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id": "adr_01c849270eaf11ed89b5ac1f6bc72124",
        "obj[...]
