interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T20:27:04Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361130493954", "updated_at": "2022-07-28T20:27:05Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_a4f806ec0eb311ed8cbeac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-07-28T20:27:04+00:00", "updated_at": "2022-07-28T20:27:04+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_a3b3b9e5aae3460b88d00d53ee98bddc",
        "object": "Parcel", "created_at": "2022-07-28T20:27:04Z", "updated_at": "2022-07-28T20:27:04Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_02aac10073f242ebbffce57da998a7e7",
        "created_at": "2022-07-28T20:27:05Z", "updated_at": "2022-07-28T20:27:05Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T20:27:05Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/eafc3fcccb8a46d1b6a6e52216f50345.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_618bb2bd59fe41df8df4aa3a417c6947", "object":
        "Rate", "created_at": "2022-07-28T20:27:05Z", "updated_at": "2022-07-28T20:27:05Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_a047ffa4f7484a368d33a2f25be39f32", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_a2d1b2285ad94e66977701c1db67be03",
        "object": "Rate", "created_at": "2022-07-28T20:27:05Z", "updated_at": "2022-07-28T20:27:05Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "23.75",
        "currency": "USD", "retail_rate": "27.40", "retail_currency": "USD", "list_rate":
        "23.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "deliv[...]
- request:
    body: '{"shipment": [{"id": "shp_a047ffa4f7484a368d33a2f25be39f32"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"id": "sf_cb7af190adb5462da22fb9e0f450cb07", "object": "ScanForm",
        "created_at": "2022-07-28T20:27:06Z", "updated_at": "2022-07-28T20:27:06Z",
        "tracking_codes": ["9400100109361130493954"], "address": {"id": "adr_a4f806ec0eb311ed8cbeac1f6bc7bdc6",
        "object": "Address", "created_at": "2022-07-28T20:27:04+00:00", "updated_at":
        "2022-07-28T20:27:04+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
        "state": "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email":
        null, "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220728/41de0bd4ab274f80b609c92c6a9c9139.pdf",
        "form_file_type": null, "batch_id": "batch_6de150477f1749c39ec9e9f210e4885f",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d0f1589b700c8e23741e2764969f9dfb"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - b0657e3c62e2f119ff23eb2000361b4a
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - intlb1wdc 403f17ff97
      - extlb3wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms/sf_cb7af190adb5462da22fb9e0f450cb07
  response:
    body:
      string: '{"id": "sf_cb7af190adb5462da22fb9e0f450cb07", "object": "ScanForm",
        "created_at": "2022-07-28T20:27:06Z", "updated_at": "2022-07-28T20:27:06Z",
        "tracking_codes": ["9400100109361130493954"], "address": {"id": "adr_a4f806ec0eb311ed8cbeac1f6bc7bdc6",
        "object": "A[...]
