interactions:
- request:
    body: '{"shipment": {}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"error": {"code": "PARAMETER.REQUIRED", "message": "Missing required
        parameter.", "errors": [{"field": "shipment", "message": "cannot be blank"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95bde79a79bf00262123
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
