interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses/create_and_verify
  response:
    body:
      string: '{"address": {"id": "adr_7894a4b4f0fb11eda772ac1f6bc7b362", "object":
        "Address", "created_at": "2023-05-12T19:30:36+00:00", "updated_at": "2023-05-12T19:30:36+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c0bdac5d259b74bea9ffeb93e754a9c0"
      location:
      - /api/v2/addresses/adr_7894a4b4f0fb11eda772ac1f6bc7b362
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fe8d870d645e93dce2cc315e0005fc65
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
version: 1
