interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-05-04T20:25:41Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117768754","updated_at":"2022-05-04T20:25:42Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_5e44d7b2cbe811ec904eac1f6b0a0d1e","object":"Address","created_at":"2022-05-04T20:25:41+00:00","updated_at":"2022-05-04T20:25:41+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_15d50051d428411fa1806879366a845a","object":"Parcel","created_at":"2022-05-04T20:25:41Z","updated_at":"2022-05-04T20:25:41Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_bb3365164e1f4c23951481dd311ab341","created_at":"2022-05-04T20:25:42Z","updated_at":"2022-05-04T20:25:42Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-04T20:25:42Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220504/30071245a13344d7ac269880145c0909.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_dad066c8dac148668d5b3559c408771d","object":"Rate","created_at":"2022-05-04T20:25:41Z","updated_at":"2022-05-04T20:25:41Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_8c8ec6d31ee8420792bb9fa84c31e83e","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_abdd3d9551024818ac908f443f5b7cbd","object":"Rate","created_at":"2022-05-04T20:25:41Z","updated_at":"2022-05-04T20:25:41Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_8c8ec6d31ee8420792bb9fa84c31e83e","carrie[...]
- request:
    body: '{"insurance": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "carrier": "USPS", "amount": "100", "tracking_code": "9400100109361117768754"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/insurances
  response:
    body:
      string: '{"id":"ins_89a6465da6d641d1a171c70a88ceeede","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_5f0b3a30cbe811eca019ac1f6bc72124","object":"Address","created_at":"2022-05-04T20:25:42+00:00","updated_at":"2022-05-04T20:25:42+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"from_address":{"id":"adr_5f0f6e5fcbe811eca842ac1f6bc7bdc6","object":"Address","created_at":"2022-05-04T20:25:42+00:00","updated_at":"2022-05-04T20:25:42+00:00","name":"JACK
        SPARROW","company":"EASYPOST","street1":"388 TOWNSEND ST APT 20","street2":"","city":"SAN
        FRANCISCO","state":"CA","zip":"94107-1670","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":true,"federal_tax_id":null,"state_tax_id":null,"verifications":{"zip4":{"success":true,"errors":[],"details":null},"delivery":{"success":true,"errors":[],"details":{"latitude":37.77551,"longitude":-122.39697,"time_zone":"America/Los_Angeles"}}}},"shipment_id":null,"tracker":{"id":"trk_685bd0ee1b80488aa84bd623a7f9f724","object":"Tracker","mode":"test","tracking_code":"9400100109361117768754","status":"pre_transit","status_detail":"status_update","created_at":"2022-05-04T20:25:42Z","updated_at":"2022-05-04T20:25:42Z","signed_by":null,"weight":null,"est_delivery_date":"2022-05-04T20:25:42Z","shipment_id":"shp_8c8ec6d31ee8420792bb9fa84c31e83e","carrier":"USPS","tracking_details":[{"object":"TrackingDetail","message":"Pre-Shipment
        Info Sent to USPS","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-04-04T20:25:42Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":null,"state":null,"country":null,"zip":null}},{"object":"TrackingDetail","message":"Shipping
        Label Created","description":null,"status":"pre_transit","status_detail":"status_update","datetime":"2022-04-05T09:02:42Z","source":"USPS","carrier_code":null,"tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"}}],"carrier_detail":{"object":"CarrierDetail","service":"First-Class
        Package Service","container_type":null,"est_delivery_date_local":null,"est_delivery_time_local":null,"origin_location":"HOUSTON
        TX, 77001","origin_tracking_location":{"object":"TrackingLocation","city":"HOUSTON","state":"TX","country":null,"zip":"77063"},"destination_location":"CHARLESTON
        SC, 29401","destination_tracking_location":null,"guaranteed_delivery_date":null,"alternate_identifier":null,"initial_delivery_attempt":null},"finalized":true,"is_return":false,"public_url":"https://track.easypost.com/djE6dHJrXzY4NWJkMGVlMWI4MDQ4OGFhODRiZDYyM2E3ZjlmNzI0","fees":[]},"tracking_code":"9400100109361117768754","fee":{"object":"Fee","type":"InsuranceFee","amount":"1.00000","charged":true,"refunded":false},"messages":[],"created_at":"2022-05-04T20:25:42Z","updated_at":"2022-05-04T20:25:42Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6b15f5bae344158d889d7f6c9ffc6297"
      location:
      - /api/v2/insurances/ins_89a6465da6d641d1a171c70a88ceeede
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b76272e146e786b87f00161e57
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/insurances/ins_89a6465da6d641d1a171c70a88ceeede
  response:
    body:
      string: '{"id":"ins_89a6465da6d641d1a171c70a88ceeede","object":"Insurance","mode":"test","reference":null,"status":"pending","amount":"100.00000","provider":"easypost","provider_id":null,"to_address":{"id":"adr_5f0b3a30cbe811eca019ac1f6bc72124","o[...]
