interactions:
- request:
    body: '{"customs_item": {"description": "Sweet shirts", "quantity": 2, "weight":
      11, "value": 23.25, "hs_tariff_number": "654321", "origin_country": "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_56e2afe402954d3c9764b82fd949cd3b", "object": "CustomsItem",
        "created_at": "2022-08-15T18:51:40Z", "updated_at": "2022-08-15T18:51:40Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ddc117b7972f2ae59dd12603ca5f9879"
      location:
      - /api/v2/customs_items/cstitem_56e2afe402954d3c9764b82fd949cd3b
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47c62fa95bce79a79bd002620c6
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
