interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/insurances?page_size=5
  response:
    body:
      string: '{"insurances": [{"id": "ins_b6631fd0eeb94851a81c33cc7d3562c0", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_dda82cf4c0d811ecb280ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-04-20T18:37:00+00:00", "updated_at": "2022-04-20T18:37:00+00:00", "name":
        "JACK SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "from_address": {"id": "adr_ddac25ebc0d811ec9709ac1f6bc72124",
        "object": "Address", "created_at": "2022-04-20T18:37:00+00:00", "updated_at":
        "2022-04-20T18:37:00+00:00", "name": "JACK SPARROW", "company": "EASYPOST",
        "street1": "388 TOWNSEND ST APT 20", "street2": null, "city": "SAN FRANCISCO",
        "state": "CA", "zip": "94107-1670", "country": "US", "phone": "5555555555",
        "email": null, "mode": "test", "carrier_facility": null, "residential": true,
        "federal_tax_id": null, "state_tax_id": null, "verifications": {"zip4": {"success":
        true, "errors": [], "details": null}, "delivery": {"success": true, "errors":
        [], "details": {"latitude": 37.77551, "longitude": -122.39697, "time_zone":
        "America/Los_Angeles"}}}}, "shipment_id": null, "tracker": {"id": "trk_8bb0c12d8ff74c1685ccb0f81bf105cd",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100109361115908909",
        "status": "pre_transit", "status_detail": "status_update", "created_at": "2022-04-20T18:37:00Z",
        "updated_at": "2022-04-20T18:37:00Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2022-04-20T18:37:00Z", "shipment_id": "shp_b313c35b3e584c3caa7f86c91b82604d",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-03-20T18:37:00Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-03-21T07:14:00Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail":
        {"object": "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrXzhiYjBjMTJkOGZmNzRjMTY4NWNjYjBmODFiZjEwNWNk",
        "fees": []}, "tracking_code": "9400100109361115908909", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2022-04-20T18:37:00Z", "updated_at":
        "2022-04-20T18:37:00Z"}, {"id": "ins_33cdd454a4af4943b19ab69f8fdb4ee7", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_dcad826ac0d811ec96cbac1f6bc72124", "object": "Address", "created_at":
        "2022-04-20T18:36:58+00:00", "updated_at": "2022-04-20T18:36:58+00:00", "name":
        [...]
