interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "EasyPost Python Client Library Tests", "phone_number": "<REDACTED>",
        "verified": true, "created_at": "2017-03-01T03:01:34Z", "balance": "0.00000",
        "price_per_shipment": "0.00000", "recharge_amount": "100.00", "secondary_recharge_amount":
        "100.00", "recharge_threshold": "0.00", "has_billing_method": false, "cc_fee_rate":
        "0.03", "default_insurance_amount": null, "insurance_fee_rate": "0.01", "insurance_fee_minimum":
        "1.00", "email": "<REDACTED>", "children": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"93d966ca847a2ef598ea9d7bd07bb1ee"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 2c330af3632b40f7e2b8fbb5000358c9
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209210008-610ad55e3f-master
    status:
      code: 200
      message: OK
version: 1
