interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-16T15:46:45Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105807076059082", "updated_at": "2024-08-16T15:46:46Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_bd8ce76f5be611ef8919ac1f6bc539aa", "object": "Address", "created_at":
        "2024-08-16T15:46:45+00:00", "updated_at": "2024-08-16T15:46:45+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_e9b3bd34a4484aba8e2e0de364e0e871",
        "object": "Parcel", "created_at": "2024-08-16T15:46:45Z", "updated_at": "2024-08-16T15:46:45Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_c4770b1a1bef442ebd0b8c335b5856a4",
        "created_at": "2024-08-16T15:46:45Z", "updated_at": "2024-08-16T15:46:46Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2024-08-16T15:46:45Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20240816/e80352feb30f554fd8ba2aacb5d74d10c5.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_24dcc2f1fd934939af3a8c46a36b70f2", "object":
        "Rate", "created_at": "2024-08-16T15:46:45Z", "updated_at": "2024-08-16T15:46:45Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.90",
        "currency": "USD", "retail_rate": "9.80", "retail_currency": "USD", "list_rate":
        "8.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_534bff1dff374311ad4ccd5d3e14b9ab", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_dbec69e254fe406eb4bf716dabc6ff75",
        "object": "Rate", "created_at": "2024-08-16T15:46:45Z", "updated_at": "2024-08-16T15:46:45Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_534bff1dff374311ad4ccd5d3e14b9ab", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_2db21a73e6004c7d84c786502b80cf96",
        "object": "Rate", "created_at": "2024-08-16T15:46:45Z", "updated_at": "2024-08-16T15:46:45Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "33.10",
        "currency": "USD", "retail_rate": "37.90", "retail_currency": "USD", "list_rate":
        "33.10", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_534bff1dff374311ad4ccd5d3e14b9ab", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_dbec69e254fe406eb4bf716dabc6ff75", "object":
        "Rate", "created_at": "2024-08-16T15:46:45Z", "updated_at": "2024-08-16T15:46:45Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD", "list_rate":
        "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_534bff1dff374311ad4ccd5d3e14b9ab", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_c828c542af214b909f79a46e38166ccb",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100105807076059082",
        "status": "unknown", "status_detail": "unknown", "created_at": "2024-08-16T15:46:46Z",
        "updated_at": "2024-08-16T15:46:46Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_534bff1dff374311ad4ccd5d3e14b9ab", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrX2M4MjhjNTQyYWYyMTRiOTA5Zjc5YTQ2ZTM4MTY2Y2Ni"},
        "to_address": {"id": "adr_bd8ab7065be611efb76f3cecef1b359e", "object": "Address",
        "created_at": "2024-08-16T15:46:45+00:00", "updated_at": "2024-08-16T15:46:45+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_bd8ce76f5be611ef8919ac1f6bc539aa",
        "object": "Address", "created_at": "2024-08-16T15:46:45+00:00", "updated_at":
        "2024-08-16T15:46:45+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_bd8ab7065be611efb76f3cecef1b359e", "object": "Address", "created_at":
        "2024-08-16T15:46:45+00:00", "updated_at": "2024-08-16T15:46:45+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "5.93000", "charged": true,
        "refunded": false}], "id": "shp_534bff1dff374311ad4ccd5d3e14b9ab", "object":
        "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_534bff1dff374311ad4ccd5d3e14b9ab
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8a4bf43b66bf7465e786a2db00330ebe
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb1nuq b6e1b5034c
      x-version-label:
      - easypost-202408152333-48cda4a73e-master
    status:
      code: 201
      message: Created
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2024-08-17", "max_datetime": "2024-08-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_534bff1dff374311ad4ccd5d3e14b9ab"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_01ab23e45845440b89921fb1607bfe67", "object": "Pickup",
        "created_at": "2024-08-16T15:46:46Z", "updated_at": "2024-08-16T15:46:46Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2024-08-17T00:00:00Z",
        "max_datetime": "2024-08-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_be3012c35be611ef8d11ac1f6bc539ae", "object": "Address", "created_at":
        "2024-08-16T15:46:46+00:00", "updated_at": "2024-08-16T15:46:46+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2024-08-16T15:46:47Z",
        "updated_at": "2024-08-16T15:46:47Z", "carrier": "USPS", "pickup_id": "pickup_01ab23e45845440b89921fb1607bfe67",
        "id": "pickuprate_f9946c5995eb4af5b741d6d56e47a3b6", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8a4bf43b66bf7466e786a2db00330fd2
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb1nuq b6e1b5034c
      x-version-label:
      - easypost-202408152333-48cda4a73e-master
    status:
      code: 200
      message: OK
version: 1
