interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-16T16:31:51Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100104262210341798", "updated_at": "2023-05-16T16:31:52Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_295de4abf40711edafa23cecef1b359e", "object": "Address", "created_at":
        "2023-05-16T16:31:51+00:00", "updated_at": "2023-05-16T16:31:51+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_e5a793fe9a124c648c3662cbd17bcea1",
        "object": "Parcel", "created_at": "2023-05-16T16:31:51Z", "updated_at": "2023-05-16T16:31:51Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_d38714fcfacc4e0ab75984034df12dd8",
        "created_at": "2023-05-16T16:31:52Z", "updated_at": "2023-05-16T16:31:52Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-05-16T16:31:52Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/2c4a226f499f40e6b5c4a4267c03f126.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_5c754be4576347d79eb08ffeecc1ac4e", "object":
        "Rate", "created_at": "2023-05-16T16:31:51Z", "updated_at": "2023-05-16T16:31:51Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "6.76",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "shipment_id": "shp_1f8bcc1d9de543d6b459de624fcccd3d", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "carbon_offset": {"object": "CarbonOffset",
        "grams": 36, "price": "0.11", "currency": "USD"}}, {"id": "rate_08bdec380497414aa6a34af994adcd6a",
        "object": "Rate", "created_at": "2023-05-16T16:31:51Z", "updated_at": "2023-05-16T16:31:51Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "6.07", "currency":
        "USD", "retail_rate": "6.07", "retail_currency": "USD", "list_rate": "6.07",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date_guaranteed": false[...]
