interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}, "options": {"label_format":
      "PNG", "invoice_number": "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_5ee01eb89ffc456fa9cdc82cb03c7f8e", "created_at": "2025-03-06T19:47:56Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
        "PNG", "invoice_number": "123", "currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": "123", "status": "unknown", "tracking_code":
        null, "updated_at": "2025-03-06T19:47:56Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": {"id": "cstinfo_99613496ed144db19134629e78dd8309",
        "object": "CustomsInfo", "created_at": "2025-03-06T19:47:56Z", "updated_at":
        "2025-03-06T19:47:56Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_916203bc6a7640ee9f0d3f67192ab18a", "object": "CustomsItem",
        "created_at": "2025-03-06T19:47:56Z", "updated_at": "2025-03-06T19:47:56Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_e6b764b2fac311efa8503cecef1b359e", "object":
        "Address", "created_at": "2025-03-06T19:47:56+00:00", "updated_at": "2025-03-06T19:47:56+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_59e8de9138da4262994e87a64c8fe537",
        "object": "Parcel", "created_at": "2025-03-06T19:47:56Z", "updated_at": "2025-03-06T19:47:56Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_40f1c040c29848a68b1db88daa3b1964",
        "object": "Rate", "created_at": "2025-03-06T19:47:56Z", "updated_at": "2025-03-06T19:47:56Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_5ee01eb89ffc456fa9cdc82cb03c7f8e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_f52fc9b383bc4d93b7f888a675dc6922",
        "object": "Rate", "created_at": "2025-03-06T19:47:56Z", "updated_at": "2025-03-06T19:47:56Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_5ee01eb89ffc456fa9cdc82cb03c7f8e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_58bf4ebce74e4639a3a6557a41b53721",
        "object": "Rate", "created_at": "2025-03-06T19:47:56Z", "updated_at": "2025-03-06T19:47:56Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_5ee01eb89ffc456fa9cdc82cb03c7f8e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_e6b48af8fac311efb2ebac1f6bc539ae",
        "object": "Address", "created_at": "2025-03-06T19:47:56+00:00", "updated_at":
        "2025-03-06T19:47:56+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_e6b764b2fac311efa8503cecef1b359e", "object": "Address", "created_at":
        "2025-03-06T19:47:56+00:00", "updated_at": "2025-03-06T19:47:56+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_e6b48af8fac311efb2ebac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-06T19:47:56+00:00", "updated_at": "2025-03-06T19:47:56+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_5ee01eb89ffc456fa9cdc82cb03c7f8e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbece2b97a9300187380
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: '{"rate": {"id": "rate_58bf4ebce74e4639a3a6557a41b53721"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_5ee01eb89ffc456fa9cdc82cb03c7f8e/buy
  response:
    body:
      string: '{"id": "shp_5ee01eb89ffc456fa9cdc82cb03c7f8e", "created_at": "2025-03-06T19:47:56Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
      [...]
- request:
    body: '{"amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_5ee01eb89ffc456fa9cdc82cb03c7f8e/insure
  response:
    body:
      string: '{"id": "shp_5ee01eb89ffc456fa9cdc82cb03c7f8e", "created_at": "2025-03-06T19:47:56Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
        "PNG", "invoice_number": "123", "currency": "USD", "payment": {"[...]
- request:
    body: '{"type": "damage", "email_evidence_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "invoice_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "supporting_documentation_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "description": "Test description", "contact_email": "test@example.com", "tracking_code":
      "9400100208303109500669", "amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/claims
  response:
    body:
      string: '{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/8fb0b33e39004bfea8bffabf242d48c8.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/6acf5385ee494fc2bfcac704b9dcfddf.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/5bf9e0415088448a937d39348a485593.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "created_at":
        "2025-03-06T19:47:58Z", "description": "Test description", "history": [{"status":
        "submitted", "status_detail": "Claim was created.", "timestamp": "2025-03-06T19:47:58Z"}],
        "id": "clm_09ce5f03fd6b4310b9c5b7f306407214", "insurance_amount": "100.00",
        "insurance_id": "ins_029e06b218ab48e0979236191bb04df0", "mode": "test", "object":
        "Claim", "payment_method": "easypost_wallet", "recipient_name": null, "requested_amount":
        "100.00", "salvage_value": null, "shipment_id": "shp_5ee01eb89ffc456fa9cdc82cb03c7f8e",
        "status": "submitted", "status_detail": "Claim was created.", "status_timestamp":
        "2025-03-06T19:47:58Z", "tracking_code": "9400100208303109500669", "type":
        "damage", "updated_at": "2025-03-06T19:47:58Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fbeee2b97a93001874ec
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
version: 1
