interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=5
  response:
    body:
      string: '{"batches": [{"id": "batch_c076b20e213b4fb9a23cd785af88d247", "object":
        "Batch", "mode": "test", "state": "creating", "num_shipments": 1, "reference":
        null, "created_at": "2022-09-08T21:09:27Z", "updated_at": "2022-09-08T21:09:27Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9400100109361136572301", "id":
        "shp_582f72ed6c3f4c668a31b45f322dce15"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": {"id": "pickup_9118820e33eb4f2bbc27212e1c28716c", "object":
        "Pickup", "created_at": "2022-09-08T21:09:27Z", "updated_at": "2022-09-08T21:09:29Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-10-17T00:00:00Z",
        "max_datetime": "2022-10-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_8600c2042fba11eda531ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-09-08T21:09:27+00:00", "updated_at": "2022-09-08T21:09:27+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2022-09-08T21:09:29Z",
        "updated_at": "2022-09-08T21:09:29Z", "carrier": "USPS", "pickup_id": "pickup_9118820e33eb4f2bbc27212e1c28716c",
        "id": "pickuprate_5ecc7ea8475d4134b9fd6a6d15b122f1", "object": "PickupRate"}]},
        "label_url": null}, {"id": "batch_9be5809f1c564cd8af7d984b499d1010", "object":
        "Batch", "mode": "test", "state": "creating", "num_shipments": 1, "reference":
        null, "created_at": "2022-09-08T21:10:04Z", "updated_at": "2022-09-08T21:10:04Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9400100109361136572332", "id":
        "shp_803f2ad19aa2423cbeca5106d65e2d3c"}], "status": {"created": 0, "qu[...]
