interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: GET
    uri: https://api.easypost.com/beta/partners/stripe_public_key
  response:
    body:
      string: '{"public_key": "pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - c6ef69bb627afa54efb6091000243ea3
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
      authorization:
      - REDACTED
    method: POST
    uri: https://api.stripe.com/v1/tokens?card%5Bnumber%5D=4536410136126170&card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028&card%5Bcvc%5D=778
  response:
    body:
      string: '{"id": "tok_0Ky2pEDqT4huGUvd49OFT76G", "object": "token", "card": {"id":
        "card_0Ky2pEDqT4huGUvdtx0MrgHS", "object": "card", "address_city": null, "address_country":
        null, "address_line1": null, "address_line1_check": null, "address_line2":
        null, "address_state": null, "address_zip": null, "address_zip_check": null,
        "brand": "Visa", "country": "US", "cvc_check": "unchecked", "dynamic_last4":
        null, "exp_month": 5, "exp_year": 2028, "funding": "credit", "last4": "6170",
        "name": null, "tokenization_method": null}, "client_ip": "REDACTED", "created":
        1652226644, "livemode": true, "type": "card", "used": false}'
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - a085a49f-43b5-4b68-aaec-de8de0b7cf2e
      original-request:
      - req_DrIth6x6CcmOmp
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
- request:
    body: '{"credit_card": {"stripe_object_id": "tok_0Ky2pEDqT4huGUvd49OFT76G", "priority":
      "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: POST
    uri: https://api.easypost.com/beta/credit_cards
  response:
    body:
      string: '{"id": "card_c251032486a240c1ab2b32a2046d8c62", "disabled_at": null,
        "object": "CreditCard", "name": null, "last4": "6170", "exp_month": 5, "exp_year":
        2028, "brand": "Visa"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0f01685732255beab4429a1e727afe5c"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - c6ef69bb627afa54efb6091000243eba
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 201
      message: Created
version: 1
