interactions:
- request:
    body: '{"tracker": {"tracking_code": "EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/trackers
  response:
    body:
      string: '{"id": "trk_e7e8f143f3eb40d38be9562e3767c36a", "object": "Tracker",
        "mode": "test", "tracking_code": "EZ1000000001", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2025-03-06T19:48:26Z", "updated_at":
        "2025-03-06T19:48:26Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2025-03-06T19:48:26Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": "", "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2025-02-06T19:48:26Z", "source": "USPS", "carrier_code": "",
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": "", "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2025-02-07T08:25:26Z", "source": "USPS", "carrier_code":
        "", "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail": {"object":
        "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrX2U3ZThmMTQzZjNlYjQwZDM4YmU5NTYyZTM3NjdjMzZh"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/trackers/trk_e7e8f143f3eb40d38be9562e3767c36a
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62667c9fc29e2b97ef10018b7e5
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers/trk_e7e8f143f3eb40d38be9562e3767c36a
  response:
    body:
      string: '{"id": "trk_e7e8f143f3eb40d38be9562e3767c36a", "object": "Tracker",
        "mode": "test", "tracking_code": "EZ1000000001", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2025-03-06T19:48:26Z", "updated_at":
        "2025-03-06T19:48:26Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2025-03-06T19:48:26Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": "", "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2025-02-06T19:48:26Z", "source": "USPS", "carrier_code": "",
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": "", "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2025-02-07T08:25:26Z", "source": "USPS", "carrier_code":
        "", "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "fees": [], "carrier_detail":
        {"object": "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "public_url":
        "https://track.easypost.com/djE6dHJrX2U3ZThmMTQzZjNlYjQwZDM4YmU5NTYyZTM3NjdjMzZh"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62667c9fc29e2b97ef10018b806
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
