interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}, "service": "Priority", "carrier_accounts":
      ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T17:41:02Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9405500109361130464964", "updated_at": "2022-07-28T17:41:03Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_72eb5c8b0e9c11ed8e56ac1f6bc72124", "object": "Address", "created_at":
        "2022-07-28T17:41:02+00:00", "updated_at": "2022-07-28T17:41:02+00:00", "name":
        "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_079cff86fe4044008cb7489acaa0ae72", "object": "Parcel", "created_at":
        "2022-07-28T17:41:02Z", "updated_at": "2022-07-28T17:41:02Z", "length": 20.2,
        "width": 10.9, "height": 5.0, "predefined_package": null, "weight": 65.9,
        "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_efef351a5a014d0b816c1cf49b69ddbf",
        "created_at": "2022-07-28T17:41:02Z", "updated_at": "2022-07-28T17:41:03Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T17:41:02Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/fb60352708e74e6eb297e4f44a66b078.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_cc4e137bb2af4fc6917393e92e6cc8c3", "object":
        "Rate", "created_at": "2022-07-28T17:41:02Z", "updated_at": "2022-07-28T17:41:02Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "9.82",
        "currency": "USD", "retail_rate": "13.15", "retail_currency": "USD", "list_rate":
        "9.82", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_764b767566d5470ba2f89657821a6b22", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_aed0d23f991d485785c1dc525934ae47",
        "object": "Rate", "created_at": "2022-07-28T17:41:02Z", "updated_at": "2022-07-28T17:41:02Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "44.30",
        "currency": "USD", "retail_rate": "51.00", "retail_currency": "USD", "list_rate":
        "44.30", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_764b767566d5470ba2f89657821a6b22", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_6f0d6991acb647e492bc19f157134238",
        "object": "Rate", "created_at": "2022-07-28T17:41:02Z", "updated_at": "2022-07-28T17:41:02Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "8.91",
        "currency": "USD", "retail_rate": "8.91", "retail_currency": "USD", "list_rate":
        "8.91", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "shipment_id": "shp_764b767566d5470ba2f89657821a6b22", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_cc4e137bb2af4fc6917393e92e6cc8c3", "object":
        "Rate", "created_at": "2022-07-28T17:41:02Z", "updated_at": "2022-07-28T17:41:02Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "9.82",
        "currency": "USD", "retail_rate": "13.15", "retail_currency": "USD", "list_rate":
        "9.82", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_764b767566d5470ba2f89657821a6b22", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_cd63f4b89a604b39bf2c6882c2376f4f",
        "object": "Tracker", "mode": "test", "tracking_code": "9405500109361130464964",
        "status": "unknown", "status_detail": "unknown", "created_at": "2022-07-28T17:41:03Z",
        "updated_at": "2022-07-28T17:41:03Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_764b767566d5470ba2f89657821a6b22", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrX2NkNjNmNGI4OWE2MDRiMzliZjJjNjg4MmMyMzc2ZjRm"},
        "to_address": {"id": "adr_72e9cf450e9c11ed8e55ac1f6bc72124", "object": "Address",
        "created_at": "2022-07-28T17:41:02+00:00", "updated_at": "2022-07-28T17:41:02+00:00",
        "name": "DR. STEVE BRULE", "company": null, "street1": "179 N HARBOR DR",
        "street2": null, "city": "REDONDO BEACH", "state": "CA", "zip": "90277-2506",
        "country": "US", "phone": "8573875756", "email": "DR_STEVE_BRULE@GMAIL.COM",
        "mode": "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_72eb5c8b0e9c11ed8e56ac1f6bc72124",
        "object": "Address", "created_at": "2022-07-28T17:41:02+00:00", "updated_at":
        "2022-07-28T17:41:02+00:00", "name": "EasyPost", "company": null, "street1":
        "417 Montgomery Street", "street2": "5th Floor", "city": "San Francisco",
        "state": "CA", "zip": "94104", "country": "US", "phone": "4153334445", "email":
        "support@easypost.com", "mode": "test", "carrier_facility": null, "residential":
        null, "federal_tax_id": null, "state_tax_id": null, "verifications": {}},
        "buyer_address": {"id": "adr_72e9cf450e9c11ed8e55ac1f6bc72124", "object":
        "Address", "created_at": "2022-07-28T17:41:02+00:00", "updated_at": "2022-07-28T17:41:02+00:00",
        "name": "DR. STEVE BRULE", "company": null, "street1": "179 N HARBOR DR",
        "street2": null, "city": "REDONDO BEACH", "state": "CA", "zip": "90277-2506",
        "country": "US", "phone": "8573875756", "email": "DR_STEVE_BRULE@GMAIL.COM",
        "mode": "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "forms": [], "fees": [{"object": "Fee", "type": "LabelFee", "amount": "0.00000",
        "charged": true, "refunded": false}, {"object": "Fee", "type": "PostageFee",
        "amount": "9.82000", "charged": true, "refunded": false}], "id": "shp_764b767566d5470ba2f89657821a6b22",
        "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"29526fc89b000cebc9d1e61af0c54ba3"
      location:
      - /api/v2/shipments/shp_764b767566d5470ba2f89657821a6b22
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ead09ab862e2ca2eff23cd33002e35ea
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - extlb1nuq 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 201
      message: Created
- request:
    body: '{"carbon_offset": true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_764b767566d5470ba2f89657821a6b22/rerate
  response:
    body:
      string: '{"rates": [{"id": "rate_c642ea37e5314c3c9083c68ad4cde848", "object":
        "Rate", "created_at": "2022-07-28T17:41:03Z", "updated_at": "2022-07-28T17:41:03Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "9.82",
        "currency": "USD", "retail_rate": "13.15", "retail_currency": "USD", "list_rate":
        "9.82", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_764b767566d5470ba2f89657821a6b22", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "carbon_offset": {"object": "CarbonOffset",
        "grams": 154, "price": "0.11", "currency": "USD"}}, {"id": "rate_35d719720f9c488599120f3810ceff6c",
        "object": "Rate", "created_at": "2022-07-28T17:41:03Z", "updated_at": "2022-07-28T17:41:03Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "44.30",
        "currency": "USD", "retail_rate": "51.00", "retail_currency": "USD", "list_rate":
        "44.30", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed[...]
