interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers?page_size=5
  response:
    body:
      string: '{"end_shippers": [{"id": "es_8d2455918db745e68ad1b4e3cb17fdcb", "object":
        "EndShipper", "created_at": "2022-08-17T21:16:16+00:00", "updated_at": "2022-08-17T21:16:16+00:00",
        "name": "JACK SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND ST
        APT 20", "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": "TEST@EXAMPLE.COM"}, {"id":
        "es_9904839af4974a75976f4406ae1888c2", "object": "EndShipper", "created_at":
        "2022-08-17T22:05:32+00:00", "updated_at": "2022-08-17T22:05:32+00:00", "name":
        "JACK SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": "TEST@EXAMPLE.COM"}, {"id":
        "es_5733ebe4037848aeab898f266d7f5df[...]
