interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_fa3ecb526d1d4069b69e9ab69fbb183c", "created_at": "2025-03-06T19:48:39Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2025-03-06T19:48:39Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_0005dcd7fac411ef9541ac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-06T19:48:39+00:00", "updated_at": "2025-03-06T19:48:39+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_15a63f6904274e3bb04ecf05860f0b81",
        "object": "Parcel", "created_at": "2025-03-06T19:48:39Z", "updated_at": "2025-03-06T19:48:39Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_bfc18c450b1145358f8ba52241cc134e",
        "object": "Rate", "created_at": "2025-03-06T19:48:39Z", "updated_at": "2025-03-06T19:48:39Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_fa3ecb526d1d4069b69e9ab69fbb183c", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_9d62cddf616b418c8dbba7bfbe678c0c",
        "object": "Rate", "created_at": "2025-03-06T19:48:39Z", "updated_at": "2025-03-06T19:48:39Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_fa3ecb526d1d4069b69e9ab69fbb183c", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_0d48f1bd493b4091a41ff71b359b9a01",
        "object": "Rate", "created_at": "2025-03-06T19:48:39Z", "updated_at": "2025-03-06T19:48:39Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_fa3ecb526d1d4069b69e9ab69fbb183c", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_00041b60fac411ef9540ac1f6bc539aa",
        "object": "Address", "created_at": "2025-03-06T19:48:39+00:00", "updated_at":
        "2025-03-06T19:48:39+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_0005dcd7fac411ef9541ac1f6bc539aa", "object": "Address", "created_at":
        "2025-03-06T19:48:39+00:00", "updated_at": "2025-03-06T19:48:39+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_00041b60fac411ef9540ac1f6bc539aa", "object":
        "Address", "created_at": "2025-03-06T19:48:39+00:00", "updated_at": "2025-03-06T19:48:39+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_fa3ecb526d1d4069b69e9ab69fbb183c
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fc17e2b97b5a0018a4ec
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/rates/rate_bfc18c450b1145358f8ba52241cc134e
  response:
    body:
      string: '{"id": "rate_bfc18c450b1145358f8ba52241cc134e", "object": "Rate", "created_at":
        "2025-03-06T19:48:39Z", "updated_at": "2025-03-06T19:48:39Z", "mode": "test",
        "service": "Priority", "carrier": "USPS", "rate": "7.42", "currency": "USD",
        "retail_rate": "9.90", "retail_currency": "USD", "list_rate": "8.34", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 2, "shipment_id":
        "shp_fa3ecb526d1d4069b69e9ab69fbb183c", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fc17e2b97b5a0018a540
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
