interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "New Name", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2017-03-01T03:01:34Z", "default_carbon_offset": false, "has_elevate_access":
        false, "balance": "0.00000", "price_per_shipment": "0.00000", "recharge_amount":
        "100.00", "secondary_recharge_amount": "100.00", "recharge_threshold": "0.00",
        "has_billing_method": false, "cc_fee_rate": "0.03", "default_insurance_amount":
        null, "insurance_fee_rate": "0.01", "insurance_fee_minimum": "1.00", "email":
        "<REDACTED>", "children": [{"id": "user_584be78af2f141e988b6c60dda9dd8fd",
        "object": "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name":
        "Test User2", "phone_number": "8005550100", "verified": true, "created_at":
        "2023-12-11T17:13:38Z", "default_carbon_offset": false, "has_elevate_access":
        false, "children": []}, {"id": "user_437e724f37de412db6df8821968d8d3c", "object":
        "User", "parent_id": "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test
        User2", "p[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/api_keys
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "keys": [{"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "test", "created_at":
        "2022-02-24T20:59:05Z", "id": "ak_16f993eae7984eab94e0957a78bee407"}, {"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "production", "created_at":
        "2022-02-24T20:59:14Z", "id": "ak_62524a9c3f684f65ab9eccbf70950df8"}], "children":
        [{"id": "user_584be78af2f141e988b6c60dda9dd8fd", "keys": [{"object": "ApiKey",
        "active": true, "key": "<REDACTED>", "mode": "test", "created_at": "2023-12-11T17:13:38Z",
        "id": "ak_90[...]
