interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers?page_size=5
  response:
    body:
      string: '{"trackers": [{"id": "trk_f76f94b8b9f7474c9ffca2642dfdb768", "object":
        "Tracker", "mode": "test", "tracking_code": "EZ1000000001", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2022-08-15T18:52:43Z", "updated_at":
        "2022-08-15T18:52:43Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2022-08-15T18:52:43Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": null, "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2022-07-15T18:52:43Z", "source": "USPS", "carrier_code": null,
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": null, "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2022-07-16T07:29:43Z", "source": "USPS", "carrier_code":
        null, "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "fees": [{"object": "Fee",
        "type": "TrackerFee", "amount": "0.02000", "charged": false, "refunded": false}],
        "carrier_detail": {"object": "CarrierDetail", "service": "First-Class Package
        Service", "container_type": null, "est_delivery_date_local": null, "est_delivery_time_local":
        null, "origin_location": "HOUSTON TX, 77001", "origin_tracking_location":
        {"object": "TrackingLocation", "city": "HOUSTON", "state": "TX", "country":
        null, "zip": "77063"}, "destination_location": "CHARLESTON SC, 29401", "destination_tracking_location":
        null, "guaranteed_delivery_date": null, "alternate_identifier": null, "initial_delivery_attempt":
        null}, "public_url": "https://track.easypost.com/djE6dHJrX2Y3NmY5NGI4YjlmNzQ3NGM5ZmZjYTI2NDJkZmRiNzY4"},
        {"id": "trk_6d9f167f4ecd4433aca7434c12564f5c", "object": "Tracker", "mode":
        "test", "tracking_code": "EZ1000000001", "status": "pre_transit", "status_detail":
        "status_update", "created_at": "2022-08-15T18:52:43Z", "updated_at": "2022-08-15T18:52:43Z",
        "signed_by": null, "weight": null, "est_delivery_date": "2022-08-15T18:52:43Z",
        "shipment_id": null, "carrier": "USPS", "tr[...]
