interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:36:59Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115908909", "updated_at": "2022-04-20T18:37:00Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_dd0a862cc0d811ecb261ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-04-20T18:36:59+00:00", "updated_at": "2022-04-20T18:36:59+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_c20035bfe6f5489f830c2d583e90b2a0",
        "object": "Parcel", "created_at": "2022-04-20T18:36:59Z", "updated_at": "2022-04-20T18:36:59Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_db8a519bed004f299ac664cde902d65a",
        "created_at": "2022-04-20T18:37:00Z", "updated_at": "2022-04-20T18:37:00Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:37:00Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/5c0bd33e11cc482fa3c331e5f806f267.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_397d6c9f145b456b8894c26e62fea6d3", "object":
        "Rate", "created_at": "2022-04-20T18:36:59Z", "updated_at": "2022-04-20T18:36:59Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "delivery_days": 1, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 1, "shipment_id":
        "shp_b313c35b3e584c3caa7f86c91b82604d", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_ad7064beb90f4922a1a9ae2db7910ea8", "object": "Rate", "created_at":
        "2022-04-20T18:36:59Z", "updated_at": "2022-04-20T18:36:59Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "23.75", "currency": "USD",
        "retail_rate": "27.40", "retail_currency": "USD", "list_rate": "23.75", "list_currency":
        "USD", "delivery_days": null, "delivery_date": null, "delivery_date_guaranteed":
        false,[...]
- request:
    body: '{"insurance": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "carrier": "USPS", "amount": "100", "tracking_code": "9400100109361115908909"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/insurances
  response:
    body:
      string: '{"object": "Insurance", "mode": "test", "reference": null, "status":
        "pending", "amount": "100.00000", "provider": "easypost", "provider_id": null,
        "to_address": {"id": "adr_dda82cf4c0d811ecb280ac1f6b0a0d1e", "object": "Address",
        "created_at": "2022-04-20T18:37:00+00:00", "updated_at": "2022-04-20T18:37:00+00:00",
        "name": "JACK SPARROW", "company": "EASYPOST", "street1": "388 TOWNSEND ST
        APT 20", "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "from_address": {"id": "adr_ddac25ebc0d811ec9709ac1f6bc72124",
        "object": "Address", "created_at": "2022-04-20T18:37:00+00:00", "updated_at":
        "2022-04-20T18:37:00+00:00", "name": "JACK SPARROW", "company": "EASYPOST",
        "street1": "388 TOWNSEND ST APT 20", "street2": "", "city": "SAN FRANCISCO",
        "state": "CA", "zip": "94107-1670", "country": "US", "phone": "5555555555",
        "email": null, "mode": "test", "carrier_facility": null, "residential": true,
        "federal_tax_id": null, "state_tax_id": null, "verifications": {"zip4": {"success":
        true, "errors": [], "details": null}, "delivery": {"success": true, "errors":
        [], "details": {"latitude": 37.77551, "longitude": -122.39697, "time_zone":
        "America/Los_Angeles"}}}}, "shipment_id": null, "tracker": {"id": "trk_8bb0c12d8ff74c1685ccb0f81bf105cd",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100109361115908909",
        "status": "pre_transit", "status_detail": "status_update", "created_at": "2022-04-20T18:37:00Z",
        "updated_at": "2022-04-20T18:37:00Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2022-04-20T18:37:00Z", "shipment_id": "shp_b313c35b3e584c3caa7f86c91b82604d",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-03-20T18:37:00Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-03-21T07:14:00Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail":
        {"object": "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrXzhiYjBjMTJkOGZmNzRjMTY4NWNjYjBmODFiZjEwNWNk",
        "fees": []}, "tracking_code": "9400100109361115908909", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2022-04-20T18:37:00Z", "updated_at":
        "2022-04-20T18:37:00Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"12dd5fe41655003a0216e05517ec3c0e"
      location:
      - /api/v2/insurances/ins_b6631fd0eeb94851a81c33cc7d3562c0
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d9626052cce79969c7002431ce
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/insurances/ins_b6631fd0eeb94851a81c33cc7d3562c0
  response:
    body:
      string: '{"object": "Insurance", "mode": "test", "reference": null, "status":
        "pending", "amount": "100.00000", "provider": "easypost", "provider_id": null,
        "to_address": {"id": "adr_dda82cf4c0d811ecb280ac1f6b0a0d1e", "object": "Ad[...]
