interactions:
- request:
    body: '{"carrier_account": {"type": "FedexAccount", "registration_data": {}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts/register
  response:
    body:
      string: '{"error": {"code": "UNPROCESSABLE_ENTITY", "message": "The request
        was understood, but cannot be processed.", "errors": [{"field": "shipping_streets",
        "message": "must be present and a string"}, {"field": "shipping_city", "message":
        "must be present and a string"}, {"field": "shipping_state", "message": "must
        be present and a string"}, {"field": "shipping_postal_code", "message": "must
        be present and a string"}, {"field": "shipping_country_code", "message": "must
        be present and a string"}, {"field": "corporate_first_name", "message": "must
        be present and a string"}, {"field": "corporate_last_name", "message": "must
        be present and a string"}, {"field": "corporate_job_title", "message": "must
        be present and a string"}, {"field": "corporate_company_name", "message":
        "must be present and a string"}, {"field": "corporate_phone_number", "message":
        "must be present and a string"}, {"field": "corporate_email_address", "message":
        "must be present and a string"}, {"field": "corporate_streets", "message":
        "must be present and a string"}, {"field": "corporate_city", "message": "must
        be present and a string"}, {"field": "corporate_state", "message": "must be
        present and a string"}, {"field": "corporate_postal_code", "message": "must
        be present and a string"}, {"field": "corporate_country_code", "message":
        "must be present and a string"}, {"field": "account_number", "message": "must
        be present and a string"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5db66be5c79e7885e240017019f
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
