interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "customs_info":
      {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true, "customs_signer": "Steve
      Brule", "contents_type": "merchandise", "contents_explanation": "", "restriction_type":
      "none", "non_delivery_option": "return", "customs_items": [{"description": "Sweet
      shirts", "quantity": 2, "weight": 11, "value": 23, "hs_tariff_number": "654321",
      "origin_country": "US"}]}, "options": {"label_format": "PNG", "invoice_number":
      "123"}, "reference": "123"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T19:56:09Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"label_format": "PNG", "invoice_number": "123",
        "currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference":
        "123", "status": "unknown", "tracking_code": null, "updated_at": "2022-07-28T19:56:09Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        {"id": "cstinfo_a469b9b3e07c44d99ac5a661d8511eeb", "object": "CustomsInfo",
        "created_at": "2022-07-28T19:56:09Z", "updated_at": "2022-07-28T19:56:09Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_974e27617226427398b18e0f3dabb96a",
        "object": "CustomsItem", "created_at": "2022-07-28T19:56:09Z", "updated_at":
        "2022-07-28T19:56:09Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.0", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}]}, "from_address": {"id":
        "adr_52f7f6360eaf11ed9941ac1f6bc7b362", "object": "Address", "created_at":
        "2022-07-28T19:56:09+00:00", "updated_at": "2022-07-28T19:56:09+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_1b8ebda4e8934370847599a190af3d5f",
        "object": "Parcel", "created_at": "2022-07-28T19:56:09Z", "updated_at": "2022-07-28T19:56:09Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_5c1764f9223a4041b717d6b0025d3000",
        "object": "Rate", "created_at": "2022-07-28T19:56:09Z", "updated_at": "2022-07-28T19:56:09Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "23.75",
        "currency": "USD", "retail_rate": "27.40", "retail_currency": "USD", "list_rate":
        "23.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_514cd79a702f43468be986aaef79a086", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_83856f26b1e24274b5af238c3908f6da",
        "object": "Rate", "created_at": "2022-07-28T19:56:09Z", "updated_at": "2022-07-28T19:56:09Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_d[...]
