interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_409182f21ccb11ed9b04ac1f6bc7bdc6", "object": "Address",
        "created_at": "2022-08-15T18:51:20+00:00", "updated_at": "2022-08-15T18:51:20+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ce46db2590a6ceea78fc6e099a8ccac3"
      location:
      - /api/v2/addresses/adr_409182f21ccb11ed9b04ac1f6bc7bdc6
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95a8e79a7686002619c8
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_409182f21ccb11ed9b04ac1f6bc7bdc6/verify
  response:
    body:
      string: '{"address": {"id": "adr_40a6eec81ccb11edb7c6ac1f6b0a0d1e", "object":
        "Address", "created_at": "2022-08-15T18:51:20+00:00", "updated_at": "2022-08-15T18:51:20+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": "TEST@EXAMPLE.COM", "mode":
        "test", "carrier_facility": null, "residential": true, "federal_tax_id": null,
        "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0e7882b579dc217d5191d84b7090350a"
      location:
      - /api/v2/addresses/adr_40a6eec81ccb11edb7c6ac1f6b0a0d1e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47e62fa95a8e79a7686002619d7
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
