interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:15Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115908923", "updated_at": "2022-04-20T18:37:16Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_e6a705e8c0d811ec99f0ac1f6bc72124", "object": "Address", "created_at":
        "2022-04-20T18:37:15+00:00", "updated_at": "2022-04-20T18:37:15+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_f9792111725e4a708945926e9dc2e6ea",
        "object": "Parcel", "created_at": "2022-04-20T18:37:15Z", "updated_at": "2022-04-20T18:37:15Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_b8db94a37de841ac8a0174cf55214f17",
        "created_at": "2022-04-20T18:37:16Z", "updated_at": "2022-04-20T18:37:16Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:37:16Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/4895fe72ee8c446784ab77660b2da532.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_823ab949debc4aaf85989c2cb0046500", "object":
        "Rate", "created_at": "2022-04-20T18:37:15Z", "updated_at": "2022-04-20T18:37:15Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "delivery_days": 1, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 1, "shipment_id":
        "shp_7e5c7fdf57164d28b172383201f5b627", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_500a4d46e5c24d27b7d211535d7bf173", "object": "Rate", "created_at":
        "2022-04-20T18:37:15Z", "updated_at": "2022-04-20T18:37:15Z", "mode": "test",
        "service": "First", "carrier": "USPS", "rate": "5.49", "currency": "USD",
        "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49", "list_currency":
        "USD", "delivery_days": 2, "delivery_date": null, "delivery_date_guaranteed":
        false, "est_de[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-04-13",
      "max_datetime": "2022-04-13", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_7e5c7fdf57164d28b172383201f5b627"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"object": "Pickup", "created_at": "2022-04-20T18:37:16Z", "updated_at":
        "2022-04-20T18:37:16Z", "mode": "test", "status": "unknown", "reference":
        null, "min_datetime": "2022-04-13T00:00:00Z", "max_datetime": "2022-04-13T00:00:00Z",
        "is_account_address": false, "instructions": "Pickup at front door", "messages":
        [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "type": "rate_error", "message": "The Date you supplied occurs in the past
        or did not meet the 2:00 am (CST) cutoff for today."}], "confirmation": null,
        "address": {"id": "adr_e749b44ac0d811ecbb8cac1f6bc7b362", "object": "Address",
        "created_at": "2022-04-20T18:37:16+00:00", "updated_at": "2022-04-20T18:37:16+00:00",
        "name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
        "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5b3ea5617f72e7574fe9b9da63ef742b"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4ea626052dce79969e600243172
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
