interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/batches?page_size=5
  response:
    body:
      string: '{"batches": [{"id": "batch_c0e129a16d4042de8f408ee88c2a23e1", "object":
        "Batch", "mode": "test", "state": "created", "num_shipments": 0, "reference":
        null, "created_at": "2022-07-28T19:50:51Z", "updated_at": "2022-07-28T19:50:52Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}, {"id": "batch_f87669079a8944009bd943c6c566f325",
        "object": "Batch", "mode": "test", "state": "creating", "num_shipments": 1,
        "reference": null, "created_at": "2022-07-28T19:53:55Z", "updated_at": "2022-07-28T19:53:55Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9400100109361130483061", "id":
        "shp_059e077684ef42159c789b81359472bb"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": {"id": "pickup_b4dd597d63714e239b9d945cc99ca1f4", "object":
        "Pickup", "created_at": "2022-07-28T19:53:55Z", "updated_at": "2022-07-28T19:53:55Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-05-06T00:00:00Z",
        "max_datetime": "2022-05-06T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_03151cf60eaf11ed8a48ac1f6bc7b362", "object": "Address", "created_at":
        "2022-07-28T19:53:55+00:00", "updated_at": "2022-07-28T19:53:55+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": []}, "label_url": null}, {"id":
        "batch_af6a109d5e8b47ab971e657ab5c9d8ef", "object": "Batch", "mode": "test",
        "state": "creating", "num_shipments": 1, "reference": null, "created_at":
        "2022-07-28T19:53:57Z", "updated_at": "2022-07-28T19:53:57Z", "scan_form":
        null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9400100109361130483078", "id":
        "shp_66650153362f475ea06c81838ee42782"}], "s[...]
