interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-07-09T21:30:03Z", "is_return": false, "messages":
        [{"carrier": "DHLExpress", "carrier_account_id": "ca_2b428229ad214147a2ec13c4faf18934",
        "type": "rate_error", "message": "Unable to retrieve DHLExpress rates for
        US domestic shipments."}, {"carrier": "AustraliaPost", "carrier_account_id":
        "ca_3b84ac568d7444759b77d1f2f2c05d7a", "type": "rate_error", "message": "Unable
        to retrieve AustraliaPost rates for non-AU origin address."}, {"carrier":
        "ParcelForce", "carrier_account_id": "ca_a32ed104ca784c25b25f19d7c28191c3",
        "type": "rate_error", "message": "Unable to retrieve ParcelForce rates for
        non-GB origin address."}, {"[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_4e96ab8dccd245f1a204f699a1af02bc/smartrate/precision_shipping?desired_delivery_date=2024-07-16
  response:
    body:
      string: '{"rates": [{"easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        3, "percentile_75": 4, "percentile_85": 4, "percentile_90": 5, "percentile_95":
        5, "percentile_97": 6, "percentile_99": 7}, "delivery_date_confidence": 0.57,
        "desired_delivery_date": "2024-07-16", "estimated_transit_days": 3, "ship_on_date":
        "2024-07-13"}, "rate": {"carrier": "UPSMailInnovations", "carrier_account_id":
        "ca_942b62c9d6ea45578a344b365d7aa062", "created_at": "2024-07-09T21:30:05Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": null, "est_delivery_days": null, "id": "rate_447d70a0fa9048c59eff27d809da60e2",
        "list_currency": null, "list_rate": null, "mode": "production", "object":
        "Rate", "rate": 0.01, "retail_currency": null, "retail_rate": null, "service":
        "Priority", "shipment_id": "shp_4e96ab8dccd245f1a204f699a1af02bc", "updated_at":
        "2024-07-09T21:30:05Z"}}, {"easypost_time_in_transit_data": {"days_in_transit":
        {"percentile_50": 4, "percentile_75": 4, "percentile_85": 5, "percentile_90":
        5, "percentile_95": 6, "percentile_97": 6, "percentile_99": 7}, "delivery_date_confidence":
        0.31, "desired_delivery_date": "2024-07-16", "estimated_transit_days": 3,
        "ship_on_date": "2024-07-13"}, "rate": {"carrier": "UPSMailInnovations", "carrier_account_id":
        "ca_942b62c9d6ea45578a344b365d7aa062", "created_at": "2024-07-09T21:30:05Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": 3, "est_delivery_days": 3, "id": "rate_5593dd9ec41a4d64880ecd88e50e9509",
        "list_currency": null, "list_rate": null, "mode": "production", "object":
        "Rate", "rate": 0.01, "retail_currency": null, "retail_rate": null, "service":
        "ExpeditedMailInnovations", "shipment_id": "shp_4e96ab8dccd245f1a204f699a1af02bc",
        "updated_at": "2024-07-09T21:30:05Z"}}, {"easypost_time_in_transit_data":
        {"error": "Carrier DPD and service DPD10:00 combination is not supported by
        the Easypost Smartrate AI"}, "rate": {"carrier": "DPD", "carrier_account_id":
        "ca_d8c3565dd56346d9a5e90bd56ba7c2fa", "created_at": "2024-07-09T21:30:05Z",
        "currency": "EUR", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": null, "est_delivery_days": null, "id": "rate_c1839fd7d0664103973faa8532bdb698",
        "list_currency": null, "list_rate": null, "mode": "production", [...]
