interactions:
- request:
    body: '{"carrier_account_oauth_registrations": {"type": "AmazonShippingAccount"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth
  response:
    body:
      string: '{"id": "ca_e875ee2e98ac4c0c8d1d8f5b43aac959", "object": "CarrierAccount",
        "type": "AmazonShippingAccount", "clone": false, "created_at": "2024-12-16T22:02:20Z",
        "updated_at": "2024-12-16T22:02:20Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "Amazon Shipping", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ead55e6f6760a36ce786c93e005b6c1f
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202412120021-b747238cc5-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts/ca_e875ee2e98ac4c0c8d1d8f5b43aac959
  response:
    body:
      string: '{"id": "ca_e875ee2e98ac4c0c8d1d8f5b43aac959", "object": "CarrierAccount",
        "type": "AmazonShippingAccount", "clone": false, "created_at": "2024-12-16T22:02:20Z",
        "updated_at": "2024-12-16T22:02:20Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "Amazon Shipping", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - ead55e6f6760a36ce786c93e005b6c7c
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202412120021-b747238cc5-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier_account_oauth_registrations": {"description": "test description",
      "reference": "test reference"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/carrier_accounts/register_oauth/ca_e875ee2e98ac4c0c8d1d8f5b43aac959
  response:
    body:
      string: '{"id": "ca_e875ee2e98ac4c0c8d1d8f5b43aac959", "object": "CarrierAccount",
        "type": "AmazonShippingAccount", "clone": false, "created_at": "2024-12-16T22:02:20Z",
        "updated_at": "2024-12-16T22:02:21Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "Amazon Shipping", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ead55e6f6760a36de786c93e005b6cc6
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202412120021-b747238cc5-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_e875ee2e98ac4c0c8d1d8f5b43aac959
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ead55e6f6760a36de786c93e005b6d26
      x-node:
      - bigweb55nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb2nuq 99aac35317
      x-version-label:
      - easypost-202412120021-b747238cc5-master
    status:
      code: 200
      message: OK
version: 1
