interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/partners/stripe_public_key
  response:
    body:
      string: '{"public_key": "pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fb9a52be6323681ae787d97f00082572
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202209142327-76d51e2e7e-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.stripe.com/v1/tokens?card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028
  response:
    body:
      string: '{"id": "tok_0LiMLuDqT4huGUvdJkBtSAad", "object": "token", "card": {"id":
        "card_0LiMLuDqT4huGUvdwvFxsoce", "object": "card", "address_city": null, "address_country":
        null, "address_line1": null, "address_line1_check": null, "address_line2":
        null, "address_state": null, "address_zip": null, "address_zip_check": null,
        "brand": "Visa", "country": "US", "cvc_check": "unchecked", "dynamic_last4":
        null, "exp_month": 5, "exp_year": 2028, "funding": "credit", "last4": "6170",
        "name": null, "tokenization_method": null}, "client_ip": "<REDACTED>", "created":
        1663264794, "livemode": true, "type": "card", "used": false}'
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 08669557-88f3-4a81-89b7-79d6b53b98f1
      original-request:
      - req_Rjld5zF1YhBeQs
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
- request:
    body: '{"credit_card": {"stripe_object_id": "tok_0LiMLuDqT4huGUvdJkBtSAad", "priority":
      "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/credit_cards
  response:
    body:
      string: '{"id": "card_55b732842711403ca4d34abbae7e6884", "disabled_at": null,
        "object": "CreditCard", "name": null, "last4": "6170", "exp_month": 5, "exp_year":
        2028, "brand": "Visa"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2a6f8717ccd56df83817bc8b10feac63"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - fb9a52be6323681ae787d97f000825b8
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202209142327-76d51e2e7e-master
    status:
      code: 201
      message: Created
version: 1
