interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:31Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115908992", "updated_at": "2022-04-20T18:37:31Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_efea30fac0d811ec9c27ac1f6bc72124", "object": "Address", "created_at":
        "2022-04-20T18:37:31+00:00", "updated_at": "2022-04-20T18:37:31+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_31d75bd5f17c44dab912bca98959181a",
        "object": "Parcel", "created_at": "2022-04-20T18:37:31Z", "updated_at": "2022-04-20T18:37:31Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_dcdb16a724464dee9f829f89583e6e97",
        "created_at": "2022-04-20T18:37:31Z", "updated_at": "2022-04-20T18:37:31Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:37:31Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/3df9989e5e714229981c00c876574169.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_0500e472c0f54d4c97b9d79239b4e44d", "object":
        "Rate", "created_at": "2022-04-20T18:37:31Z", "updated_at": "2022-04-20T18:37:31Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "delivery_days": 1, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 1, "shipment_id":
        "shp_878af954f6334c07b81dd70608710ce8", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_eca1450ba1eb455a944944f5a486db95", "object": "Rate", "created_at":
        "2022-04-20T18:37:31Z", "updated_at": "2022-04-20T18:37:31Z", "mode": "test",
        "service": "First", "carrier": "USPS", "rate": "5.49", "currency": "USD",
        "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49", "list_currency":
        "USD", "delivery_days": 2, "delivery_date": null, "delivery_date_guaranteed":
        false, "est_de[...]
- request:
    body: '{"shipment": [{"id": "shp_878af954f6334c07b81dd70608710ce8"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"object": "ScanForm", "created_at": "2022-04-20T18:37:32Z", "updated_at":
        "2022-04-20T18:37:32Z", "tracking_codes": ["9400100109361115908992"], "address":
        {"id": "adr_efea30fac0d811ec9c27ac1f6bc72124", "object": "Address", "created_at":
        "2022-04-20T18:37:31+00:00", "updated_at": "2022-04-20T18:37:31+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "status": "created", "message": null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220420/bc525c3a4a9248bb835c03a66d503c6c.pdf",
        "form_file_type": null, "batch_id": "batch_70940b3a9d2a4789bc94d1883b86aff1",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1ec4a9ec2aa41a9602e612732df76375"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4ea626052ece7996a2100243730
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
