interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/trackers?page_size=5
  response:
    body:
      string: '{"trackers": [{"id": "trk_8de54ec569444a0eabd75bd9dcecc96b", "object":
        "Tracker", "mode": "test", "tracking_code": "EZ1000000001", "status": "pre_transit",
        "status_detail": "status_update", "created_at": "2023-05-16T16:44:03Z", "updated_at":
        "2023-05-16T16:44:03Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2023-05-16T16:44:03Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": null, "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2023-04-16T16:44:03Z", "source": "USPS", "carrier_code": null,
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": null, "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2023-04-17T05:21:03Z", "source": "USPS", "carrier_code":
        null, "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "fees": [{"object": "Fee",
        "type": "TrackerFee", "amount": "0.02000", "charged": false, "refunded": false}],
        "carrier_detail": {"object": "CarrierDetail", "service": "First-Class Package
        Service", "container_type": null, "est_delivery_date_local": null, "est_delivery_time_local":
        null, "origin_location": "HOUSTON TX, 77001", "origin_tracking_location":
        {"object": "TrackingLocation", "city": "HOUSTON", "state": "TX", "country":
        null, "zip": "77063"}, "destination_location": "CHARLESTON SC, 29401", "destination_tracking_location":
        null, "guaranteed_delivery_date": null, "alternate_identifier": null, "initial_delivery_attempt":
        null}, "public_url": "https://track.easypost.com/djE6dHJrXzhkZTU0ZWM1Njk0NDRhMGVhYmQ3NWJkOWRjZWNjOTZi"},
        {"id": "trk_1c719471026e4f858de8762ac10884f4", "object": "Tracker", "mode":
        "test", "tracking_code": "9400100104262210342375", "status": "delivered",
        "status_detail": "arrived_at_destination", "created_at": "2023-05-16T16:34:01Z",
        "updated_at": "2023-05-16T16:37:01Z", "signed_by": "John Tester", "weight":
        null, "est_delivery_date": "2023-05-16T16:37:01Z", "shipment_id": "s[...]
