interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:09:13Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105442285877098", "updated_at": "2023-11-28T22:09:14Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_c356e7df8e3a11ee9a5dac1f6bc539ae", "object": "Address", "created_at":
        "2023-11-28T22:09:13+00:00", "updated_at": "2023-11-28T22:09:13+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_b342d20a07264564bcec4fa1759713b3",
        "object": "Parcel", "created_at": "2023-11-28T22:09:13Z", "updated_at": "2023-11-28T22:09:13Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_7c755bc8ea744cd3b05409f87f1aaa01",
        "created_at": "2023-11-28T22:09:13Z", "updated_at": "2023-11-28T22:09:13Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-11-28T22:09:13Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231128/e864120426313e45e290cf7b4135f5f31f.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_fe1c82d95c974854a397548262336980", "object":
        "Rate", "created_at": "2023-11-28T22:09:13Z", "updated_at": "2023-11-28T22:09:13Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_19a3782579fe481d9f610588d0a6804a", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_e1c3b894441c40528eb7d80a6a585ec1",
        "object": "Rate", "created_at": "2023-11-28T22:09:13Z", "updated_at": "2023-11-28T22:09:13Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate":
        "6.07", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "del[...]
- request:
    body: '{"form": {"type": "return_packing_slip", "barcode": "RMA12345678900", "line_items":
      [{"product": {"title": "Square Reader", "barcode": "855658003251"}, "units":
      8}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_19a3782579fe481d9f610588d0a6804a/forms
  response:
    body:
      string: '{"created_at": "2023-11-28T22:09:13Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code"[...]
