interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-05-15T21:50:00Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100104262210071022", "updated_at": "2023-05-15T21:50:01Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_7100b685f36a11ed8102ac1f6bc7bdc6", "object": "Address", "created_at":
        "2023-05-15T21:50:00+00:00", "updated_at": "2023-05-15T21:50:00+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_3603f7bdf26b44e2a1cf68202cb1c0b4",
        "object": "Parcel", "created_at": "2023-05-15T21:50:00Z", "updated_at": "2023-05-15T21:50:00Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_c76b25b846d74e5c82d0b49940973a16",
        "created_at": "2023-05-15T21:50:01Z", "updated_at": "2023-05-15T21:50:01Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-05-15T21:50:01Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230515/b5f6af82f7f447bdafeac7125622846a.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_642e0c0d487c47a8a8cf68bdcf909dc1", "object":
        "Rate", "created_at": "2023-05-15T21:50:00Z", "updated_at": "2023-05-15T21:50:00Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_2cb46d3296234d7d94815270ad532ccd", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_61409225958c4da1a1ca25bccd530a1e",
        "object": "Rate", "created_at": "2023-05-15T21:50:00Z", "updated_at": "2023-05-15T21:50:00Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "6.76",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delive[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2023-05-17", "max_datetime": "2023-05-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_2cb46d3296234d7d94815270ad532ccd"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_dce2c5e15e9547f199c75e1b4a92725c", "object": "Pickup",
        "created_at": "2023-05-15T21:50:01Z", "updated_at": "2023-05-15T21:50:01Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-05-17T00:00:00Z",
        "max_datetime": "2023-05-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_71a8e849f36a11ed82c8ac1f6bc7bdc6", "object": "Address", "created_at":
        "2023-05-15T21:50:01+00:00", "updated_at": "2023-05-15T21:50:01+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2023-05-15T21:50:02Z",
        "updated_at": "2023-05-15T21:50:02Z", "carrier": "USPS", "pickup_id": "pickup_dce2c5e15e9547f199c75e1b4a92725c",
        "id": "pickuprate_8888d57350794b868dde14933836cf2b", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dec002cf404e992db1a6be6372b8f0d8"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 36ec0a8e6462a909e2b98c370037b2c3
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb2wdc a29e4ad05c
      - extlb4wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305152107-770224374c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_dce2c5e15e9547f199c75e1b4a92725c/buy
  response:
    body:
      string: '{"id": "pickup_dce2c5e15e9547f199c75e1b4a92725c", "object": "Pickup",
        "created_at": "2023-05-15T21:50:01Z", "updated_at": "2023-05-15T21:50:03Z",
        "mode": "test", "status": "sched[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_dce2c5e15e9547f199c75e1b4a92725c/cancel
  response:
    body:
      string: '{"id": "pickup_dce2c5e15e9547f199c75e1b4a92725c", "object": "Pickup",
        "created_at": "2023-05-15T21:50:01Z", "updated_at": "2023-05-15T21:50:04Z",
        "mode": "test", "status": "canceled", "reference": null, "min_dateti[...]
