interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T21:58:25Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105442285851890", "updated_at": "2023-11-28T21:58:26Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_418251128e3911ee9cddac1f6bc539aa", "object": "Address", "created_at":
        "2023-11-28T21:58:25+00:00", "updated_at": "2023-11-28T21:58:25+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_7b8149d0b2734690bb89244ae8c7591d",
        "object": "Parcel", "created_at": "2023-11-28T21:58:25Z", "updated_at": "2023-11-28T21:58:25Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_40d45098bf324183aa4e1b60d49f7df2",
        "created_at": "2023-11-28T21:58:26Z", "updated_at": "2023-11-28T21:58:26Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-11-28T21:58:26Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231128/e8d85ba30daa6844d9aff8ddcb208354ae.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_34d22a58366149168e62dab13e6ce733", "object":
        "Rate", "created_at": "2023-11-28T21:58:26Z", "updated_at": "2023-11-28T21:58:26Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_c2f3f9bed1444ee8963e8703930d462f", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_d40554647ed54a108767e06682b3af7c",
        "object": "Rate", "created_at": "2023-11-28T21:58:26Z", "updated_at": "2023-11-28T21:58:26Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_[...]
- request:
    body: '{"insurance": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "carrier": "USPS", "amount": "100", "tracking_code":
      "9400100105442285851890"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/insurances
  response:
    body:
      string: '{"id": "ins_0ffcd38dd4a04b9d97eb5d6aad7a4533", "object": "Insurance",
        "mode": "test", "reference": null, "status": "pending", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id": "adr_4244261b8e3911ee9d51ac1f6bc539aa",
        "object": "Address", "created_at": "2023-11-28T21:58:27+00:00", "updated_at":
        "2023-11-28T21:58:27+00:00", "name": "ELIZABETH SWAN", "company": null, "street1":
        "179 N HARBOR DR", "street2": "", "city": "REDONDO BEACH", "state": "CA",
        "zip": "90277-2506", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "from_address": {"id": "adr_42495c3e8e3911ee91863cecef1b359e", "object": "Address",
        "created_at": "2023-11-28T21:58:27+00:00", "updated_at": "2023-11-28T21:58:27+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "shipment_id": null, "tracker": {"id": "trk_b83cd338b47842969a7d9a2d3b726f3d",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100105442285851890",
        "status": "pre_transit", "status_detail": "status_update", "created_at": "2023-11-28T21:58:27Z",
        "updated_at": "2023-11-28T21:58:27Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2023-11-28T21:58:27Z", "shipment_id": "shp_c2f3f9bed1444ee8963e8703930d462f",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2023-10-28T21:58:27Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2023-10-29T10:35:27Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail":
        {"object": "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrX2I4M2NkMzM4YjQ3ODQyOTY5YTdkOWEyZDNiNzI2ZjNk",
        "fees": []}, "tracking_code": "9400100105442285851890", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2023-11-28T21:58:27Z", "updated_at":
        "2023-11-28T21:58:27Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/insurances/ins_0ffcd38dd4a04b9d97eb5d6aad7a4533
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 88ad7b9265666283e78a938c003ca88f
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances/ins_0ffcd38dd4a04b9d97eb5d6aad7a4533
  response:
    body:
      string: '{"id": "ins_0ffcd38dd4a04b9d97eb5d6aad7a4533", "object": "Insurance",
        "mode": "test", "reference": null, "status": "pending", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id": "adr_4244261b8e3911ee9d51ac1f6bc539aa",
        "obj[...]
