interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/rates
  response:
    body:
      string: '{"from_address": {"object": "Address", "name": "Jack Sparrow", "street1":
        "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state":
        "CA", "zip": "94107", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"},
        "to_address": {"object": "Address", "name": "Elizabeth Swan", "street1": "179
        N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>"}, "rates": [{"object":
        "Rate", "mode": "test", "service": "Priority", "carrier": "USPS", "rate":
        "7.15", "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD",
        "list_rate": "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"object":
        "Rate", "mode": "test", "service": "First", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "6.07", "retail_currency": "USD", "list_rate":
        "6.07", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"object":
        "Rate", "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"object":
        "Rate", "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate":
        "6.76", "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD",
        "list_rate": "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}], "options":
        {"currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "parcel":
        {"object": "Parcel", "length": 10.0, "width": 8.0, "height": 4.0, "weight":
        15.4}, "messages": [{"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"046736d5146c150a74222e444529b376"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 477e8d8364626271e786c9230019fce9
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb3wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 200
      message: OK
version: 1
