interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:00:17Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100105442285856291", "updated_at": "2023-11-28T22:00:18Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_83f170d58e3911ee873eac1f6bc53342", "object": "Address", "created_at":
        "2023-11-28T22:00:17+00:00", "updated_at": "2023-11-28T22:00:17+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_011a5106c63a4a869af1574a9cb1295b",
        "object": "Parcel", "created_at": "2023-11-28T22:00:17Z", "updated_at": "2023-11-28T22:00:17Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_ce835644536345aca77e9c8f6c23fd69",
        "created_at": "2023-11-28T22:00:17Z", "updated_at": "2023-11-28T22:00:18Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-11-28T22:00:17Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231128/e80e3b6e6784ad421b9f5d0d2020208171.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_757b5f5fbdd3400c88098d392284b948", "object":
        "Rate", "created_at": "2023-11-28T22:00:17Z", "updated_at": "2023-11-28T22:00:17Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_92808ee9dfe448e6967aca69cc5b10ee", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_a3405beda1794a3d90fc677ddce4a333",
        "object": "Rate", "created_at": "2023-11-28T22:00:17Z", "updated_at": "2023-11-28T22:00:17Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2023-12-17", "max_datetime": "2023-12-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_92808ee9dfe448e6967aca69cc5b10ee"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_0484cf545d724d24b56591a64bb5b9da", "object": "Pickup",
        "created_at": "2023-11-28T22:00:18Z", "updated_at": "2023-11-28T22:00:18Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-12-17T00:00:00Z",
        "max_datetime": "2023-12-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_84a793d78e3911ee8ed2ac1f6bc539ae", "object": "Address", "created_at":
        "2023-11-28T22:00:18+00:00", "updated_at": "2023-11-28T22:00:18+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2023-11-28T22:00:19Z",
        "updated_at": "2023-11-28T22:00:19Z", "carrier": "USPS", "pickup_id": "pickup_0484cf545d724d24b56591a64bb5b9da",
        "id": "pickuprate_114fca71b6c1493993f617050a05517c", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - ae35d0b4656662f2e78a93e9003d9a80
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb2nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_0484cf545d724d24b56591a64bb5b9da/buy
  response:
    body:
      string: '{"id": "pickup_0484cf545d724d24b56591a64bb5b9da", "object": "Pickup",
        "created_at": "2023-11-28T22:00:18Z", "updated_at": "2023-11-28T22:00:20Z",
        "mode": "test", "status": "sched[...]
