interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/rates
  response:
    body:
      string: '{"from_address": {"object": "Address", "name": "Jack Sparrow", "street1":
        "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state":
        "CA", "zip": "94107", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"},
        "to_address": {"object": "Address", "name": "Elizabeth Swan", "street1": "179
        N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>"}, "rates": [{"object":
        "Rate", "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate":
        "5.93", "currency": "USD", "retail_rate": "8.45", "retail_currency": "USD",
        "list_rate": "6.40", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"object":
        "Rate", "mode": "test", "service": "Express", "carrier": "USPS", "rate": "33.10",
        "currency": "USD", "retail_rate": "37.90", "retail_currency": "USD", "list_rate":
        "33.10", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"object":
        "Rate", "mode": "test", "service": "Priority", "carrier": "USPS", "rate":
        "6.90", "currency": "USD", "retail_rate": "9.80", "retail_currency": "USD",
        "list_rate": "8.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}], "options":
        {"currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "parcel":
        {"object": "Parcel", "length": 10.0, "width": 8.0, "height": 4.0, "weight":
        15.4}, "messages": [{"carrier": "UPS", "carrier_account_id": "ca_2b156a7d1fdb444c96fd53ecc409a6fa",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_4f4f19e3b533485296d62721584e096d", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_725c14e27c1544a6af0c90d4208f70d3", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "DhlEcs", "carrier_account_id":
        "ca_c3cbbd21bc97400bbbaed6d030909476", "type": "rate_error", "message": "Invalid
      [...]
