interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups?page_size=5
  response:
    body:
      string: '{"pickups": [{"id": "pickup_4d4c8bafdce64084b7a815a635797e9b", "object":
        "Pickup", "created_at": "2023-02-21T18:51:28Z", "updated_at": "2023-02-21T18:51:28Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-12-01T00:00:00Z",
        "max_datetime": "2022-12-01T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_bff004d6b21811ed8cecac1f6bc7b362", "object": "Address", "created_at":
        "2023-02-21T18:51:28+00:00", "updated_at": "2023-02-21T18:51:28+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": []}, {"id": "pickup_b2a278f971c3408bb266f399637cfa58",
        "object": "Pickup", "created_at": "2023-02-21T18:51:26Z", "updated_at": "2023-02-21T18:51:26Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-12-01T00:00:00Z",
        "max_datetime": "2022-12-01T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_be4943d7b21811ed8438ac1f6bc7b362", "object[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups?before_id=pickup_b652a826916a4f01aedcc0a00f05324b&page_size=5
  response:
    body:
      string: '{"pickups": [{"id": "pickup_68086ed0d88541b6802122527a59fce1", "object":
        "Pickup", "created_at": "2023-02-21T18:51:13Z", "updated_at": "2023-02-21T18:51:13Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-12-01T00[...]
