interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T20:26:01Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361130493855", "updated_at": "2022-07-28T20:26:02Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_7f861e7d0eb311edb6d8ac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-07-28T20:26:01+00:00", "updated_at": "2022-07-28T20:26:01+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_fba96f3aa19a45db903857008d3888d7",
        "object": "Parcel", "created_at": "2022-07-28T20:26:01Z", "updated_at": "2022-07-28T20:26:01Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_1b0420c5347642e4a625341cb77e79cd",
        "created_at": "2022-07-28T20:26:02Z", "updated_at": "2022-07-28T20:26:02Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-28T20:26:02Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220728/7ca7824eaba3431db8c4d6f85ebcdc3d.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_891d75dd52cf48f7aa3e0bf360182130", "object":
        "Rate", "created_at": "2022-07-28T20:26:02Z", "updated_at": "2022-07-28T20:26:02Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "23.75",
        "currency": "USD", "retail_rate": "27.40", "retail_currency": "USD", "list_rate":
        "23.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_3aceb0ded30e4381a8ec14bd4b2d7fa3", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_561164313d324916beeb0027092ac28c",
        "object": "Rate", "created_at": "2022-07-28T20:26:02Z", "updated_at": "2022-07-28T20:26:02Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22",
        "currency": "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate":
        "7.22", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delive[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-07-29",
      "max_datetime": "2022-07-29", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_3aceb0ded30e4381a8ec14bd4b2d7fa3"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_4cd93be6be784446a46231f5aea66316", "object": "Pickup",
        "created_at": "2022-07-28T20:26:03Z", "updated_at": "2022-07-28T20:26:03Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-07-29T00:00:00Z",
        "max_datetime": "2022-07-29T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_802b335a0eb311eda241ac1f6bc7b362", "object": "Address", "created_at":
        "2022-07-28T20:26:03+00:00", "updated_at": "2022-07-28T20:26:03+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2022-07-28T20:26:04Z",
        "updated_at": "2022-07-28T20:26:04Z", "carrier": "USPS", "pickup_id": "pickup_4cd93be6be784446a46231f5aea66316",
        "id": "pickuprate_ffc2339b10434056b62b5db1bb002d84", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"666ffddd791f1ec253c6fe1d05c70075"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 97a38db262e2f0dbff23eae100014842
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq 403f17ff97
      - extlb1nuq 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups/pickup_4cd93be6be784446a46231f5aea66316
  response:
    body:
      string: '{"id": "pickup_4cd93be6be784446a46231f5aea66316", "object": "Pickup",
        "created_at": "2022-07-28T20:26:03Z", "updated_at": "2022-07-28T20:26:03Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-07-29T00:00:00Z",
        "max_datetime": "[...]
