interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_626510e1371b4ba9b768a61f40e04704", "object": "Parcel",
        "created_at": "2024-08-15T19:52:57Z", "updated_at": "2024-08-15T19:52:57Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_626510e1371b4ba9b768a61f40e04704
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d666be5c99e78861610017217d
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
version: 1
