interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments?page_size=5
  response:
    body:
      string: '{"shipments": [{"created_at": "2023-05-16T16:22:22Z", "is_return":
        false, "messages": [{"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}], "mode": "test", "options": {"label_format": "PNG", "invoice_number":
        "123", "currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0},
        "reference": "123", "status": "delivered", "tracking_code": "9400100104262210337456",
        "updated_at": "2023-05-16T16:26:43Z", "batch_id": null, "batch_status": null,
        "batch_message": null, "customs_info": {"id": "cstinfo_582daaed61af4385af1ab69afbe4bf31",
        "object": "CustomsInfo", "created_at": "2023-05-16T16:22:22Z", "updated_at":
        "2023-05-16T16:22:22Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_6533bee6732d4f66a02caa1e542d47f5", "object": "CustomsItem",
        "created_at": "2023-05-16T16:22:22Z", "updated_at": "2023-05-16T16:22:22Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_d62fb718f40511edb00fac1f6b0a0d1e", "object":
        "Address", "created_at": "2023-05-16T16:22:22+00:00", "updated_at": "2023-05-16T16:22:22+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_29edd0beab3f49e8ab6d4414e6f99d08",
        "object": "Parcel", "created_at": "2023-05-16T16:22:22Z", "updated_at": "2023-05-16T16:22:22Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_e606290bed134b98895b549d34a38416",
        "created_at": "2023-05-16T16:22:23Z", "updated_at": "2023-05-16T16:22:25Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-05-16T16:22:23Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20230516/a9d19fca8ee5479591a317db0a9fba3d.png",
        "label_pdf_url": null, "label_zpl_url": "https://easypost-files.s3-us-west-2.amazonaws.com/files/postage_label/20230516/397e83243d82404f98cd64718d68b8cf.zpl",
        "label_epl2_url": null, "label_file": null}, "rates": [{"id": "rate_a4152cbf9403418d808e0ba0c7e05370",
        "object": "Rate", "created_at": "2023-05-16T16:22:22Z", "updated_at": "2023-05-16T16:22:22Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "6.76",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "shipment_id": "shp_44dcc5ae48194b65aaaf88aa31e930f4", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_6320d535e8514d00826c079ae685e70d",
        "object": "Rate", "created_at": "2023-05-16T16:22:22Z", "updated_at": "2023-05-16T16:22:22Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.15",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost",[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments?before_id=shp_5efc9f87bef5468691e1aa0e0cb7c085&page_size=5
  response:
    body:
      string: '{"shipments": [{"created_at": "2023-05-16T16:20:45Z", "is_return":
        false, "messages": [], "mode": "test", "options": {"currency": "USD", "payment":
        {"type": "SENDER"}, "date_advance": 0}, "reference": null, "status": "delivered",
        "trackin[...]
