interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-04-26T17:15:37Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361116713274","updated_at":"2022-04-26T17:15:38Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_7d6c90bac58411ec8255ac1f6bc72124","object":"Address","created_at":"2022-04-26T17:15:37+00:00","updated_at":"2022-04-26T17:15:37+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_6499f3168c554c4c9c9fcdbe9304b6a4","object":"Parcel","created_at":"2022-04-26T17:15:37Z","updated_at":"2022-04-26T17:15:37Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_535d4b3b49194277a57e42bcef40bee8","created_at":"2022-04-26T17:15:37Z","updated_at":"2022-04-26T17:15:37Z","date_advance":0,"integrated_form":"none","label_date":"2022-04-26T17:15:37Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220426/9734130073b04211868a666be9908bd2.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_de25a43b5a7942dba00fcce5e76bb38c","object":"Rate","created_at":"2022-04-26T17:15:37Z","updated_at":"2022-04-26T17:15:37Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_f5d76ab9047e443e9d0911dfa2d3b0b7","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_be3c525a132c4e3a9cfdc8d0e44881e9","object":"Rate","created_at":"2022-04-26T17:15:37Z","updated_at":"2022-04-26T17:15:37Z","mode":"test","service":"Priority","carrier":"USPS","rate":"7.37","currency":"USD","retail_rate":"8.70","retail_currency":"USD","list_rate":"7.37","list_currency":"USD","delivery_days":1,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":1,"shipment_id":"shp_f5d76ab9047e443e9d0911dfa2d3b0b7","carrier_ac[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-04-27",
      "max_datetime": "2022-04-27", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_f5d76ab9047e443e9d0911dfa2d3b0b7"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id":"pickup_22029bc17d0b40d0bb139b61edb30dbd","object":"Pickup","created_at":"2022-04-26T17:15:38Z","updated_at":"2022-04-26T17:15:38Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-04-27T00:00:00Z","max_datetime":"2022-04-27T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_7e0e7089c58411ecb81dac1f6b0a0d1e","object":"Address","created_at":"2022-04-26T17:15:38+00:00","updated_at":"2022-04-26T17:15:38+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-04-26T17:15:39Z","updated_at":"2022-04-26T17:15:39Z","carrier":"USPS","pickup_id":"pickup_22029bc17d0b40d0bb139b61edb30dbd","id":"pickuprate_b4840e1163e643c7a14185e9850f1666","object":"PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f2eea40f8e9c8e2c091cab21fa21f227"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 19bdb4c1626828bae786b8a1001a6278
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204251804-93ddab36b5-master
    status:
      code: 200
      message: OK
version: 1
