interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments?page_size=5
  response:
    body:
      string: '{"shipments": [{"created_at": "2023-11-28T22:04:14Z", "is_return":
        false, "messages": [], "mode": "test", "options": {"currency": "USD", "payment":
        {"type": "SENDER"}, "date_advance": 0}, "reference": null, "status": "delivered",
        "tracking_code": "9400100105442285865323", "updated_at": "2023-11-28T22:07:49Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_112114878e3a11ee94313cecef1b359e", "object":
        "Address", "created_at": "2023-11-28T22:04:14+00:00", "updated_at": "2023-11-28T22:04:14+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_c14abe119b4b47cca0eaffefa64ec311",
        "object": "Parcel", "created_at": "2023-11-28T22:04:14Z", "updated_at": "2023-11-28T22:04:14Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_f5482c5ee9694dc2aaf344cd96b84259",
        "created_at": "2023-11-28T22:04:14Z", "updated_at": "2023-11-28T22:04:14Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2023-11-28T22:04:14Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20231128/e8c8b82e8339f94b608d71b001b7c22082.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_f7fc0d50e1c54a7f94d19d07d83527e2", "object":
        "Rate", "created_at": "2023-11-28T22:04:14Z", "updated_at": "2023-11-28T22:04:14Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_389b05acbbff44bfa104ee937676bace", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_0f1537b73e7b445b86a0a34b139a0bbc",
        "object": "Rate", "created_at": "2023-11-28T22:04:14Z", "updated_at": "2023-11-28T22:04:14Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate":
        "6.07", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "del[...]
