interactions:
- request:
    body: '{"ups_oauth_registrations": {"type": "UpsAccount", "account_number": "123456789"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/ups_oauth_registrations
  response:
    body:
      string: '{"id": "ca_ee3d90a7215b41c1ace15172cd769907", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2024-08-15T19:52:26Z",
        "updated_at": "2024-08-15T19:52:26Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5dc66be5c7ae7885e2600170282
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts/ca_ee3d90a7215b41c1ace15172cd769907
  response:
    body:
      string: '{"id": "ca_ee3d90a7215b41c1ace15172cd769907", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2024-08-15T19:52:26Z",
        "updated_at": "2024-08-15T19:52:26Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5dc66be5c7ae7885e26001702b3
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: '{"ups_oauth_registrations": {"account_number": "987654321"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/ups_oauth_registrations/ca_ee3d90a7215b41c1ace15172cd769907
  response:
    body:
      string: '{"id": "ca_ee3d90a7215b41c1ace15172cd769907", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2024-08-15T19:52:26Z",
        "updated_at": "2024-08-15T19:52:27Z", "description": null, "reference": null,
        "billing_type": "carrier", "readable": "UPS", "logo": null, "fields": [],
        "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5dc66be5c7ae7885e26001702cb
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_ee3d90a7215b41c1ace15172cd769907
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5dc66be5c7be7885e26001702e5
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
