interactions:
- request:
    body: '{"customs_item": {"description": "Sweet shirts", "quantity": 2, "weight":
      11, "value": 23.25, "hs_tariff_number": "654321", "origin_country": "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_f69c399844294c5d8f2783fb0f4cf759", "object": "CustomsItem",
        "created_at": "2024-08-15T19:52:39Z", "updated_at": "2024-08-15T19:52:39Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_items/cstitem_f69c399844294c5d8f2783fb0f4cf759
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5d866be5c87e788613f00170fb0
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_items/cstitem_f69c399844294c5d8f2783fb0f4cf759
  response:
    body:
      string: '{"id": "cstitem_f69c399844294c5d8f2783fb0f4cf759", "object": "CustomsItem",
        "created_at": "2024-08-15T19:52:39Z", "updated_at": "2024-08-15T19:52:39Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d866be5c87e788613f00170fcb
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
