interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:32Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115909005", "updated_at": "2022-04-20T18:37:33Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_f0e382e0c0d811ecbe07ac1f6bc7b362", "object": "Address", "created_at":
        "2022-04-20T18:37:32+00:00", "updated_at": "2022-04-20T18:37:32+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_2877532cf25f43b288c8766e64fe2be9",
        "object": "Parcel", "created_at": "2022-04-20T18:37:32Z", "updated_at": "2022-04-20T18:37:32Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_311f9a3895e54e6db49f651996dfd789",
        "created_at": "2022-04-20T18:37:33Z", "updated_at": "2022-04-20T18:37:33Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:37:33Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/2d28ffd44c29446084ef531cb48d84e0.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_6687b8e080da4d59847ab3a5637a3dd0", "object":
        "Rate", "created_at": "2022-04-20T18:37:32Z", "updated_at": "2022-04-20T18:37:32Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.49", "currency":
        "USD", "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49",
        "list_currency": "USD", "delivery_days": 2, "delivery_date": null, "delivery_date_guaranteed":
        false, "est_delivery_days": 2, "shipment_id": "shp_99efc1faf36a4e79b89a40edfe277898",
        "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_ad1a7187b5044429a656312645a90259",
        "object": "Rate", "created_at": "2022-04-20T18:37:32Z", "updated_at": "2022-04-20T18:37:32Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "23.75",
        "currency": "USD", "retail_rate": "27.40", "retail_currency": "USD", "list_rate":
        "23.75", "list_currency": "USD", "delivery_days": null, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_de[...]
- request:
    body: '{"shipment": [{"id": "shp_99efc1faf36a4e79b89a40edfe277898"}]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/scan_forms
  response:
    body:
      string: '{"object": "ScanForm", "created_at": "2022-04-20T18:37:34Z", "updated_at":
        "2022-04-20T18:37:34Z", "tracking_codes": ["9400100109361115909005"], "address":
        {"id": "adr_f0e382e0c0d811ecbe07ac1f6bc7b362", "object": "Address", "created_at":
        "2022-04-20T18:37:32+00:00", "updated_at": "2022-04-20T18:37:32+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "status": "created", "message": null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220420/15566cbc0a244e748955fc8cdf774c88.pdf",
        "form_file_type": null, "batch_id": "batch_a66627fb641e4708afefd5d7732940f6",
        "confirmation": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3462be2ce02f66c1e3bdbba84663d49a"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4ea626052eee7996a22002437dd
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/scan_forms/sf_a97898d414994e34b55699cabe0c603c
  response:
    body:
      string: '{"object": "ScanForm", "created_at": "2022-04-20T18:37:34Z", "updated_at":
        "2022-04-20T18:37:34Z", "tracking_codes": ["9400100109361115909005"], "address":
        {"id": "adr_f0e382e0c0d811ecbe07ac1f6bc7b362", "object": "Address",[...]
