interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_15f34d84a01847799890a35ab7f8a261", "object": "Parcel",
        "created_at": "2023-06-29T22:36:03Z", "updated_at": "2023-06-29T22:36:03Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a90098860cd1a677b56d32848a684379"
      location:
      - /api/v2/parcels/prcl_15f34d84a01847799890a35ab7f8a261
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 49bdaf3f649e0753e2b8fb95000a9ec7
      x-node:
      - bigweb11nuq
      x-proxied:
      - intlb2nuq d3d339cca1
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202306292027-2f32ee5ecd-master
    status:
      code: 201
      message: Created
version: 1
