interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_b6ca70bbfb7311ef9f6dac1f6bc539ae", "object": "Address",
        "created_at": "2025-03-07T16:46:27+00:00", "updated_at": "2025-03-07T16:46:27+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_b6ca70bbfb7311ef9f6dac1f6bc539ae
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 6eaaf90167cb22e3e2aabd75000aec9c
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_16e46f5f5e6b4d01817d81a01382b58f", "object": "Parcel",
        "created_at": "2025-03-07T16:46:27Z", "updated_at": "2025-03-07T16:46:27Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_16e46f5f5e6b4d01817d81a01382b58f
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf90167cb22e3e2aabd75000aecd5
      x-node:
      - bigweb35nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"from_address": {"id": "adr_b6ca70bbfb7311ef9f6dac1f6bc539ae"},
      "to_address": {"id": "adr_b6d6d8a7fb7311ef9f72ac1f6bc539ae"}, "parcel": {"id":
      "prcl_16e46f5f5e6b4d01817d81a01382b58f"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_3660b5de40c842cf95732770ca03c71e", "created_at": "2025-03-07T16:46:28Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2025-03-07T16:46:28Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_b6ca70bbfb7311ef9f6dac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-07T16:46:27+00:00", "updated_at": "2025-03-07T16:46:27+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_16e46f5f5e6b4d01817d81a01382b58f",
        "object": "Parcel", "created_at": "2025-03-07T16:46:27Z", "updated_at": "2025-03-07T16:46:27Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_117851bcd53a4b6abe0512532d77c6af",
        "object": "Rate", "created_at": "2025-03-07T16:46:28Z", "updated_at": "2025-03-07T16:46:28Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.54",
        "currency": "USD", "retail_rate": "9.35", "retail_currency": "USD", "list_rate":
        "7.99", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_3660b5de40c842cf95732770ca03c71e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_412094b9476f41bcab56c1749a7c29c4",
        "object": "Rate", "created_at": "2025-03-07T16:46:28Z", "updated_at": "2025-03-07T16:46:28Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.65",
        "currency": "USD", "retail_rate": "8.35", "retail_currency": "USD", "list_rate":
        "6.33", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_3660b5de40c842cf95732770ca03c71e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_568831d4eadf4d008d81fbc80459910c",
        "object": "Rate", "created_at": "2025-03-07T16:46:28Z", "updated_at": "2025-03-07T16:46:28Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "27.60",
        "currency": "USD", "retail_rate": "31.95", "retail_currency": "USD", "list_rate":
        "27.60", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_3660b5de40c842cf95732770ca03c71e", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_b6d6d8a7fb7311ef9f72ac1f6bc539ae",
        "object": "Address", "created_at": "2025-03-07T16:46:27+00:00", "updated_at":
        "2025-03-07T16:46:27+00:00", "name": "Jack Sparrow", "company": null, "street1":
        "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state":
        "CA", "zip": "94107", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 1, "return_address":
        {"id": "adr_b6ca70bbfb7311ef9f6dac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-07T16:46:27+00:00", "updated_at": "2025-03-07T16:46:27+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_b6d6d8a7fb7311ef9f72ac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-07T16:46:27+00:00", "updated_at": "2025-03-07T16:46:27+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_3660b5de40c842cf95732770ca03c71e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf90167cb22e4e2aabd75000aece7
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
version: 1
