interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments?page_size=5
  response:
    body:
      string: '{"shipments": [{"id": "shp_6348a453cbd04b4189dc85524719e6b2", "created_at":
        "2025-03-07T16:46:14Z", "is_return": false, "messages": [], "mode": "test",
        "options": {"currency": "USD", "payment": {"type": "SENDER"}, "date_advance":
        0}, "reference": null, "status": "unknown", "tracking_code": "9400100208303109505640",
        "updated_at": "2025-03-07T16:46:15Z", "batch_id": "batch_0fc0517f6fb1426197560732520f8edd",
        "batch_status": "postage_purchased", "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_af10e4b4fb7311ef9acaac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-07T16:46:14+00:00", "updated_at": "2025-03-07T16:46:14+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_a9373fdd04bd4d83874c7e397ecddcb6",
        "object": "Parcel", "created_at": "2025-03-07T16:46:14Z", "updated_at": "2025-03-07T16:46:14Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_f54afe8913fb4046b55523838df4f97b",
        "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2025-03-07T16:46:15Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20250307/e8b170594430f64d768ceb157887c5c28e.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_f9da1c97861743bba5eaf3db89b10898", "object":
        "Rate", "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_f320606ea0bd45ef92a34f109234fc44",
        "object": "Rate", "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_b501d85dcc0743fdb0d8ab673107bf5d",
        "object": "Rate", "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_b501d85dcc0743fdb0d8ab673107bf5d", "object":
        "Rate", "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_4c1b66c0dad34060a7b4704100bdd88e",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100208303109505640",
        "status": "pre_transit", "status_detail": "status_update", "created_at": "2025-03-07T16:46:15Z",
        "updated_at": "2025-03-07T16:46:15Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2025-03-07T16:46:15Z", "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2025-02-07T16:46:15Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": "", "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2025-02-08T05:23:15Z", "source":
        "USPS", "carrier_code": "", "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "fees":
        [], "carrier_detail": {"object": "CarrierDetail", "service": "First-Class
        Package Service", "container_type": null, "est_delivery_date_local": null,
        "est_delivery_time_local": null, "origin_location": "HOUSTON TX, 77001", "origin_tracking_location":
        {"object": "TrackingLocation", "city": "HOUSTON", "state": "TX", "country":
        null, "zip": "77063"}, "destination_location": "CHARLESTON SC, 29401", "destination_tracking_location":
        null, "guaranteed_delivery_date": null, "alternate_identifier": null, "initial_delivery_attempt":
        null}, "public_url": "https://track.easypost.com/djE6dHJrXzRjMWI2NmMwZGFkMzQwNjBhN2I0NzA0MTAwYmRkODhl"},
        "to_address": {"id": "adr_af0b9199fb7311ef9ac8ac1f6bc539ae", "object": "Address",
        "created_at": "2025-03-07T16:46:14+00:00", "updated_at": "2025-03-07T16:46:15+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_af10e4b4fb7311ef9acaac1f6bc539ae",
        "object": "Address", "created_at": "2025-03-07T16:46:14+00:00", "updated_at":
        "2025-03-07T16:46:14+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_af0b9199fb7311ef9ac8ac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-07T16:46:14+00:00", "updated_at": "2025-03-07T16:46:15+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "6.07000", "charged": true,
        "refunded": false}], "object": "Shipment"}, {"id": "shp_b674aad341c24fe18611019a72ff6e84",
        "created_at": "2025-03-07T16:46:11Z", "is_return": false, "messages": [],
        "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100208303109505633", "updated_at": "2025[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments?before_id=shp_6b4d00550e884c07985eaeccfbdf4fc1&page_size=5
  response:
    body:
      string: '{"shipments": [{"id": "shp_34cd3af0099a4d5c815a44c1a408f095", "created_at":
        "2025-03-06T19:48:45Z", "is_return": false, "messages": [], "mode": "test",
        "options": {"currency": "USD", "payment": {"type": "SENDER"}, "date_advance":
        0}, "ref[...]
