interactions:
- request:
    body: '{"start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_da46ce4ada344c028892a5f0fafcb07e", "object": "ShipmentReport",
        "created_at": "2024-08-15T19:53:41Z", "updated_at": "2024-08-15T19:53:41Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5da66be5cc5e788620600174c20
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
version: 1
