interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-04-26T17:24:23Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2023-04-26T17:24:24Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_301dd00ae45711edb6c9ac1f6bc7b362", "object": "Address", "created_at":
        "2023-04-26T17:24:23+00:00", "updated_at": "2023-04-26T17:24:23+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_90578957d2ec4cb9970bde9a47848294",
        "object": "Parcel", "created_at": "2023-04-26T17:24:23Z", "updated_at": "2023-04-26T17:24:23Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_9ecc079d24f24ad491f4f3fe976c744b",
        "object": "Rate", "created_at": "2023-04-26T17:24:24Z", "updated_at": "2023-04-26T17:24:24Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_1afa9ef87b38400fb36f536c94103626", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_61603072e1e24bc9a65babb125691d01",
        "object": "Rate", "created_at": "2023-04-26T17:24:24Z", "updated_at": "2023-04-26T17:24:24Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.75",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypos[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_1afa9ef87b38400fb36f536c94103626/smartrate/delivery_date?planned_ship_date=2023-04-28
  response:
    body:
      string: '{"rates": [{"easypost_time_in_transit_data": {"days_in_transit": {"percentile_50":
        1, "percentile_75": 3, "percentile_85": 3, "percentile_90": 3, "percentile_95":
        3, "percentile_97": 3, "percentile_99": 5}, "easypost_estimated_delivery_date":
        "2023-04-29", "planned_ship_date": "2023-04-28"}, "rate": {"carrier": "USPS",
        "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at":
        "2023-04-26T17:24:24Z", "currency": "USD", "delivery_date": null, "delivery_date_guaranteed":
        false, "delivery_days": null, "est_delivery_days": null, "id": "rate_9ecc079d24f24ad491f4f3fe976c744b",
        "list_currency": "USD", "list_rate": 31.25, "mode": "test", "object": "Rate",
        "rate": 31.25, "retail_currency": "USD", "retail_rate": 35.8, "se[...]
