interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "company":
      "EasyPost", "street1": "388 Townsend St", "street2": "Apt 20", "city": "San
      Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address":
      {"name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
      "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "phone": "5555555555"}, "parcel": {"length": "10", "width": "8", "height": "4",
      "weight": "15.4"}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "creating", "num_shipments":
        1, "reference": null, "created_at": "2022-04-20T18:36:49Z", "updated_at":
        "2022-04-20T18:36:49Z", "scan_form": null, "shipments": [], "status": {"created":
        0, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased": 0,
        "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3672232bada7899048518f43a14e4b3e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d9626052c1e79969a000242d64
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_227af0d068c1477da441c93038fcbcc7/buy
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "created", "num_shipments":
        1, "reference": null, "created_at": "2022-04-20T18:36:49Z", "updated_at":
        "2022-04-20T18:36:49Z", "scan_form": null, "shipments": [{"batch_status":
        "queued_for_purchase", "batch_message": null, "reference": null, "tracking_code":
        null, "id": "shp_a42ae13348214c319204f1df82a8ddc5"}], "status": {"created":
        1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased": 0,
        "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e49b58ebf208330859a3826aaad55b8e"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 401d18d9626052c1e79969a000242d7e
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: '{"file_format": "ZPL"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_227af0d068c1477da441c93038fcbcc7/label
  response:
    body:
      string: '{"error": {"code": "BATCH.STATE.NOT_PURCHASED", "message": "One or
        more of the shipments is not purchased.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d9626052c1e79969a000242d8b
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
