interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "object": "User", "parent_id":
        null, "name": "EasyPost Python Client Library Tests", "phone_number": "REDACTED",
        "verified": true, "created_at": "2017-03-01T03:01:34Z", "balance": "0.00000",
        "price_per_shipment": "0.00000", "recharge_amount": null, "secondary_recharge_amount":
        null, "recharge_threshold": null, "has_billing_method": null, "cc_fee_rate":
        "0.03", "default_insurance_amount": null, "insurance_fee_rate": "0.01", "insurance_fee_minimum":
        "1.00", "email": "REDACTED", "children": ["REDACTED"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b0fa578474b6326fde45bf6b1b04aa68"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f56ecb30627acd33efb5894b00152c70
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - REDACTED
      x-client-user-agent:
      - REDACTED
    method: GET
    uri: https://api.easypost.com/v2/api_keys
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "keys": ["REDACTED"],
        "children": ["REDACTED"]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2b9399633f407caf870e23d3d332a48b"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f56ecb30627acd33efb5894b00152ca5
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205100008-b4df6b5700-master
    status:
      code: 200
      message: OK
version: 1
