interactions:
- request:
    body: null
    headers:
      authorization:
      - REDACTED
    method: GET
    uri: https://api.easypost.com/beta/partners/stripe_public_key
  response:
    body:
      string: '{"public_key": "pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 2f0f5535627bd956e7799c270010d364
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205110022-b4df6b5700-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
      authorization:
      - REDACTED
    method: POST
    uri: https://api.stripe.com/v1/tokens?card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028
  response:
    body:
      string: '{"id": "tok_0KyHg3DqT4huGUvdbbKscOtW", "object": "token", "card": {"id":
        "card_0KyHg2DqT4huGUvdqc5NHcAq", "object": "card", "address_city": null, "address_country":
        null, "address_line1": null, "address_line1_check": null, "address_line2":
        null, "address_state": null, "address_zip": null, "address_zip_check": null,
        "brand": "Visa", "country": "US", "cvc_check": "unchecked", "dynamic_last4":
        null, "exp_month": 5, "exp_year": 2028, "funding": "credit", "last4": "6170",
        "name": null, "tokenization_method": null}, "client_ip": "REDACTED", "created":
        1652283735, "livemode": true, "type": "card", "used": false}'
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - e403a56d-5385-4a1e-b58c-bbe0a943186a
      original-request:
      - req_ufSZy3mImyAuVd
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
- request:
    body: '{"credit_card": {"stripe_object_id": "tok_0KyHg3DqT4huGUvdbbKscOtW", "priority":
      "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - REDACTED

    method: POST
    uri: https://api.easypost.com/beta/credit_cards
  response:
    body:
      string: '{"id": "card_011e18f20c2f45cfb412c522c8012f5a", "disabled_at": null,
        "object": "CreditCard", "name": null, "last4": "6170", "exp_month": 5, "exp_year":
        2028, "brand": "Visa"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7065850a0b2e7cdd6dde864b7355cfc3"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 2f0f5535627bd957e7799c270010d3bb
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205110022-b4df6b5700-master
    status:
      code: 201
      message: Created
version: 1
