interactions:
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_eb400fa1cd2e4d8a8830068280c6e692", "object": "Parcel",
        "created_at": "2025-03-06T19:48:21Z", "updated_at": "2025-03-06T19:48:21Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_eb400fa1cd2e4d8a8830068280c6e692
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62567c9fc05e2b97b1400188f8b
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
version: 1
