interactions:
- request:
    body: '{"mode": "production"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/api_keys
  response:
    body:
      string: '{"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2026-02-02T21:31:26Z", "active": true, "id": "ak_e87ac0a105ea4760a5df59a757230365"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 2e56ccf3698117aee2bb247402d1e34b
      x-node:
      - bigweb57nuq
      x-proxied:
      - intlb4nuq d9379ca146
      - extlb2nuq cbbd141214
      x-version-label:
      - easypost-202602022023-e2aafa4ad5-master
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/api_keys/ak_e87ac0a105ea4760a5df59a757230365/disable
  response:
    body:
      string: '{"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2026-02-02T21:31:26Z", "active": false, "id": "ak_e87ac0a105ea4760a5df59a757230365"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 2e56cced698117aee2bb247502d1e3ae
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb4nuq d9379ca146
      - extlb2nuq cbbd141214
      x-version-label:
      - easypost-202602022023-e2aafa4ad5-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/api_keys/ak_e87ac0a105ea4760a5df59a757230365/enable
  response:
    body:
      string: '{"object": "ApiKey", "key": "<REDACTED>", "mode": "production", "created_at":
        "2026-02-02T21:31:26Z", "active": true, "id": "ak_e87ac0a105ea4760a5df59a757230365"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 2e56ccee698117afe2bb247602d1e40f
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb6nuq d9379ca146
      - extlb2nuq cbbd141214
      x-version-label:
      - easypost-202602022023-e2aafa4ad5-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/api_keys/ak_e87ac0a105ea4760a5df59a757230365
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 2e56ccf1698117afe2bb247702d1e476
      x-node:
      - bigweb42nuq
      x-proxied:
      - intlb4nuq d9379ca146
      - extlb2nuq cbbd141214
      x-version-label:
      - easypost-202602022023-e2aafa4ad5-master
    status:
      code: 204
      message: No Content
version: 1
