interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_609e5b8141864b9f877f8c4ef6e85685", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2025-03-06T19:48:59Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": [], "api_keys": [{"object":
        "ApiKey", "key": "<REDACTED>", "mode": "test", "created_at": "2025-03-06T19:48:59Z",
        "active": true, "id": "ak_11b4fc4f06ec42939c4996055b9f5565"}, {"object": "ApiKey",
        "key": "<REDACTED>", "mode": "production", "created_at": "2025-03-06T19:48:59Z",
        "active": true, "id": "ak_bb682f6cbcc545458268103db6bccc80"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62b67c9fc2ae2b97ef40018b8ee
      x-node:
      - bigweb59nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_609e5b8141864b9f877f8c4ef6e85685
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62b67c9fc2be2b97ef40018b977
      x-node:
      - bigweb55nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 204
      message: No Content
version: 1
