interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T19:00:34Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-08-15T19:00:35Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_8aeebf141ccc11ed8e01ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T19:00:34+00:00", "updated_at": "2022-08-15T19:00:34+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_764c56b75189464da4cba9ab4bc573cc", "object": "Parcel", "created_at":
        "2022-08-15T19:00:34Z", "updated_at": "2022-08-15T19:00:34Z", "length": 10.0,
        "width": 8.0, "height": 4.0, "predefined_package": null, "weight": 15.4, "mode":
        "test"}, "postage_label": null, "rates": [{"id": "rate_2280ecbfe34d443ca607da03c41272ac",
        "object": "Rate", "created_at": "2022-08-15T19:00:35Z", "updated_at": "2022-08-15T19:00:35Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.90",
        "currency": "USD", "retail_rate": "9.45", "retail_currency": "USD", "list_rate":
        "7.90", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_e0fac6d2a6b24bb2818dc8eec51f6ce8", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_a44429118808440291b9c0a4e96480d8",
        "object": "Rate", "created_at": "2022-08-15T19:00:35Z", "updated_at": "2022-08-15T19:00:35Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "de[...]
- request:
    body: '{"rate": {"id": "rate_a44429118808440291b9c0a4e96480d8"}, "carbon_offset":
      true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_e0fac6d2a6b24bb2818dc8eec51f6ce8/buy
  response:
    body:
      string: '{"created_at": "2022-08-15T19:00:34Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6[...]
