interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/referral_customers
  response:
    body:
      string: '{"error": {"code": "UNAUTHORIZED", "message": "Your account is not
        enabled to access the Partner White Label API. Contact EasyPost to request
        access.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 477e8d816462b3d4e2ba02d300391606
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - intlb1wdc a29e4ad05c
      - extlb3wdc 5ab12a3ed2
      x-version-label:
      - easypost-202305152107-770224374c-master
    status:
      code: 401
      message: Unauthorized
version: 1
