interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/partners/stripe_public_key
  response:
    body:
      string: '{"error": {"code": "MODE.UNAUTHORIZED", "message": "This resource requires
        a production API Key to access.", "errors": []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 23bee7e064639c8de786a73600200869
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305152249-750e1e7d95-master
    status:
      code: 403
      message: Forbidden
version: 1
