interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_cdba15145b3f11ef936dac1f6bc53342", "object": "Address",
        "created_at": "2024-08-15T19:51:46+00:00", "updated_at": "2024-08-15T19:51:46+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_cdba15145b3f11ef936dac1f6bc53342
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5db66be5c52e7885da70016d9cc
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses/adr_cdba15145b3f11ef936dac1f6bc53342
  response:
    body:
      string: '{"id": "adr_cdba15145b3f11ef936dac1f6bc53342", "object": "Address",
        "created_at": "2024-08-15T19:51:46+00:00", "updated_at": "2024-08-15T19:51:46+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5db66be5c52e7885da70016d9ec
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
version: 1
