interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?type=shipment&page_size=5
  response:
    body:
      string: '{"reports":[{"id":"shprep_2e556f9526df428fa48a5ddcd0b9b99e","object":"ShipmentReport","created_at":"2022-05-04T20:26:47Z","updated_at":"2022-05-04T20:26:48Z","start_date":"2022-05-04","end_date":"2022-05-04","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220504/471b7ece8eed4ddcb64f18edca66f6fb.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220504%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220504T202648Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=d59c956fb017b5c2c829ccb30091fbcfd32964cb9a62d98ec03a6e8ac65c868e","url_expires_at":"2022-05-04T20:27:18Z","include_children":false},{"id":"shprep_5c8e26a47fde44b1963bfd72ff416a0f","object":"ShipmentReport","created_at":"2022-05-04T20:26:47Z","updated_at":"2022-05-04T20:26:47Z","start_date":"2022-05-04","end_date":"2022-05-04","mode":"test","status":"available","url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220504/f21fa6d8a65344768b673e61e52d8694.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220504%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220504T202[...]
