interactions:
- request:
    body: '{"order": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "shipments": [{"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode": "test", "reference": null, "is_return": false, "options":
        {"currency": "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier":
        "UPS", "carrier_account_id": "ca_c4347a360097453ab0052ceea5da4de0", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_01bf10a4210e4ffca905c4ad907c3dd5", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "UPS", "carrier_account_id":
        "ca_2669c7f828e741b09f0e603c29c3386e", "type": "rate_error", "message": "Invalid
        Access License number"}, {"carrier": "UPS", "carrier_account_id": "ca_8459e2a0c986498eab181d96134eb06f",
        "type": "rate_error", "message": "Invalid Access Li[...]
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/orders/order_9e5109c5feae4bda893ba5aa989add87
  response:
    body:
      string: '{"mode": "test", "reference": null, "is_return": false, "options":
        {"currency": "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier":
        "UPS", "carrier_account_id": "ca_c4347a360097453ab0052ceea5da4de0", "type":
    [...]
