interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_81d5e0b785544a4ea8dc6e9bfd4229d1", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2022-08-15T18:52:44Z", "children":
        "<REDACTED>", "api_keys": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6a7b61ff964291a2a9fd9e7a07334e73"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af48062fa95fce79a7e20002637dc
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_81d5e0b785544a4ea8dc6e9bfd4229d1
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f43af48062fa95fde79a7e2000263827
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 204
      message: No Content
version: 1
