interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_96f5c85622a34e6fba1a24b70d7cac9b", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2023-05-16T17:00:55Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": [], "api_keys": [{"object":
        "ApiKey", "key": "<REDACTED>", "mode": "test", "created_at": "2023-05-16T17:00:55Z",
        "active": true, "id": "ak_e11f2cd9b9cd42e9ac388091d27404db"}, {"object": "ApiKey",
        "key": "<REDACTED>", "mode": "production", "created_at": "2023-05-16T17:00:55Z",
        "active": true, "id": "ak_d6beedb898af426880e2af148d3993fb"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"847204556f926562bba422da6cf722a2"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - de846e086463b6c7e7874081002d8b71
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161623-0a285b6b1b-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_96f5c85622a34e6fba1a24b70d7cac9b
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - de846e086463b6c8e7874081002d8bed
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161623-0a285b6b1b-master
    status:
      code: 204
      message: No Content
version: 1
