interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id":"ca_9767d10a8d0348d79d2d27156766acd2","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-05-04T20:25:36Z","updated_at":"2022-05-04T20:25:36Z","description":"UPS
        Account","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"188e1a044fcef3c378787e2d6475b098"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b76272e140e786b85d00161b9a
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: '{"carrier_account": {"description": "My custom description"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: PUT
    uri: https://api.easypost.com/v2/carrier_accounts/ca_9767d10a8d0348d79d2d27156766acd2
  response:
    body:
      string: '{"id":"ca_9767d10a8d0348d79d2d27156766acd2","object":"CarrierAccount","type":"UpsAccount","clone":false,"created_at":"2022-05-04T20:25:36Z","updated_at":"2022-05-04T20:25:36Z","description":"My
        custom description","reference":null,"readable":"UPS","logo":null,"fields":{"credentials":{"account_number":{"visibility":"readonly","label":"UPS
        Account Number","value":"A1A1A1"}}},"credentials":{"account_number":"A1A1A1"},"test_credentials":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"f827ea65c01c3d9d5961eec70590f1c0"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b76272e140e786b85d00161ba6
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_9767d10a8d0348d79d2d27156766acd2
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b76272e140e786b85d00161bcb
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
