interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?page_size=5
  response:
    body:
      string: '{"addresses": [{"id": "adr_78e6a91af0fb11ed8048ac1f6bc72124", "object":
        "Address", "created_at": "2023-05-12T19:30:37+00:00", "updated_at": "2023-05-12T19:30:37+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, {"id": "adr_7894a4b4f0fb11eda772ac1f6bc7b362", "object": "Address", "created_at":
        "2023-05-12T19:30:36+00:00", "updated_at": "2023-05-12T19:30:36+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, {"id": "adr_7857b92df0fb11eda67cac1f6bc7b362",
        "object": "Address", "created_at": "2023-05-12T19:30:36+00:00", "updated_at":
        "2023-05-12T19:30:36+00:00", "name": null, "company": "EASYPOST", "street1":
        "417 MONTGOMERY ST FL 5", "street2": null, "city": "SAN FRANCISCO", "state":
        "CA", "zip": "94104-1129", "country": "US", "phone": "<REDACTED>", "email":
        "<REDACTED>", "mode": "test", "carrier_facility": null, "residential": false,
        "federal_tax_id": null, "state_tax_id": null, "verifications": {"zip4": {"success":
        true, "errors": [{"code": "E.SECONDARY_INFORMATION.INVALID", "field": "street2",
        "message": "Invalid secondary information(Apt/Suite#)", "suggestion": null}],
        "details": null}, "delivery": {"success": true, "errors": [{"code": "E.SECONDARY_INFORMATION.INVALID",
        "field": "street2", "message": "Invalid secondary information(Apt/Suite#)",
        "suggestion": null}], "details": {"latitude": 37.79342, "longitude": -122.40288,
        "time_zone": "America/Los_Angeles"}}}}, {"id": "adr_7816dba5f0fb11eda574ac1f6bc7b362",
        "object": "Address", "created_at": "2023-05-12T19:30:36+00:00", "updated_at":
        "2023-05-12T19:30:[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?before_id=adr_77d9ed8af0fb11eda485ac1f6bc7b362&page_size=5
  response:
    body:
      string: '{"addresses": [{"id": "adr_779da35ef0fb11ed9ce1ac1f6bc7bdc6", "object":
        "Address", "created_at": "2023-05-12T19:30:35+00:00", "updated_at": "2023-05-12T19:30:35+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "stree[...]
