interactions:
- request:
    body: '{"customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23, "hs_tariff_number":
      "654321", "origin_country": "US"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/customs_infos
  response:
    body:
      string: '{"object": "CustomsInfo", "created_at": "2022-04-20T18:36:54Z", "updated_at":
        "2022-04-20T18:36:54Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_c1f1e101cd634cf59f7b3cb0545ab732", "object": "CustomsItem",
        "created_at": "2022-04-20T18:36:54Z", "updated_at": "2022-04-20T18:36:54Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.0", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"15845242beb33bc8f5e2e5e1feeb84f6"
      location:
      - /api/v2/customs_infos/cstinfo_ef134c2146674a248ee57350dc198819
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d6626052c6e79969bf00242f5c
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
version: 1
