interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_59e1ea2ee4ef420bb4560e4df6fc1057", "created_at": "2025-03-07T16:46:29Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2025-03-07T16:46:29Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_b7aacbcffb7311ef8022ac1f6bc53342", "object":
        "Address", "created_at": "2025-03-07T16:46:29+00:00", "updated_at": "2025-03-07T16:46:29+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_b81bb32a9edd4eceacf041baa39cbe6c",
        "object": "Parcel", "created_at": "2025-03-07T16:46:29Z", "updated_at": "2025-03-07T16:46:29Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_0cbe7fbf881b4614852dd2976333d88a",
        "object": "Rate", "created_at": "2025-03-07T16:46:29Z", "updated_at": "2025-03-07T16:46:29Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_59e1ea2ee4ef420bb4560e4df6fc1057", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_d11be14d3ff24a0b8140005f97a0702f",
        "object": "Rate", "created_at": "2025-03-07T16:46:29Z", "updated_at": "2025-03-07T16:46:29Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_59e1ea2ee4ef420bb4560e4df6fc1057", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_5d8ad0d375de4b06a14ed74e9d8c3fd6",
        "object": "Rate", "created_at": "2025-03-07T16:46:29Z", "updated_at": "2025-03-07T16:46:29Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_59e1ea2ee4ef420bb4560e4df6fc1057", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_b7a76fdafb7311ef9fe5ac1f6bc539ae",
        "object": "Address", "created_at": "2025-03-07T16:46:29+00:00", "updated_at":
        "2025-03-07T16:46:29+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_b7aacbcffb7311ef8022ac1f6bc53342", "object": "Address", "created_at":
        "2025-03-07T16:46:29+00:00", "updated_at": "2025-03-07T16:46:29+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_b7a76fdafb7311ef9fe5ac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-07T16:46:29+00:00", "updated_at": "2025-03-07T16:46:29+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_59e1ea2ee4ef420bb4560e4df6fc1057
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8ff67cb22e5e2aabd7a000aee8a
      x-node:
      - bigweb58nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_59e1ea2ee4ef420bb4560e4df6fc1057/smartrate
  response:
    body:
      string: '{"result": [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2025-03-07T16:46:29Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": 2, "est_delivery_days":
        2, "id": "rate_0cbe7fbf881b4614852dd2976333d88a", "list_currency": "USD",
        "list_rate": 8.34, "mode": "test", "object": "Rate", "rate": 7.42, "retail_currency":
        "USD", "retail_rate": 9.9, "service": "Priority", "shipment_id": "shp_59e1ea2ee4ef420bb4560e4df6fc1057",
        "time_in_transit": {"percentile_50": 2, "percentile_75": 2, "percentile_85":
        2, "percentile_90": 3, "percentile_95": 3, "percentile_97": 3, "percentile_99":
        4}, "updated_at": "2025-03-07T16:46:29Z"}, {"carrier": "USPS", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at": "2025-03-07T16:46:29Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": 3, "est_delivery_days": 3, "id": "rate_d11be14d3ff24a0b8140005f97a0702f",
        "list_currency": "USD", "list_rate": 6.57, "mode": "test", "object": "Rate",
        "rate": 6.07, "retail_currency": "USD", "ret[...]
