interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_accounts?page_size=5
  response:
    body:
      string: '[{"id": "ca_b25657e9896e4d63ac8151ac346ac41e", "object": "CarrierAccount",
        "type": "UspsAccount", "clone": false, "created_at": "2017-03-01T03:01:34Z",
        "updated_at": "2018-08-09T02:45:22Z", "description": "USPS Account", "reference":
        null, "billing_type": "easypost", "readable": "USPS", "logo": null, "fields":
        [], "credentials": {}, "test_credentials": {}}]'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62867c9fbe9e2b9777c0018702a
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
