interactions:
- request:
    body: '{"type": "shipment", "start_date": "2022-05-04", "end_date": "2022-05-04"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id":"shprep_2e556f9526df428fa48a5ddcd0b9b99e","object":"ShipmentReport","created_at":"2022-05-04T20:26:47Z","updated_at":"2022-05-04T20:26:47Z","start_date":"2022-05-04","end_date":"2022-05-04","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0fd9f605e349cff61189fce4b3514b20"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 78245fba6272e187e786bc3d0013b6c1
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/reports/shprep_2e556f9526df428fa48a5ddcd0b9b99e
  response:
    body:
      string: '{"id":"shprep_2e556f9526df428fa48a5ddcd0b9b99e","object":"ShipmentReport","created_at":"2022-05-04T20:26:47Z","updated_at":"2022-05-04T20:26:47Z","start_date":"2022-05-04","end_date":"2022-05-04","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0fd9f605e349cff61189fce4b3514b20"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 78245fba6272e187e786bc3d0013b6c7
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
