interactions:
- request:
    body: '{"customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_infos
  response:
    body:
      string: '{"id": "cstinfo_b116875618ab4d9ea9831fd47378af88", "object": "CustomsInfo",
        "created_at": "2024-08-15T19:52:39Z", "updated_at": "2024-08-15T19:52:39Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI 30.37(a)", "non_delivery_option":
        "return", "restriction_comments": null, "restriction_type": "none", "mode":
        "test", "declaration": null, "customs_items": [{"id": "cstitem_00ee149af2b94c43a517e874b5eb21b3",
        "object": "CustomsItem", "created_at": "2024-08-15T19:52:39Z", "updated_at":
        "2024-08-15T19:52:39Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.25", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/customs_infos/cstinfo_b116875618ab4d9ea9831fd47378af88
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5db66be5c87e788613d00170f16
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_b116875618ab4d9ea9831fd47378af88
  response:
    body:
      string: '{"id": "cstinfo_b116875618ab4d9ea9831fd47378af88", "object": "CustomsInfo",
        "created_at": "2024-08-15T19:52:39Z", "updated_at": "2024-08-15T19:52:39Z",
        "contents_explanation": "", "contents_type": "merchandise", "customs_certify":
        true, "customs_signer[...]
