interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?page_size=5
  response:
    body:
      string: '{"reports": [{"id": "shprep_2d2aa29b059e4f908df1470a6508d20a", "object":
        "ShipmentReport", "created_at": "2023-05-16T15:28:53Z", "updated_at": "2023-05-16T15:28:54Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "available", "url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20230516/fdef14e058074a9fbd5b7a7d972c3db9.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20230516%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20230516T153155Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=fab52456b5638b2f0713ce6a3ad92aef2f8e2be744757af477af6ff3a88e1803",
        "url_expires_at": "2023-05-16T15:32:25Z", "include_children": false}, {"id":
        "shprep_1ad45dc68aa744f5ad61bfe46d8ee49e", "object": "ShipmentReport", "created_at":
        "2023-05-16T15:28:53Z", "updated_at": "2023-05-16T15:28:53Z", "start_date":
        "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status": "available",
        "url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20230516/f16b25ac5f0342208aa15bd94093dc8e.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQQSFK3MJI%2F20230516%2Fus[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?before_id=shprep_5fa6db008b294b62a87fe844445ce284&page_size=5
  response:
    body:
      string: '{"reports": [{"id": "shprep_c4263da0100a4175a929448ce1aba86d", "object":
        "ShipmentReport", "created_at": "2023-02-01T23:02:04Z", "updated_at": "2023-02-01T23:02:18Z",
        "start_date": "2022-10-01", "end_date": "2022-10-01", "mode": "test",[...]
