interactions:
- request:
    body: '{"customs_item": {"description": "Sweet shirts", "quantity": 2, "weight":
      11, "value": 23.25, "hs_tariff_number": "654321", "origin_country": "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"id": "cstitem_83e1f516d16247439530709b03a2ae38", "object": "CustomsItem",
        "created_at": "2022-08-15T18:51:41Z", "updated_at": "2022-08-15T18:51:41Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7742cdaffbc569e7d773afb292202d62"
      location:
      - /api/v2/customs_items/cstitem_83e1f516d16247439530709b03a2ae38
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47f62fa95bde79a79be002620fc
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_items/cstitem_83e1f516d16247439530709b03a2ae38
  response:
    body:
      string: '{"id": "cstitem_83e1f516d16247439530709b03a2ae38", "object": "CustomsItem",
        "created_at": "2022-08-15T18:51:41Z", "updated_at": "2022-08-15T18:51:41Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7742cdaffbc569e7d773afb292202d62"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47f62fa95bde79a79be00262108
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
