interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses/create_and_verify
  response:
    body:
      string: '{"address": {"id": "adr_8c05b1ae39c211ed9ca9ac1f6bc7b362", "object":
        "Address", "created_at": "2022-09-21T15:32:05+00:00", "updated_at": "2022-09-21T15:32:05+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": "TEST@EXAMPLE.COM", "mode":
        "test", "carrier_facility": null, "residential": true, "federal_tax_id": null,
        "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7f0d5c8a42581111be5efda828ec08f2"
      location:
      - /api/v2/addresses/adr_8c05b1ae39c211ed9ca9ac1f6bc7b362
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8aed2204632b2e75e2b861f10012077a
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb1nuq 29913d444b
      x-version-label:
      - easypost-202209210008-610ad55e3f-master
    status:
      code: 200
      message: OK
version: 1
