interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users/children?page_size=5
  response:
    body:
      string: '{"children": [{"id": "user_484dd58db70a4f31b4bb862998cf0e04", "object":
        "User", "parent_id": "user_0f6b83e3530b401cb1e8aeaa6a250d4d", "name": "Test
        User", "phone_number": "<REDACTED>", "verified": true, "created_at": "2023-05-16T22:01:20Z"},
        {"id": "user_14e894c0d541459395f4456e7cf4f175", "object": "User", "parent_id":
        "user_0f6b83e3530b401cb1e8aeaa6a250d4d", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2023-09-27T22:05:26Z"}, {"id":
        "user_f04df3dad13848339a7975d295d6629f", "object": "User", "parent_id": "user_0f6b83e3530b401cb1e8aeaa6a250d4d",
        "name": "Test User", "phone_number": "<REDACTED>", "verified": true, "created_at":
        "2023-11-30T19:23:22Z"}, {"id": "user_44d216445b2f4595a123a18084000d94", "object":
        "User", "parent_id": "user_0f6b83e3530b401cb1e8aeaa6a250d4d", "name": "Test
        User", "phone_number": "<REDACTED>", "verified": true, "created_at": "2024-07-26T18:36:54Z"},
        {"id": "user_f3b7021a2d924bedb080d7caa00d753e", "object": "User", "parent_id":
        "user_0f6b83e3530b401cb1e8aeaa6a250d4d", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2024-07-26T18:41:48Z"}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 0af7a3d566abfc23e787564900271db7
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq fa152d4755
      x-version-label:
      - easypost-202408012013-135f8f9b76-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users/children?after_id=user_f3b7021a2d924bedb080d7caa00d753e&page_size=5
  response:
    body:
      string: '{"children": [{"id": "user_327a26c77be24e24b165450e7c0de3b9", "object":
        "User", "parent_id": "user_0f6b83e3530b401cb1e8aeaa6a250d4d", "name": "Test
        User", "phone_number": "<REDACTED>", "verified": true, "created_at": "2024-07-26T19:08:21Z"},[...]
