interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_ac05e2551db340168b5d6ecc5cd42555", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2023-05-16T17:00:53Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": [], "api_keys": [{"object":
        "ApiKey", "key": "<REDACTED>", "mode": "test", "created_at": "2023-05-16T17:00:53Z",
        "active": true, "id": "ak_e7be6b181c294e03a565b11a63e5c3ff"}, {"object": "ApiKey",
        "key": "<REDACTED>", "mode": "production", "created_at": "2023-05-16T17:00:53Z",
        "active": true, "id": "ak_374b72e593704d20b2935ecb209cca4e"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"1111a1c2566ee91693d65041b3e68349"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - de846e086463b6c4e787407c002d8a1e
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161623-0a285b6b1b-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_ac05e2551db340168b5d6ecc5cd42555
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - de846e086463b6c5e787407c002d8aa0
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161623-0a285b6b1b-master
    status:
      code: 204
      message: No Content
version: 1
