interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "company":
      "EasyPost", "street1": "388 Townsend St", "street2": "Apt 20", "city": "San
      Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address":
      {"name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
      "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "phone": "5555555555"}, "parcel": {"length": "10", "width": "8", "height": "4",
      "weight": "15.4"}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "creating", "num_shipments":
        1, "reference": null, "created_at": "2022-04-20T18:36:46Z", "updated_at":
        "2022-04-20T18:36:46Z", "scan_form": null, "shipments": [], "status": {"created":
        0, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased": 0,
        "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"fd0a7d32db7cab940dc85e917ab8705b"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 401d18db626052bee799699d00242c49
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_b681c8ce4c4646d7ac648547fc934bd7/buy
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "created", "num_shipments":
        1, "reference": null, "created_at": "2022-04-20T18:36:46Z", "updated_at":
        "2022-04-20T18:36:46Z", "scan_form": null, "shipments": [{"batch_status":
        "queued_for_purchase", "batch_message": null, "reference": null, "tracking_code":
        null, "id": "shp_760bbdc4d37c445a98a748a0ee4eb824"}], "status": {"created":
        1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased": 0,
        "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e6369416bd114e0b1d144d3942b25327"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18db626052bee799699d00242c6d
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_b681c8ce4c4646d7ac648547fc934bd7/scan_form
  response:
    body:
      string: '{"error": {"code": "SCAN_FORM.BATCH.NOT_PURCHASED", "message": "All
        shipments on the Batch must be purchased before generating a ScanForm.", "errors":
        []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18db626052bfe799699d00242c7c
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
