interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_52052a31d26445e39e298b175d00f70a", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2025-03-06T19:49:01Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": [], "api_keys": [{"object":
        "ApiKey", "key": "<REDACTED>", "mode": "test", "created_at": "2025-03-06T19:49:01Z",
        "active": true, "id": "ak_4572bd6453034cfd9308739d57fd59b5"}, {"object": "ApiKey",
        "key": "<REDACTED>", "mode": "production", "created_at": "2025-03-06T19:49:01Z",
        "active": true, "id": "ak_4ccbc18c84cc4b0692ef0bf99361f93d"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fc2ce2b97f100018baf3
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_52052a31d26445e39e298b175d00f70a
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62967c9fc2de2b97f100018bb54
      x-node:
      - bigweb57nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 204
      message: No Content
version: 1
