interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/beta/metadata?carriers=usps&types=service_levels%2Cpredefined_packages
  response:
    body:
      string: '{"carriers": [{"human_readable": "USPS", "name": "usps", "predefined_packages":
        [{"carrier": "usps", "description": null, "dimensions": [], "human_readable":
        null, "max_weight": null, "name": "Card"}, {"carrier": "usps", "description":
        null, "dimensions": [], "human_readable": null, "max_weight": null, "name":
        "Letter"}, {"carrier": "usps", "description": null, "dimensions": [], "human_readable":
        null, "max_weight": null, "name": "Flat"}, {"carrier": "usps", "description":
        null, "dimensions": [], "human_readable": null, "max_weight": null, "name":
        "FlatRateEnvelope"}, {"carrier": "usps", "description": null, "dimensions":
       [...]
