interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:51:54Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361133189366", "updated_at": "2022-08-15T18:51:55Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_549f3acf1ccb11ed8002ac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T18:51:54+00:00", "updated_at": "2022-08-15T18:51:54+00:00", "name":
        "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "5555555555", "email": "test@example.com", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_92a6698fc42146e48cd7518bb84263ff",
        "object": "Parcel", "created_at": "2022-08-15T18:51:54Z", "updated_at": "2022-08-15T18:51:54Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_e4e87f6f345c4875b8da91b306831169",
        "created_at": "2022-08-15T18:51:54Z", "updated_at": "2022-08-15T18:51:54Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-08-15T18:51:54Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220815/4b64999641f74145bc0422a2df154c0b.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_d1d60acce0554862826e39632923cc98", "object":
        "Rate", "created_at": "2022-08-15T18:51:54Z", "updated_at": "2022-08-15T18:51:54Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 3, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 3, "shipment_id":
        "shp_804dab0382cc4bb18768030d9ff70400", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_88a2923fe852438fb023be2bd7e274d9", "object": "Rate", "created_at":
        "2022-08-15T18:51:54Z", "updated_at": "2022-08-15T18:51:54Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "29.50", "currency": "USD",
        "retail_rate": "33.55", "retail_currency": "USD", "list_rate": "29.50", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": null, "delivery_date":
        null, "deliv[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2022-08-17", "max_datetime": "2022-08-17", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_804dab0382cc4bb18768030d9ff70400"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_098e5fbd48824252b362054978623fd3", "object": "Pickup",
        "created_at": "2022-08-15T18:51:55Z", "updated_at": "2022-08-15T18:51:55Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2022-08-17T00:00:00Z",
        "max_datetime": "2022-08-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_556571c21ccb11eda055ac1f6bc7bdc6", "object": "Address", "created_at":
        "2022-08-15T18:51:55+00:00", "updated_at": "2022-08-15T18:51:55+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "carrier_accounts": [], "pickup_rates": [{"mode":
        "test", "service": "NextDay", "rate": "0.00", "currency": "USD", "created_at":
        "2022-08-15T18:51:56Z", "updated_at": "2022-08-15T18:51:56Z", "carrier": "USPS",
        "pickup_id": "pickup_098e5fbd48824252b362054978623fd3", "id": "pickuprate_27f43daba7f144d48254434a076c2101",
        "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"a7ddd24d04958a12ea99becd5c4e230d"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47d62fa95cbe79a7a40002625b6
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
