interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/beta/partners/stripe_public_key
  response:
    body:
      string: '{"public_key": "pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 042f43df62fa9806e79afec900253325
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.stripe.com/v1/tokens?card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028
  response:
    body:
      string: '{"id": "tok_0LX8XSDqT4huGUvdbMClgjJq", "object": "token", "card": {"id":
        "card_0LX8XSDqT4huGUvdubEO7rXf", "object": "card", "address_city": null, "address_country":
        null, "address_line1": null, "address_line1_check": null, "address_line2":
        null, "address_state": null, "address_zip": null, "address_zip_check": null,
        "brand": "Visa", "country": "US", "cvc_check": "unchecked", "dynamic_last4":
        null, "exp_month": 5, "exp_year": 2028, "funding": "credit", "last4": "6170",
        "name": null, "tokenization_method": null}, "client_ip": "<REDACTED>", "created":
        1660590086, "livemode": true, "type": "card", "used": false}'
    headers:
      Content-Type:
      - application/json
      idempotency-key:
      - 05c77ca4-37fa-4479-a71d-6a0dbc8609d3
      original-request:
      - req_SpW4MxfPjQhzdj
      stripe-should-retry:
      - 'false'
      stripe-version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
- request:
    body: '{"credit_card": {"stripe_object_id": "tok_0LX8XSDqT4huGUvdbMClgjJq", "priority":
      "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/credit_cards
  response:
    body:
      string: '{"id": "card_31e7e32b36154309850dc57b63dd4ad7", "disabled_at": null,
        "object": "CreditCard", "name": null, "last4": "6170", "exp_month": 5, "exp_year":
        2028, "brand": "Visa"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5d93f8393833ade4f2943d3d1c4002e3"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 042f43df62fa9807e79afec90025337e
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
