interactions:
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/scan_forms?page_size=5
  response:
    body:
      string: '{"scan_forms": [{"id": "sf_a97898d414994e34b55699cabe0c603c", "object":
        "ScanForm", "created_at": "2022-04-20T18:37:34Z", "updated_at": "2022-04-20T18:37:34Z",
        "tracking_codes": ["9400100109361115909005"], "address": {"id": "adr_f0e382e0c0d811ecbe07ac1f6bc7b362",
        "object": "Address", "created_at": "2022-04-20T18:37:32+00:00", "updated_at":
        "2022-04-20T18:37:32+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
        "state": "CA", "zip": "94107", "country": "US", "phone": "5555555555", "email":
        null, "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20220420/15566cbc0a244e748955fc8cdf774c88.pdf",
        "form_file_type": null, "batch_id": "batch_a66627fb641e4708afefd5d7732940f6",
        "confirmation": null}, {"id": "sf_71c19a0dc51e4e11bc6d82a632fac160", "object":
        "ScanForm", "created_at": "2022-04-20T18:37:32Z", "updated_at": "2022-04-20T18:37:32Z",
        "tracking_codes": ["9400100109361115908992"], "address": {"id": "adr_efea30fac0d811ec9c27ac1f6bc72124",
        "object": "Address", "created_at": "2022-04-20T18:37:31+00:00", "updated_at":
        "2022-04-20T18:37:31+00:00", "name": "Jack Sparrow", "company": "EasyPost",
        "street1": "388 Townsend St", "street2": "Apt 20",[...]
