interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances?page_size=5
  response:
    body:
      string: '{"insurances": [{"id": "ins_f807acb74162440babf489b51f5b843f", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_4f5a57b21ccb11ed8197ac1f6bc7b362", "object": "Address", "created_at":
        "2022-08-15T18:51:45+00:00", "updated_at": "2022-08-15T18:51:45+00:00", "name":
        "ELIZABETH SWAN", "company": null, "street1": "179 N HARBOR DR", "street2":
        null, "city": "REDONDO BEACH", "state": "CA", "zip": "90277-2506", "country":
        "US", "phone": "5555555555", "email": "TEST@EXAMPLE.COM", "mode": "test",
        "carrier_facility": null, "residential": false, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "from_address": {"id": "adr_4f5e338f1ccb11ed9ee4ac1f6bc7bdc6", "object": "Address",
        "created_at": "2022-08-15T18:51:45+00:00", "updated_at": "2022-08-15T18:51:45+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "5555555555", "email": "TEST@EXAMPLE.COM", "mode":
        "test", "carrier_facility": null, "residential": true, "federal_tax_id": null,
        "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "shipment_id": null, "tracker": {"id": "trk_e67b5fb89a694f04b6a36ab5960a77f4",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100109361133189311",
        "status": "pre_transit", "status_detail": "status_update", "created_at": "2022-08-15T18:51:45Z",
        "updated_at": "2022-08-15T18:51:45Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2022-08-15T18:51:45Z", "shipment_id": "shp_5a5b290bc08d47808893d9c8f3e504f7",
        "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail", "message":
        "Pre-Shipment Info Sent to USPS", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-07-15T18:51:45Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": null, "state": null, "country": null, "zip": null}}, {"object": "TrackingDetail",
        "message": "Shipping Label Created", "description": null, "status": "pre_transit",
        "status_detail": "status_update", "datetime": "2022-07-16T07:28:45Z", "source":
        "USPS", "carrier_code": null, "tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail":
        {"object": "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrX2U2N2I1ZmI4OWE2OTRmMDRiNmEzNmFiNTk2MGE3N2Y0",
        "fees": []}, "tracking_code": "9400100109361133189311", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2022-08-15T18:51:45Z", "updated_at":
        "2022-08-15T18:51:45Z"}, {"id": "ins_d6d18a4806fd4389a534cfa77c0dd315", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_4e7cc9ba1ccb11edbd6eac1f6b0a0d1e", "object": "Address", "created_at":
        "2022-08-15T18:51:43+00:00", "updated_at": "2022-08-15T18:51:43+00:00", "name":
        [...]
