interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at":"2022-05-04T20:25:50Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":"9400100109361117768792","updated_at":"2022-05-04T20:25:51Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_63d16cc7cbe811ec8900ac1f6bc7b362","object":"Address","created_at":"2022-05-04T20:25:50+00:00","updated_at":"2022-05-04T20:25:50+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":null,"parcel":{"id":"prcl_41f1b211669947ccbd8809df07d9ffa8","object":"Parcel","created_at":"2022-05-04T20:25:50Z","updated_at":"2022-05-04T20:25:50Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":{"object":"PostageLabel","id":"pl_3a5aa93557424ace8170e6918ad0d70b","created_at":"2022-05-04T20:25:51Z","updated_at":"2022-05-04T20:25:51Z","date_advance":0,"integrated_form":"none","label_date":"2022-05-04T20:25:51Z","label_resolution":300,"label_size":"4x6","label_type":"default","label_file_type":"image/png","label_url":"https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220504/5fbe2ff7e200494da89376e1e6e761ef.png","label_pdf_url":null,"label_zpl_url":null,"label_epl2_url":null,"label_file":null},"rates":[{"id":"rate_30098f8f57dd4524b53d36b60ea126e2","object":"Rate","created_at":"2022-05-04T20:25:51Z","updated_at":"2022-05-04T20:25:51Z","mode":"test","service":"Express","carrier":"USPS","rate":"23.75","currency":"USD","retail_rate":"27.40","retail_currency":"USD","list_rate":"23.75","list_currency":"USD","delivery_days":null,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":null,"shipment_id":"shp_9495b7343a544c738f5abeb593c570e2","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_126d502f7cc642b1bc6c7e6063c3eb41","object":"Rate","created_at":"2022-05-04T20:25:51Z","updated_at":"2022-05-04T20:25:51Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_9495b7343a544c738f5abeb593c570e2","carrie[...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-05-06",
      "max_datetime": "2022-05-06", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_9495b7343a544c738f5abeb593c570e2"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id":"pickup_12265694f7474f6fa46f982b9471910a","object":"Pickup","created_at":"2022-05-04T20:25:51Z","updated_at":"2022-05-04T20:25:51Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-06T00:00:00Z","max_datetime":"2022-05-06T00:00:00Z","is_account_address":false,"instructions":"Pickup
        at front door","messages":[],"confirmation":null,"address":{"id":"adr_6461f574cbe811eca151ac1f6bc72124","object":"Address","created_at":"2022-05-04T20:25:51+00:00","updated_at":"2022-05-04T20:25:51+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"carrier_accounts":[],"pickup_rates":[{"mode":"test","service":"NextDay","rate":"0.00","currency":"USD","created_at":"2022-05-04T20:25:52Z","updated_at":"2022-05-04T20:25:52Z","carrier":"USPS","pickup_id":"pickup_12265694f7474f6fa46f982b9471910a","id":"pickuprate_4d9e022aa49e4fa785d111e8b41d7446","object":"PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2f473c7f9d8ffee26647f9fe3870030c"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bd6272e14fe786b8a000162213
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups/pickup_12265694f7474f6fa46f982b9471910a
  response:
    body:
      string: '{"id":"pickup_12265694f7474f6fa46f982b9471910a","object":"Pickup","created_at":"2022-05-04T20:25:51Z","updated_at":"2022-05-04T20:25:51Z","mode":"test","status":"unknown","reference":null,"min_datetime":"2022-05-06T00:00:00Z","max_datetime":"2022-05-06T00:00:00Z","is_account_address[...]
