interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events?page_size=5
  response:
    body:
      string: '{"events": [{"description": "tracker.updated", "id": "evt_10273e48f0fd11ed84793ba5a8eedd27",
        "user_id": "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2023-05-12T19:42:00.675Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.updated", "id": "evt_09ce2606f0fd11edbdad75c323776192", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2023-05-12T19:41:50.025Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.updated", "id": "evt_ec52b330f0fc11ed8fb25952d8250621", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2023-05-12T19:41:00.562Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.updated", "id": "evt_e5fa84d6f0fc11ed8a553172f33bdada", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2023-05-12T19:40:49.917Z", "mode": "test", "object": "Event"}, {"description":
        "tracker.updated", "id": "evt_c87dfcdaf0fc11ed853c153e3118e97d", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2023-05-12T19:40:00.447Z", "mode": "test", "object": "Event"}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"61a0f7c32156b73ff33fabdb5284da68"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3f02a2cf64626ba0e7874083002057b8
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305151637-e5ce91ee24-master
    status:
      code: 200
      message: OK
version: 1
