interactions:
- request:
    body: '{"carrier_account": {"type": "DhlEcsAccount", "credentials": {"client_id":
      "123456", "client_secret": "123abc", "distribution_center": "USLAX1", "pickup_id":
      "123456"}, "test_credentials": {"client_id": "123456", "client_secret": "123abc",
      "distribution_center": "USLAX1", "pickup_id": "123456"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_2db7b102d7384c6580f7c1a33cc6ab09", "object": "CarrierAccount",
        "type": "DhlEcsAccount", "clone": false, "created_at": "2025-03-06T19:47:54Z",
        "updated_at": "2025-03-06T19:47:54Z", "description": "DHL eCommerce Account",
        "reference": null, "billing_type": "carrier", "readable": "DHL eCommerce",
        "logo": null, "fields": [], "credentials": {}, "test_credentials": {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62767c9fbeae2b97a8c0018710a
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_2db7b102d7384c6580f7c1a33cc6ab09
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62767c9fbeae2b97a8c00187148
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
