interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_6348a453cbd04b4189dc85524719e6b2", "created_at": "2025-03-07T16:46:14Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": "9400100208303109505640", "updated_at":
        "2025-03-07T16:46:15Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": null, "from_address": {"id": "adr_af10e4b4fb7311ef9acaac1f6bc539ae",
        "object": "Address", "created_at": "2025-03-07T16:46:14+00:00", "updated_at":
        "2025-03-07T16:46:14+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        null, "parcel": {"id": "prcl_a9373fdd04bd4d83874c7e397ecddcb6", "object":
        "Parcel", "created_at": "2025-03-07T16:46:14Z", "updated_at": "2025-03-07T16:46:14Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_f54afe8913fb4046b55523838df4f97b",
        "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2025-03-07T16:46:15Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20250307/e8b170594430f64d768ceb157887c5c28e.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_f9da1c97861743bba5eaf3db89b10898", "object":
        "Rate", "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_f320606ea0bd45ef92a34f109234fc44",
        "object": "Rate", "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_b501d85dcc0743fdb0d8ab673107bf5d",
        "object": "Rate", "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_b501d85dcc0743fdb0d8ab673107bf5d", "object":
        "Rate", "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_4c1b66c0dad34060a7b4704100bdd88e",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100208303109505640",
        "status": "unknown", "status_detail": "unknown", "created_at": "2025-03-07T16:46:15Z",
        "updated_at": "2025-03-07T16:46:15Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_6348a453cbd04b4189dc85524719e6b2", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrXzRjMWI2NmMwZGFkMzQwNjBhN2I0NzA0MTAwYmRkODhl"},
        "to_address": {"id": "adr_af0b9199fb7311ef9ac8ac1f6bc539ae", "object": "Address",
        "created_at": "2025-03-07T16:46:14+00:00", "updated_at": "2025-03-07T16:46:15+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_af10e4b4fb7311ef9acaac1f6bc539ae",
        "object": "Address", "created_at": "2025-03-07T16:46:14+00:00", "updated_at":
        "2025-03-07T16:46:14+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_af0b9199fb7311ef9ac8ac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-07T16:46:14+00:00", "updated_at": "2025-03-07T16:46:15+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "6.07000", "charged": true,
        "refunded": false}], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_6348a453cbd04b4189dc85524719e6b2
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8fb67cb22d6e2aaba1d000ad900
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2025-03-08", "max_datetime": "2025-03-08", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_6348a453cbd04b4189dc85524719e6b2"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_9fec2553c91849b18dd35a155e46261a", "object": "Pickup",
        "created_at": "2025-03-07T16:46:15Z", "updated_at": "2025-03-07T16:46:15Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2025-03-08T00:00:00Z",
        "max_datetime": "2025-03-08T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_afabb759fb7311ef9b2cac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-07T16:46:15+00:00", "updated_at": "2025-03-07T16:46:15+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2025-03-07T16:46:16Z",
        "updated_at": "2025-03-07T16:46:16Z", "carrier": "USPS", "pickup_id": "pickup_9fec2553c91849b18dd35a155e46261a",
        "id": "pickuprate_539f07c1ef384c359a386a44c0b5514e", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8fb67cb22d7e2aaba1d000ada30
      x-node:
      - bigweb54nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 200
      message: OK
version: 1
