interactions:
- request:
    body: '{"parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id":"prcl_35d1e841750348679b9970c4123d6935","object":"Parcel","created_at":"2022-05-04T20:25:48Z","updated_at":"2022-05-04T20:25:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"06105e1638fc6047757fb19d7e0b8209"
      location:
      - /api/v2/parcels.prcl_35d1e841750348679b9970c4123d6935
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bc6272e14ce786b89e001620a7
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/parcels/prcl_35d1e841750348679b9970c4123d6935
  response:
    body:
      string: '{"id":"prcl_35d1e841750348679b9970c4123d6935","object":"Parcel","created_at":"2022-05-04T20:25:48Z","updated_at":"2022-05-04T20:25:48Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"06105e1638fc6047757fb19d7e0b8209"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330bc6272e14ce786b89e001620b3
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
