interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}},
      "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T20:27:07Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-07-28T20:27:07Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_a6c06f4a0eb311ed88c6ac1f6bc7b362", "object": "Address", "created_at":
        "2022-07-28T20:27:07+00:00", "updated_at": "2022-07-28T20:27:07+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_844752fd3d2c4a8ca62d24a6c1b3bddf",
        "object": "Parcel", "created_at": "2022-07-28T20:27:07Z", "updated_at": "2022-07-28T20:27:07Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_6348100939da4b9cabbe18532fa4d6e4",
        "object": "Rate", "created_at": "2022-07-28T20:27:07Z", "updated_at": "2022-07-28T20:27:07Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_d048d20d5490480184a3c776a26d1010", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_d860fe82abb0436cb840b00f1d3bdadc",
        "object": "Rate", "created_at": "2022-07-28T20:27:07Z", "updated_at": "2022-07-28T20:27:07Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22",
        "currency": "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate":
        "7.22", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delive[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_d048d20d5490480184a3c776a26d1010/smartrate
  response:
    body:
      string: '{"result": [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2022-07-28T20:27:07Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": 1, "est_delivery_days":
        1, "id": "rate_6348100939da4b9cabbe18532fa4d6e4", "list_currency": "USD",
        "list_rate": 7.37, "mode": "test", "object": "Rate", "rate": 7.37, "retail_currency":
        "USD", "retail_rate": 8.7, "service": "Priority", "shipment_id": "shp_d048d20d5490480184a3c776a26d1010",
        "time_in_transit": {"percentile_50": 1, "percentile_75": 1, "percentile_85":
        2, "percentile_90": 2, "percentile_95": 2, "percentile_97": 3, "percentile_99":
        6}, "updated_at": "2022-07-28T20:27:07Z"}, {"carrier": "USPS", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at": "2022-07-28T20:27:07Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": 2, "est_delivery_days": 2, "id": "rate_d860fe82abb0436cb840b00f1d3bdadc",
        "list_currency": "USD", "list_rate": 7.22, "mode": "test", "object": "Rate",
        "rate": 7.22, "retail_currency": "USD", "ret[...]
