interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/partners/stripe_public_key
  response:
    body:
      string: '{"public_key": "pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d866be5cbee78861e70017461d
      x-node:
      - bigweb38nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.stripe.com/v1/tokens?card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028
  response:
    body:
      string: '{"id": "tok_0Po9jmDqT4huGUvdGwBgHnel", "object": "token", "card": {"id":
        "card_0Po9jmDqT4huGUvdbeP84aAV", "object": "card", "address_city": null, "address_country":
        null, "address_line1": null, "address_line1_check": null, "address_line2":
        null, "address_state": null, "address_zip": null, "address_zip_check": null,
        "brand": "Visa", "country": "US", "cvc_check": "unchecked", "dynamic_last4":
        null, "exp_month": 5, "exp_year": 2028, "funding": "credit", "last4": "6170",
        "name": null, "networks": {"preferred": null}, "tokenization_method": null,
        "wallet": null}, "client_ip": "<REDACTED>", "created": 1723751614, "livemode":
        true, "type": "card", "used": false}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 4c2cef93-cd04-4374-8775-fc3ac2189515
      Original-Request:
      - req_sONoccjCYMJSVm
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
- request:
    body: '{"credit_card": {"stripe_object_id": "tok_0Po9jmDqT4huGUvdGwBgHnel", "priority":
      "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/credit_cards
  response:
    body:
      string: '{"id": "pm_1bc11ef87e774e81acf04d34f29b6209", "disabled_at": null,
        "object": "CreditCard", "name": null, "last4": "6170", "exp_month": 5, "exp_year":
        2028, "brand": "Visa", "requires_mandate_collection": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5dd66be5cbfe78861e9001746e3
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
version: 1
