interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/carrier_types
  response:
    body:
      string: '[{"object": "CarrierType", "type": "UpsAccount", "readable": "UPS",
        "logo": null, "fields": []}, {"object": "CarrierType", "type": "UpsMailInnovationsAccount",
        "readable": "UPS Mail Innovations", "logo": null, "fields": []}, {"object":
        "CarrierType", "type": "AccurateAccount", "readable": "Accurate", "logo":
        null, "fields": []}, {"object": "CarrierType", "type": "AmazonShippingAccount",
        "readable": "Amazon Shipping", "logo": null, "fields": []}, {"object": "CarrierType",
        "type": "ApcAccount", "readable": "APC", "logo": null, "fields": []}, {"obj[...]
