interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/insurances?page_size=5
  response:
    body:
      string: '{"insurances": [{"id": "ins_abffbc30c07f4bc0ba6fb8f36e4e7781", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_f6e8ef0dfac311efb10b3cecef1b359e", "object": "Address", "created_at":
        "2025-03-06T19:48:23+00:00", "updated_at": "2025-03-06T19:48:23+00:00", "name":
        "ELIZABETH SWAN", "company": null, "street1": "179 N HARBOR DR", "street2":
        null, "city": "REDONDO BEACH", "state": "CA", "zip": "90277-2506", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": false, "federal_tax_id": null, "state_tax_id": null,
        "verifications": {"zip4": {"success": true, "errors": [], "details": null},
        "delivery": {"success": true, "errors": [], "details": {"latitude": 33.8436,
        "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}}, "from_address":
        {"id": "adr_f6edb4d3fac311efb10f3cecef1b359e", "object": "Address", "created_at":
        "2025-03-06T19:48:24+00:00", "updated_at": "2025-03-06T19:48:24+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "shipment_id": null, "tracker": {"id":
        "trk_bd61761988d5406e98a33971dd6a6000", "object": "Tracker", "mode": "test",
        "tracking_code": "9400100208303109500706", "status": "error", "status_detail":
        null, "created_at": "2025-03-06T19:48:24Z", "updated_at": "2025-03-06T19:48:24Z",
        "signed_by": null, "weight": null, "est_delivery_date": null, "shipment_id":
        null, "carrier": "USPS", "tracking_details": [{"object": "TrackingDetail",
        "message": "In test mode, only test tracking numbers are valid. Test tracking
        numbers are EZ1000000001, EZ2000000002, ... , EZ7000000007", "description":
        "", "status": "error", "status_detail": null, "datetime": "2025-03-06T19:48:24Z",
        "source": "ProcessingError", "carrier_code": "", "tracking_location": {"object":
        "TrackingLocation", "city": null, "state": null, "country": null, "zip": null}}],
        "carrier_detail": null, "finalized": true, "is_return": false, "public_url":
        "https://track.easypost.com/djE6dHJrX2JkNjE3NjE5ODhkNTQwNmU5OGEzMzk3MWRkNmE2MDAw",
        "fees": []}, "tracking_code": "9400100208303109500706", "fee": {"object":
        "Fee", "type": "InsuranceFee", "amount": "1.00000", "charged": true, "refunded":
        false}, "messages": [], "created_at": "2025-03-06T19:48:24Z", "updated_at":
        "2025-03-06T19:48:24Z"}, {"id": "ins_dcf565145ccf4f04a8d820d810590ad5", "object":
        "Insurance", "mode": "test", "reference": null, "status": "pending", "amount":
        "100.00000", "provider": "easypost", "provider_id": null, "to_address": {"id":
        "adr_f623d486fac311ef9523ac1f6bc53342", "object": "Address", "created_at":
        "2025-03-06T19:48:22+00:00", "updated_at": "2025-03-06T19:48:22+00:00", "name":
        [...]
