interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/scan_forms?page_size=5
  response:
    body:
      string: '{"scan_forms": [{"id": "sf_a1082a2498034042a96617a8d79ff0c4", "object":
        "ScanForm", "created_at": "2025-03-06T19:47:39Z", "updated_at": "2025-03-06T19:47:39Z",
        "tracking_codes": ["9400100208303109500638"], "address": {"id": "adr_d671882efac311ef846fac1f6bc53342",
        "object": "Address", "created_at": "2025-03-06T19:47:29+00:00", "updated_at":
        "2025-03-06T19:47:29+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "status": "created", "message":
        null, "form_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/scan_form/20250306/e86b4473047e82445cb481f8060f4f2eec.pdf",
        "form_file_type": null, "batch_id": "batch_79b95699e2644f198db68d1824c11497",
        "confirmation": null}, {"id": "sf_83a81b98465f454489ad1591a897f1de", "object":
        "ScanForm", "created_at": "2025-03-06T19:48:46Z", "updated_at": "2025-03-06T19:48:46Z",
        "tracking_codes": [], "address": null, "status": "failed", "message": "Unable
        to create manifest. USPS received too many requests in test mode, please slow
        down and try again later", "form_url": null, "form_file_type": null, "batch_id":
        "batch_05022d9288d947048a4f6196e6f2bf1e", "confirmation": null}], "has_more":
        false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 8e8eb62767c9fc1fe2b97b9c0018ada9
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
