interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_7517f8f307b6418d82f298a8acb8856e", "object": "Batch",
        "mode": "test", "state": "creating", "num_shipments": 1, "reference": null,
        "created_at": "2023-05-12T19:37:54Z", "updated_at": "2023-05-12T19:37:54Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"6db3ca79164dabdbeed0dab337621d6f"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4eb6f010645e9592e2cc3956000662cf
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_7517f8f307b6418d82f298a8acb8856e/buy
  response:
    body:
      string: '{"id": "batch_7517f8f307b6418d82f298a8acb8856e", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2023-05-12T19:37:54Z", "updated_at": "2023-05-12T19:37:54Z",
        "scan_form": null, "shipments": [{"batch_status": "queued_for_purchase", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_9a9615e06531469db90ca8e74d4b2a6e"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9632619bcda010c0a517ec181e3f32e1"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4eb6f010645e9597e2cc395600066408
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
- request:
    body: '{"file_format": "ZPL"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_7517f8f307b6418d82f298a8acb8856e/label
  response:
    body:
      string: '{"id": "batch_7517f8f307b6418d82f298a8acb8856e", "object": "Batch",
        "mode": "test", "state": "label_generating", "num_shipments": 1, "reference":
        null, "created_at": "2023-05-12T19:37:54Z", "updated_at": "2023-05-12T19:38:04Z",
        "scan_form": null, "shipments": [{"batch_status": "postage_purchased", "batch_message":
        null, "reference": null, "tracking_code": "9400100104262209121400", "id":
        "shp_9a9615e06531469db90ca8e74d4b2a6e"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"79203232fcfe5764a3ebdb3eb6598c9f"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 4eb6f010645e959ce2cc395600066558
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb1nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
version: 1
