interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"object": "CarrierAccount", "type": "UpsAccount", "clone": false,
        "created_at": "2022-04-20T18:36:50Z", "updated_at": "2022-04-20T18:36:50Z",
        "description": "UPS Account", "reference": null, "readable": "UPS", "logo":
        null, "fields": {"credentials": {"account_number": {"visibility": "readonly",
        "label": "UPS Account Number", "value": "A1A1A1"}}}, "credentials": {"account_number":
        "A1A1A1"}, "test_credentials": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"0d9c95e56365952061fe4fd3451ee8ad"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d7626052c2e79969a100242da9
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_53cd122488344880b6d88f01b695c477
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d7626052c2e79969a100242dd5
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
