interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:17Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115908930", "updated_at": "2022-04-20T18:37:18Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_e7bb26f7c0d811ecbba4ac1f6bc7b362", "object": "Address", "created_at":
        "2022-04-20T18:37:17+00:00", "updated_at": "2022-04-20T18:37:17+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_4e069ef0e29940a0b75a89a3c2a560bf",
        "object": "Parcel", "created_at": "2022-04-20T18:37:17Z", "updated_at": "2022-04-20T18:37:17Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_67653bdb3e294c5f98144458f4600677",
        "created_at": "2022-04-20T18:37:18Z", "updated_at": "2022-04-20T18:37:18Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:37:18Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/7ce66089a815427bbb17701e358a1fe2.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_47c45cf0fa9a45928b390fd09f799d55", "object":
        "Rate", "created_at": "2022-04-20T18:37:17Z", "updated_at": "2022-04-20T18:37:17Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.37",
        "currency": "USD", "retail_rate": "8.70", "retail_currency": "USD", "list_rate":
        "7.37", "list_currency": "USD", "delivery_days": 1, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": 1, "shipment_id":
        "shp_47f7dc33fb644f18a916acbf6c250e59", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_be1ddd08624147529e0e3b38e68ac10d", "object": "Rate", "created_at":
        "2022-04-20T18:37:17Z", "updated_at": "2022-04-20T18:37:17Z", "mode": "test",
        "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22", "currency":
        "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate": "7.22",
        "list_currency": "USD", "delivery_days": 2, "delivery_date": null, "delivery_date_guaranteed":
        false, [...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-04-13",
      "max_datetime": "2022-04-13", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_47f7dc33fb644f18a916acbf6c250e59"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"object": "Pickup", "created_at": "2022-04-20T18:37:18Z", "updated_at":
        "2022-04-20T18:37:18Z", "mode": "test", "status": "unknown", "reference":
        null, "min_datetime": "2022-04-13T00:00:00Z", "max_datetime": "2022-04-13T00:00:00Z",
        "is_account_address": false, "instructions": "Pickup at front door", "messages":
        [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "type": "rate_error", "message": "The Date you supplied occurs in the past
        or did not meet the 2:00 am (CST) cutoff for today."}], "confirmation": null,
        "address": {"id": "adr_e8821cd4c0d811ec9cd6ac1f6bc7bdc6", "object": "Address",
        "created_at": "2022-04-20T18:37:18+00:00", "updated_at": "2022-04-20T18:37:18+00:00",
        "name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
        "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9a3f4af444b9154b2204b1dfb7ed751e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4ea626052dee79969e700243243
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/pickups/pickup_536dfbeae67c43fcaf22f91192dbeb12
  response:
    body:
      string: '{"object": "Pickup", "created_at": "2022-04-20T18:37:18Z", "updated_at":
        "2022-04-20T18:37:18Z", "mode": "test", "status": "unknown", "reference":
        null, "min_datetime": "2022-04-13T00:00:00Z", "max_datetime": "2022-04-13T0[...]
