interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-08-15T19:54:08Z", "is_return": false, "messages":
        [{"carrier": "UPS", "carrier_account_id": "ca_2b156a7d1fdb444c96fd53ecc409a6fa",
        "type": "rate_error", "message": "Invalid Access License number"}, {"carrier":
        "UPS", "carrier_account_id": "ca_4f4f19e3b533485296d62721584e096d", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_bee3d0b00e4844f0bafe77518fecef83", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "UPS", "carrier_account_id":
        "ca_725c14e27c1544a6af0c90d4208f70d3", "type": "rate_error", "message": "Invalid
        A[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/shipments/shp_564e911f1b93469eae216295950e97ec/smartrate
  response:
    body:
      string: '{"result": [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "created_at": "2024-08-15T19:54:09Z", "currency": "USD", "delivery_date":
        null, "delivery_date_guaranteed": false, "delivery_days": 1, "est_delivery_days":
        1, "id": "rate_afb2b16149ba46c8b39f5e2dd87f4660", "list_currency": "USD",
        "list_rate": 33.1, "mode": "test", "object": "Rate", "rate": 33.1, "retail_currency":
        "USD", "retail_rate": 37.9, "service": "Express", "shipment_id": "shp_564e911f1b93469eae216295950e97ec",
        "time_in_transit": {"percentile_50": 1, "percentile_75": 2, "percentile_85":
        2, "percentile_90": 3, "percentile_95": 3, "percentile_97": 4, "percentile_99":
        7}, "updated_at": "2024-08-15T19:54:09Z"}, {"carrier": "USPS", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e", "created_at": "2024-08-15T19:54:09Z",
        "currency": "USD", "delivery_date": null, "delivery_date_guaranteed": false,
        "delivery_days": 2, "est_delivery_days": 2, "id": "rate_b20926218bb84440b4362601a01ce0de",
        "list_currency": "USD", "list_rate": 8.25, "mode": "test", "object": "Rate",
        "rate": 6.9, "retail_currency": "USD", "retail_rate": 9.8, "service": [...]
[...]
