interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/partners/stripe_public_key
  response:
    body:
      string: '{"public_key": "pk_x3JSr5eOVWNTLRej8cZDde9VQ0AT5"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"86cc970265a111486b443bf66ef85e91"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e26463d02ae787d9a600340738
      x-node:
      - bigweb12nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161731-3a88337a74-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-type:
      - application/x-www-form-urlencoded
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.stripe.com/v1/tokens?card%5Bexp_month%5D=05&card%5Bexp_year%5D=2028
  response:
    body:
      string: '{"id": "tok_0N8SvuDqT4huGUvdQzq2RjAj", "object": "token", "card": {"id":
        "card_0N8SvuDqT4huGUvdh2Usi31i", "object": "card", "address_city": null, "address_country":
        null, "address_line1": null, "address_line1_check": null, "address_line2":
        null, "address_state": null, "address_zip": null, "address_zip_check": null,
        "brand": "Visa", "country": "US", "cvc_check": "unchecked", "dynamic_last4":
        null, "exp_month": 5, "exp_year": 2028, "funding": "credit", "last4": "6170",
        "name": null, "tokenization_method": null, "wallet": null}, "client_ip": "<REDACTED>",
        "created": 1684262954, "livemode": true, "type": "card", "used": false}'
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b1fa9637-7528-40c3-8c10-401114571781
      Original-Request:
      - req_mZ4fDlnwWczYVU
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2020-08-27'
    status:
      code: 200
      message: OK
- request:
    body: '{"credit_card": {"stripe_object_id": "tok_0N8SvuDqT4huGUvdQzq2RjAj", "priority":
      "primary"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/credit_cards
  response:
    body:
      string: '{"id": "card_01c526a7012f4d35b1e849c44529fded", "disabled_at": null,
        "object": "CreditCard", "name": null, "last4": "6170", "exp_month": 5, "exp_year":
        2028, "brand": "Visa"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"09a287defb2f677abf5de0d7cbce895d"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 23bee7e26463d02ae787d9a600340757
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305161731-3a88337a74-master
    status:
      code: 201
      message: Created
version: 1
