interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/reports/shipment?page_size=5&type=shipment
  response:
    body:
      string: '{"reports": [{"id": "shprep_3073ac71a1534442bb56e86f25f0e130", "object":
        "ShipmentReport", "created_at": "2022-08-15T18:52:17Z", "updated_at": "2022-08-15T18:52:17Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "available", "url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220815/af24ea43d2a9444b977ba9a3604cc4a6.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220815%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220815T185218Z&X-Amz-Expires=30&X-Amz-SignedHeaders=host&X-Amz-Signature=ddc9a123a51fef6da0703be0d1eff5a413fa3688fe8abfb74b75a6b34a177257",
        "url_expires_at": "2022-08-15T18:52:48Z", "include_children": false}, {"id":
        "shprep_27d26c46a12f443a8c1a543c73e9f550", "object": "ShipmentReport", "created_at":
        "2022-08-15T18:52:17Z", "updated_at": "2022-08-15T18:52:17Z", "start_date":
        "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status": "available",
        "url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/shipment_report/20220815/c5bcebce6c1743c08d45b15b80b842a2.zip?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAY27LO6YQS5SPYTWI%2F20220815%2Fus[...]
