interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_fdfc86215f714c83983c36d4bdb4c02c", "object": "EndShipper",
        "mode": "test", "created_at": "2023-05-15T17:10:42+00:00", "updated_at": "2023-05-15T17:10:42+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"90e7b59409069e588a6f0ba0f294e8a7"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 44e495b564626792e78733e1001dd798
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/end_shippers/es_fdfc86215f714c83983c36d4bdb4c02c
  response:
    body:
      string: '{"id": "es_fdfc86215f714c83983c36d4bdb4c02c", "object": "EndShipper",
        "mode": "test", "created_at": "2023-05-15T17:10:42+00:00", "updated_at": "2023-05-15T17:10:42+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"4e32647a5ff79d299a8a6852282b5b4e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 44e495b564626792e78733e1001dd7b2
      x-node:
      - bigweb11nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305122104-29dd2d738a-master
    status:
      code: 200
      message: OK
version: 1
