interactions:
- request:
    body: '{"customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23, "hs_tariff_number":
      "654321", "origin_country": "US"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/customs_infos
  response:
    body:
      string: '{"id":"cstinfo_dceb60fc46af4b8bbdb79ba66dce4cc0","object":"CustomsInfo","created_at":"2022-05-04T20:25:38Z","updated_at":"2022-05-04T20:25:38Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_fce78615c885488aa31ed5b2eef5de17","object":"CustomsItem","created_at":"2022-05-04T20:25:38Z","updated_at":"2022-05-04T20:25:38Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"afb6038d3ac7c8ff3aaf2fabb18636bd"
      location:
      - /api/v2/customs_infos/cstinfo_dceb60fc46af4b8bbdb79ba66dce4cc0
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330ba6272e142e786b86100161c6e
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_dceb60fc46af4b8bbdb79ba66dce4cc0
  response:
    body:
      string: '{"id":"cstinfo_dceb60fc46af4b8bbdb79ba66dce4cc0","object":"CustomsInfo","created_at":"2022-05-04T20:25:38Z","updated_at":"2022-05-04T20:25:38Z","contents_explanation":"","contents_type":"merchandise","customs_certify":true,"customs_signer":"Steve
        Brule","eel_pfc":"NOEEI 30.37(a)","non_delivery_option":"return","restriction_comments":null,"restriction_type":"none","mode":"test","declaration":null,"customs_items":[{"id":"cstitem_fce78615c885488aa31ed5b2eef5de17","object":"CustomsItem","created_at":"2022-05-04T20:25:38Z","updated_at":"2022-05-04T20:25:38Z","description":"Sweet
        shirts","hs_tariff_number":"654321","origin_country":"US","quantity":2,"value":"23.0","weight":11.0,"code":null,"mode":"test","manufacturer":null,"currency":null,"eccn":null,"printed_commodity_identifier":null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"afb6038d3ac7c8ff3aaf2fabb18636bd"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330ba6272e142e786b86100161c7d
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
