interactions:
- request:
    body: '{"carrier_account": {"type": "UpsAccount", "credentials": {"account_number":
      "A1A1A1", "user_id": "USERID", "password": "PASSWORD", "access_license_number":
      "ALN"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
      x-client-user-agent:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/carrier_accounts
  response:
    body:
      string: '{"id": "ca_a61e2208f02e43da81813b743e1beac8", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2022-05-27T18:52:42Z",
        "updated_at": "2022-05-27T18:52:42Z", "description": "UPS Account", "reference":
        null, "billing_type": "carrier", "readable": "UPS", "logo": null, "fields":
        {"credentials": {"account_number": {"visibility": "readonly", "label": "UPS
        Account Number", "value": "A1A1A1"}}}, "credentials": "<REDACTED>", "test_credentials":
        "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2342af2fc0314d72e7bf27c39ede8843"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 92f9584062911dfaef9b192a0002d4aa
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq 570dfcbc0a
      - extlb2nuq fc4d5d217f
      x-version-label:
      - easypost-202205262146-0562c799aa-master
    status:
      code: 201
      message: Created
- request:
    body: '{"carrier_account": {"description": "My custom description"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
      x-client-user-agent:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/carrier_accounts/ca_a61e2208f02e43da81813b743e1beac8
  response:
    body:
      string: '{"id": "ca_a61e2208f02e43da81813b743e1beac8", "object": "CarrierAccount",
        "type": "UpsAccount", "clone": false, "created_at": "2022-05-27T18:52:42Z",
        "updated_at": "2022-05-27T18:52:43Z", "description": "My custom description",
        "reference": null, "billing_type": "carrier", "readable": "UPS", "logo": null,
        "fields": {"credentials": {"account_number": {"visibility": "readonly", "label":
        "UPS Account Number", "value": "A1A1A1"}}}, "credentials": "<REDACTED>", "test_credentials":
        "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"42b134350fd5b3c13b598411ee2c2f78"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 92f9584062911dfbef9b192a0002d4bb
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq 570dfcbc0a
      - extlb2nuq fc4d5d217f
      x-version-label:
      - easypost-202205262146-0562c799aa-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
      x-client-user-agent:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/carrier_accounts/ca_a61e2208f02e43da81813b743e1beac8
  response:
    body:
      string: '{}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"44136fa355b3678a1146ad16f7e8649e"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 92f9584062911dfbef9b192a0002d4c3
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq 570dfcbc0a
      - extlb2nuq fc4d5d217f
      x-version-label:
      - easypost-202205262146-0562c799aa-master
    status:
      code: 200
      message: OK
version: 1
