interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}, "options": {"label_format":
      "PNG", "invoice_number": "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2024-07-23T17:53:37Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.code:
        field required"}, {"carrier": "DhlEcs", "carrier_account[...]
- request:
    body: '{"rate": {"id": "rate_058244a3b26240f19927dbe382843161"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_8ae4d3d1cf78409fbabd93c5b13c5f98/buy
  response:
    body:
      string: '{"created_at": "2024-07-23T17:53:37Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "shipment.cu[...]
- request:
    body: '{"amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_8ae4d3d1cf78409fbabd93c5b13c5f98/insure
  response:
    body:
      string: '{"created_at": "2024-07-23T17:53:37Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "shipment.customs_info.customs_items.0.co[...]
- request:
    body: '{"type": "damage", "email_evidence_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "invoice_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "supporting_documentation_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "description": "Test description", "contact_email": "test@example.com", "tracking_code":
      "9400100110368066361841", "amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/claims
  response:
    body:
      string: '{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/7b9b0171ae7b4e258f765822e7cddb71.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/2cd9fdd33a7d40fc84ac8f87c3da1f86.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/d3aebbc42e884769ad810c92c26ad8ad.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "created_at":
        "2024-07-23T17:53:40", "description": "Test description", "history": [{"status":
        "submitted", "status_detail": "Claim was created.", "timestamp": "2024-07-23T17:53:40"}],
        "id": "clm_097e86d630e44e83b736c48c1271fed3", "insurance_amount": "100.00",
        "insurance_id": "ins_33a9255ab9f443c18a1c1876bc6e25a4", "mode": "test", "object":
        "Claim", "payment_method": "easypost_wallet", "recipient_name": null, "requested_amount":
        "100.00", "salvage_value": null, "shipment_id": "shp_8ae4d3d1cf78409fbabd93c5b13c5f98",
        "status": "submitted", "status_detail": "Claim was created.", "status_timestamp":
        "2024-07-23T17:53:40", "tracking_code": "9400100110368066361841", "type":
        "damage", "updated_at": "2024-07-23T17:53:40"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6558653e669fee24f42f358e00532dbd
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq fa152d4755
      x-version-label:
      - easypost-202407231702-040a3c7b8f-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/claims/clm_097e86d630e44e83b736c48c1271fed3
  response:
    body:
      string: '{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/7b9b0171ae7b4e258f765822e7cddb71.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240723/2cd9fdd33a7d40fc84ac8f87c3da1f86.png",
        "https://ea[...]
