interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_ef7e352a39984f23bbad509378f88a5e", "object": "EndShipper",
        "mode": "test", "created_at": "2023-11-28T22:09:15+00:00", "updated_at": "2023-11-28T22:09:15+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 88ad7b8e6566650be78a9f8a003f7324
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb2nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:09:15Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2023-11-28T22:09:16Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_c4fea2578e3a11ee9360ac1f6bc53342", "object": "Address", "created_at":
        "2023-11-28T22:09:15+00:00", "updated_at": "2023-11-28T22:09:15+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_e046da82c6bd4acbbf770fe146bdfb7b",
        "object": "Parcel", "created_at": "2023-11-28T22:09:15Z", "updated_at": "2023-11-28T22:09:15Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_bb9eaf29829f41869b9bf69de2e39bc8",
        "object": "Rate", "created_at": "2023-11-28T22:09:16Z", "updated_at": "2023-11-28T22:09:16Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.93",
        "currency": "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate":
        "6.07", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6fc0b9c1df2e462388f869ab9b3194fa", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_905c6624ef184d6bb3e89896db708eee",
        "object": "Rate", "created_at": "2023-11-28T22:09:16Z", "updated_at": "2023-11-28T22:09:16Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.93", "currency":
        "USD", "retail_rate": "8.00", "retail_currency": "USD", "list_rate": "6.07",
        "list_currency": "USD", "billing_type": "easypost", "de[...]
- request:
    body: '{"rate": {"id": "rate_bb9eaf29829f41869b9bf69de2e39bc8"}, "end_shipper_id":
      "es_ef7e352a39984f23bbad509378f88a5e"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_6fc0b9c1df2e462388f869ab9b3194fa/buy
  response:
    body:
      string: '{"created_at": "2023-11-28T22:09:15Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthor[...]
