interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23.25,
      "hs_tariff_number": "654321", "origin_country": "US"}]}, "options": {"label_format":
      "PNG", "invoice_number": "123"}, "reference": "123"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_0ea044af2a4a491e953233cd7867bb6a", "created_at": "2025-03-06T19:48:01Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
        "PNG", "invoice_number": "123", "currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": "123", "status": "unknown", "tracking_code":
        null, "updated_at": "2025-03-06T19:48:01Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": {"id": "cstinfo_d9951ec92f88467b858907457b287de2",
        "object": "CustomsInfo", "created_at": "2025-03-06T19:48:01Z", "updated_at":
        "2025-03-06T19:48:01Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_ce7a9058a4de43d2a7cb4e181095b619", "object": "CustomsItem",
        "created_at": "2025-03-06T19:48:01Z", "updated_at": "2025-03-06T19:48:01Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.25", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}, "from_address": {"id": "adr_e9c82d93fac311efb46dac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-06T19:48:01+00:00", "updated_at": "2025-03-06T19:48:01+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_f9b7bc5a09c0410b8b5e3d5a4e2d54e7",
        "object": "Parcel", "created_at": "2025-03-06T19:48:01Z", "updated_at": "2025-03-06T19:48:01Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_3c9b9d22912b45768152e44b830fc949",
        "object": "Rate", "created_at": "2025-03-06T19:48:02Z", "updated_at": "2025-03-06T19:48:02Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_0ea044af2a4a491e953233cd7867bb6a", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_e3014a913dd146f2b8698f7398c7837b",
        "object": "Rate", "created_at": "2025-03-06T19:48:02Z", "updated_at": "2025-03-06T19:48:02Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_0ea044af2a4a491e953233cd7867bb6a", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_a144a42f34e24777bffd707cb614c68c",
        "object": "Rate", "created_at": "2025-03-06T19:48:02Z", "updated_at": "2025-03-06T19:48:02Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_0ea044af2a4a491e953233cd7867bb6a", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_e9c58fe5fac311ef8e57ac1f6bc53342",
        "object": "Address", "created_at": "2025-03-06T19:48:01+00:00", "updated_at":
        "2025-03-06T19:48:01+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_e9c82d93fac311efb46dac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-06T19:48:01+00:00", "updated_at": "2025-03-06T19:48:01+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_e9c58fe5fac311ef8e57ac1f6bc53342", "object":
        "Address", "created_at": "2025-03-06T19:48:01+00:00", "updated_at": "2025-03-06T19:48:01+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_0ea044af2a4a491e953233cd7867bb6a
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62c67c9fbf1e2b97aaf001878d9
      x-node:
      - bigweb57nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: '{"rate": {"id": "rate_a144a42f34e24777bffd707cb614c68c"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_0ea044af2a4a491e953233cd7867bb6a/buy
  response:
    body:
      string: '{"id": "shp_0ea044af2a4a491e953233cd7867bb6a", "created_at": "2025-03-06T19:48:01Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
      [...]
- request:
    body: '{"amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_0ea044af2a4a491e953233cd7867bb6a/insure
  response:
    body:
      string: '{"id": "shp_0ea044af2a4a491e953233cd7867bb6a", "created_at": "2025-03-06T19:48:01Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"label_format":
        "PNG", "invoice_number": "123", "currency": "USD", "payment": {"[...]
- request:
    body: '{"type": "damage", "email_evidence_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "invoice_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "supporting_documentation_attachments": ["data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAAAeUlEQVR42mP8//8/AwAI/AL+4Q7AIAAAAABJRU5ErkJggg=="],
      "description": "Test description", "contact_email": "test@example.com", "tracking_code":
      "9400100208303109500683", "amount": "100.00"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/claims
  response:
    body:
      string: '{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/48c6da378b1c4df88308924c11d86a20.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/363f7506d469479685db3d284e56fbb5.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/d25e02b038eb46308dc9febeeba1963e.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "created_at":
        "2025-03-06T19:48:03Z", "description": "Test description", "history": [{"status":
        "submitted", "status_detail": "Claim was created.", "timestamp": "2025-03-06T19:48:03Z"}],
        "id": "clm_09cea7c6461a4182a7e05bed24b83717", "insurance_amount": "100.00",
        "insurance_id": "ins_229626a7af2f46c28f15547390291e82", "mode": "test", "object":
        "Claim", "payment_method": "easypost_wallet", "recipient_name": null, "requested_amount":
        "100.00", "salvage_value": null, "shipment_id": "shp_0ea044af2a4a491e953233cd7867bb6a",
        "status": "submitted", "status_detail": "Claim was created.", "status_timestamp":
        "2025-03-06T19:48:03Z", "tracking_code": "9400100208303109500683", "type":
        "damage", "updated_at": "2025-03-06T19:48:03Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62c67c9fbf3e2b97aaf00187a7b
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb4nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/claims/clm_09cea7c6461a4182a7e05bed24b83717/cancel
  response:
    body:
      string: '{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/48c6da378b1c4df88308924c11d86a20.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20250306/363f7[...]
