interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_a5917c3ae606499c9249d624b6dbf1c5", "created_at": "2025-06-11T20:49:40Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2025-06-11T20:49:40Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_98546b5c470511f08033ac1f6bc539aa", "object":
        "Address", "created_at": "2025-06-11T20:49:40+00:00", "updated_at": "2025-06-11T20:49:40+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_8106bd43bfbd4ea495b6db7e3857a41e",
        "object": "Parcel", "created_at": "2025-06-11T20:49:40Z", "updated_at": "2025-06-11T20:49:40Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_6d05439ab1ea4266a01de1a633e306c1",
        "object": "Rate", "created_at": "2025-06-11T20:49:40Z", "updated_at": "2025-06-11T20:49:40Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_a5917c3ae606499c9249d624b6dbf1c5", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_50d12130bef842c998a11919abeefd75",
        "object": "Rate", "created_at": "2025-06-11T20:49:40Z", "updated_at": "2025-06-11T20:49:40Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_a5917c3ae606499c9249d624b6dbf1c5", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_469f1eda227d4356acef110d57c6d96f",
        "object": "Rate", "created_at": "2025-06-11T20:49:40Z", "updated_at": "2025-06-11T20:49:40Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_a5917c3ae606499c9249d624b6dbf1c5", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_9851e797470511f0929c3cecef1b359e",
        "object": "Address", "created_at": "2025-06-11T20:49:40+00:00", "updated_at":
        "2025-06-11T20:49:40+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_98546b5c470511f08033ac1f6bc539aa", "object": "Address", "created_at":
        "2025-06-11T20:49:40+00:00", "updated_at": "2025-06-11T20:49:40+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_9851e797470511f0929c3cecef1b359e", "object":
        "Address", "created_at": "2025-06-11T20:49:40+00:00", "updated_at": "2025-06-11T20:49:40+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_a5917c3ae606499c9249d624b6dbf1c5
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 76e25b4d6849ebe4e77986c40029b9a1
      x-node:
      - bigweb55nuq
      x-proxied:
      - intlb3nuq 668d3fc830
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202506112030-f8bf908411-master
    status:
      code: 201
      message: Created
- request:
    body: '{"ruleset_name": "required_deliver_by_date", "planned_ship_date": "2025-06-12",
      "deliver_by_date": "2025-06-19"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_a5917c3ae606499c9249d624b6dbf1c5/luma
  response:
    body:
      string: '{"id": "shp_a5917c3ae606499c9249d624b6dbf1c5", "object": "Shipment",
        "mode": "test", "reference": null, "to_address": {"id": "adr_9851e797470511f0929c3cecef1b359e",
        "object": "Address", "created_at": "2025-06-11T20:49:40+00:00", "updated_at":
        "2025-06-11T20:49:40+00:00", "name": "ELIZABETH SWAN", "company": null, "street1":
        "179 N HARBOR DR", "street2": "", "city": "REDONDO BEACH", "state": "CA",
        "zip": "90277-2506", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "from_address": {"id": "adr_98546b5c470511f08033ac1f6bc539aa", "object": "Address",
        "created_at": "2025-06-11T20:49:40+00:00", "updated_at": "2025-06-11T20:49:40+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "[...]
