interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/claims?page_size=5
  response:
    body:
      string: '{"claims": [{"approved_amount": null, "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240815/c362d4779c924f598e77e03b784a8562.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240815/438ff93724ed4756a2a19a5da91226dd.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240815/d81d826438e84c19b03d7b57d387526e.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "created_at":
        "2024-08-15T19:52:33", "description": "Test description", "history": [{"status":
        "submitted", "status_detail": "Claim was created.", "timestamp": "2024-08-15T19:52:33"}],
        "id": "clm_09816458dd9d483ba94edbde30104139", "insurance_amount": "100.00",
        "insurance_id": "ins_134927ffeddb4a9cbc6c199577a9dfaf", "mode": "test", "object":
        "Claim", "payment_method": "easypost_wallet", "recipient_name": null, "requested_amount":
        "100.00", "salvage_value": null, "shipment_id": "shp_3f3863c35045497db77b14187b65f824",
        "status": "submitted", "status_detail": "Claim was created.", "status_timestamp":
        "2024-08-15T19:52:33", "tracking_code": "9400100105807075742367", "type":
        "damage", "updated_at": "2024-08-15T19:52:33"}, {"approved_amount": null,
        "attachments": ["https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240815/cd4a4ca08f8c4fa1a57c1fbe6beb1879.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240815/ca160db21ac5455f9a865812e58b10d3.png",
        "https://easypost-files.s3-us-west-2.amazonaws.com/insurance/20240815/801e8c25392d4921a994888367961787.png"],
        "check_delivery_address": null, "contact_email": "test@example.com", "cre[...]
