interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/end_shippers
  response:
    body:
      string: '{"id": "es_4c9d0f5f99374536908eb4949f909e1e", "object": "EndShipper",
        "mode": "test", "created_at": "2022-10-05T19:50:55+00:00", "updated_at": "2022-10-05T19:50:55+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8fcb69dfa09cbb1a7572dda09bc2617d"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 16580187633de01fe2ba90170008dcef
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202210051807-174cd29491-master
    status:
      code: 201
      message: Created
version: 1
