interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_8a1033cc63704acf940e2466acce59b6", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2024-08-15T19:51:49Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": [], "api_keys": [{"object":
        "ApiKey", "key": "<REDACTED>", "mode": "test", "created_at": "2024-08-15T19:51:49Z",
        "active": true, "id": "ak_6e17f070f1a5440d82de587ac863c5cc"}, {"object": "ApiKey",
        "key": "<REDACTED>", "mode": "production", "created_at": "2024-08-15T19:51:49Z",
        "active": true, "id": "ak_c6fc2227fa47471fa8585d98ea6a89f5"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5c55e7885dc50016dc77
      x-node:
      - bigweb40nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users/user_8a1033cc63704acf940e2466acce59b6
  response:
    body:
      string: '{"id": "user_8a1033cc63704acf940e2466acce59b6", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2024-08-15T19:51:49Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5c55e7885dc50016dd0c
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/api_keys
  response:
    body:
      string: '{"id": "user_54356a6b96c940d8913961a3c7b909f2", "keys": [{"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "test", "created_at":
        "2022-02-24T20:59:05Z", "id": "ak_16f993eae7984eab94e0957a78bee407"}, {"object":
        "ApiKey", "active": true, "key": "<REDACTED>", "mode": "production", "created_at":
        "2022-02-24T20:59:14Z", "id": "ak_62524a9c3f684f65ab9eccbf70950df8"}], "children":
        [{"id": "user_584be78af2f141e988b6c60dda9dd8fd", "keys": [{"object": "ApiKey",
        "active": true, "key": "<REDACTED>",[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_8a1033cc63704acf940e2466acce59b6
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62c1f5d766be5c55e7885dc50016dd56
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 204
      message: No Content
version: 1
