interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_89d0da868be64e3d9fb35dc5d7ff2cb4", "created_at": "2025-06-12T17:59:58Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": null, "updated_at": "2025-06-12T17:59:58Z",
        "batch_id": null, "batch_status": null, "batch_message": null, "customs_info":
        null, "from_address": {"id": "adr_0e1b56e747b711f09c33ac1f6bc539ae", "object":
        "Address", "created_at": "2025-06-12T17:59:58+00:00", "updated_at": "2025-06-12T17:59:58+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_c91cc2e118fc4d60af449d26496075ad",
        "object": "Parcel", "created_at": "2025-06-12T17:59:58Z", "updated_at": "2025-06-12T17:59:58Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_05a1c54838bd4bdd8b54909245144efe",
        "object": "Rate", "created_at": "2025-06-12T17:59:59Z", "updated_at": "2025-06-12T17:59:59Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_89d0da868be64e3d9fb35dc5d7ff2cb4", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_1077bbbb632c46c0a919a9188785445e",
        "object": "Rate", "created_at": "2025-06-12T17:59:59Z", "updated_at": "2025-06-12T17:59:59Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_89d0da868be64e3d9fb35dc5d7ff2cb4", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_faed5a60994242fbad36e6f67e6733b4",
        "object": "Rate", "created_at": "2025-06-12T17:59:59Z", "updated_at": "2025-06-12T17:59:59Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_89d0da868be64e3d9fb35dc5d7ff2cb4", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_0e193af047b711f0a709ac1f6bc539aa",
        "object": "Address", "created_at": "2025-06-12T17:59:58+00:00", "updated_at":
        "2025-06-12T17:59:58+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_0e1b56e747b711f09c33ac1f6bc539ae", "object": "Address", "created_at":
        "2025-06-12T17:59:58+00:00", "updated_at": "2025-06-12T17:59:58+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_0e193af047b711f0a709ac1f6bc539aa", "object":
        "Address", "created_at": "2025-06-12T17:59:58+00:00", "updated_at": "2025-06-12T17:59:58+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_89d0da868be64e3d9fb35dc5d7ff2cb4
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 5b2f847a684b159ee2b9839a0063273b
      x-node:
      - bigweb58nuq
      x-proxied:
      - intlb3nuq e8fe6f4ec2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202506121430-906e96e2b9-master
    status:
      code: 201
      message: Created
- request:
    body: '{"ruleset_name": "cheapest_delivery", "planned_ship_date": "2025-06-12"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_89d0da868be64e3d9fb35dc5d7ff2cb4/luma
  response:
    body:
      string: '{"id": "shp_89d0da868be64e3d9fb35dc5d7ff2cb4", "object": "Shipment",
        "mode": "test", "reference": null, "to_address": {"id": "adr_0e193af047b711f0a709ac1f6bc539aa",
        "object": "Address", "created_at": "2025-06-12T17:59:58+00:00", "updated_at":
        "2025-06-12T17:59:59+00:00", "name": "ELIZABETH SWAN", "company": null, "street1":
        "179 N HARBOR DR", "street2": "", "city": "REDONDO BEACH", "state": "CA",
        "zip": "90277-2506", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "from_address": {"id": "adr_0e1b56e747b711f09c33ac1f6bc539ae", "object": "Address",
        "created_at": "2025-06-12T17:59:58+00:00", "updated_at": "2025-06-12T17:59:58+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "[...]
