interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_2240b6c1bc1c49b3a4b2badbb8e9e9e7", "object": "Batch",
        "mode": "test", "state": "creating", "num_shipments": 1, "reference": null,
        "created_at": "2023-05-12T19:31:50Z", "updated_at": "2023-05-12T19:31:50Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"ab7b3bf2969bc24189e0a36747555ce1"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52975b4f645e9426e2cc34b700063a1f
      x-node:
      - bigweb4nuq
      x-proxied:
      - intlb1nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_2240b6c1bc1c49b3a4b2badbb8e9e9e7/buy
  response:
    body:
      string: '{"id": "batch_2240b6c1bc1c49b3a4b2badbb8e9e9e7", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2023-05-12T19:31:50Z", "updated_at": "2023-05-12T19:31:50Z",
        "scan_form": null, "shipments": [{"batch_status": "queued_for_purchase", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_b4d8d4d339f64628b8f5adc4cd8513b9"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5d868683ed7a0625d8eeb48f4756c45f"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 52975b4f645e942be2cc34b700063c6d
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq a29e4ad05c
      - extlb2nuq 5ab12a3ed2
      x-version-label:
      - easypost-202305121849-b449e9bf47-master
    status:
      code: 200
      message: OK
version: 1
