interactions:
- request:
    body: '{"order": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "shipments": [{"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode":"test","reference":null,"is_return":false,"options":{"currency":"USD","payment":{"type":"SENDER"}},"messages":[],"created_at":"2022-04-26T19:14:57Z","updated_at":"2022-04-26T19:14:57Z","customs_info":null,"from_address":{"id":"adr_29560690c59511ec94a4ac1f6bc72124","object":"Address","created_at":"2022-04-26T19:14:57+00:00","updated_at":"2022-04-26T19:14:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"to_address":{"id":"adr_2954c591c59511ec8d08ac1f6b0a0d1e","object":"Address","created_at":"2022-04-26T19:14:57+00:00","updated_at":"2022-04-26T19:14:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"buyer_address":{"id":"adr_2954c591c59511ec8d08ac1f6b0a0d1e","object":"Address","created_at":"2022-04-26T19:14:57+00:00","updated_at":"2022-04-26T19:14:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"return_address":{"id":"adr_29560690c59511ec94a4ac1f6bc72124","object":"Address","created_at":"2022-04-26T19:14:57+00:00","updated_at":"2022-04-26T19:14:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"shipments":[{"created_at":"2022-04-26T19:14:57Z","is_return":false,"messages":[],"mode":"test","options":{"currency":"USD","payment":{"type":"SENDER"},"date_advance":0},"reference":null,"status":"unknown","tracking_code":null,"updated_at":"2022-04-26T19:14:57Z","batch_id":null,"batch_status":null,"batch_message":null,"customs_info":null,"from_address":{"id":"adr_29560690c59511ec94a4ac1f6bc72124","object":"Address","created_at":"2022-04-26T19:14:57+00:00","updated_at":"2022-04-26T19:14:57+00:00","name":"Jack
        Sparrow","company":"EasyPost","street1":"388 Townsend St","street2":"Apt 20","city":"San
        Francisco","state":"CA","zip":"94107","country":"US","phone":"5555555555","email":null,"mode":"test","carrier_facility":null,"residential":null,"federal_tax_id":null,"state_tax_id":null,"verifications":{}},"insurance":null,"order_id":"order_3f6767396e5e45e895679f713d745142","parcel":{"id":"prcl_81cacdf634ad4ffdac356a73eee507ec","object":"Parcel","created_at":"2022-04-26T19:14:57Z","updated_at":"2022-04-26T19:14:57Z","length":10.0,"width":8.0,"height":4.0,"predefined_package":null,"weight":15.4,"mode":"test"},"postage_label":null,"rates":[{"id":"rate_f235e57648f84209915b7a2b0b7f8f51","object":"Rate","created_at":"2022-04-26T19:14:57Z","updated_at":"2022-04-26T19:14:57Z","mode":"test","service":"ParcelSelect","carrier":"USPS","rate":"7.22","currency":"USD","retail_rate":"7.22","retail_currency":"USD","list_rate":"7.22","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_7979e47f925f4997adc29812f3bbd5fe","carrier_account_id":"ca_b25657e9896e4d63ac8151ac346ac41e"},{"id":"rate_0fd5ba2c326043bc8083a4a5c823e3aa","object":"Rate","created_at":"2022-04-26T19:14:57Z","updated_at":"2022-04-26T19:14:57Z","mode":"test","service":"First","carrier":"USPS","rate":"5.49","currency":"USD","retail_rate":"5.49","retail_currency":"USD","list_rate":"5.49","list_currency":"USD","delivery_days":2,"delivery_date":null,"delivery_date_guaranteed":false,"est_delivery_days":2,"shipment_id":"shp_7979e47f925f4997adc29812f3bbd5fe","carrier_accou[...]
