interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/pickups?page_size=5
  response:
    body:
      string: '{"pickups": [{"id": "pickup_c7ab5738c30444868e61f0d3fef0ff95", "object":
        "Pickup", "created_at": "2023-05-15T21:50:06Z", "updated_at": "2023-05-15T21:50:06Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2023-05-17T00:00:00Z",
        "max_datetime": "2023-05-17T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_74406669f36a11edb3daac1f6b0a0d1e", "object": "Address", "created_at":
        "2023-05-15T21:50:06+00:00", "updated_at": "2023-05-15T21:50:06+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2023-05-15T21:50:06Z",
        "updated_at": "2023-05-15T21:50:06Z", "carrier": "USPS", "pickup_id": "pickup_c7ab5738c30444868e61f0d3fef0ff95",
        "id": "pickuprate_a1a991d35f9f4688a290e08548bb8755", "object": "PickupRate"}]},
        {"id": "pickup_dce2c5e15e9547f199c75e1b4a92725c", "object": "Pickup", "created_at":
        "2023-05-15T21:50:01Z", "updated_at": "2023-05-15T21:50:04Z", "mode": "test",
        "status": "canceled", "reference": null, "min_datetime": "2023-05-17T00:00:00Z",
        "max_datetime": "2023-05-17T00:00:00Z", "is_account_address": false, "instructions":
        [...]
