interactions:
- request:
    body: '{"insurance": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "carrier": "USPS", "amount": "100", "tracking_code":
      "EZ1000000001"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/insurances
  response:
    body:
      string: '{"id": "ins_f79aee8d38f34ace96b6aa5eab6156b9", "object": "Insurance",
        "mode": "test", "reference": null, "status": "pending", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id": "adr_1bc82f35f2a211eeb49aac1f6bc539aa",
        "object": "Address", "created_at": "2024-04-04T16:40:55+00:00", "updated_at":
        "2024-04-04T16:40:55+00:00", "name": "ELIZABETH SWAN", "company": null, "street1":
        "179 N HARBOR DR", "street2": "", "city": "REDONDO BEACH", "state": "CA",
        "zip": "90277-2506", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": false, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": true, "errors":
        [], "details": null}, "delivery": {"success": true, "errors": [], "details":
        {"latitude": 33.8436, "longitude": -118.39177, "time_zone": "America/Los_Angeles"}}}},
        "from_address": {"id": "adr_1bccda95f2a211eea1c93cecef1b359e", "object": "Address",
        "created_at": "2024-04-04T16:40:56+00:00", "updated_at": "2024-04-04T16:40:56+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "shipment_id": null, "tracker": {"id": "trk_91e45367e834422c9c620e3c91a45bf4",
        "object": "Tracker", "mode": "test", "tracking_code": "EZ1000000001", "status":
        "pre_transit", "status_detail": "status_update", "created_at": "2024-04-03T16:41:49Z",
        "updated_at": "2024-04-03T16:41:49Z", "signed_by": null, "weight": null, "est_delivery_date":
        "2024-04-03T16:41:49Z", "shipment_id": null, "carrier": "USPS", "tracking_details":
        [{"object": "TrackingDetail", "message": "Pre-Shipment Info Sent to USPS",
        "description": "", "status": "pre_transit", "status_detail": "status_update",
        "datetime": "2024-03-03T16:41:49Z", "source": "USPS", "carrier_code": "",
        "tracking_location": {"object": "TrackingLocation", "city": null, "state":
        null, "country": null, "zip": null}}, {"object": "TrackingDetail", "message":
        "Shipping Label Created", "description": "", "status": "pre_transit", "status_detail":
        "status_update", "datetime": "2024-03-04T05:18:49Z", "source": "USPS", "carrier_code":
        "", "tracking_location": {"object": "TrackingLocation", "city": "HOUSTON",
        "state": "TX", "country": null, "zip": "77063"}}], "carrier_detail": {"object":
        "CarrierDetail", "service": "First-Class Package Service", "container_type":
        null, "est_delivery_date_local": null, "est_delivery_time_local": null, "origin_location":
        "HOUSTON TX, 77001", "origin_tracking_location": {"object": "TrackingLocation",
        "city": "HOUSTON", "state": "TX", "country": null, "zip": "77063"}, "destination_location":
        "CHARLESTON SC, 29401", "destination_tracking_location": null, "guaranteed_delivery_date":
        null, "alternate_identifier": null, "initial_delivery_attempt": null}, "finalized":
        true, "is_return": false, "public_url": "https://track.easypost.com/djE6dHJrXzkxZTQ1MzY3ZTgzNDQyMmM5YzYyMGUzYzkxYTQ1YmY0",
        "fees": []}, "tracking_code": "EZ1000000001", "fee": {"object": "Fee", "type":
        "InsuranceFee", "amount": "1.00000", "charged": true, "refunded": false},
        "messages": [], "created_at": "2024-04-04T16:40:56Z", "updated_at": "2024-04-04T16:40:56Z"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/insurances/ins_f79aee8d38f34ace96b6aa5eab6156b9
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 15191851660ed817e779a0b10071dc42
      x-node:
      - bigweb36nuq
      x-proxied:
      - intlb3nuq 39c21b8207
      - extlb2nuq 60566a9ec2
      x-version-label:
      - easypost-202404041612-01938f7c7e-master
    status:
      code: 201
      message: Created
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/insurances/ins_f79aee8d38f34ace96b6aa5eab6156b9/refund
  response:
    body:
      string: '{"id": "ins_f79aee8d38f34ace96b6aa5eab6156b9", "object": "Insurance",
        "mode": "test", "reference": null, "status": "cancelled", "amount": "100.00000",
        "provider": "easypost", "provider_id": null, "to_address": {"id[...]
