interactions:
- request:
    body: '{"user": {"name": "Test User"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_22d716f4cb694738b901863285eef43a", "object": "User", "parent_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "name": "Test User", "phone_number":
        "<REDACTED>", "verified": true, "created_at": "2024-08-15T19:54:25Z", "default_carbon_offset":
        false, "has_elevate_access": false, "children": [], "api_keys": [{"object":
        "ApiKey", "key": "<REDACTED>", "mode": "test", "created_at": "2024-08-15T19:54:25Z",
        "active": true, "id": "ak_88a847255b7747b699fb8d64678003c5"}, {"object": "ApiKey",
        "key": "<REDACTED>", "mode": "production", "created_at": "2024-08-15T19:54:25Z",
        "active": true, "id": "ak_098754e4152e48f0a8ce3416980c037e"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5cf0e78865850017769c
      x-node:
      - bigweb53nuq
      x-proxied:
      - intlb3nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: DELETE
    uri: https://api.easypost.com/v2/users/user_22d716f4cb694738b901863285eef43a
  response:
    body:
      string: ''
    headers:
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62c1f5d766be5cf1e78865850017772b
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb4nuq c0f5e722d1
      - extlb2nuq b6e1b5034c
      x-version-label:
      - easypost-202408151917-1527448f18-master
    status:
      code: 204
      message: No Content
version: 1
