interactions:
- request:
    body: '{"order": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "shipments": [{"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode": "test", "reference": null, "is_return": false, "options":
        {"currency": "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier":
        "UPS", "carrier_account_id": "ca_d31b24747ed14e79b6d3cda1e80bd149", "type":
        "rate_error", "message": "Invalid Access License number"}, {"carrier": "UPS",
        "carrier_account_id": "ca_02fda353301a4d5d891540f9e381d326", "type": "rate_error",
        "message": "Invalid Access License number"}, {"carrier": "UPS", "carrier_account_id":
        "ca_96aa6c6b55c6412b9c082f542ff41805", "type": "rate_error", "message": "Invalid
        Access License number"}, {"carrier": "UPS", "carrier_account_id": "ca_d690639a2acc4b15bb645824b84f7498",
        "type": "rate_error", "message": "Invalid Access Li[...]
- request:
    body: '{"carrier": "USPS", "service": "First"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/orders/order_492503d8b184420e807b23b3916bfc03/buy
  response:
    body:
      string: '{"mode": "test", "reference": null, "is_return": false, "options":
        {"currency": "USD", "payment": {"type": "SENDER"}}, "messages": [{"carrier":
        "UPS", "carrier_account_id": "ca_d31b24747ed1[...]
