interactions:
- request:
    body: '{"user": {"name": "test test", "email": "test@test.com", "phone": "8888888888"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/referral_customers
  response:
    body:
      string: '{"id": "user_2f55f59b52d44b97a4d2e7363fb3aa29", "object": "User", "parent_id":
        null, "name": "test test", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2022-09-15T17:59:44Z", "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.0375", "default_insurance_amount":
        "50.00", "insurance_fee_rate": "0.005", "insurance_fee_minimum": "0.25", "email":
        "<REDACTED>", "children": "<REDACTED>", "api_keys": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"41869d3faa3d0def1ab04682c8619758"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - fb9a52bd63236810e787d9600008215d
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb2nuq 9ce216bfac
      x-version-label:
      - easypost-202209142327-76d51e2e7e-master
    status:
      code: 201
      message: Created
version: 1
