interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/beta/rates
  response:
    body:
      string: '{"from_address": {"object": "Address", "name": "Jack Sparrow", "street1":
        "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state":
        "CA", "zip": "94107", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>"},
        "to_address": {"object": "Address", "name": "Elizabeth Swan", "street1": "179
        N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>"}, "rates": [{"object":
        "Rate", "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"object":
        "Rate", "mode": "test", "service": "Priority", "carrier": "USPS", "rate":
        "7.42", "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD",
        "list_rate": "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"object":
        "Rate", "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate":
        "6.07", "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD",
        "list_rate": "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}], "options":
        {"currency": "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "parcel":
        {"object": "Parcel", "length": 10.0, "width": 8.0, "height": 4.0, "weight":
        15.4}, "messages": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 8e8eb62767c9fbe7e2b9777500186df3
      x-node:
      - bigweb33nuq
      x-proxied:
      - intlb3nuq 51d74985a2
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503061913-8f39069a2d-master
    status:
      code: 200
      message: OK
version: 1
