interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:03:05Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2023-11-28T22:03:05Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_e7e63b478e3911ee8e65ac1f6bc539ae", "object": "Address", "created_at":
        "2023-11-28T22:03:04+00:00", "updated_at": "2023-11-28T22:03:04+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_3010e359999e4d3c9d811014eca7fc43",
        "object": "Parcel", "created_at": "2023-11-28T22:03:05Z", "updated_at": "2023-11-28T22:03:05Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_48c9b3a844974166b9894bd64bccaeb3",
        "object": "Rate", "created_at": "2023-11-28T22:03:05Z", "updated_at": "2023-11-28T22:03:05Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "31.25",
        "currency": "USD", "retail_rate": "35.80", "retail_currency": "USD", "list_rate":
        "31.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_03ed93eb66f6411e8017bcee5bb14481", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_1132b97a503449c28cfc7c1c9aefb065",
        "object": "Rate", "created_at": "2023-11-28T22:03:05Z", "updated_at": "2023-11-28T22:03:05Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.95",
        "currency": "USD", "retail_rate": "10.20", "retail_currency": "USD", "list_rate":
        "8.24", "list_currency": "USD", "billing_type": "easypost",[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/rates/rate_48c9b3a844974166b9894bd64bccaeb3
  response:
    body:
      string: '{"id": "rate_48c9b3a844974166b9894bd64bccaeb3", "object": "Rate", "created_at":
        "2023-11-28T22:03:05Z", "updated_at": "2023-11-28T22:03:05Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "31.25", "currency": "USD",
        "retail_rate": "35.80", "retail_currency": "USD", "list_rate": "31.25", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": null, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": null, "shipment_id":
        "shp_03ed93eb66f6411e8017bcee5bb14481", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - ae35d0b66566639ae78a9789003e6e5f
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb1nuq b3de2c47ef
      - extlb2nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 200
      message: OK
version: 1
