interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
      x-client-user-agent:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/users
  response:
    body:
      string: '{"id": "user_2cfd34d1261a4a9b93d56c313a9a824b", "object": "User", "parent_id":
        null, "name": "Ryan Nguyen", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2022-05-23T17:43:47Z", "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.0325", "default_insurance_amount":
        "50.00", "insurance_fee_rate": "0.005", "insurance_fee_minimum": "0.25", "email":
        "<REDACTED>", "children": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e67cce23fee900986d910af43877bdf2"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - aefe80c762911dfcef9b192b0002b470
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb2nuq 570dfcbc0a
      - intlb1wdc 570dfcbc0a
      - extlb1wdc fc4d5d217f
      x-version-label:
      - easypost-202205262146-0562c799aa-master
    status:
      code: 200
      message: OK
- request:
    body: '{"user": {"phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
      x-client-user-agent:
      - <REDACTED>
    method: PATCH
    uri: https://api.easypost.com/v2/users/user_2cfd34d1261a4a9b93d56c313a9a824b
  response:
    body:
      string: '{"id": "user_2cfd34d1261a4a9b93d56c313a9a824b", "object": "User", "parent_id":
        null, "name": "Ryan Nguyen", "phone_number": "<REDACTED>", "verified": true,
        "created_at": "2022-05-23T17:43:47Z", "balance": "0.00000", "price_per_shipment":
        "0.00000", "recharge_amount": null, "secondary_recharge_amount": null, "recharge_threshold":
        null, "has_billing_method": null, "cc_fee_rate": "0.0325", "default_insurance_amount":
        "50.00", "insurance_fee_rate": "0.005", "insurance_fee_minimum": "0.25", "email":
        "<REDACTED>", "children": "<REDACTED>"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e67cce23fee900986d910af43877bdf2"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - aefe80c762911dfcef9b192b0002b484
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq 570dfcbc0a
      - intlb1wdc 570dfcbc0a
      - extlb1wdc fc4d5d217f
      x-version-label:
      - easypost-202205262146-0562c799aa-master
    status:
      code: 200
      message: OK
version: 1
