interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_6b4d00550e884c07985eaeccfbdf4fc1", "created_at": "2025-03-07T16:45:59Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": "9400100208303109505602", "updated_at":
        "2025-03-07T16:46:00Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": null, "from_address": {"id": "adr_a6167a17fb7311ef94473cecef1b359e",
        "object": "Address", "created_at": "2025-03-07T16:45:59+00:00", "updated_at":
        "2025-03-07T16:45:59+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        null, "parcel": {"id": "prcl_c2911b5c7bda49a9803dfba239fad665", "object":
        "Parcel", "created_at": "2025-03-07T16:45:59Z", "updated_at": "2025-03-07T16:45:59Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_d08201d458744a4ebf36695bb79f7dee",
        "created_at": "2025-03-07T16:46:00Z", "updated_at": "2025-03-07T16:46:00Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2025-03-07T16:46:00Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20250307/e8d6cfe7a133ab49f19fdbb00699c16dd0.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_e62e203a40874c9f9733fbd55e5fe9a8", "object":
        "Rate", "created_at": "2025-03-07T16:45:59Z", "updated_at": "2025-03-07T16:45:59Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6b4d00550e884c07985eaeccfbdf4fc1", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_aee96176a0764400a3bc4a6a200b4d17",
        "object": "Rate", "created_at": "2025-03-07T16:45:59Z", "updated_at": "2025-03-07T16:45:59Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6b4d00550e884c07985eaeccfbdf4fc1", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_ac50b2827b524b9f9ab7a19507dfb541",
        "object": "Rate", "created_at": "2025-03-07T16:45:59Z", "updated_at": "2025-03-07T16:45:59Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_6b4d00550e884c07985eaeccfbdf4fc1", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_aee96176a0764400a3bc4a6a200b4d17", "object":
        "Rate", "created_at": "2025-03-07T16:46:00Z", "updated_at": "2025-03-07T16:46:00Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_6b4d00550e884c07985eaeccfbdf4fc1", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_49bbcbf123ae4414984b6ee5182fc53b",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100208303109505602",
        "status": "unknown", "status_detail": "unknown", "created_at": "2025-03-07T16:46:00Z",
        "updated_at": "2025-03-07T16:46:00Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_6b4d00550e884c07985eaeccfbdf4fc1", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrXzQ5YmJjYmYxMjNhZTQ0MTQ5ODRiNmVlNTE4MmZjNTNi"},
        "to_address": {"id": "adr_a613c9f6fb7311ef9555ac1f6bc539ae", "object": "Address",
        "created_at": "2025-03-07T16:45:59+00:00", "updated_at": "2025-03-07T16:46:00+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_a6167a17fb7311ef94473cecef1b359e",
        "object": "Address", "created_at": "2025-03-07T16:45:59+00:00", "updated_at":
        "2025-03-07T16:45:59+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_a613c9f6fb7311ef9555ac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-07T16:45:59+00:00", "updated_at": "2025-03-07T16:46:00+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "6.07000", "charged": true,
        "refunded": false}], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_6b4d00550e884c07985eaeccfbdf4fc1
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 6eaaf8fa67cb22c7e2aaba00000ac624
      x-node:
      - bigweb32nuq
      x-proxied:
      - intlb3nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "min_datetime":
      "2025-03-08", "max_datetime": "2025-03-08", "instructions": "Pickup at front
      door", "shipment": {"id": "shp_6b4d00550e884c07985eaeccfbdf4fc1"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"id": "pickup_3cafbbc9dae14281a0c76848a9419cb1", "object": "Pickup",
        "created_at": "2025-03-07T16:46:00Z", "updated_at": "2025-03-07T16:46:00Z",
        "mode": "test", "status": "unknown", "reference": null, "min_datetime": "2025-03-08T00:00:00Z",
        "max_datetime": "2025-03-08T00:00:00Z", "is_account_address": false, "instructions":
        "Pickup at front door", "messages": [], "confirmation": null, "address": {"id":
        "adr_a6a0caccfb7311efb5feac1f6bc53342", "object": "Address", "created_at":
        "2025-03-07T16:46:00+00:00", "updated_at": "2025-03-07T16:46:00+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": [{"mode": "test", "service":
        "NextDay", "rate": "0.00", "currency": "USD", "created_at": "2025-03-07T16:46:02Z",
        "updated_at": "2025-03-07T16:46:02Z", "carrier": "USPS", "pickup_id": "pickup_3cafbbc9dae14281a0c76848a9419cb1",
        "id": "pickuprate_91820d140f3f4e9ebfa2e709688017c5", "object": "PickupRate"}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 6eaaf8fa67cb22c8e2aaba00000ac722
      x-node:
      - bigweb58nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 200
      message: OK
version: 1
