interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-04-20T18:37:19Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361115908947", "updated_at": "2022-04-20T18:37:20Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_e8ece703c0d811ecbbe3ac1f6bc7b362", "object": "Address", "created_at":
        "2022-04-20T18:37:19+00:00", "updated_at": "2022-04-20T18:37:19+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_d1c331b833004f80b6592185d768d233",
        "object": "Parcel", "created_at": "2022-04-20T18:37:19Z", "updated_at": "2022-04-20T18:37:19Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_6f40d3b68ef4489cae86cfe594c36c6f",
        "created_at": "2022-04-20T18:37:19Z", "updated_at": "2022-04-20T18:37:20Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-04-20T18:37:19Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220420/f1013b19b3654e65891fde192cade518.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_b013c03ffd394be68f84efb6ff372d40", "object":
        "Rate", "created_at": "2022-04-20T18:37:19Z", "updated_at": "2022-04-20T18:37:19Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "23.75",
        "currency": "USD", "retail_rate": "27.40", "retail_currency": "USD", "list_rate":
        "23.75", "list_currency": "USD", "delivery_days": null, "delivery_date": null,
        "delivery_date_guaranteed": false, "est_delivery_days": null, "shipment_id":
        "shp_403a70f440c44cb68ce5f12a9a529db3", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_ed199e24fd644e958d9afc554f870d4e", "object": "Rate", "created_at":
        "2022-04-20T18:37:19Z", "updated_at": "2022-04-20T18:37:19Z", "mode": "test",
        "service": "ParcelSelect", "carrier": "USPS", "rate": "7.22", "currency":
        "USD", "retail_rate": "7.22", "retail_currency": "USD", "list_rate": "7.22",
        "list_currency": "USD", "delivery_days": 2, "delivery_date": null, "delivery_date_guaranteed":
        false, [...]
- request:
    body: '{"pickup": {"address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "min_datetime": "2022-04-13",
      "max_datetime": "2022-04-13", "instructions": "Pickup at front door", "shipment":
      {"id": "shp_403a70f440c44cb68ce5f12a9a529db3"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups
  response:
    body:
      string: '{"object": "Pickup", "created_at": "2022-04-20T18:37:20Z", "updated_at":
        "2022-04-20T18:37:20Z", "mode": "test", "status": "unknown", "reference":
        null, "min_datetime": "2022-04-13T00:00:00Z", "max_datetime": "2022-04-13T00:00:00Z",
        "is_account_address": false, "instructions": "Pickup at front door", "messages":
        [{"carrier": "USPS", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e",
        "type": "rate_error", "message": "The Date you supplied occurs in the past
        or did not meet the 2:00 am (CST) cutoff for today."}], "confirmation": null,
        "address": {"id": "adr_e987d66fc0d811ecb601ac1f6b0a0d1e", "object": "Address",
        "created_at": "2022-04-20T18:37:20+00:00", "updated_at": "2022-04-20T18:37:20+00:00",
        "name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
        "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
        "country": "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "carrier_accounts": [], "pickup_rates": []}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c55b9c4e94ce003059c44957908a6431"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - f6c5a4eb626052e0e79969e8002432ed
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: '{"carrier": "USPS", "service": "NextDay"}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/pickups/pickup_7a33969cb9bc42fd86121cdf27a8f2d9/buy
  response:
    body:
      string: '{"error": {"code": "PICKUP.BUY.NO_MATCHING_RATES", "message": "Unable
        to purchase pickup, no rates matching your request were found.", "errors":
        []}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f6c5a4eb626052e1e79969e80024331f
      x-node:
      - bigweb1nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb1nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 422
      message: Unprocessable Entity
version: 1
