interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "from_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "GroundAdvantage", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"id": "shp_0d6b20226e494736aa947169c8d24bf6", "created_at": "2025-03-07T16:46:29Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "reference": null,
        "status": "unknown", "tracking_code": "9400100208303109505695", "updated_at":
        "2025-03-07T16:46:30Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": null, "from_address": {"id": "adr_b7f8e61ffb7311ef9eca3cecef1b359e",
        "object": "Address", "created_at": "2025-03-07T16:46:29+00:00", "updated_at":
        "2025-03-07T16:46:29+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        null, "parcel": {"id": "prcl_5d41e80a1df240b688eb8fc5696a4bf5", "object":
        "Parcel", "created_at": "2025-03-07T16:46:29Z", "updated_at": "2025-03-07T16:46:29Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_288b7cf0b90447bd9232d51c1bf25830",
        "created_at": "2025-03-07T16:46:30Z", "updated_at": "2025-03-07T16:46:30Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2025-03-07T16:46:30Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20250307/e85e45f2badc7c4c0db07c7e4b594f8282.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_ca8d31d84b50481a84720db0a1f55331", "object":
        "Rate", "created_at": "2025-03-07T16:46:30Z", "updated_at": "2025-03-07T16:46:30Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_0d6b20226e494736aa947169c8d24bf6", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_19dcf38e6f444db1adb6e38b93375382",
        "object": "Rate", "created_at": "2025-03-07T16:46:30Z", "updated_at": "2025-03-07T16:46:30Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_0d6b20226e494736aa947169c8d24bf6", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_585cf48015a940dfb200d4c77df8cfb6",
        "object": "Rate", "created_at": "2025-03-07T16:46:30Z", "updated_at": "2025-03-07T16:46:30Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_0d6b20226e494736aa947169c8d24bf6", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": {"id": "rate_19dcf38e6f444db1adb6e38b93375382", "object":
        "Rate", "created_at": "2025-03-07T16:46:30Z", "updated_at": "2025-03-07T16:46:30Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "6.07",
        "currency": "USD", "retail_rate": "8.85", "retail_currency": "USD", "list_rate":
        "6.57", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_0d6b20226e494736aa947169c8d24bf6", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, "tracker": {"id": "trk_53cb015bbb2a46abbc80d1918a131ee5",
        "object": "Tracker", "mode": "test", "tracking_code": "9400100208303109505695",
        "status": "unknown", "status_detail": "unknown", "created_at": "2025-03-07T16:46:30Z",
        "updated_at": "2025-03-07T16:46:30Z", "signed_by": null, "weight": null, "est_delivery_date":
        null, "shipment_id": "shp_0d6b20226e494736aa947169c8d24bf6", "carrier": "USPS",
        "tracking_details": [], "fees": [], "carrier_detail": null, "public_url":
        "https://track.easypost.com/djE6dHJrXzUzY2IwMTViYmIyYTQ2YWJiYzgwZDE5MThhMTMxZWU1"},
        "to_address": {"id": "adr_b7f651a1fb7311ef804bac1f6bc53342", "object": "Address",
        "created_at": "2025-03-07T16:46:29+00:00", "updated_at": "2025-03-07T16:46:30+00:00",
        "name": "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20",
        "street2": "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670",
        "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test",
        "carrier_facility": null, "residential": true, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {"zip4": {"success": true, "errors": [], "details":
        null}, "delivery": {"success": true, "errors": [], "details": {"latitude":
        37.77551, "longitude": -122.39697, "time_zone": "America/Los_Angeles"}}}},
        "usps_zone": 4, "return_address": {"id": "adr_b7f8e61ffb7311ef9eca3cecef1b359e",
        "object": "Address", "created_at": "2025-03-07T16:46:29+00:00", "updated_at":
        "2025-03-07T16:46:29+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "buyer_address": {"id":
        "adr_b7f651a1fb7311ef804bac1f6bc53342", "object": "Address", "created_at":
        "2025-03-07T16:46:29+00:00", "updated_at": "2025-03-07T16:46:30+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        "", "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, "forms": [], "fees": [{"object": "Fee",
        "type": "LabelFee", "amount": "0.00000", "charged": true, "refunded": false},
        {"object": "Fee", "type": "PostageFee", "amount": "6.07000", "charged": true,
        "refunded": false}], "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/shipments/shp_0d6b20226e494736aa947169c8d24bf6
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 6eaaf8ff67cb22e5e2aabd7c000aef52
      x-node:
      - bigweb43nuq
      x-proxied:
      - intlb4nuq 324e75def6
      - extlb1nuq 99aac35317
      x-version-label:
      - easypost-202503070040-19f686ce32-master
    status:
      code: 201
      message: Created
- request:
    body: '{"form": {"type": "return_packing_slip", "barcode": "RMA12345678900", "line_items":
      [{"product": {"title": "Square Reader", "barcode": "855658003251"}, "units":
      8}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_0d6b20226e494736aa947169c8d24bf6/forms
  response:
    body:
      string: '{"id": "shp_0d6b20226e494736aa947169c8d24bf6", "created_at": "2025-03-07T16:46:29Z",
        "is_return": false, "messages": [], "mode": "test", "options": {"currency":
        "USD", "payment": {"type": "SENDER"}, "date_advance": 0}, "referenc[...]
