interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
      "US", "email": "test@example.com", "phone": "5555555555"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"id": "adr_bfbcf8998e3a11ee901eac1f6bc53342", "object": "Address",
        "created_at": "2023-11-28T22:09:07+00:00", "updated_at": "2023-11-28T22:09:07+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/addresses/adr_bfbcf8998e3a11ee901eac1f6bc53342
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 88ad7b9365666503e78a9f85003f6b8e
      x-node:
      - bigweb39nuq
      x-proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"parcel": {"length": 10, "width": 8, "height": 4, "weight": 15.4}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/parcels
  response:
    body:
      string: '{"id": "prcl_afbe09d245bc4206800ba9a28b94cba4", "object": "Parcel",
        "created_at": "2023-11-28T22:09:07Z", "updated_at": "2023-11-28T22:09:07Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      location:
      - /api/v2/parcels/prcl_afbe09d245bc4206800ba9a28b94cba4
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 88ad7b9365666503e78a9f85003f6bd8
      x-node:
      - bigweb41nuq
      x-proxied:
      - intlb1nuq b3de2c47ef
      - extlb1nuq 003ad9bca0
      x-version-label:
      - easypost-202311250013-a0f06fbc2c-master
    status:
      code: 201
      message: Created
- request:
    body: '{"shipment": {"from_address": {"id": "adr_bfbcf8998e3a11ee901eac1f6bc53342"},
      "to_address": {"id": "adr_bfd8825c8e3a11ee9845ac1f6bc539ae"}, "parcel": {"id":
      "prcl_afbe09d245bc4206800ba9a28b94cba4"}}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2023-11-28T22:09:07Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_0d64fd488c1444cf9bc16f858703e28f",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_99007e1aeb66421faf82676f1199481e",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_711d8c4f9be54801b984e5dc9f2b5a7c",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c7b4cfaf671b4984b84023d77561394a",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_b1a0a1bc45844159812e0224d53948ea",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}, {"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2023-11-28T22:09:08Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_bfbcf8998e3a11ee901eac1f6bc53342", "object": "Address", "created_at":
        "2023-11-28T22:09:07+00:00", "updated_at": "2023-11-28T22:09:07+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_afbe09d245bc4206800ba9a28b94cba4",
        "object": "Parcel", "created_at": "2023-11-28T22:09:07Z", "updated_at": "2023-11-28T22:09:07Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_e6830757ed374d7fad0010c2b50bef7d",
        "object": "Rate", "created_at": "2023-11-28T22:09:08Z", "updated_at": "2023-11-28T22:09:08Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "25.25",
        "currency": "USD", "retail_rate": "29.20", "retail_currency": "USD", "list_rate":
        "25.25", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_a43912c17d674287aa39e8a4bfdf0fe2", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_c58b30434f6a4e1289b6f8ee06d7a671",
        "object": "Rate", "created_at": "2023-11-28T22:09:08Z", "updated_at": "2023-11-28T22:09:08Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "6.73",
        "currency": "USD", "retail_rate": "9.35", "retail_currency": "USD", "list_rate":
        "7.64", "list_currency": "USD", "billing_type": "easypost", [...]
