interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Jack Sparrow", "company": "EasyPost",
      "street1": "388 Townsend St", "street2": "Apt 20", "city": "San Francisco",
      "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address": {"name":
      "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
      "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"},
      "parcel": {"length": "10", "width": "8", "height": "4", "weight": "15.4"}, "service":
      "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"], "carrier":
      "USPS"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-11T18:48:24Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        "9400100109361127612764", "updated_at": "2022-07-11T18:48:25Z", "batch_id":
        null, "batch_status": null, "batch_message": null, "customs_info": null, "from_address":
        {"id": "adr_0b180d57014a11ed870eac1f6bc72124", "object": "Address", "created_at":
        "2022-07-11T18:48:24+00:00", "updated_at": "2022-07-11T18:48:24+00:00", "name":
        "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": null, "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "insurance": null, "order_id": null, "parcel": {"id": "prcl_ddb6dc3e9bb8459d893121d24502897e",
        "object": "Parcel", "created_at": "2022-07-11T18:48:24Z", "updated_at": "2022-07-11T18:48:24Z",
        "length": 10.0, "width": 8.0, "height": 4.0, "predefined_package": null, "weight":
        15.4, "mode": "test"}, "postage_label": {"object": "PostageLabel", "id": "pl_89b973d63354426a91bdd3b16467bbf3",
        "created_at": "2022-07-11T18:48:24Z", "updated_at": "2022-07-11T18:48:25Z",
        "date_advance": 0, "integrated_form": "none", "label_date": "2022-07-11T18:48:24Z",
        "label_resolution": 300, "label_size": "4x6", "label_type": "default", "label_file_type":
        "image/png", "label_url": "https://easypost-files.s3.us-west-2.amazonaws.com/files/postage_label/20220711/5120d81e954746b3bc02a2832b5c29c2.png",
        "label_pdf_url": null, "label_zpl_url": null, "label_epl2_url": null, "label_file":
        null}, "rates": [{"id": "rate_2cf1c88b893b495796a085b024bc700e", "object":
        "Rate", "created_at": "2022-07-11T18:48:24Z", "updated_at": "2022-07-11T18:48:24Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.49", "currency":
        "USD", "retail_rate": "5.49", "retail_currency": "USD", "list_rate": "5.49",
        "list_currency": "USD", "billing_type": "easypost", "delivery_days": 2, "delivery_date":
        null, "delivery_date_guaranteed": false, "est_delivery_days": 2, "shipment_id":
        "shp_c6d79ad25e4949ab99c6115e0abc4654", "carrier_account_id": "ca_b25657e9896e4d63ac8151ac346ac41e"},
        {"id": "rate_1c7976a658f7415cb991974bef339259", "object": "Rate", "created_at":
        "2022-07-11T18:48:24Z", "updated_at": "2022-07-11T18:48:24Z", "mode": "test",
        "service": "Express", "carrier": "USPS", "rate": "23.75", "currency": "USD",
        "retail_rate": "27.40", "retail_currency": "USD", "list_rate": "23.75", "list_currency":
        "USD", "billing_type": "easypost", "delivery_days": null, "delivery_date":
        null, "deliv[...]
- request:
    body: '{"form": {"type": "return_packing_slip", "barcode": "RMA12345678900", "line_items":
      [{"product": {"title": "Square Reader", "barcode": "855658003251"}, "units":
      8}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_c6d79ad25e4949ab99c6115e0abc4654/forms
  response:
    body:
      string: '{"created_at": "2022-07-11T18:48:24Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code"[...]
