interactions:
- request:
    body: '{"shipment": {"to_address": {"name": "Dr. Steve Brule", "street1": "179
      N Harbor Dr", "city": "Redondo Beach", "state": "CA", "zip": "90277", "country":
      "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com"}, "from_address":
      {"name": "EasyPost", "street1": "417 Montgomery Street", "street2": "5th Floor",
      "city": "San Francisco", "state": "CA", "zip": "94104", "country": "US", "phone":
      "4153334445", "email": "support@easypost.com"}, "parcel": {"length": "20.2",
      "width": "10.9", "height": "5", "weight": "65.9"}}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-07-28T19:56:26Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-07-28T19:56:26Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_5d1316dc0eaf11eda3d2ac1f6bc72124", "object": "Address", "created_at":
        "2022-07-28T19:56:26+00:00", "updated_at": "2022-07-28T19:56:26+00:00", "name":
        "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_9e0fdb2c4b1f4471905fbe86fbc0f802", "object": "Parcel", "created_at":
        "2022-07-28T19:56:26Z", "updated_at": "2022-07-28T19:56:26Z", "length": 20.2,
        "width": 10.9, "height": 5.0, "predefined_package": null, "weight": 65.9,
        "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_ce97ca4d7bf3458abe8c163b7e2217d2",
        "object": "Rate", "created_at": "2022-07-28T19:56:26Z", "updated_at": "2022-07-28T19:56:26Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "9.82",
        "currency": "USD", "retail_rate": "13.15", "retail_currency": "USD", "list_rate":
        "9.82", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_b49f9bb6bc7b4c458c4a6cbc7e438f73", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_2616f71260634403a7ccd86e732d798d",
        "object": "Rate", "created_at": "2022-07-28T19:56:26Z", "updated_at": "2022-07-28T19:56:26Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "8.91",
        "currency": "USD", "retail_rate": "8.91", "retail_currency": "USD", "list_rate":
        "8.91", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "shipment_id": "shp_b49f9bb6bc7b4c458c4a6cbc7e438f73", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_81f6f77471df41d284f9bf97308911fb",
        "object": "Rate", "created_at": "2022-07-28T19:56:26Z", "updated_at": "2022-07-28T19:56:26Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "44.30",
        "currency": "USD", "retail_rate": "51.00", "retail_currency": "USD", "list_rate":
        "44.30", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        null, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        null, "shipment_id": "shp_b49f9bb6bc7b4c458c4a6cbc7e438f73", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_5d113f850eaf11eda293ac1f6bc7b362",
        "object": "Address", "created_at": "2022-07-28T19:56:26+00:00", "updated_at":
        "2022-07-28T19:56:26+00:00", "name": "Dr. Steve Brule", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_5d1316dc0eaf11eda3d2ac1f6bc72124", "object": "Address", "created_at":
        "2022-07-28T19:56:26+00:00", "updated_at": "2022-07-28T19:56:26+00:00", "name":
        "EasyPost", "company": null, "street1": "417 Montgomery Street", "street2":
        "5th Floor", "city": "San Francisco", "state": "CA", "zip": "94104", "country":
        "US", "phone": "4153334445", "email": "support@easypost.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "buyer_address": {"id": "adr_5d113f850eaf11eda293ac1f6bc7b362",
        "object": "Address", "created_at": "2022-07-28T19:56:26+00:00", "updated_at":
        "2022-07-28T19:56:26+00:00", "name": "Dr. Steve Brule", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "8573875756", "email": "dr_steve_brule@gmail.com",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "forms": [], "fees": [],
        "id": "shp_b49f9bb6bc7b4c458c4a6cbc7e438f73", "object": "Shipment"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"3bc583dfb84ae2263794c9c2b4005f58"
      location:
      - /api/v2/shipments/shp_b49f9bb6bc7b4c458c4a6cbc7e438f73
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 3843704162e2e9eaff23e2db0034379f
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq 403f17ff97
      - intlb2wdc 403f17ff97
      - extlb4wdc 403f17ff97
      x-version-label:
      - easypost-202207272329-7f74c9e58c-master
    status:
      code: 201
      message: Created
- request:
    body: '{"rate": {"id": "rate_2616f71260634403a7ccd86e732d798d"}, "carbon_offset":
      true}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments/shp_b49f9bb6bc7b4c458c4a6cbc7e438f73/buy
  response:
    body:
      string: '{"created_at": "2022-07-28T19:56:26Z", "is_return": false, "messages":
        [], "mode": "test", "options": {"currency": "USD", "payment": {"type": [...]
