interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/events?page_size=5
  response:
    body:
      string: '{"events": [{"description": "batch.updated", "id": "evt_4a8e25761ccb11eda9904f969790a8a6",
        "user_id": "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-08-15T18:51:37.312Z", "mode": "test", "object": "Event"}, {"description":
        "batch.updated", "id": "evt_49d98e861ccb11edbd447505f1663554", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-08-15T18:51:36.128Z", "mode": "test", "object": "Event"}, {"description":
        "batch.updated", "id": "evt_478dbcf61ccb11edbbb835ab5e8e30cc", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-08-15T18:51:32.276Z", "mode": "test", "object": "Event"}, {"description":
        "batch.updated", "id": "evt_46a686561ccb11ed81e91da8777bd466", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-08-15T18:51:30.761Z", "mode": "test", "object": "Event"}, {"description":
        "batch.created", "id": "evt_4696ee801ccb11ed80f613cd85645f96", "user_id":
        "user_54356a6b96c940d8913961a3c7b909f2", "status": "pending", "created_at":
        "2022-08-15T18:51:30.658Z", "mode": "test", "object": "Event"}], "has_more":
        true}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c891332068114556a692400898fcdee7"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47d62fa95bee79a79c10026217c
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 200
      message: OK
version: 1
