interactions:
- request:
    body: '{"address": {"name": "Jack Sparrow", "company": "EasyPost", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "phone": "5555555555"}, "verify_strict": [true]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/addresses
  response:
    body:
      string: '{"object": "Address", "created_at": "2022-04-20T18:36:41+00:00", "updated_at":
        "2022-04-20T18:36:41+00:00", "name": "JACK SPARROW", "company": "EASYPOST",
        "street1": "388 TOWNSEND ST APT 20", "street2": "", "city": "SAN FRANCISCO",
        "state": "CA", "zip": "94107-1670", "country": "US", "phone": "5555555555",
        "email": null, "mode": "test", "carrier_facility": null, "residential": true,
        "federal_tax_id": null, "state_tax_id": null, "verifications": {"zip4": {"success":
        true, "errors": [], "details": null}, "delivery": {"success": true, "errors":
        [], "details": {"latitude": 37.77551, "longitude": -122.39697, "time_zone":
        "America/Los_Angeles"}}}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"7c6d3becb48fa86b300e863395ec4d3a"
      location:
      - /api/v2/addresses/adr_d2861fb5c0d811ecaf73ac1f6b0a0d1e
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d8626052b9e799666d00242aba
      x-node:
      - bigweb2nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
version: 1
