interactions:
- request:
    body: '{"order": {"from_address": {"name": "Jack Sparrow", "street1": "388 Townsend
      St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "country": "US", "email": "test@example.com", "phone": "5555555555"}, "to_address":
      {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city": "Redondo Beach",
      "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "shipments": [{"parcel": {"weight": 10.2}}, {"parcel":
      {"weight": 17.5}}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/orders
  response:
    body:
      string: '{"mode": "test", "reference": "", "is_return": false, "options": {"currency":
        "USD", "payment": {"type": "SENDER"}}, "messages": [], "created_at": "2025-03-06T19:48:27Z",
        "updated_at": "2025-03-06T19:48:27Z", "customs_info": null, "from_address":
        {"id": "adr_f8b671e2fac311efbcd2ac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-06T19:48:27+00:00", "updated_at": "2025-03-06T19:48:27+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "to_address": {"id": "adr_f8b49794fac311efbcd0ac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-06T19:48:26+00:00", "updated_at": "2025-03-06T19:48:26+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_f8b49794fac311efbcd0ac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-06T19:48:26+00:00", "updated_at": "2025-03-06T19:48:26+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "return_address": {"id": "adr_f8b671e2fac311efbcd2ac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-06T19:48:27+00:00", "updated_at": "2025-03-06T19:48:27+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "shipments": [{"id": "shp_080c36deaf4e46288c6ab4dd7541c0ff", "created_at":
        "2025-03-06T19:48:27Z", "is_return": false, "messages": [], "mode": "test",
        "options": {"currency": "USD", "payment": {"type": "SENDER"}, "date_advance":
        0}, "reference": null, "status": "unknown", "tracking_code": null, "updated_at":
        "2025-03-06T19:48:27Z", "batch_id": null, "batch_status": null, "batch_message":
        null, "customs_info": null, "from_address": {"id": "adr_f8b671e2fac311efbcd2ac1f6bc539ae",
        "object": "Address", "created_at": "2025-03-06T19:48:27+00:00", "updated_at":
        "2025-03-06T19:48:27+00:00", "name": "Jack Sparrow", "company": null, "street1":
        "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state":
        "CA", "zip": "94107", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "insurance": null, "order_id":
        "order_2d074a2409d84d28b4d76e9c4288931b", "parcel": {"id": "prcl_b2c5e6eacb884263b430db2ff32acd34",
        "object": "Parcel", "created_at": "2025-03-06T19:48:27Z", "updated_at": "2025-03-06T19:48:27Z",
        "length": null, "width": null, "height": null, "predefined_package": null,
        "weight": 10.2, "mode": "test"}, "postage_label": null, "rates": [{"id": "rate_679c43ffd32c4a67a07c06c73c8db0fd",
        "object": "Rate", "created_at": "2025-03-06T19:48:27Z", "updated_at": "2025-03-06T19:48:27Z",
        "mode": "test", "service": "GroundAdvantage", "carrier": "USPS", "rate": "5.21",
        "currency": "USD", "retail_rate": "7.00", "retail_currency": "USD", "list_rate":
        "5.21", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        3, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        3, "shipment_id": "shp_080c36deaf4e46288c6ab4dd7541c0ff", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_6d80f0247620488295d4e0972f9df86b",
        "object": "Rate", "created_at": "2025-03-06T19:48:27Z", "updated_at": "2025-03-06T19:48:27Z",
        "mode": "test", "service": "Express", "carrier": "USPS", "rate": "34.15",
        "currency": "USD", "retail_rate": "39.10", "retail_currency": "USD", "list_rate":
        "34.15", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        1, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        1, "shipment_id": "shp_080c36deaf4e46288c6ab4dd7541c0ff", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_c846a472ccb04471b81fa5ea9fc14952",
        "object": "Rate", "created_at": "2025-03-06T19:48:27Z", "updated_at": "2025-03-06T19:48:27Z",
        "mode": "test", "service": "Priority", "carrier": "USPS", "rate": "7.42",
        "currency": "USD", "retail_rate": "9.90", "retail_currency": "USD", "list_rate":
        "8.34", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        2, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        2, "shipment_id": "shp_080c36deaf4e46288c6ab4dd7541c0ff", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}], "refund_status": null, "scan_form":
        null, "selected_rate": null, "tracker": null, "to_address": {"id": "adr_f8b49794fac311efbcd0ac1f6bc539ae",
        "object": "Address", "created_at": "2025-03-06T19:48:26+00:00", "updated_at":
        "2025-03-06T19:48:26+00:00", "name": "Elizabeth Swan", "company": null, "street1":
        "179 N Harbor Dr", "street2": null, "city": "Redondo Beach", "state": "CA",
        "zip": "90277", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {}}, "usps_zone": 4, "return_address":
        {"id": "adr_f8b671e2fac311efbcd2ac1f6bc539ae", "object": "Address", "created_at":
        "2025-03-06T19:48:27+00:00", "updated_at": "2025-03-06T19:48:27+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "buyer_address": {"id": "adr_f8b49794fac311efbcd0ac1f6bc539ae", "object":
        "Address", "created_at": "2025-03-06T19:48:26+00:00", "updated_at": "2025-03-06T19:48:26+00:00",
        "name": "Elizabeth Swan", "company": null, "street1": "179 N Harbor Dr", "street2":
        null, "city": "Redondo Beach", "state": "CA", "zip": "90277", "country": "US",
        "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, "forms": [], "fees": [], "object": "Shipment"}, {"id": "shp_585a2e0c08944a61bee1557f6f8b9fef",
        "created_at": "2025-03-06T19:48:27Z", "is_return": false, "messages": [],
        "mode": "test", "options": {"currency": "USD", "payment": {"type": "SENDER"},
        "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2025-03-06T19:48:27Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
    [...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/orders/order_2d074a2409d84d28b4d76e9c4288931b
  response:
    body:
      string: '{"mode": "test", "reference": "", "is_return": false, "options": {"currency":
        "USD", "payment": {"type": "SENDER"}}, "messages": [], "created_at": "2025-03-06T19:48:27Z",
        "updated_at": "2025-03-06T19:48:27Z", "customs_info": null, "from_address":
        {"id": "adr_f8[...]
