interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "company":
      "EasyPost", "street1": "388 Townsend St", "street2": "Apt 20", "city": "San
      Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address":
      {"name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
      "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "phone": "5555555555"}, "parcel": {"length": "10", "width": "8", "height": "4",
      "weight": "15.4"}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id":"batch_a48b067fe8634d478ce708925a8ccb49","object":"Batch","mode":"test","state":"creating","num_shipments":1,"reference":null,"created_at":"2022-05-04T20:25:22Z","updated_at":"2022-05-04T20:25:22Z","scan_form":null,"shipments":[],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"dea5778f6a44c8b7005bd9d399162077"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b96272e132e786b83f0016156b
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_a48b067fe8634d478ce708925a8ccb49/buy
  response:
    body:
      string: '{"id":"batch_a48b067fe8634d478ce708925a8ccb49","object":"Batch","mode":"test","state":"created","num_shipments":1,"reference":null,"created_at":"2022-05-04T20:25:22Z","updated_at":"2022-05-04T20:25:22Z","scan_form":null,"shipments":[{"batch_status":"queued_for_purchase","batch_message":null,"reference":null,"tracking_code":null,"id":"shp_756c49497ee94a71940fdcb09bfed6d8"}],"status":{"created":1,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":0,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c1b83421407f3fba1e56a419da77b861"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 62b330b96272e132e786b83f00161577
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_a48b067fe8634d478ce708925a8ccb49/scan_form
  response:
    body:
      string: '{"id":"batch_a48b067fe8634d478ce708925a8ccb49","object":"Batch","mode":"test","state":"purchased","num_shipments":1,"reference":null,"created_at":"2022-05-04T20:25:22Z","updated_at":"2022-05-04T20:25:27Z","scan_form":{"id":"sf_26238787f2e14d86965dfee7c5b7f847","object":"ScanForm","created_at":"2022-05-04T20:25:27Z","updated_at":"2022-05-04T20:25:27Z","tracking_codes":[],"address":null,"status":"creating","message":null,"form_url":null,"form_file_type":null,"batch_id":"batch_a48b067fe8634d478ce708925a8ccb49","confirmation":null},"shipments":[{"batch_status":"postage_purchased","batch_message":null,"reference":null,"tracking_code":"9400100109361117768686","id":"shp_756c49497ee94a71940fdcb09bfed6d8"}],"status":{"created":0,"queued_for_purchase":0,"creation_failed":0,"postage_purchased":1,"postage_purchase_failed":0},"pickup":null,"label_url":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8a2f76fc9420f5f8f7b9ee3ec93e805c"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 62b330b96272e137e786b83f001617a1
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb1nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 200
      message: OK
version: 1
