interactions:
- request:
    body: '{"type": "shipment", "start_date": "2022-05-04", "end_date": "2022-05-04",
      "columns": ["usps_zone"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id": "shprep_27d26c46a12f443a8c1a543c73e9f550", "object": "ShipmentReport",
        "created_at": "2022-08-15T18:52:17Z", "updated_at": "2022-08-15T18:52:17Z",
        "start_date": "2022-05-04", "end_date": "2022-05-04", "mode": "test", "status":
        "new", "url": null, "url_expires_at": null, "include_children": false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"48db648345d0fe0657164471e023a968"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - f43af47962fa95e1e79a7a6600262e38
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq 6aa9972c1e
      - extlb1nuq 9ce216bfac
      x-version-label:
      - easypost-202208151827-9b2100b5ad-master
    status:
      code: 201
      message: Created
version: 1
