interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_253f17d4900e4f25b4af1a76dd100dc4", "object": "EasyPost::Entity::Batch",
        "mode": "test", "state": "creating", "num_shipments": 1, "reference": null,
        "created_at": "2022-09-26T19:20:44Z", "updated_at": "2022-09-26T19:20:44Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"2675478e0e1fc3bfe3ebd8bd53c339e5"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 20a8e4aa6331fb8ce788d946003a3701
      x-node:
      - bigweb9nuq
      x-proxied:
      - intlb2nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209261717-03ecd81b73-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_253f17d4900e4f25b4af1a76dd100dc4/buy
  response:
    body:
      string: '{"id": "batch_253f17d4900e4f25b4af1a76dd100dc4", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2022-09-26T19:20:44Z", "updated_at": "2022-09-26T19:20:44Z",
        "scan_form": null, "shipments": [{"batch_status": "queued_for_purchase", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_4a2455684c524a05b7e04a03af71b704"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e8b33d952f7486b1aa7c11d52305e167"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 20a8e4aa6331fb8ce788d946003a3711
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209261717-03ecd81b73-master
    status:
      code: 200
      message: OK
version: 1
