interactions:
- request:
    body: '{"customs_item": {"description": "Sweet shirts", "quantity": 2, "weight":
      11, "value": 23, "hs_tariff_number": "654321", "origin_country": "US"}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/customs_items
  response:
    body:
      string: '{"object": "CustomsItem", "created_at": "2022-04-20T18:36:55Z", "updated_at":
        "2022-04-20T18:36:55Z", "description": "Sweet shirts", "hs_tariff_number":
        "654321", "origin_country": "US", "quantity": 2, "value": "23.0", "weight":
        11.0, "code": null, "mode": "test", "manufacturer": null, "currency": null,
        "eccn": null, "printed_commodity_identifier": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"d640d44f7b6abe2c43edd56b4a36b0fb"
      location:
      - /api/v2/customs_items/cstitem_64ea79e5c50b4dab9bde6cec12dd3f21
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d4626052c7e79969c100242fc2
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
version: 1
