interactions:
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?page_size=5
  response:
    body:
      string: '{"addresses": [{"id": "adr_cdba15145b3f11ef936dac1f6bc53342", "object":
        "Address", "created_at": "2024-08-15T19:51:46+00:00", "updated_at": "2024-08-15T19:51:46+00:00",
        "name": "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": null, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {}}, {"id": "adr_cd8fcb275b3f11ef9363ac1f6bc53342", "object": "Address", "created_at":
        "2024-08-15T19:51:46+00:00", "updated_at": "2024-08-15T19:51:46+00:00", "name":
        "JACK SPARROW", "company": null, "street1": "388 TOWNSEND ST APT 20", "street2":
        null, "city": "SAN FRANCISCO", "state": "CA", "zip": "94107-1670", "country":
        "US", "phone": "<REDACTED>", "email": "<REDACTED>", "mode": "test", "carrier_facility":
        null, "residential": true, "federal_tax_id": null, "state_tax_id": null, "verifications":
        {"zip4": {"success": true, "errors": [], "details": null}, "delivery": {"success":
        true, "errors": [], "details": {"latitude": 37.77551, "longitude": -122.39697,
        "time_zone": "America/Los_Angeles"}}}}, {"id": "adr_cd5f77af5b3f11efb4baac1f6bc539aa",
        "object": "Address", "created_at": "2024-08-15T19:51:45+00:00", "updated_at":
        "2024-08-15T19:51:45+00:00", "name": null, "company": "EasyPost", "street1":
        "000 unknown street", "street2": null, "city": "Not A City", "state": "ZZ",
        "zip": "00001", "country": "US", "phone": "<REDACTED>", "email": "<REDACTED>",
        "mode": "test", "carrier_facility": null, "residential": null, "federal_tax_id":
        null, "state_tax_id": null, "verifications": {"zip4": {"success": false, "errors":
        [{"code": "E.ADDRESS.NOT_FOUND", "field": "address", "message": "Address not
        found", "suggestion": null}], "details": null}, "delivery": {"success": false,
        "errors": [{"code": "E.ADDRESS.NOT_FOUND", "field": "address", "message":
        "Address not found", "suggestion": null}], "details": {}}}}, {"id": "adr_cd4cd5d85b3f11ef9344ac1f6bc53342",
        "object": "Address", "created_at": "2024-08-15T19:51:45+00:00", "updated_at":
        "2024-08-15T19:51:45+00:00", "name": null, "company": "EasyPost", "street1":
        "000 unknown street", "street2": null, "city": "Not A City", "sta[...]
- request:
    body: null
    headers:
      authorization:
      - <REDACTED>
    method: GET
    uri: https://api.easypost.com/v2/addresses?before_id=adr_cd23a5615b3f11efa4bcac1f6bc539ae&page_size=5
  response:
    body:
      string: '{"addresses": [{"id": "adr_ccf83e735b3f11ef932bac1f6bc53342", "object":
        "Address", "created_at": "2024-08-15T19:51:45+00:00", "updated_at": "2024-08-15T19:51:45+00:00",
        "name": null, "company": "EasyPost", "street1": "000 unknown street", "street[...]
