interactions:
- request:
    body: '{"shipment": {"from_address": {"name": "Jack Sparrow", "street1": "388
      Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip":
      "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "to_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "tax_identifiers": [{"entity": "SENDER", "tax_id_type": "IOSS", "tax_id":
      "12345", "issuing_country": "GB"}]}, "carbon_offset": false}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/shipments
  response:
    body:
      string: '{"created_at": "2022-08-15T18:52:35Z", "is_return": false, "messages":
        [{"carrier": "DhlEcs", "carrier_account_id": "ca_c3cbbd21bc97400bbbaed6d030909476",
        "type": "rate_error", "message": "Unauthorized. Please check credentials and
        try again"}], "mode": "test", "options": {"currency": "USD", "payment": {"type":
        "SENDER"}, "date_advance": 0}, "reference": null, "status": "unknown", "tracking_code":
        null, "updated_at": "2022-08-15T18:52:36Z", "batch_id": null, "batch_status":
        null, "batch_message": null, "customs_info": null, "from_address": {"id":
        "adr_6d5e189f1ccb11ed8e1dac1f6bc7b362", "object": "Address", "created_at":
        "2022-08-15T18:52:35+00:00", "updated_at": "2022-08-15T18:52:35+00:00", "name":
        "Jack Sparrow", "company": null, "street1": "388 Townsend St", "street2":
        "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107", "country":
        "US", "phone": "5555555555", "email": "test@example.com", "mode": "test",
        "carrier_facility": null, "residential": null, "federal_tax_id": null, "state_tax_id":
        null, "verifications": {}}, "insurance": null, "order_id": null, "parcel":
        {"id": "prcl_6bb1efb8c18e4a40a8416488acfa0cc5", "object": "Parcel", "created_at":
        "2022-08-15T18:52:35Z", "updated_at": "2022-08-15T18:52:35Z", "length": 10.0,
        "width": 8.0, "height": 4.0, "predefined_package": null, "weight": 15.4, "mode":
        "test"}, "postage_label": null, "rates": [{"id": "rate_63a3be3c4470413490706b85ed789bca",
        "object": "Rate", "created_at": "2022-08-15T18:52:36Z", "updated_at": "2022-08-15T18:52:36Z",
        "mode": "test", "service": "ParcelSelect", "carrier": "USPS", "rate": "7.75",
        "currency": "USD", "retail_rate": "7.75", "retail_currency": "USD", "list_rate":
        "7.75", "list_currency": "USD", "billing_type": "easypost", "delivery_days":
        5, "delivery_date": null, "delivery_date_guaranteed": false, "est_delivery_days":
        5, "shipment_id": "shp_8106945d95f94018af889a91a90e1dd1", "carrier_account_id":
        "ca_b25657e9896e4d63ac8151ac346ac41e"}, {"id": "rate_193803994ebc49f1859813d74ca8b0b4",
        "object": "Rate", "created_at": "2022-08-15T18:52:36Z", "updated_at": "2022-08-15T18:52:36Z",
        "mode": "test", "service": "First", "carrier": "USPS", "rate": "5.57", "currency":
        "USD", "retail_rate": "5.57", "retail_currency": "USD", "list_rate": "5.57",
        "list_currency": "USD", "billing_type": "easypost", "de[...]
