interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "street1":
      "388 Townsend St", "street2": "Apt 20", "city": "San Francisco", "state": "CA",
      "zip": "94107", "country": "US", "email": "test@example.com", "phone": "5555555555"},
      "from_address": {"name": "Elizabeth Swan", "street1": "179 N Harbor Dr", "city":
      "Redondo Beach", "state": "CA", "zip": "90277", "country": "US", "email": "test@example.com",
      "phone": "5555555555"}, "parcel": {"length": 10, "width": 8, "height": 4, "weight":
      15.4}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"id": "batch_88266823824049bcbdb29ba2324a7ab9", "object": "EasyPost::Entity::Batch",
        "mode": "test", "state": "creating", "num_shipments": 1, "reference": null,
        "created_at": "2022-09-26T19:20:45Z", "updated_at": "2022-09-26T19:20:45Z",
        "scan_form": null, "shipments": [], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 0, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"466b28f9e9710ffc4859768fad62ba31"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 20a8e4ae6331fb8de788d947003a3733
      x-node:
      - bigweb5nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209261717-03ecd81b73-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_88266823824049bcbdb29ba2324a7ab9/buy
  response:
    body:
      string: '{"id": "batch_88266823824049bcbdb29ba2324a7ab9", "object": "Batch",
        "mode": "test", "state": "created", "num_shipments": 1, "reference": null,
        "created_at": "2022-09-26T19:20:45Z", "updated_at": "2022-09-26T19:20:45Z",
        "scan_form": null, "shipments": [{"batch_status": "queued_for_purchase", "batch_message":
        null, "reference": null, "tracking_code": null, "id": "shp_b36bf7794dd4489dae7e49c7f888ff87"}],
        "status": {"created": 1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased":
        0, "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"5ef94e4b0ed5843e15dda9d7cd6fccef"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 20a8e4ae6331fb8de788d947003a3740
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209261717-03ecd81b73-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_88266823824049bcbdb29ba2324a7ab9/scan_form
  response:
    body:
      string: '{"id": "batch_88266823824049bcbdb29ba2324a7ab9", "object": "Batch",
        "mode": "test", "state": "purchased", "num_shipments": 1, "reference": null,
        "created_at": "2022-09-26T19:20:45Z", "updated_at": "2022-09-26T19:20:50Z",
        "scan_form": {"id": "sf_4cd8b58e388543e9a0ebd5a3b4d9da45", "object": "ScanForm",
        "created_at": "2022-09-26T19:20:50Z", "updated_at": "2022-09-26T19:20:50Z",
        "tracking_codes": [], "address": null, "status": "creating", "message": "Scheduling
        batch scanform", "form_url": null, "form_file_type": null, "batch_id": "batch_88266823824049bcbdb29ba2324a7ab9",
        "confirmation": null}, "shipments": [{"batch_status": "postage_purchased",
        "batch_message": null, "reference": null, "tracking_code": "9400100109361139555493",
        "id": "shp_b36bf7794dd4489dae7e49c7f888ff87"}], "status": {"created": 0, "queued_for_purchase":
        0, "creation_failed": 0, "postage_purchased": 1, "postage_purchase_failed":
        0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e7700646a8eb526aad9fd02b0f31ae0e"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 20a8e4ae6331fb92e788d947003a3923
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb1nuq 29913d444b
      - extlb2nuq 29913d444b
      x-version-label:
      - easypost-202209261717-03ecd81b73-master
    status:
      code: 200
      message: OK
version: 1
