interactions:
- request:
    body: '{"customs_info": {"eel_pfc": "NOEEI 30.37(a)", "customs_certify": true,
      "customs_signer": "Steve Brule", "contents_type": "merchandise", "contents_explanation":
      "", "restriction_type": "none", "non_delivery_option": "return", "customs_items":
      [{"description": "Sweet shirts", "quantity": 2, "weight": 11, "value": 23, "hs_tariff_number":
      "654321", "origin_country": "US"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/customs_infos
  response:
    body:
      string: '{"object": "CustomsInfo", "created_at": "2022-04-20T18:36:55Z", "updated_at":
        "2022-04-20T18:36:55Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_5c19a0ceb9094d93bd1566480d426962", "object": "CustomsItem",
        "created_at": "2022-04-20T18:36:55Z", "updated_at": "2022-04-20T18:36:55Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.0", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b71411255d3e92bc0d792b37fbe7d857"
      location:
      - /api/v2/customs_infos/cstinfo_fe648f70907d4c19886729200d20da1b
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d5626052c7e79969c000242f87
      x-node:
      - bigweb3nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: GET
    uri: https://api.easypost.com/v2/customs_infos/cstinfo_fe648f70907d4c19886729200d20da1b
  response:
    body:
      string: '{"object": "CustomsInfo", "created_at": "2022-04-20T18:36:55Z", "updated_at":
        "2022-04-20T18:36:55Z", "contents_explanation": "", "contents_type": "merchandise",
        "customs_certify": true, "customs_signer": "Steve Brule", "eel_pfc": "NOEEI
        30.37(a)", "non_delivery_option": "return", "restriction_comments": null,
        "restriction_type": "none", "mode": "test", "declaration": null, "customs_items":
        [{"id": "cstitem_5c19a0ceb9094d93bd1566480d426962", "object": "CustomsItem",
        "created_at": "2022-04-20T18:36:55Z", "updated_at": "2022-04-20T18:36:55Z",
        "description": "Sweet shirts", "hs_tariff_number": "654321", "origin_country":
        "US", "quantity": 2, "value": "23.0", "weight": 11.0, "code": null, "mode":
        "test", "manufacturer": null, "currency": null, "eccn": null, "printed_commodity_identifier":
        null}]}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"b71411255d3e92bc0d792b37fbe7d857"
      x-backend:
      - easypost
      x-canary:
      - direct
      x-ep-request-uuid:
      - 401d18d5626052c7e79969c000242f97
      x-node:
      - bigweb7nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
