interactions:
- request:
    body: '{"batch": {"shipments": [{"to_address": {"name": "Jack Sparrow", "company":
      "EasyPost", "street1": "388 Townsend St", "street2": "Apt 20", "city": "San
      Francisco", "state": "CA", "zip": "94107", "phone": "5555555555"}, "from_address":
      {"name": "Jack Sparrow", "company": "EasyPost", "street1": "388 Townsend St",
      "street2": "Apt 20", "city": "San Francisco", "state": "CA", "zip": "94107",
      "phone": "5555555555"}, "parcel": {"length": "10", "width": "8", "height": "4",
      "weight": "15.4"}, "service": "First", "carrier_accounts": ["ca_b25657e9896e4d63ac8151ac346ac41e"],
      "carrier": "USPS"}]}}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "creating", "num_shipments":
        1, "reference": null, "created_at": "2022-04-20T18:36:45Z", "updated_at":
        "2022-04-20T18:36:45Z", "scan_form": null, "shipments": [], "status": {"created":
        0, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased": 0,
        "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"e3fc4b6b48dbacb45f2d5de36bcb2e23"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d8626052bde799698500242c1b
      x-node:
      - bigweb8nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - EZTK-NONE
      x-client-user-agent:
      - suppressed
    method: POST
    uri: https://api.easypost.com/v2/batches/batch_b7b8700ad48c41af8f0d10eb0ed67318/buy
  response:
    body:
      string: '{"object": "Batch", "mode": "test", "state": "created", "num_shipments":
        1, "reference": null, "created_at": "2022-04-20T18:36:45Z", "updated_at":
        "2022-04-20T18:36:46Z", "scan_form": null, "shipments": [{"batch_status":
        "queued_for_purchase", "batch_message": null, "reference": null, "tracking_code":
        null, "id": "shp_49c015a189fa4ce4b3eae11ccc956d67"}], "status": {"created":
        1, "queued_for_purchase": 0, "creation_failed": 0, "postage_purchased": 0,
        "postage_purchase_failed": 0}, "pickup": null, "label_url": null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"c44a3e94dfbda3c1123b92eb40d2f7df"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 401d18d8626052bee799698500242c25
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb1nuq fde591f008
      - extlb2nuq fde591f008
      x-version-label:
      - easypost-202204201711-cf6c4e6664-master
    status:
      code: 200
      message: OK
version: 1
