interactions:
- request:
    body: '{"type": "shipment", "start_date": "2022-05-04", "end_date": "2022-05-04",
      "additional_columns": ["from_name", "from_company"]}'
    headers:
      Content-Type:
      - application/json
      authorization:
      - <REDACTED>
    method: POST
    uri: https://api.easypost.com/v2/reports/shipment
  response:
    body:
      string: '{"id":"shprep_82fc5680d8af45fbb73a5dfbb978256a","object":"ShipmentReport","created_at":"2022-05-04T20:26:47Z","updated_at":"2022-05-04T20:26:47Z","start_date":"2022-05-04","end_date":"2022-05-04","mode":"test","status":"new","url":null,"url_expires_at":null,"include_children":false}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"9404e5fceac40771ab2db413bc6f1cb8"
      x-backend:
      - easypost
      x-ep-request-uuid:
      - 78245fb96272e187e786bc3b0013b699
      x-node:
      - bigweb6nuq
      x-proxied:
      - intlb2nuq fde591f008
      - extlb2nuq c51cdb8bf2
      x-version-label:
      - easypost-202205041833-02730cc398-master
    status:
      code: 201
      message: Created
version: 1
